﻿.sliderNoProblem
{  
    
    background-color:#000000; 
    /* background: -moz-linear-gradient(top,  #FFF000,  #f4f4b3);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF000), to(#f4f4b3)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#FFF000', EndColorStr='#f4f4b3', GradientType=0);*/
    position:fixed;
    z-index:100000;
    
    border-color:#dddddd;
    /*border-width:1px;
    border-style:solid;*/
    
    
    -webkit-border-radius:5px 0px 0px 5px;
    -moz-border-radius:5px 0px 0px 5px; 
    border-radius:5px 0px 0px 5px;
     
    box-shadow: 0px 0px 0px #666666;    
     
    top:2000px; 
    font-family:Verdana, Arial , Sans-Serif;
    text-align:left;
}


.sliderNoProblem .iframeNoProblem
{
    background:transparent;
}

.sliderNoProblem .clearNoProblem
{
    clear:both;
}

.sliderNoProblem .tab
{
    position:absolute;
    top:0px;
    left:-27px;
    height:122px;
    width:27px;
    display:none;
    cursor:pointer;
}

.sliderNoProblem .tab3
{
    position:absolute;
    top:0px;
    left:-34px;
    height:122px;
    width:27px;
    display:none;
    cursor:pointer;
}

.sliderNoProblem .subMain {

    background: none repeat scroll 0 0 white;
    -webkit-border-radius:5px 0px 0px 5px;
    -moz-border-radius:5px 0px 0px 5px; 
    border-radius:5px 0px 0px 5px;
    border-width: 10px;
    height: 233px;
    margin-left: 9px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-top: 5px;
    width: 614px;
}
    
.sliderNoProblem .subMain3e 
{     
    background-color: transparent; 
    border-width: 10px;
    width: 614px;
    height: 283px;
    margin-left: 9px;    
    padding-left: 0;     
} 
 
.sliderNoProblem .subMain3f 
{     
    background-color: transparent; 
    border-width: 10px;
    width: 614px;
    height: 283px;
    margin-left: 9px;    
    padding-left: 0;
    background-image:url('images/flavoure/octopus-call.gif');
    background-repeat:no-repeat;
    background-position:right bottom;   
     
} 
  
.sliderNoProblem .titleNoProblem {    
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    margin: auto;    
    /*position:relative;*/
    width:100%;
    left:0px;
    margin-left:0px;
}



.sliderNoProblem .titleNoProblem .textNoProblem {
    left: 9px;
    position: absolute;
    top: 7px;
    color: #ffffff;
    font-family:Verdana, Arial , Sans-Serif;
    width:100%;
    float:left;
}


.sliderNoProblem .titleNoProblem .iconsNoProblem {    
    position: absolute;
    right: 15px;
    top: 7px;
    color: #ffffff;
    font-family: Verdana, Arial Black, Arial, Sans-Serif;
    font-size:16px;
    text-transform:capitalize;
    font-weight:bold;
}

.sliderNoProblem .titleNoProblem .iconsNoProblem .closeNoproblem , .sliderNoProblem .title3 .icons .closeNoproblem
{
    cursor:pointer;
}

.sliderNoProblem .titleNoProblem .iconsNoProblem .question  , .sliderNoProblem .title3 .icons .question{
    font-size: 16px;
    font-weight: 600;
    padding-right: 2px;
    color: #ffffff;
}

.sliderNoProblem .title3 {    
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    margin: auto;    
    /*position:relative;*/
    width:100%;
    left:0px;
    margin-left:0px;
    text-shadow: 0 1px 0 #000000;
}

.sliderNoProblem .title3 .text {
    color: #FFFFFF;
    float: left;
    font-family: Verdana,Arial,Sans-Serif;
    left: 19px;
    position: absolute;
    top: 13px;
    width: 100%;
}

.sliderNoProblem .title3 .icons {    
    color: #FFFFFF;
    font-family: Verdana,Arial Black,Arial,Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 7px;
    text-transform: capitalize;
    top: 14px;
}

.sliderNoProblem .iframe3
{
  width:610px;
  height:274px;  
  background-color:transparent;
}

/*******  flavour a  **********/
.sliderNoProblem .flavourANoProblem
{
    position:absolute;
    z-index:1;   
    /*background-image:url('images/01-bg03.png');*/ 
}

/*******  flavour b  **********/
.sliderNoProblem .flavourBNoProblem
{
    position:absolute;
    z-index:2;
    background-color:transparent;
    width:100%;
    height:100%;
    /*background-image:url('images/01-bg03.png');*/
    background-image:url('images/chicktip-flavors-small.png');    
     -webkit-border-radius:3px 0 0 3px;
    -moz-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}

.sliderNoProblem .flavourBNoProblem .main
{
    display:block;
    height:133px;
     
}


.sliderNoProblem .flavourBNoProblem .left
{   
    display: block;
    float: left;
    height: 133px;
    padding-left: 15px;
    width: 100%;
}

.sliderNoProblem .flavourBNoProblem .left .leftTitle
{
    color: #324E69;
    font-size: 14px;
    font-weight: 600;
    margin-top: 6px;
}

.sliderNoProblem .flavourBNoProblem .left .leftLinks
{
   color: #324E69;
   font-size: 14px;
   font-weight: 600; 
   margin-top:16px;
  
}

.sliderNoProblem .flavourBNoProblem .left .leftLinks .leftLinksLeft
{
    float:left;
    width:190px;
}

.sliderNoProblem .flavourBNoProblem .left .leftLinks A
{
    color: #225FFF; 
    text-decoration:none;   
}

.sliderNoProblem .flavourBNoProblem .left .leftLinks A:hover
{
    color: #89DAFF;    
}


.sliderNoProblem .flavourBNoProblem .left .leftLinks .leftLinksRight
{
    display:inline-block;
    margin-bottom: 11px;
}

.sliderNoProblem .flavourBNoProblem .titleB
{
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    margin: auto;
    position: relative;
    text-shadow: 0 1px 0 #000000;
}

.sliderNoProblem .flavourBNoProblem .titleB .textB {
    color: #FFFFFF;
    left: 15px;
    position: absolute;
    top: 9px;
}

.sliderNoProblem .flavourBNoProblem .titleB .iconsB {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 13px;
    text-shadow: 0 1px 0 #000000;
    top: 9px;
    cursor:pointer;
}

.sliderNoProblem .flavourBNoProblem .right
{
    display:inline-block;
    width:273px;
}


.sliderNoProblem .flavourBNoProblem .right .rightExplanation .ribbon {
    background-image: url("images/ribbon.png");
    height: 32px;
    margin-left: 109px;
    margin-top: 7px;
    width: 165px;
}

.sliderNoProblem .flavourBNoProblem .right .rightExplanation .ribbon .textRibbon {
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding-left: 23px;
    padding-top: 7px;
    text-shadow: 0 1px 0 #000000;
}

.sliderNoProblem .flavourBNoProblem .right .content
{
   color: #324E69;
    font-size: 14px;
    margin-left: 21px;
    margin-top: 59px;
}


/*******  flavour c  **********/
.sliderNoProblem .flavourC
{
    position:absolute;
    z-index:2;
    background-color:transparent;
    width:100%;
    height:100%;
    /*background-image:url('images/01-bg03.png');*/
    background-image:url('images/chicktip-flavors-small.png');    
     -webkit-border-radius:3px 0 0 3px;
    -moz-border-radius:3px 0 0 3px;
    border-radius:3px 0 0 3px;
}

.sliderNoProblem .flavourC .main
{
    display:block;
    height:133px;
     
}


.sliderNoProblem .flavourC .left
{   
    display: block;
    float: left;
    height: 133px;
    padding-left: 15px;
    width: 257px;
    background-image:url('images/small-seperator.png');
    background-repeat:no-repeat;
    background-position:right 0px;
}

.sliderNoProblem .flavourC .left .leftTitle
{
    color: #324E69;
    font-size: 14px;
    font-weight: 600;
    margin-top: 6px;
}

.sliderNoProblem .flavourC .left .message
{
    margin-top:8px;
}

.sliderNoProblem .flavourC .left .message textarea
{
    font-family: verdana,Arial;
    font-size: 12px;    
    width: 221px; 
    overflow-y:auto;  
    resize:none;
    height:38px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-width:1px;
    border-style:solid;
    border-color: #33516C;
    color:#999999;
    line-height: 19px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-top: 3px;
    resize: none;   
    
}

.sliderNoProblem .flavourC .left .submit
{
    margin-top:10px;
}

.sliderNoProblem .flavourC .left .submit .button
{
    background-image:url('images/next-btn.png');
    background-color: transparent;
    width:82px;
    height:30px;
    border:none;
    margin-left: 147px;
    color:White;
    text-shadow: 0 1px 0 #000000;
    font-weight:600;
    cursor:pointer;
}

.sliderNoProblem .flavourC .titleB
{
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    margin: auto;
    position: relative;
    text-shadow: 0 1px 0 #000000;
}

.sliderNoProblem .flavourC .titleB .textB {
    color: #FFFFFF;
    left: 15px;
    position: absolute;
    top: 9px;
}

.sliderNoProblem .flavourC .titleB .iconsB {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 13px;
    text-shadow: 0 1px 0 #000000;
    top: 9px;
    cursor:pointer;
}

.sliderNoProblem .flavourC .right
{
    display:inline-block;
    width:149px;
}


.sliderNoProblem .flavourC .right .rightExplanation .ribbon {
    background-image: url("images/ribbon2.png");
    height: 21px;
    margin-left: 10px;
    margin-top: 7px;
    width: 140px;
}

.sliderNoProblem .flavourC .right .rightExplanation .ribbon .textRibbon {
    color: white;
    font-size: 11px;
    font-weight: 700;
    padding-left: 12px;
    padding-top: 3px;
    text-shadow: 0 1px 0 #000000;
}

.sliderNoProblem .flavourC .right .content
{
   color: #324E69;
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
}


/*******  flavour e  **********/

 
.sliderNoProblem .flavourE .title .text
{
    color: #FFFFFF;
    float: left;
    font-family: Verdana,Arial,Sans-Serif;
    font-size: 15px;
    font-weight: 600;
    left: 20px;
    position: absolute;
    text-shadow: 0 1px 0 #000000;
    top: 12px;
    width: 100%;
}

.sliderNoProblem .flavourE .title .icons {    
   color: #FFFFFF;
    font-family: Verdana,Arial Black,Arial,Sans-Serif;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    text-transform: capitalize;
    top: 12px; 
    text-shadow: 0 1px 0 #000000;   
}

.sliderNoProblem .flavourE .title .icons .closeNoproblem
{
    cursor:pointer;
}

.sliderNoProblem .flavourE .main
{
    position:relative;
    height:260px;
}

.sliderNoProblem .flavourE .main .left
{
    width:352px;
    height:260px;
    background-image:url('images/flavoure/moverLarge.png');
    background-repeat:no-repeat;
    background-position:17px 26px;
    float:left;
    
}

.sliderNoProblem .flavourE .main .left .slogan
{
    color: #004E72;
    font-size: 26px;
    font-weight: 600;
    padding-left: 95px;
    padding-top: 33px;
}


.sliderNoProblem .flavourE .main .right
{
    width:267px;
    height:260px;
    display: inline-block;
    background-image:url('images/flavoure/mirror-seperator.png');
    background-repeat:no-repeat;
    background-position:0px 20px;  
}

.sliderNoProblem .flavourE .main .right .ribbon
{
    background-image: url("images/ribbon.png");
    height: 32px;
    margin-left: 111px;
    margin-top: 13px;
    width: 165px;
}

.sliderNoProblem .flavourE .right .ribbon .textRibbon {
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding-left: 23px;
    padding-top: 7px;
    text-shadow: 0 1px 0 #000000;
}

.sliderNoProblem .flavourE .main .right .content
{
    margin-top:49px;
    color:#004E72;
    font-size:15px;
    margin-left:25px;
}

.sliderNoProblem .flavourE .main .right .content2
{
    color: #004E72;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 49px;
}
    
.sliderNoProblem .textFooter
{
    font-size: 12px !important;
    color:#333;
}


/************ footer *************/

.sliderNoProblem .footerNoProblem
{
    height: 20px;
    position: relative;
}

.sliderNoProblem .footerNoProblem .textFooter {
    font-size: 10px;
    padding-left: 19px;
}

.sliderNoProblem .footerNoProblem .logoFooter {
    background-image: url("images/small-poweredBy.png");
    height: 17px;
    position: absolute;
    right: 15px;
    top: 0;
    width: 121px;
}

.sliderNoProblem .footerNoProblem .textFooter .linkFooter:hover {
    color: #89DAFF;
}

.sliderNoProblem .footerNoProblem .textFooter .linkFooter {
    color: #225FFF;
    font-weight: 700;
    text-decoration: none;
}