/* begin Page */

/* Generated with Artisteer version 2.6.0.36391, file checksum is 78DD5893. */
.feedburnerFeedBlock ul {
margin-left:0;
padding-left:0;
list-style-type: none;
}

.feedburnerFeedBlock ul li {
padding: 5px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #E0E0E0;
}

.feedburnerFeedBlock ul li span.headline a {
color: #990000;
text-decoration: none;
display: block;
}

.feedburnerFeedBlock ul li span.headline a:hover {
color: #535353;
}

#creditfooter {
display: none;
}
div.feedburnerFeedBlock { 
border:2px solid #ddd; 
background-color:#ffe; 
padding:2px; 
} 

div.feedburnerFeedBlock ul li span.headline { 
font-weight:bold; 
}

body, p
{
  margin: 0.5em 0;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  text-align: left;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #404040;
  background-color: #FAF3EA;
  background-image: url('images/page_t.jpg');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: top left;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover,
.art-blockheader .t, .art-vmenublockheader .t, .art-logo-text, .art-logo-text a,
h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  text-decoration: none;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
}

a, 
.art-post li a
{

  color: #8F2424;
}

a:link,
.art-post li a:link
{
 
  text-decoration: underline;
  color: #FF0000;
}

a:visited, a.visited,
.art-post li a:visited, .art-post li a.visited
{

  color: #993300;
}

a:hover, a.hover,
.art-post li a:hover, .art-post li a.hover
{

  text-decoration: underline;
  color: #0000FF;
}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  margin: 0.67em 0;

  color: #8F2424;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  margin: 0.8em 0;
  font-size: 24px;
  color: #BC2F2F;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
   margin: 1em 0;
  font-size: 18px;
  color: #595959;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  margin: 1.25em 0;
  font-size: 16px;
  color: #A72A2A;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  margin: 1.67em 0;
  font-size: 14px;
  color: #BC2F2F;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  margin: 2.33em 0;
  font-size: 14px;
  color: #292929;
}

h1 a, h1 a:link, h1 a:visited, h1 a:hover,
h2 a, h2 a:link, h2 a:visited, h2 a:hover,
h3 a, h3 a:link, h3 a:visited, h3 a:hover,
h4 a, h4 a:link, h4 a:visited, h4 a:hover,
h5 a, h5 a:link, h5 a:visited, h5 a:hover,
h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
    margin:0;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}


#art-page-background-gradient
{
  position: absolute;
  background-image: url('images/page_g.jpg');
  background-repeat: repeat-x;
  top: 0;
  width: 100%;
  height: 1000px;

}

#art-page-background-gradient
{
  background-position: top left;
}


.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 1000px;
  min-width: 11px;
  min-height: 11px;
}

.art-sheet-body
{
  position: relative;
  z-index: 1;
  padding: 5px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
  z-index: -1;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 10px;
  height: 10px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 5px, 5px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 5px, 5px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(5px, 5px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(5px, auto, auto, 5px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 5px;
  right: 5px;
  height: 10px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 5px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(5px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 5px;
  bottom: 5px;
  width: 10px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 5px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 5px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background-color: #FFFFFF;
}

.art-sheet
{
  margin-top: -5px !important;
  cursor:auto;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
  min-width: 1000px;
}

/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  z-index: 0;
  width: 990px;
  height: 225px;
  overflow: hidden;
}


div.art-header-jpeg
{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 990px;
  height: 225px;
  background-image: url('images/header25.png');
  background-repeat: no-repeat;
  background-position: center center;
}

/* end Header */

/* begin Logo */
.art-logo
{
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 960px;
}

h1.art-logo-name
{
  display: block;
  text-align: left;
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-size: 20px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #000000 !important;
}

.art-logo-text
{
  display: block;
  text-align: left;
}

.art-logo-text, .art-logo-text a
{
  font-weight: normal;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #000000 !important;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
  text-align: left;
  text-decoration: none;
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url(images/spacer.gif);
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.art-menu
{
  padding: 12px 6px 0 6px;
}

.art-nav
{
  position: relative;
  height: 41px;
  z-index: 100;
}

.art-nav .l, .art-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 41px;
  background-image: url('images/nav.png');
}

.art-nav .l
{
  left: 0;
  right: 0;
}  

div.art-nav-center
{
  position: relative;
  float: right;
  right: 5%;

}
.art-nav .r
{
  right: 0;
  width: 990px;
  clip: rect(auto, auto, auto, 990px);
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 29px;
  cursor: pointer;
  text-decoration: none;
}

.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 87px;
  background-image: url('images/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 4px;
}

.art-menu a .r
{
  width: 408px;
  right: 0;
  clip: rect(auto, auto, auto, 404px);
}

.art-menu a .t
{
  margin-right: 10px;
  margin-left: 10px;
  color: #DEDEDE;
  padding: 0 19px;
  margin: 0 4px;
  line-height: 29px;
  text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -29px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -29px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -29px;
}
.art-menu a:hover .t
{
  color: #F0F0F0;
}

.art-menu li:hover a .t
{
  color: #F0F0F0;
}

.art-menu li:hover>a .t
{
  color: #F0F0F0;
}


.art-menu a.active .l, .art-menu a.active .r
{
  top: -58px;
}

.art-menu a.active .t
{
  color: #000000;
}
/* end MenuItem */

/* begin MenuSeparator */


.art-menu .art-menu-li-separator
{
  display: block;
  width: 4px;
  height: 29px;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 20px;
  width: 210px;
  overflow: hidden;
  line-height: 20px;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 0;
  border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: underline;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: underline;
  line-height: 20px;
  color: #000000;
  margin-right: 10px;
  margin-left: 10px;
  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #FF0000;
  background-position: 0 -20px;
}

.art-menu ul li:hover>a
{
  color: #FF0000;
  background-position: 0 -20px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #FF0000;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #FF0000;
}


/* begin Layout */
.art-content-layout
{
  display: table;
  padding: 0;
  border: none;
  width: 990px;
}

.art-content-layout .art-content-layout
{
  width: auto;
  margin:0;
}

div.art-content-layout div.art-layout-cell, div.art-content-layout div.art-layout-cell div.art-content-layout div.art-layout-cell
{
   display: table-cell;
}

div.art-layout-cell div.art-layout-cell
{
   display: block;
}

div.art-content-layout-row
{
  display: table-row; 
}

.art-content-layout
{
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}

.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 15px;
  min-height: 15px;
}

.art-vmenublock-body
{
  position: relative;
  z-index: 1;
  padding: 7px;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl, .art-vmenublock-tc, .art-vmenublock-bc,.art-vmenublock-cr, .art-vmenublock-cl
{
  position: absolute;
  z-index: -1;
}

.art-vmenublock-tr, .art-vmenublock-tl, .art-vmenublock-br, .art-vmenublock-bl
{
  width: 26px;
  height: 26px;
  background-image: url('images/vmenublock_s.png');
}

.art-vmenublock-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 13px, 13px, auto);
}

.art-vmenublock-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 13px, 13px);
}

.art-vmenublock-bl
{
  bottom: 0;
  left: 0;
  clip: rect(13px, 13px, auto, auto);
}

.art-vmenublock-br
{
  bottom: 0;
  right: 0;
  clip: rect(13px, auto, auto, 13px);
}

.art-vmenublock-tc, .art-vmenublock-bc
{
  left: 13px;
  right: 13px;
  height: 26px;
  background-image: url('images/vmenublock_h.png');
}

.art-vmenublock-tc
{
  top: 0;
  clip: rect(auto, auto, 13px, auto);
}

.art-vmenublock-bc
{
  bottom: 0;
  clip: rect(13px, auto, auto, auto);
}

.art-vmenublock-cr, .art-vmenublock-cl
{
  top: 13px;
  bottom: 13px;
  width: 26px;
  background-image: url('images/vmenublock_v.png');
}

.art-vmenublock-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 13px);
}

.art-vmenublock-cl
{
  left: 0;
  clip: rect(auto, 13px, auto, auto);
}

.art-vmenublock-cc
{
  position: absolute;
  z-index: -1;
  top: 13px;
  left: 13px;
  right: 13px;
  bottom: 13px;
  background-color: #F8EFE2;
}

.art-vmenublock
{
  margin: 0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 4px;
}

.art-vmenublockheader .t
{
  height: 36px;
  color: #FFFFFF;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  margin:0;
  padding: 0 11px 0 11px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-vmenublockheader .l, .art-vmenublockheader .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 36px;
  background-image: url('images/vmenublockheader.png');
}

.art-vmenublockheader .l
{
  left: 0;
  right: 1px;
}

.art-vmenublockheader .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.art-vmenublockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.art-vmenu ul
{
  display: none;
}

ul.art-vmenu ul.active
{
  display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border-top: solid 1px #262626;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 90px;
  background-image: url('images/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 15px;
}

ul.art-vmenu a .r
{
  width: 1000px;
  right: 0;
  clip: rect(auto, auto, auto, 985px);
}

ul.art-vmenu a .t
{
  display: block;
  line-height: 30px;
  color: #84581F;
  padding: 0 10px 0 25px;
  font-weight: bold;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -60px;
}

ul.art-vmenu a.active .t
{
  color: #290A0A;
}


ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -30px;
}

ul.art-vmenu a:hover .t
{
  color: #D6D6D6;
}
/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 18px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 25px 0;
  background-repeat: repeat-x;
  padding-left: 39px;
}


ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 18px;
  color: #FAF3EA;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 0 0 0;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li li a
{
  background-position: 50px 0;
  padding-left: 64px;
}

ul.art-vmenu ul li li li a
{
  background-position: 75px 0;
  padding-left: 89px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 100px 0;
  padding-left: 114px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 125px 0;
  padding-left: 139px;
}


ul.art-vmenu ul li a.active
{
  color: #0C0303;
  background-position: 25px -36px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 50px -36px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 75px -36px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 100px -36px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 125px -36px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #F2F2F2;
  background-position: 25px -18px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 50px -18px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 75px -18px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 100px -18px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 125px -18px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-block-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.art-block
{
  margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader .t
{
  height: 36px;
  color: #FFFFFF;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
  margin:0;
  padding: 0 11px 0 11px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader .l, .art-blockheader .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 36px;
  background-image: url('images/blockheader.png');
}

.art-blockheader .l
{
  left: 0;
  right: 1px;
}

.art-blockheader .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end BlockHeader */ 
/* begin TLF ALTCS BlockHeader */
.art-blockheader-altcs
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-altcs .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-altcs .l, .art-blockheader-altcs .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/altcs-header.png');
}

.art-blockheader-altcs .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-altcs .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF ALTCS BlockHeader */	 

/* begin TLF PERSONAL INJURY BlockHeader */
.art-blockheader-pi
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-pi .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-pi .l, .art-blockheader-pi .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/pi-header.png');
}

.art-blockheader-pi .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-pi .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF PERSONAL INJURY BlockHeader */	 

/* begin TLF BANKRUPTCY BlockHeader */
.art-blockheader-bk
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-bk .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-bk .l, .art-blockheader-bk .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/bk-header.png');
}

.art-blockheader-bk .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-bk .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF BANKRUPTCY BlockHeader */	 

/* begin TLF AVIATION BlockHeader */
.art-blockheader-av
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-av .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-av .l, .art-blockheader-av .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/av-header.png');
}

.art-blockheader-av .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-av .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF AVIATION BlockHeader */	 

/* begin TLF BUSINESS BlockHeader */
.art-blockheader-bus
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-bus .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-bus .l, .art-blockheader-bus .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/bus-header.png');
}

.art-blockheader-bus .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-bus .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF BUSINESS BlockHeader */	 

/* begin TLF CRIMINAL BlockHeader */
.art-blockheader-cr
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-cr .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-cr .l, .art-blockheader-cr .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/cr-header.png');
}

.art-blockheader-cr .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-cr .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF CRIMINAL BlockHeader */	 

/* begin TLF ESTATE PLANNING BlockHeader */
.art-blockheader-ep
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-ep .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-ep .l, .art-blockheader-ep .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/ep-header.png');
}

.art-blockheader-ep .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-ep .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF ESTATE PLANNING BlockHeader */	 

/* begin TLF FAMILY LAW BlockHeader */
.art-blockheader-dr
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-dr .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-dr .l, .art-blockheader-dr .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/dr-header.png');
}

.art-blockheader-dr .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-dr .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF FAMILY LAW BlockHeader */	 

/* begin TLF REAL ESTATE BlockHeader */
.art-blockheader-re
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-re .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-re .l, .art-blockheader-re .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/re-header.png');
}

.art-blockheader-re .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-re .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF REAL ESTATE BlockHeader */	 

/* begin TLF TAXATION BlockHeader */
.art-blockheader-tax
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-tax .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-tax .l, .art-blockheader-tax .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/tax-header.png');
}

.art-blockheader-tax .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-tax .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF TAXATION BlockHeader */	 

/* begin TLF IMMIGRATION BlockHeader */
.art-blockheader-imm
{
  position: relative;
  z-index: 0;
  height: 36px;
  margin-bottom: 0;
}

.art-blockheader-imm .t
{
  height: 36px;
  color: #000000;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  margin:0;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  line-height: 36px;	
}

.art-blockheader-imm .l, .art-blockheader-imm .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 50px;
  background-image: url('images/imm-header.png');
}

.art-blockheader-imm .l
{
  left: 0;
  right: 1px;
}

.art-blockheader-imm .r
{
  width: 990px;
  right: 0;
  clip: rect(auto, auto, auto, 989px);
}

/* end TLF IMMIGRAITION BlockHeader */	 

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 3px;
  min-height: 3px;
}

.art-blockcontent-body
{
  position: relative;
  z-index: 1;
  padding: 8px;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl, .art-blockcontent-tc, .art-blockcontent-bc,.art-blockcontent-cr, .art-blockcontent-cl
{
  position: absolute;
  z-index: -1;
}

.art-blockcontent-tr, .art-blockcontent-tl, .art-blockcontent-br, .art-blockcontent-bl
{
  width: 2px;
  height: 2px;
  background-image: url('images/blockcontent_s.png');
}

.art-blockcontent-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 1px, 1px, auto);
}

.art-blockcontent-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 1px, 1px);
}

.art-blockcontent-bl
{
  bottom: 0;
  left: 0;
  clip: rect(1px, 1px, auto, auto);
}

.art-blockcontent-br
{
  bottom: 0;
  right: 0;
  clip: rect(1px, auto, auto, 1px);
}

.art-blockcontent-tc, .art-blockcontent-bc
{
  left: 1px;
  right: 1px;
  height: 2px;
  background-image: url('images/blockcontent_h.png');
}

.art-blockcontent-tc
{
  top: 0;
  clip: rect(auto, auto, 1px, auto);
}

.art-blockcontent-bc
{
  bottom: 0;
  clip: rect(1px, auto, auto, auto);
}

.art-blockcontent-cr, .art-blockcontent-cl
{
  top: 1px;
  bottom: 1px;
  width: 2px;
  background-image: url('images/blockcontent_v.png');
}

.art-blockcontent-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 1px);
}

.art-blockcontent-cl
{
  left: 0;
  clip: rect(auto, 1px, auto, auto);
}

.art-blockcontent-cc
{
  position: absolute;
  z-index: -1;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #F2E1C9;
}

.art-blockcontent-body, 
.art-blockcontent-body a, 
.art-blockcontent-body li a
{
  color: #303030;

}

.art-blockcontent-body a,
.art-blockcontent-body li a
{
  color: #7A1F1F;
  text-decoration: underline;
}

.art-blockcontent-body a:link,
.art-blockcontent-body li a:link
{
  color: #FF0000;
  text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited,
.art-blockcontent-body li a:visited, .art-blockcontent-body li a.visited
{
  color: #661919;

}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover,
.art-blockcontent-body li a:hover, .art-blockcontent-body li a.hover
{
  color: #290A0A;

  text-decoration: underline;
}

.art-blockcontent-body ul
{
  list-style-type: none;
  color: #424242;
  margin: 0;
  padding: 0;
}

.art-blockcontent-body ul li
{
  text-decoration: none;
  line-height: 1.25em;
  padding: 0 0 0 10px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}
ul.art-blockcontent-body ul li li a
{
  background-position: 50px 0;
  padding-left: 64px;
}


/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper .art-button
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: left;
  text-decoration: none !important;
  color: #FAF3EA !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 33px;
  height: 33px;
  margin: 0 !important;
  padding: 0 21px !important;
  overflow: visible;
  cursor: default;
  z-index: 0;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 33px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}
					/* I REMOVED TEXTAREA AFTER SELECT, */
input, select, select
{
  vertical-align: middle;
  font-family: Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
  color: #FBEFEF !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
  color: #F2F2F2 !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
  display: block;
  position: absolute;
  z-index: -1;
  height: 99px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .l
{
  left: 0;
  right: 10px;
}

.art-button-wrapper .r
{
  width: 409px;
  right: 0;
  clip: rect(auto, auto, auto, 399px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
  top: -33px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
  top: -66px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  z-index: 0;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  z-index: 1;
  padding: 0;
}


.art-post
{
  margin: 7px;
}

a img
{
  border: 0;
}
                                  
								  
								  /***TLF CHANGED THIS border: solid 1px #C4C4C4;   TO 0 BORDER ****/
 .art-article img, img.art-article
{
  border: 0;
  margin: 10px;
}  
                   	  /***TLF CHANGED THIS for a BLACK border on pics: solid 1px #000000; ****/
.art-article-new img, img.art-article-new
{
  border: solid 1px #000000;
  margin: 7px;
} 
                             
.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
  width: auto;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #5C5C5C;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.art-post h2.art-postheader, 
.art-post h2.art-postheader a, 
.art-post h2.art-postheader a:link, 
.art-post h2.art-postheader a:visited, 
.art-post h2.art-postheader a.visited, 
.art-post h2.art-postheader a:hover, 
.art-post h2.art-postheader a.hovered
{
  margin: 0.2em 0;
  padding: 0;
  font-size: 22px;
  color: #661919;
}

.art-post h2.art-postheader a, 
.art-post h2.art-postheader a:link, 
.art-post h2.art-postheader a:visited, 
.art-post h2.art-postheader a.visited, 
.art-post h2.art-postheader a:hover, 
.art-post h2.art-postheader a.hovered
{
  margin: 0;
  text-decoration: none;
  color: #7A1F1F;
}

.art-post h2.art-postheader a:visited, 
.art-post h2.art-postheader a.visited
{

  color: #4D4D4D;
}


.art-post h2.art-postheader a:hover, 
.art-post h2.art-postheader a.hovered
{

  text-decoration: underline;
  color: #BC2F2F;
}

/* end PostHeaderIcon */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  color: #404040;
  margin: 1em 0 1em 1em;
  padding: 0;

}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  margin: 0.2em 0;
  padding: 0;
}

.art-post ul
{
  list-style-type: none;
}
 /* TLF CHANGED FOR LEFT JUSTIFY ON <OL> NUMBERING */
.art-post ol
{
  
margin: 0.5em 0 0.5em 4em;
  padding: 0;
}



.art-post li
{
  padding: 0 0 0 10px;
  line-height: 1em;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;/* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 10px;/* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}


/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote p,
.art-postcontent blockquote p
{
  color: #2E2E2E;
  font-style: italic;
  text-align: left;
}

blockquote,
.art-postcontent blockquote
{
  border: solid 1px #DD7878;
  margin: 10px 10px 10px 50px;
  padding: 5px 5px 5px 41px;
  background-color: #EEBABA;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}

/* end PostQuote */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}


.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7E2020;
}

.art-footer-body
{
    position:relative;
    padding: 8px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   10px;
  bottom:8px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  cursor: default;
}

.art-footer-text, .art-footer-text p
{
  margin: 0;
  padding: 0;
  text-align: center;
}

.art-footer,
.art-footer p,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
  color: #BDBDBD;
  font-size: 11px;
}

.art-footer-text
{
  min-height: 25px;
  margin: 0 10px 0 10px;
}

.art-footer a,
.art-footer a:link
{
  color: #DCAB6A;
  text-decoration: underline;
}

.art-footer a:visited
{
  color: #8A8A8A;

}

.art-footer a:hover
{
  color: #FFFFFF;

  text-decoration: underline;
}/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #A56E27;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #666666;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.art-content-layout .art-sidebar1
{
  background-color: #FFFFFF;
  width: 23%;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */
.art-content-layout .art-content
{
  width: 54%;
}
.art-content-layout .art-content .art-block
{
  background-color: #FFFFFF;
}
.art-content-layout .art-content-sidebar1
{
  width: 77%;
}
.art-content-layout .art-content-sidebar2
{
  width: 77%;
}
.art-content-layout .art-content-wide
{
  width: 100%;
}
/* end LayoutCell, content */

/* begin LayoutCell, sidebar2 */
.art-content-layout .art-sidebar2
{
  background-color: #FFFFFF;
  width: 23%;
}
/* end LayoutCell, sidebar2 */




.overview-table .art-layout-cell
{
    width:37%;
}


.overview-table-inner 
{
    margin:9px;
}

table.table
{
    width:100%;
    border-collapse:collapse;
    table-layout:center;
    text-align:left;
    vertical-align:top;
}

table.table, table.table tr, table.table td
{
    border:none;
    margin:0;
    padding:0;
    background-color:Transparent;
}

img.image
{
    margin:0;
    padding:0;
    border:none;
}
