﻿.completionList
{
    border: solid 1px #444444;
    padding: 2px;
  /*  height: 100px;*/
    overflow: auto;
    background-color: #ffffff;
    margin-top: 2px;
    margin-left: 1px;
}

.listItem {
color: #666666;
}

.itemHighlighted {
background-color: #ffc0c0;
}

 .completionListElement
    {
        font-size: 11px;
        color: #000;
        
        padding: 1px 5px;
        border: 1px solid #999;
        background: #fff;
        width: 300px;
        float: left;
        
        position: absolute;
        margin-left: 0px;        
    }

/*
.completionListElement
    {
 visibility: hidden;
            margin: 0px !important;
            background-color: inherit;
            color: windowtext;
            border: buttonshadow;
            border-width: 1px;
            border-style: solid;
            cursor: 'default';
            overflow: auto;
            height: 200px;
            text-align: left;
            list-style-type: none;
    }
*/