﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="breadCrumbs.ascx.cs" Inherits="Controls_seo_breadCrumbs" %>
<span class="breadcrumb1"><a href="<%#getRoot%>">Home</a></span>
<span id="arrow1to2" runat="server">></span>
<span  id="breadcrumb2" class="breadcrumb2" runat="server"  visible="false"></span> 
<span id="arrow2to3" visible="false" runat="server">></span>
<span  id="breadcrumb3" class="breadcrumb3" runat="server" visible="false"></span> 
<span id="arrow3to4" visible="false" runat="server">></span>
<span  id="breadcrumb4" class="breadcrumb3" runat="server" visible="false"></span> 
<span id="arrow4to5" visible="false" runat="server">></span>
<span  id="breadcrumb5" class="breadcrumb4" runat="server" visible="false"></span> 


