﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="dynamicTitle.ascx.cs" Inherits="Controls_seo_dynamicTitle" %>
<h1 id="professionTitle" runat="server" class="firstTitle"></h1>
<h6 id="professionError" runat="server" visible="false"></h6>