﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="findCityZipCode.ascx.cs" Inherits="Controls_seo_findCityZipCode" %>


 <div class="find">
        <input id="txt_search" type="text" value="Type zip code" onfocus="clearWatermark();" onblur="clearValue();"/>
        <input type="button" value="Go" class="btnFind" onclick="javascript:searchByZipCodeCity();"/>
 </div>


 <script>

     function clearWatermark() {
         document.getElementById("txt_search").value = "";
     }

     function clearValue() {
         if (document.getElementById("txt_search").value == "")
             document.getElementById("txt_search").value = "Type city or zip code";
     }

     function searchByZipCodeCity() {

         var path = "<%#getRoot%>profession/<%#getProfession%>/zipcode/" + document.getElementById("txt_search").value;

         location.href = path;

     }




 </script>