﻿<ion-view>
    <ion-header-bar>
        <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto" />
    </ion-header-bar>   
    <ion-content class="div-container">

        <div class="row">
            <div class="col col-80 col-offset-10">
                <h3 class="connecting-header-text">Connecting you to the customer.<br />Keep your phone nearby.</h3>
                <br />
                <h3 class="connecting-header-text">Expect a call from:<br /> +888-944-7606</h3>
            </div>
        </div>

       
        <div class="row div-getapp">
            <div class=" col col-80 col-offset-10 customer-button-wrapper">
                <button class="button btn-green btn-gettheapp" ng-click="getTheApp();">
                    GET THE APP
                </button>

            </div>
        </div>
        <h4 class="connecting-body-text h4-registernow">
            Register now to get more<br />
            customers like this.
        </h4>
    </ion-content>
</ion-view>