﻿<ion-view>
    <ion-header-bar>
        <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto" />
    </ion-header-bar>
    <ion-content class="div-container">

        <div class="row">
            <div class="col col-80 col-offset-10">
                <h3 class="connecting-header-text">Register now to get more</h3>
                <br />
                <h3 class="connecting-header-text">customers like this</h3>
            </div>
        </div>


        <div class="row div-getapp">
            <div class=" col col-80 col-offset-10 customer-button-wrapper">
                <a class="button btn-green btn-gettheapp" ng-click="getTheApp();">GET THE APP</a>

            </div>
        </div>

    </ion-content>
</ion-view>
