﻿<ion-view title="REPORTING A LEAD">
    <ion-header-bar>
        <div style="width:201px; margin:0 auto;">
            <img src="www/img/clipcall-logo.png" />
        </div>
    </ion-header-bar> 
    <div class="bar bar-subheader bar-stable">
        <h2 class="title">This lead is...</h2>
    </div>
    <ion-content class="has-subheader">
        <div class="list">

            <label class="item item-radio">
                <input ng-model="vm.reportType" value="outOfService" type="radio" name="group" ng-value="9" checked="">
                <div class="item-content">
                    Out of my service area
                </div>
                <i class="radio-icon ion-checkmark calm"></i>
            </label>
            <label class="item item-radio">
                <input ng-model="vm.reportType" value="notMyCategory" type="radio" name="group" ng-value="4">
                <div class="item-content">
                    Not my category
                </div>
                <i class="radio-icon ion-checkmark calm"></i>
            </label>
            <label class="item item-radio">
                <input ng-model="vm.reportType" value="inappropriateContent" type="radio" name="group" ng-value="11">
                <div class="item-content">
                    Inappropriate content
                </div>
                <i class="radio-icon ion-checkmark calm"></i>
            </label>
            <div class="item item-divider">
                My comments
            </div>
            <label class="item item-text-wrap">
                <textarea ng-model="vm.commentText" rows="4" placeholder="enter your comment"></textarea>
            </label>
        </div>
       
    </ion-content>    
    <ion-footer-bar style="height: 80px;">
        <button ng-click="report()" class="button button-clear button-positive button-block">
            Report
        </button>
    </ion-footer-bar>

</ion-view>