﻿<ion-view>
    <ion-header-bar>
            <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto" />
</ion-header-bar>   
   
    <ion-content class="div-container" overflow-scroll="true">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <h2 class="header-text" style="text-align:center;">
                    {{vm.SupplierName}} wants to share
                    a project video with you
                </h2>
            </div>
        </div>       
        <div class="row video-wrapper">

            <div class="col col-80 col-offset-10 video-container">

                <div class="row" ui-view="video">
                   
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col col-80 col-offset-10 col-center">
                <h3 class="connecting-header-text">This video was created using the
                ClipCall app.</h3>

            </div>            
        </div>
        <div class="row row-marg-top">
            <div class="col col-80 col-offset-10 col-center">
                Be more efficient, informed, and productive with ClipCall's mobile video features.
            </div>
        </div>
        <div class="row row-marg-top">
            <div class="col col-80 col-offset-10 col-center">
                ClipCall also sends local job lead videos directly to your phone.
            </div>
        </div>
        <div class="row row-marg-top">
            <div class="col col-80 col-offset-10 customer-button-wrapper">
                <button class="button btn-green btn-gettheapp" ng-click="getTheApp();">
                    GET THE APP
                </button>
            </div>
        </div>
        
        

    </ion-content>
    

</ion-view>