<%@ Page Language="C#" AutoEventWireup="true" CodeFile="active.aspx.cs" Inherits="try_active" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table style="border: 1px solid #8fc060;">
        <tr>
            <td>
            sdfdsdsf sdfsdfsdf
            </td>
        </tr>
    </table>
    </div>
    </form>
</body>
</html>
