﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="addControlDynamic.aspx.cs" Inherits="Tests_try_addControlDynamic" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel runat="server" ID="PlaceHolder1"></asp:Panel>

        <asp:LinkButton runat="server" ID="link1" onclick="link1_Click" >add</asp:LinkButton>

       fghfghghh
        dfgd
        sdfdf

        adffsdfsdf
        dfgfg
        sdfsdfdsf
        sdfdf
    </div>
    </form>
</body>
</html>
