﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="align.aspx.cs" Inherits="Tests_try_align" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
     <div style="float:none;width:500px;">
            
            <asp:Button ID="btn_SaveRecharge" runat="server" CssClass="btn_SaveRecharge" Text="Recharge" 
                ValidationGroup="RechargeAmount"  />
               

            
        </div>
    </form>
</body>
</html>
