﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="auto.aspx.cs" Inherits="Tests_try_auto" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
         #container {width:100%;}
         #centered {width:400px; margin:0 auto;}
    </style>
   
</head>
<body style="margin:0 auto;">
    <form id="form1" runat="server">
    <div id="container">
        <div id="centered">
            gdfgdfgdf
        </div>
        
    </div>
    </form>
</body>
</html>
