﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="awsome.aspx.cs" Inherits="Tests_try_awsome" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">-->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css

    <!--[if IE 7]>      
      <link rel="stylesheet" type="text/css" href="../../font-awesome/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <style>
        .icon-circle
        {
           color:#4CBDEB;
           width:100px;
           height:100px;
           
        }
        
        .icon-share, .icon-pushpin, .icon-tag, .icon-time, .icon-usd, .icon-location-arrow
        {
            color:#ADDFF5;
        }
        
        .icon-stack
        {
            cursor:pointer;
        }
        
    </style>
</head>
<body>
    <form id="form1" runat="server">
  
menu

<br />

<span class="icon-stack">    
  <i class="icon-circle icon-stack-base "></i>
  <i class="icon-share icon-2x"></i>
</span>

<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-pushpin"></i>
</span>

<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-tag"></i>
</span>

<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-time"></i>
</span>

<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-usd"></i>
</span>

<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-location-arrow"></i>
</span>


<br />
<br />

supplier details
<br />

<i class="icon-phone"></i>
<br />

<i class="icon-pushpin"></i> 
<br /> 

<i class="icon-globe"></i> 

<br /> 
<br />

search
<br />

<i class="icon-search"></i> 
<br /> 
<br />

report this
<br />
<i class="icon-warning-sign"></i> 
<br /> 
<br />


image
<br />
<i class="icon-camera"></i> 
<br /> 
<br />

check
<i class="icon-check"></i>
<br /> 
<br />

<i class="fa fa-check fa-1"></i>

video
<br />

<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-facetime-video"></i> 
</span>

<br /> 
<br />

<i class="icon-map-marker"></i>
<br />


<i class="icon-pencil"></i> 
<br /> 

<br /> 
<br />

mail
<br />
<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-envelope-alt"></i>
</span>

facebook
<br />
<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-facebook"></i> 
</span>
<br /> 
<br />

twitter
<br />
<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-twitter"></i> 
</span>

<br /> 
<br />

google plus
<br />
<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-google-plus"></i> 
</span>
<br /> 
<br />

remove
<br />
<span class="icon-stack">    
  <i class="icon-circle icon-stack-base"></i>
  <i class="icon-remove"></i> 
</span>
<br /> 
<br />
















 

 

 



 

 



    </form>
</body>
</html>
