﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="bidCounter.aspx.cs" Inherits="Tests_try_bidCounter" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script src="../../scripts/BidCounter.js" type="text/javascript"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script>
        var ROOT = '<%# ROOT %>';

        _counter.format = "regular";
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div class="counterBox">
    
    </div>
    </form>
</body>
</html>
