﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="black.aspx.cs" Inherits="Tests_try_black" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
    
 .waterMark {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 24px;
    margin: 2px 0 0;
    position: relative;
    text-indent: 0;
    width: 328px;
}
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input name="dgdf" value="dfdgdfgdf" class="waterMark" />
    </div>
    </form>
</body>
</html>
