﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="botton.aspx.cs" Inherits="try_botton" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script>
   function closeme()
   {
    parent.ClosePopUp();
   }
   
   
    </script>
</head>
<body>
    <form id="form1" runat="server">
    
    <div>
    baaaaa
    <input type="button" value="send" onclick="closeme();"/>
    </div>
    </form>
</body>
</html>
