<%@ Page Language="C#" AutoEventWireup="true" CodeFile="callbadWords.aspx.cs" Inherits="try_callbadWords" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script>
    
        
          function showRegulrSuppliersList2()
          {           
            var url; 
              
            url="http://" + location.hostname + ":" + location.port + "/noproblem/WebServiceSite.asmx/GetBadWords";

            params="SiteId=1";

            var objHttp;
            var ua = navigator.userAgent.toLowerCase(); 
            
            if(ua.indexOf("msie")!= -1)
            {
               // alert("msie");
                objHttp =  new ActiveXObject("Msxml2.XMLHTTP");
                //objHttp = new ActiveXObject("Microsoft.XMLHTTP");
                //objHttp=new XMLHttpRequest();
                //objXmlDoc = new ActiveXObject("Msxml2.DOMDocument");
            }
            else
            {
                //alert("not msie");
                objHttp=new XMLHttpRequest();
                objHttp.overrideMimeType("application/xml"); 

            }
            
            if (objHttp == null)
            {
                //alert("Unable to create DOM document!");
                return;
            } 	        
            
            
            objHttp.open("POST", url, true);	       
            
            objHttp.onreadystatechange=function()
            {	  
                //alert("objHttp.readyState "+objHttp.readyState);          
                if (objHttp.readyState==4)
                {                   
                    var xmlDoc=objHttp.responseXML.documentElement;
                    alert(xmlDoc.childNodes[0].nodeValue)
                    
      
                    //document.getElementById("divIframe").innerHTML=objHttp.responseText;        
                    //setIframeSize();      
                }
             }
            //objHttp.setRequestHeader('SOAPAction','http://tempuri.org/GetBadWords');
 
            objHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            objHttp.setRequestHeader("Content-Length", params.length);
            objHttp.setRequestHeader("Connection", "close");
            objHttp.send(params);
            //objHttp.send(params);
        }
        
        showRegulrSuppliersList2();
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
