﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="compareValidator.aspx.cs" Inherits="Tests_try_compareValidator" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        function ifInteger(source, args) {
            alert("baaaa");
            var ifInt = parseInt(args.Value);



            if (ifInt == "NaN")
                args.IsValid = false;
            else
                args.IsValid = true;

        }

        function validation() {
           

            var txtId = "<%# txt_ExtraBonus.ClientID %>";
            alert("baaa " + Page_ClientValidate() + " " + Page_ClientValidate(txtId));

            var validators = Page_Validators;
            for (var i = 0; i < validators.length; i++) {
                alert(validators[i].controltovalidate + " " + validators[i].isvalid);
                if (txtId == validators[i].controltovalidate) {
                    if (!validators[i].isvalid) {

                        return false;
                        break;
                    }

                }

               
            }

            /*
            var ifInt = parseInt(args.Value);



            if (ifInt == "NaN")
            args.IsValid = false;
            else
            args.IsValid = false;
            */

            return true;
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:TextBox runat="server" id="txt_ExtraBonus" ></asp:TextBox>
     <asp:RequiredFieldValidator ID="RequiredFieldValidatorDeposit" runat="server" ControlToValidate="txt_ExtraBonus" CssClass="error-msg" ErrorMessage="Invalid"  InitialValue=""></asp:RequiredFieldValidator>
     <%-- <asp:CustomValidator ID="CustomValidator" runat="server" ClientValidationFunction="ifInteger" ControlToValidate="txt_ExtraBonus"  CssClass="error-msg" ErrorMessage="Invalid"></asp:CustomValidator>--%>
     <asp:CompareValidator ID="compareValidator1" runat="server"  ControlToValidate="txt_ExtraBonus"  Type="Integer" Operator="DataTypeCheck" CssClass="error-msg" ErrorMessage="Invalid"   ></asp:CompareValidator>

     <asp:TextBox runat="server" id="txt_transDate" ></asp:TextBox>
      <asp:CompareValidator id="CompareValidator_transDate" runat="server"   ControlToValidate="txt_transDate"  Type="Date" Operator="DataTypeCheck" ErrorMessage="asdsd"></asp:CompareValidator>
     <asp:Button ID="btn" value="send"  runat="server"  OnClick="save_me" OnClientClick="return validation();"/>
    </div>
    </form>
</body>
</html>
