﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default13.aspx.cs" Inherits="Tests_try_Default13" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe width="186px" height="126px" frameborder="0" controls="0" allowfullscreen="true" src="http://www.youtube.com/watch?v=Hq1XJbrXvg4" id="iframeYoutube2"></iframe>
    </div>
    </form>
</body>
</html>
