﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default14.aspx.cs" Inherits="Tests_try_Default14" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style>
        .container
        {
            width:122px;
            height:82px;
            background:red;
            position:relative;
        }
        
        .innerDiv
        {
            width:122px;
            height:82px;
            background:green;
            position:absolute;
            top:0px;
            left:0px;
        }
        
    </style>

</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <!--
    <iframe width="560" height="315" src="//www.youtube.com/embed/iJ7w8bSn-EE?controls=0" frameborder="0" allowfullscreen></iframe>
    -->


<div  class="container">
    <iframe width="122px" height="82px" frameborder="0" allowfullscreen="true" controls=0 src="http://www.youtube.com/embed//iJ7w8bSn-EE?wmode=transparent" id="iframeYoutube1"></iframe>
    <div class="innerDiv">
        dfgdfgdf
    </div>
</div>


    </div>
    </form>
</body>
</html>
