﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default16.aspx.cs" Inherits="Tests_try_Default16" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style>
        .fileLogo2
        {
            background:RED;
            height:400PX;
            width:400PX;            
            display:inline;
            text-align: center;
        }
        
        div.ext-box { display: table;background:green;height:400PX;width:400PX;  }
        div.int-box { display: table-cell; vertical-align: middle;text-align:center; }
   </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div  class="fileLogo2" id="fileLogo2" >
              <input type="image" style="border-width: 0px;" onclick="return false;" src="http://10.0.0.30:80/gallery/Images/logos/50264fa6-3bbe-4032-b508-b51034767636\melech%20haykintom_logo.jpg?rnd=877" class="imgBtnLogo" id="imgBtnLogo" name="imgBtnLogo">
        </div>
    </div>


    <div class="ext-box">
        <div class="int-box">
            <input type="image" style="border-width: 0px;" onclick="return false;" src="http://10.0.0.30:80/gallery/Images/logos/50264fa6-3bbe-4032-b508-b51034767636\melech%20haykintom_logo.jpg?rnd=877" class="imgBtnLogo" id="Image1" name="imgBtnLogo">

        </div>
    </div>

    </form>
</body>
</html>
