﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Controls/MasterPageNP2.master" AutoEventWireup="true" CodeFile="Default17.aspx.cs" Inherits="Tests_try_Default17" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

