﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="try_Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <style>
.iframe				{ width: 320px; height: 250px; margin: 0; padding: 0; 
border: 0; overflow: hidden; }
</style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe id="iframeNoProblem" width="318" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" 
src="http://telelistas.ppcnp.com/telelistaspowerpoint2/supplierIframe.aspx?SiteId=1015&ExpertiseCode=60666&ExpertiseLevel=1&RegionCode=21000&RegionLevel=1&MaxResults=-1&origionId={35779B9E-759D-DF11-92C8-A4BADB37A26F}&parentDomain=&Description=Desc&frames=2&TypeOfBusiness=Mudancas">
</iframe>

  <iframe id="iframe1" width="318" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" 
src="http://telelistas.ppcnp.com/telelistaspowerpoint2/supplierIframe.aspx?SiteId=1015&ExpertiseCode=60666&ExpertiseLevel=1&RegionCode=21000&RegionLevel=1&MaxResults=-1&origionId={35779B9E-759D-DF11-92C8-A4BADB37A26F}&parentDomain=&Description=Desc&frames=2&TypeOfBusiness=Mudancas">
</iframe>


  <iframe id="iframeNoProblem" width="318" marginheight="0" marginwidth="0" frameborder="0" scrolling="no" 
src="http://telelistas.ppcnp.com/telelistaspowerpoint2/supplierIframe.aspx?SiteId=1025&ExpertiseCode=7&ExpertiseLevel=1&RegionCode=19&RegionLevel=1&MaxResults=-1&origionId={35779B9E-759D-DF11-92C8-A4BADB37A26F}&frames=2&Description=We want to show a hint to inform the user what are the important informations to be written when quoting a service from that category..&TypeOfBusiness=Mudanחas">
</iframe>

 




<iframe id="iframe2" src="http://telelistas.ppcnp.com/telelistaspowerpoint2/supplierIframe.aspx?
SiteId=1025&ExpertiseCode=7&ExpertiseLevel=1&RegionCode=19&RegionLevel=1&MaxResults=-
1&origionId={35779B9E-759D-DF11-92C8-A4BADB37A26F}&frames=2&Description=We want to show a 
hint to inform the user what are the important informations to be written when quoting a 
service from that category..&TypeOfBusiness=Mudanחas" class="iframe" scrolling="no" 
frameborder="0"></iframe>
 
    </div>
    </form>
</body>
</html>
