﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default10.aspx.cs" Inherits="Tests_try_Default10" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script language="javascript" type="text/javascript">
         function se() {
             alert("fghg");
             var vPostForm = document.PostForm; vPostForm.submit();
         }
    </script>  
</head>
<body onload="se();">
    <form id="form1" runat="server">
    <div>
  
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    </div>
    </form>

     
    <form id="PostForm" name="PostForm" action="https://www.platnosci.pl/paygw/UTF/NewPayment" method="POST" target="_top">
    <input type="hidden" name="pos_id" value="86966" />
    <input type="hidden" name="pos_auth_key" value="F7yEISL">
    <input type="hidden" name="first_name" value="test-2">
    <input type="hidden" name="last_name" value="test-2-">
    <input type="hidden" name="email" value="shaim@noproblem.co.il">
    <input type="hidden" name="phone" value="0545350800">
    <input type="hidden" name="street" value="נחל תנינים קוקים">
    <input type="hidden" name="HouseNumber" value="34">
    <input type="hidden" name="city" value="canglang">
    <input type="hidden" name="post_code" value="">
    <input type="hidden" name="pay_type" value="m">
    <input type="hidden" name="session_id" value="52504921-d3f0-df11-8a5c-0003ff72732126-Sep-2011 1:00:59 PM">
    <input type="hidden" name="client_ip" value="127.0.0.1">
    <input type="hidden" name="desc" value="PPC Package">
    <input type="hidden" name="desc2" value="supplierId=52504921-d3f0-df11-8a5c-0003ff727321&advertiserName=יורם שירותי אינסטלציה&balanceOld=186,858&userId=b3d9d61c-873e-e011-a69e-0003ff727321&userName=User1&siteId=1&siteLangId=33&filedId=lbl_CurrentBalance&fieldName=Your balance:&isFirstTimeV=False&bonusAmount=0&bonusType=None&balanceNew=186862.0000&bonusExtraAmount=0&extraReasonBonusId=9d3fe25f-d7d6-e011-bec9-0003ff727321"
    ><input type="hidden" name="amount" value="400"></form>
    <script language="javascript" type="text/javascript">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    var vPostForm = document.PostForm; vPostForm.submit();</script>
   

    <!--
    <form id="PostForm" name="PostForm" action="https://www.platnosci.pl/paygw/UTF/NewPayment" method="POST" target="_top">
    <input type="hidden" name="pos_id" value="86966">
    <input type="hidden" name="pos_auth_key" value="F7yEISL">
    <input type="hidden" name="pay_type" value="m">
    <input type="hidden" name="first_name" value="test-2">
    <input type="hidden" name="last_name" value="test-2-">
    <input type="hidden" name="email" value="shaim@noproblem.co.il">
    <input type="hidden" name="phone" value="0545350800">
    <input type="hidden" name="street" value="נחל תנינים קוקים">
    <input type="hidden" name="HouseNumber" value="34">
    <input type="hidden" name="city" value="canglang">
    <input type="hidden" name="post_code" value="">
    <input type="hidden" name="session_id" value="52504921-d3f0-df11-8a5c-0003ff72732126-Sep-2011 12:56:19 PM">
    <input type="hidden" name="client_ip" value="127.0.0.1">
    <input type="hidden" name="desc" value="PPC Package">
    <input type="hidden" name="desc2" value="supplierId=52504921-d3f0-df11-8a5c-0003ff727321&advertiserName=יורם שירותי אינסטלציה&balanceOld=186,858&userId=b3d9d61c-873e-e011-a69e-0003ff727321&userName=User1&siteId=1&siteLangId=33&filedId=lbl_CurrentBalance&fieldName=Your balance:&isFirstTimeV=False&bonusAmount=0&bonusType=None&balanceNew=186868.0000&bonusExtraAmount=0&extraReasonBonusId=9d3fe25f-d7d6-e011-bec9-0003ff727321">
    <input type="hidden" name="amount" value="1000"></form>
    -->
</body>
</html>
