﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>   

    <link href="../StyleHalf.css?rnd=10" rel="stylesheet" type="text/css" />
    <link href="styleCj.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
    <script type="text/javascript">
        function openPopUp(popUpUrl, popUpName, popUpWidth, popUpHeight) {
            window.open(popUpUrl, popUpName, 'width=' + popUpWidth + ',height=' + popUpHeight);
        }

        function loadParams() {

        }


        function run() {

            $.ajax({
                url: '../../ClickRequest.ashx?ExposureId=<%#exposureId%>',
                data: null,
                dataType: "json",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataFilter: function (data) { return data; },
                success: function (data) {
                    //alert('success');
                    //alert($('.content A').attr('href'));
                    top.location.href = $('.content A').attr('href');

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert('faild');
                }
            });


        }


        $(document).ready(function () {
            /*
            $('.content A').click(
            function (evt) {
            evt.preventDefault();
            run();
            }
            )
            */

            $('.content').click(
               function (evt) {
                   //evt.preventDefault();
                   alert("gdfgdfg");
               }
            )

            $('.content').mousedown(
               function (evt) {
                   //evt.preventDefault();
                   alert("2");

                   //alert($('.content object').type());
                   alert($('.content object').is("object"));
               }
            )
        }
        )
        

    </script>

</head>
<body>

<div class="content"  >


<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"  codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="300" height="250" VIEWASTEXT id=ShockwaveFlash1 >

<param name="movie" value="http://media.avapartner.com/banners/p571824693.swf?tag=34995&tag2=~banner_3682">
<PARAM NAME="FlashVars" VALUE="clickTag=http://www.avafx.com/mt4-button?tag=34995&tag2=~banner_3682&target=_blank">
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />
<param name="wmode" value="transparent" />
<embed src="http://media.avapartner.com/banners/p571824693.swf?tag=34995&tag2=~banner_3682" wmode="transparent" FlashVars="clickTag=http://www.avafx.com/mt4-button?tag=34995&tag2=~banner_3682&target=_blank" quality="high" bgcolor="#ffffff" width="300" height="250" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />

</object>


<!--
<a target="_top" href="http://www.dpbolvw.net/click-6104828-10893531">
<img width="300" height="250" border="0" alt="Match.com &ndash; View Singles in Your Area" src="http://www.ftjcfx.com/image-6104828-10893531"></a>
-->


</div>


</body>
</html>
