<%@ Page Language="C#" AutoEventWireup="true" CodeFile="disabled.aspx.cs" Inherits="try_disabled" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://www.a.co.il">HyperLink</asp:HyperLink>
        <a href="http://www.a.co.il"  runat="server"  id="link1"   >try</a> 
        <asp:LinkButton runat="server" ID="lb"   Enabled="false">link button</asp:LinkButton>  
    </div>
    </form>
</body>
</html>
