<%@ Page Language="C#" AutoEventWireup="true" CodeFile="doubleclick.aspx.cs" Inherits="try_doubleclick" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <select  ondblclick="alert('baa');"  size="10" multiple="multiple">
            <option>ert</option>
            <option>ert2</option>
            <option>ert3</option>
        </select>
    </div>
    </form>
</body>
</html>
