﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="dynamicWidthDiv.aspx.cs" Inherits="Tests_try_dynamicWidthDiv" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <style>
        .comment {
            left: 39px;
            position: absolute;
            top: -11px;
            
            background-color: #F69100;
    border: 0 solid #666666;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px #888888;
    display: none;
    padding: 2px 6px;
    text-align: left;
    width: auto;
        }
        
         .commentText {
            color: #FFFFFF;
            font-size: 11px;
            font-weight: 600;
        }
        
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div style="position:relative;WIDTH:200PX;">
   
    

        <div id="comment" class="comment" style="display: block;">
            <div id="commentText" class="commentText" >Describe exactly what you need xcv xcv xcv xcv xcv cxv c xcvxcvcx xcv</div>
            <div class="arrow"></div>
        </div>
    </div>

    </form>
</body>
</html>
