<%@ Page Language="C#" AutoEventWireup="true" CodeFile="enter.aspx.cs" Inherits="try_enter" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script>
        function searchProfessions()
        {
            alert("baaa");
        }
        
        
        function ifEnterClick()
        {
            alert("hhhh");
         
        }
    </script>
</head>
<body>
    <form id="form1" >
    <div>
        <input id="txtFind" class="form-text" onkeyup="ifEnterClick();" onkeydown="if ((event.which && event.which == 13) ||
            (event.keyCode && event.keyCode == 13))
            return false;" type="text"   />

    </div>
    </form>
</body>
</html>
