﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="escape.aspx.cs" Inherits="Tests_try_escape" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        var url = "http://www.co.il?sitrid=345&cookie=fas";
        alert(url);
        var urlEncode = encodeURI(url);
        alert(urlEncode);
        var encodeURIComponent = encodeURIComponent(url);
        alert(encodeURIComponent);
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
