﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="escapeUnescape.aspx.cs" Inherits="Tests_try_escapeUnescape" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script>

        var str= "<div class='relatedLink'><a href='javascript:void(0);' onclick=javascript:_NPopenRelatedWin('mover'); >Mover</a></div><div class='relatedLink'><a href='javascript:void(0);' onclick=javascript:_NPopenRelatedWin('cpa'); >Accountant</a></div><div class='relatedLink'><a href='javascript:void(0);' onclick='javascript:_NPopenRelatedWin(\"air condition\")'; >Air condition</a></div>";
        

        function init()
        {
            document.getElementById("divForm").innerHTML=str;
        }

        window.onload=init;

    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div id="divForm">
    
    </div>
    </form>
</body>
</html>
