﻿/*********************** general tags *************************/

body{margin:0px;font-family:Arial;font-size:10px;}
h3{}
div{}

/********************** form tag controls *****************************/
.input{}

.select{}

.textarea{}

/********************** general classes *****************************/
.error{width:100px;}
.titleFirst{}
.titleSecond{}
.titleThird{}
.titleFiels{}

.worningPage{}
.worningForm{}
.stepIconActive{}
.stepIconPassive{}
.stepIconCompleted{}
/********************** login *****************************/
.login .input{}
.login input.{}
.login input.innerInput2{}

/********************** registration *****************************/
.registration{}
.registration input.phone{}
.registration input.smsCode{}

/********************** step1 *****************************/
.step1 .browseCategories{}
.step1 .titleFiels{}
/********************** step2 *****************************/


/********************** step3 *****************************/


/********************** dashboard *****************************/


/********************** billing *****************************/


/********************** settings *****************************/


/********************** menu *****************************/

/********************** sidebar *****************************/