<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ggggg.aspx.cs" Inherits="try_ggggg" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="Button" />
    sdfsdf
    <br />
    jhkh
    </div>
        
    </form>
</body>
</html>
