﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HTML5.aspx.cs" Inherits="Tests_try_HTML5" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<script>    var canvas = document.getElementById('my-first-canvas');
           var context = canvas.getContext('2d');
    context.strokeStyle = '#990000';
    strokeRect(left, top, width, height)
    context.strokeRect(20, 30, 100, 50);
    </script>
    <title>HTML5 Programming</title>
    <meta charset="UTF-8">
    <script src="file.js"></script>
    <link rel="stylesheet" href="css3.css">
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <a href="/about">
      <h2>About me</h2>
      <p>Find out what makes me tick.</p>
     </a>
    </div>

   
<label for="hobbies">Your hobbies</label> <input id="hobbies" name="hobbies" type="text" » placeholder="Owl stretching">   

<label for="dtstart">Start date</label> <input id="dtstart" name="dtstart" type="date">

<label for="rating">Your rating</label> <input id="rating" name="rating" type="range" » min="1" max="5">


<h1>Search results for 'unicorn'</h1> <ol>
<li><a href="http://clearleft.com/">
Riding the UX <mark>unicorn</mark> across »
the rainbow of the web.
</a></li> </ol>

<meter low="-273" high="100" min="12" max="30" »
optimum="21" value="25">
It's quite warm for this time of year.
</meter>


<progress min="0" max="100" value="60"></progress>

Your profile is <progress>60%</progress> complete.

<h1>An Event Apart</h1>
<section>
<header>
<h2>Cities</h2>
</header>
<p>Join us in these cities in 2010.</p>
<h3>Seattle</h3>
<p>Follow the yellow brick road.</p>
<h3>Boston</h3>
<p>That's Beantown to its friends.</p>
<h3>Minneapolis</h3>
<p>It's so <em>nice</em>.</p>
</section>
<small>Accommodation not provided.</small>

<h1>An Event Apart</h1>
<section>
<header>
<h1>Cities</h1>
</header>
<p>Join us in these cities in 2010.</p>
<section>
<header>
<h1>Seattle</h1>
</header>
<p>Follow the yellow brick road.</p>
</section>
<section>
<header>
<h1>Boston</h1>
</header>
<p>That’s Beantown to its friends.</p>
</section>
<section>
<header>
<h1>Minneapolis</h1>
</header>
<p>It's so <em>nice</em>.</p>
</section>
</section>
<small>Accommodation not provided.</small>
    </form>
</body>
</html>
