﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="iframe2.aspx.cs" Inherits="try_iframe2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
           <iframe id="listIframe" name="listIframe" class="iframe" scrolling="no" frameborder="1" width="243" height="457" ></iframe>    

    </div>
    </form>
</body>
</html>
