<%@ Page Language="C#" AutoEventWireup="true" CodeFile="indexof.aspx.cs" Inherits="try_indexof" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script>
    str="bd=069c9afe-e89e-df11-9c13-0003ff727321*1&bj=079c9afe-e89e-df11-9c13-0003ff727321*1&cangzhou=089c9afe-e89e-df11-9c13-0003ff727321*1&cc=099c9afe-e89e-df11-9c13-0003ff727321*1&cd=0a9c9afe-e89e-df11-9c13-0003ff727321*1&China=f9f459cd-669e-df11-9c13-0003ff727321*1&China2=9692b7e1-ce9e-df11-9c13-0003ff727321*1&cq=0b9c9afe-e89e-df11-9c13-0003ff727321*1&cs=0c9c9afe-e89e-df11-9c13-0003ff727321*1&cz=0d9c9afe-e89e-df11-9c13-0003ff727321*1&dg=0e9c9afe-e89e-df11-9c13-0003ff727321*1&dl=0f9c9afe-e89e-df11-9c13-0003ff727321*1&dy=109c9afe-e89e-df11-9c13-0003ff727321*1&fs=119c9afe-e89e-df11-9c13-0003ff727321*1&fz=129c9afe-e89e-df11-9c13-0003ff727321*1&gy=139c9afe-e89e-df11-9c13-0003ff727321*1&gz=149c9afe-e89e-df11-9c13-0003ff727321*1&haikou=159c9afe-e89e-df11-9c13-0003ff727321*1&heb=169c9afe-e89e-df11-9c13-0003ff727321*1&hf=179c9afe-e89e-df11-9c13-0003ff727321*1&hz=189c9afe-e89e-df11-9c13-0003ff727321*1&jh=199c9afe-e89e-df11-9c13-0003ff727321*1&jining=1a9c9afe-e89e-df11-9c13-0003ff727321*1&jn=1b9c9afe-e89e-df11-9c13-0003ff727321*1&km=1c9c9afe-e89e-df11-9c13-0003ff727321*1&lf=1d9c9afe-e89e-df11-9c13-0003ff727321*1&luoyang=1e9c9afe-e89e-df11-9c13-0003ff727321*1&lz=1f9c9afe-e89e-df11-9c13-0003ff727321*1&mianyang=209c9afe-e89e-df11-9c13-0003ff727321*1&nb=219c9afe-e89e-df11-9c13-0003ff727321*1&nc=229c9afe-e89e-df11-9c13-0003ff727321*1&nj=239c9afe-e89e-df11-9c13-0003ff727321*1&nn=249c9afe-e89e-df11-9c13-0003ff727321*1&nt=259c9afe-e89e-df11-9c13-0003ff727321*1&qd=269c9afe-e89e-df11-9c13-0003ff727321*1&qz=279c9afe-e89e-df11-9c13-0003ff727321*1&sh=289c9afe-e89e-df11-9c13-0003ff727321*1&shenyang=299c9afe-e89e-df11-9c13-0003ff727321*1&sjz=2a9c9afe-e89e-df11-9c13-0003ff727321*1&suzhou=2b9c9afe-e89e-df11-9c13-0003ff727321*1&sx=2c9c9afe-e89e-df11-9c13-0003ff727321*1&sy=2d9c9afe-e89e-df11-9c13-0003ff727321*1&sz=2e9c9afe-e89e-df11-9c13-0003ff727321*1&ta=2f9c9afe-e89e-df11-9c13-0003ff727321*1&tj=309c9afe-e89e-df11-9c13-0003ff727321*1&ty=319c9afe-e89e-df11-9c13-0003ff727321*1&wh=329c9afe-e89e-df11-9c13-0003ff727321*1&wlmq=339c9afe-e89e-df11-9c13-0003ff727321*1&wx=349c9afe-e89e-df11-9c13-0003ff727321*1&wz=359c9afe-e89e-df11-9c13-0003ff727321*1&xa=369c9afe-e89e-df11-9c13-0003ff727321*1&xm=379c9afe-e89e-df11-9c13-0003ff727321*1&xn=389c9afe-e89e-df11-9c13-0003ff727321*1&xz=399c9afe-e89e-df11-9c13-0003ff727321*1&yc=3a9c9afe-e89e-df11-9c13-0003ff727321*1&yt=3b9c9afe-e89e-df11-9c13-0003ff727321*1&yz=3c9c9afe-e89e-df11-9c13-0003ff727321*1&zb=3d9c9afe-e89e-df11-9c13-0003ff727321*1&zh=3e9c9afe-e89e-df11-9c13-0003ff727321*1&zhuzhou=3f9c9afe-e89e-df11-9c13-0003ff727321*1&zs=409c9afe-e89e-df11-9c13-0003ff727321*1&zz=419c9afe-e89e-df11-9c13-0003ff727321*1,bd&bj&cangzhou&cc&cd&China&China2&cq&cs&cz&dg&dl&dy&fs&fz&gy&gz&haikou&heb&hf&hz&jh&jining&jn&km&lf&luoyang&lz&mianyang&nb&nc&nj&nn&nt&qd&qz&sh&shenyang&sjz&suzhou&sx&sy&sz&ta&tj&ty&wh&wlmq&wx&wz&xa&xm&xn&xz&yc&yt&yz&zb&zh&zhuzhou&zs&zz";
    
    alert(str.indexOf("079c9afe-e89e-df11-9c13-0003ff727321"));
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
