﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="inlineBlock.aspx.cs" Inherits="Tests_try_inlineBlock" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span>
        baaaa
        </span>
        
        <span style="display:inline-block;width:100px;">
        inlin-block dfgdfg dg dfg dfgd dfg dfg dfg dfgfdg
        </span>
        
        <span>
        baaaaa2
        </span>
        
    </div>
    </form>
</body>
</html>
