﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="linkBackground.aspx.cs" Inherits="Tests_try_linkBackground" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:LinkButton ID="link1" runat="server" Text="kkkk" onclick="link1_Click"></asp:LinkButton>
    </div>
    </form>
</body>
</html>
