<%@ Page Language="C#" AutoEventWireup="true" CodeFile="link.aspx.cs" Inherits="try_link" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script>
    function step1()
    {
        alert("fhgfhgfh");
    }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
    fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
    fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
    fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
    fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
    fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
     fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
     fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
     fghgfh
    <br />
    hjkjhgk
    <br />
    dhdh
    <br />
    dgh
    <br />
    
    <a id="linkStep1" href="javascript:void(0);" class="active" onclick="javascript:return step1();"><span>1</span><asp:Literal ID="lit_info" runat="server">General Info</asp:Literal></a>

    </div>
    </form>
</body>
</html>
