<%@ Page Language="C#" AutoEventWireup="true" CodeFile="maxRowsInListBox.aspx.cs" Inherits="try_maxRowsInListBox" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script>
    function init()
    {
        for(i=0;i<112048;i++)
        {
         document.getElementById("<%=selectRegions2.ClientID%>").options[document.getElementById("<%=selectRegions2.ClientID%>").options.length]=new Option("shai" + i,"shai" + i);
        } 
    }     
    window.onload=init;
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <select name="selectRegions2" id="selectRegions2" runat="server"></select>
    </div>
    </form>
</body>
</html>
