<%@ Page Language="C#" AutoEventWireup="true" CodeFile="media.aspx.cs" Inherits="try_media" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <OBJECT id="VIDEO" width="320" height="240" 
	    style="position:absolute; left:0;top:0;"
	    CLASSID="CLSID:6BF52A52-394A-11d3-B153-00C04F79FAA6"
	    type="application/x-oleobject">
    	
	    <PARAM NAME="URL" VALUE="../records/me.mp3">
	    <PARAM NAME="SendPlayStateChangeEvents" VALUE="True">
	    <PARAM NAME="AutoStart" VALUE="True">
	    <PARAM name="uiMode" value="none">
	    <PARAM name="PlayCount" value="9999">
    </OBJECT>
    </div>
    </form>
</body>
</html>
