<%@ Page Language="C#" AutoEventWireup="true" CodeFile="middle2.aspx.cs" Inherits="try_middle2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
     <link href="../UpdateProgress/updateProgress.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <form id="form1" runat="server">
   <div id="IMGDIV"  runat="server" class="divProgress" >
        <div>
		<asp:Image ID="Image1" runat="server" ImageUrl="~/UpdateProgress/ajax-loader.gif"/>
		</div>
    </div>
			
    </form>
</body>
</html>
