﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="onClientClick.aspx.cs" Inherits="Tests_try_onClientClick" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        /*
        function cookie() {   

            var currentDateTime = new Date();
            document.getElementById('<%=Label1.ClientID %>').innerHTML = currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
            return false;
        }
        */




        function ClientClick() {
            var currentDateTime = new Date();
            document.getElementById('<%=Label1.ClientID %>').innerHTML = currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
            return false;
        }

        function ClientClick2() {
            var currentDateTime = new Date();
            document.getElementById('<%=Label1.ClientID %>').innerHTML = currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
            return false;
        }

        function cookier() {
           
            /*
            alert("baaaa");
            var currentDateTime = new Date();
            document.getElementById('<%=Label1.ClientID %>').innerHTML = currentDateTime.getHours() + ':' + currentDateTime.getMinutes() + ':' + currentDateTime.getSeconds();
            alert("baaaa2");
            return false;
            */


            alert("baaaaa");
            //return true;

            
            if (1 == 2) {
                return true;
            }
            else {
                //alert("will retuen false");
                return false;
            }
            
        }  
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <!--
         <asp:LinkButton ID="btn_SendService" runat="server" CssClass="btn_next2"  OnClientClick="return cookie();" OnClick="btn_SendService_click"
                  Text="Next"></asp:LinkButton>
        -->

            <asp:Label ID="Label1" runat="server" />  
            <asp:LinkButton ID="LinkButton1"  runat="server" OnClientClick="return cookier();" OnClick="LinkButton1_Click" >  
                Client Click  
            </asp:LinkButton>  


    </div>
    </form>
</body>
</html>
