﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="overflow2.aspx.cs" Inherits="Tests_try_overflow2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="width:200px;height:100px;overflow-x:;overflow-y:auto;background-color:Red;">
        xcvxccv xbvxvx xcv xv xcv xcvx vxv xc xcv xcvxc vxcvxc v xcvxcxxcvxcvxcvxcvxvxxvxcvxcvxcvxcvxcvcxv
        <br />
        vvvn
        <br />
        fghfghfgh
         xcvxccv
        <br />
        vvvn
        <br />
        fghfghfgh
         xcvxccv
        <br />
        vvvn
        <br />
        fghfghfgh
         xcvxccv
        <br />
        vvvn
        <br />
        fghfghfgh
    </div>
    </form>
</body>
</html>
