﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="overflow.aspx.cs" Inherits="try_overflow" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="width:100px;height:100px;background-color:red;overflow:auto;">
        sdfdf
        <br />
        hhfghg
        <br />
        vvn
        <br />
        jhjgh
        <br />
        hjhj
        <br />
        hfhf
    </div>
    </form>
</body>
</html>
