<%@ Page Language="C#" AutoEventWireup="true" CodeFile="parentCalliframe.aspx.cs" Inherits="try_parentCalliframe" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script>
    
        function init()
        {
            alert("llll");
            window.frames['iframe1'].showme() 
            //document.getElementById("iframe1").showme();
            //iframe1.showme();
            //document.getElementById("iframe1").showme();
            alert("2222");
            //alert("baa" + document.getElementById("iframe1").window.document.getElementById("divIframe").innerHTML);
            //document.getElementById("iframe1").window.document.getElementById("divIframe").innerHTML="hhhhhh";
        }
        
        //window.onload=init;
        
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe id="iframe1" name="iframe1" src="list.aspx"></iframe>
        <input type="button"  value="send" onclick="init();"/>
    </div>
    </form>
</body>
</html>
