﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="paste.aspx.cs" Inherits="Tests_try_paste" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script src="//code.jquery.com/jquery-1.7.min.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            /*
            $(document).keydown(function (event) {
            if (document.activeElement == _this.txt && event.ctrlKey == true && (event.which == '118' || event.which == '86')) {
            event.preventDefault();
            }
            });
            */
            // To prevent Right ckick paste by mouse
            $('#txtarea').bind('paste', null, function (e) {

                ///alert(e.clipboardData);
                setTimeout(function () {
                    alert($('#txtarea').val().length + " " + $('#txtarea').val());
                    if ($("#txtarea").val().length > 140) {
                        var text140;
                        text140 = $("#txtarea").val().substring(0, 140);
                        $("#txtarea").val(text140);
                    }
                    alert($("#txtarea").val().length);
                }
                , 5000);



                //return false;
            });

        });
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <textarea id="txtarea"></textarea>
    </div>
    </form>
</body>
</html>
