﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="poland.aspx.cs" Inherits="Tests_try_poland" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
        <meta http-equiv="Content-Type" content="text/html; "/>

</head>
<body>
    <form id="form1" runat="server">
    <div>
     <div class="bgl2">
		        <div class="left2">
	                <div class="text1">Twoje zlecenie zostało poprawnie przesłane!</div>
                    <div class="text2">Zgłosiłeś swój problem do [ 3 ] specjalistów
                        kategoria: <span class="txtdynamic">HYDRAULIKA</span>, lokalizacja: <span class="txtdynamic">KRAKÓW</span>
                        Niedługo do Ciebie zadzwonią! 
                    </div>
    
    	        </div>
            </div>
    </div>
    </form>
</body>
</html>
