﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="popupmodal.aspx.cs" Inherits="try_popupmodal" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <link href="../Management/style.css" rel="stylesheet" type="text/css" />
     <script>
     function ClosePopUp()
    {
        
        var obj="<%#ModalPopupExtender1.ClientID%>";
        alert(obj);
        $find(obj).hide();
    }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        </asp:ToolkitScriptManager>
        <asp:Button ID="Button1" runat="server" Text="Button" onclick="takeInside"/>
    <asp:ModalPopupExtender ID="ModalPopupExtender1" runat="server" 
     TargetControlID="Button1" PopupControlID="ff" 
            BackgroundCssClass="modalBackground" DynamicServiceMethod="GetDynamicContent"  >
    </asp:ModalPopupExtender>
    
    <div runat="server" id="ff" class="popModal_del" style="background-color:red;">
    <iframe src="botton.aspx"></iframe>
    <span runat="server" id="a_close" >סגור</span>
    </div>
    
    

    </div>
    </form>
    </body>
</html>
