<%@ Page Language="C#" AutoEventWireup="true" CodeFile="postback.aspx.cs" Inherits="try_postback" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <script>
    function init()
    {
        <%Y="now";%>
        alert('<%=y%>');
        <%Response.Write("y:" + y);%>; 
        
    }
    </script>
    
</head>
<body >
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="bt1" runat="server"  Text="send" OnClick="bt1_Click"/>
        <asp:HiddenField id="hidden2"  runat="server" Value="tel"/>
    </div>
    </form>
</body>
</html>
