﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="recognizeCss.aspx.cs" Inherits="Tests_try_recognizeCss" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <style>
        .jop{height:800px;}
    </style>
    <script>
        
        $(document).ready(function () {
            alert($('#ccc').height());
            alert($('.ggg').height());
            alert($('.jop').height());
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div id="ccc" class="ggg" >
    
    </div>

     <div id="div6" class="jop" >
    
    </div>
    </form>
</body>
</html>
