﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="regex.aspx.cs" Inherits="try_regex" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script>
    var phoneNumber="5 5";
    var regFormatPhone='^[0-9]+$';
    //alert(regFormatPhone);            
    if (phoneNumber.search(regFormatPhone)==-1) //if match failed
    {                    
       alert("not match");
    } 
    
    else
        alert("match");
        
    var regex=/^[0-9]+$/; //^[a-zA-z]+$/
    var justNumbers="5 5";
    if(regex.test(justNumbers))
    {
        alert("Good")
    
    }
    else    
    {
        alert("Please fix")    
    }

    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
