﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="regFormat.aspx.cs" Inherits="Tests_try_regFormat" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script>
    var ifValidPhone=true;
    var phoneNumber="9222222222";
    var regFormatPhone='(^[7-9]{1}\\d{7}$)|(^[7-9]{1}\\d{9}$)';
    //(1\d{10})|(0\d{11})|(0\d{10})                    
    if (phoneNumber.search(regFormatPhone)==-1) //if match failed
    {                    
       ifValidPhone=false;
    }	
    alert(ifValidPhone);
            
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
