﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="relative.aspx.cs" Inherits="Tests_try_relative" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        .clearfix:after		{ content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix			{ display: inline-block; } 
html[xmlns] .clearfix {	display: block; } 
* html .clearfix	{ height: 1%; }
    </style>
</head>
<body>
    <form id="form1" runat="server">
  dfgdfgdf
  <br />
  fghfg
  <br />
        
        <div id="div1" style="position:relative;display:block;height:200px;background-color:Red;">
            <div style="position:absolute;top:50px;left:100px;">
                <input />
            </div>
        
        </div>      
       
       <!--<div class="clearfix"></div>-->
        
        <div id="div2" style="position:relative;display:block;height:200px;background-color:green;">
            <div style="position:absolute;top:50px;left:100px;">
                 <input />
            </div>
        
        </div>
        
  
    </form>
</body>
</html>
