﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="sample.aspx.cs" Inherits="Tests_try_sample" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Literal ID="Literal1" runat="server" Text="Goodbye visual studio 2005"></asp:Literal>
    </div>
    <asp:Button ID="Button1" runat="server" Text="Install net 3.5" OnClick="Button1_Click" />
    asds
    <asp:DropDownList runat="server" ontextchanged="cookie"></asp:DropDownList>
    </form>
</body>
</html>
