﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="script2.aspx.cs" Inherits="Tests_try_script2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    
    <link id="linkAnythingSlider" runat="server" rel="stylesheet" />
    <script  id="script1" runat="server"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
