<%@ Page Language="C#" AutoEventWireup="true" CodeFile="selected.aspx.cs" Inherits="try_selected" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <select id="form-suppliers" class="form-input">
							    <option value="2">2</option>
							    <option value="3" selected="selected">3</option>
							    <option value="4">4</option>
							    <option value="5">5</option>
							    <option value="6">6</option>
							</select>
    </div>
    </form>
</body>
</html>
