﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="slideLeft.aspx.cs" Inherits="Tests_try_slideLeft" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="//code.jquery.com/jquery-latest.js"></script>
   
    <script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
    <script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
   

    <script>
        function toMe() {
            $('#div1').show('slide', { direction: 'left' }, 1000);
            //$('#div1').show(1000);
        }

        
    </script>
    

</head>
<body onload="toMe();">
    <form id="form1" runat="server">
    <div id="div1" style="width:300px;height:300px;background-color:Red;display:none;">
    jhgjhj hj h jh jhg jhg jhgjh
    </div>
    </form>
</body>
</html>
