﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="substring2.aspx.cs" Inherits="Tests_try_substring2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        var s = "abcdf";
        var a = s.substring(0, s.length-1);
        alert(a);
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
