﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="together.aspx.cs" Inherits="Tests_try_together" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="left" style="float:left;width:300px;">
    111111111
    </div>

    <div id="right" style="width:200px;">
    222222
    </div>
    </form>
</body>
</html>
