﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="transpoland.aspx.cs" Inherits="Tests_try_transpoland" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Zostaw swój numer i czekaj na telefon od specjalistów
    </div>
    </form>
</body>
</html>
