<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tryme2.aspx.cs" Inherits="try_tryme2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    cookie<br/>
    stam<br />
    stam2
    shai
    </div>
    </form>
</body>
</html>
