﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script>
        // if (encodeURIComponent(inviteFriendMessage) == encodeURIComponent("<%#HiddenMessage.Value%>"));
        var a1="fg'hghf";
        var a2 = "fg'hghf";
        if (encodeURIComponent(a1) == encodeURIComponent(a2))
        alert("equel");
       else
        alert("not equel");
    </script>
</head>
<body>

</body>
</html>
