<%@ Page Language="C#" AutoEventWireup="true" CodeFile="vertical.aspx.cs" Inherits="try_vertical" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <div id="divLoader" class="_Background" style="position:absolute;text-align:center;vertical-align:middle;width:100%;height:100%;background-color:Blue;">
     <!--
     <div style="position:relative;vertical-align:middle;background-color:Red;height:500px;line-height:100%;">
         <img src="../UpdateProgress/ajax-loader.gif" style="text-align:center;vertical-align:middle;"/>
     -->
     <table width="100%" height="100%">
        <tr>
            <td height="100%" valign=middle>
            ghjghjhg
            </td>
        </tr>
     </table>
     
     </div>
             
    </div>
    </div>
    </form>
</body>
</html>
