﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="video.aspx.cs" Inherits="Tests_try_video" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script>
        function showHide() {            
            if (document.getElementById("video").style.display == 'block')
                document.getElementById("video").style.display = 'none';
            else {                
                document.getElementById("video").style.display = 'block';
            }
        }


    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div style="display:block;">
    11111111
    </div>

    <div id="video" style="display:none;">
        
        <iframe width="950" height="513" src="http://www.youtube.com/embed/2lnZoIF2sVE?rel=0&amp;hd=1" frameborder="0" allowfullscreen></iframe>
    </div>

    

    <div style="display:block;">
    <input type="button" value="close or open" onclick="javascript:showHide();"/>
   
    </div>

    <div style="display:block;">
    2222222
    </div>
    </form>
</body>
</html>
