﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="viewStateTextbox.aspx.cs" Inherits="Tests_try_viewStateTextbox" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button  runat="server" ID="btnGDynamicCont" OnClick="btnGDynamicCont_Click" Text="generate"/>
    </div>
    </form>
</body>
</html>
