﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="viewStateTextbox2.aspx.cs" Inherits="Tests_try_viewStateTextbox2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Panel runat="server" ID="phTextBoxes"> </asp:Panel>

        <asp:Button  runat="server" ID="btnRead" onclick="btnRead_Click"/>
    </div>
    </form>
</body>
</html>
