﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="wordPolin.aspx.cs" Inherits="try_wordPolin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script>
        function 
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <a href="wordPolin2.aspx?word=<%#Server.UrlEncode(str)%>">send</a>
    <input type="button" onclick="valid();" />
    </div>
    </form>
</body>
</html>
