<%@ Page Language="C#" AutoEventWireup="true" CodeFile="zindex.aspx.cs" Inherits="try_zindex" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <div style='position:fixed;width:110px;height:65px;text-align:center;'>
           <div style='position:fixed;top:0px;left:0px;z-index:0;'><img src='../images/icons/icon-calling_clear.gif'></div>
           <div style='position:fixed;top:0px;left:0px;z-index:1;font-family:Arial;color:blue;font-size:7pt;text-align:left;'>CALL NOW</div>
         </div>

    </div>
    </form>
</body>
</html>
