<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MatchedContractors.ascx.cs" Inherits="Publisher_Auction_MatchedContractors" %>
<div id="primaryIframe" >   
            <div id="segmentRegularTitle">
			    <h2>
			    <asp:Label ID="lbl_title1" runat="server" Text="Currently Available" CssClass="Label_Space"></asp:Label>
			    <asp:Label ID="lbl_Expertise" runat="server" Text="<%# _expertise %>" CssClass="Label_Space"></asp:Label>
			    <asp:Label ID="lbl_title2" runat="server" Text="contractors" ></asp:Label>
			    </h2>
			</div>
			 <div id="div_explanation" class="" >
                <div class="comments1" >
                    <asp:Label ID="lbl_callingStatus1" runat="server" >
                    We are Calling Avaliable
                    </asp:Label>
                </div>
                
                <div class="comments1"  >
                    <asp:Label ID="Label1" runat="server" Text="<%# _expertise %>"></asp:Label>
                    <asp:Label ID="lbl_callingStatus2" runat="server">
                    Contractors
                    </asp:Label>
                </div>
                
                <div class="comments2">
                    <asp:Label ID="lbl_callingStatus3" runat="server">
                    Your Phone will ring once we have found matched contractors.
                    </asp:Label>
                </div>
                
                <div class="comments2">
                    <asp:Label ID="lbl_Expertise2" runat="server" Text="<%# _expertise %>" CssClass="Label_Space"></asp:Label>
                    <asp:Label ID="lbl_callingStatus4" runat="server" >
                        are listed as they respond.
                    </asp:Label>
                </div>    
                    <!--
                    <asp:Label ID="lbl_callingStatus5" runat="server">
                    Available Suppliers are listed below as they respond
                    </asp:Label>
                    -->        
               
                      
                <div id="iconCalling" class="iconCallingSmall">                
                    <img width="110" height="65" src="<%# GetIcon() %>" alt="calling"  class='iconCallingSmallImg' />
                    <span id="iconCallingText" class='iconCallingSmallText'>
                        <!--<asp:Label ID="lbl_calling" runat="server" Text="CALLING..."></asp:Label>-->
                    </span>
                </div>       
            </div>
        
           
    	    
	</div>
