.Label_Space {  margin-right:5px;}

/*---------------------- RESULTS -----------------------*/

#call_results					{ width: 410px; margin: 0; border-top: 1px dotted #DDD; padding-bottom: 0px; padding-left: 0px; padding-right: 5px; padding-top: 0px;  }


#call_results TD				{ vertical-align: top; padding: 10px 0; border-bottom: 1px dotted #DDD; }
#call_results .details			{ width: 100px; font-size: 11px; }
#call_results .details H3.name A{ color: #3b3b3a; font-size: 13px; font-family: "Arial"; }
#call_results .details .image	{ display: block; margin: 5px 0; }
#call_results .details .phone	{ display: block; margin: 5px 0; color: #58912b; font-size: 12px; font-weight: bold; }
#call_results .details .photos	{ display: block; margin: 5px 0; color: #777; font-size: 12px; }

#call_results .status		{ width: 180px; }
#call_results .status UL	{ width: 120px; margin: 15px 0; padding: 0; list-style: none; text-align: left; }
#call_results .status LI	{ width: 90px; height: 18px; padding: 5px 0 0 30px; background: no-repeat left center; color: #858383; font-size: 11px; }
#call_results .status .ok
{
    background-image: url(../../images/icons/icon-ok.gif);
}
#call_results .status .info
{
    background-image: url(../../images/icons/icon-info.gif);
}
#call_results .status .statusContent{position:relative;}
#call_results .status .statusContent .shortDescription	{width: 230px;color: #858383; font-size: 11px;position:absolute;top:20px;color:#000;}
#call_results .status .statusContent .icons{width: 220px;color: #858383; font-size: 11px;position:absolute;top:100px;}
#call_results .status .statusContent .icons .edit
{
    background: url(../../images/icons/icon-edit.gif) no-repeat left center;
    height: 18px;
    padding: 0px 0px 0px 27px;
    position: absolute;
    left: 0px;
}
#call_results .status .statusContent .icons .users
{
    background: url(../../images/icons/icon-users.gif) no-repeat left center;
    height: 18px;
    padding: 0px 0px 0px 27px;
    position: absolute;
    left: 100px;
}

#call_results .call .wrap, #call_results .calling .wrap	{ position: relative; width: 130px; margin-top: 20px; text-align: center; }
#call_results .call .label				{ position: absolute; top: 20px;left:40px;text-align: left; color: #FFF; font-size: 9px; font-weight: bold; font-family: "Tahoma";}
#call_results .call .label2				{ position: absolute; top: 20px;left:40px;text-align: left; color: #000000; font-size: 9px; font-weight: bold; font-family: "Tahoma";}

#call_results .call .phone, #call_results .calling .phone	{ position: absolute; top: 55px; width: 130px; left: 0; text-align: center; color: #3c3b3b; font-size: 13px; font-weight: bold; font-family: "Arial"; }
#call_results .calling .label			{ left: 23px; }

#call_results .extension				{ display: inline; }

/*------------------------------------------------------------*/

#primaryIframe				{ width: 410px; padding: 0 0 0 0; margin: 0 0 0 0px; text-align: center; }
#primaryIframe H2				{ font-size: 15px; color: #2e4a7e; padding: 5px; border-bottom: 2px solid #777; }
#primaryIframe #div_explanation{text-align:center; min-height: 180px; padding: 10px 0 0; }

#primaryIframe #div_explanation .comments1{color:#158cdc;font-size:18px;font-weight:bold;}
#primaryIframe #div_explanation .comments2{color:#5c5c5c;font-size:15px;font-weight:normal;}
#primaryIframe .iconCallingSmall{position:relative;width:110px;height:65px;text-align:left;top:10px;margin: 0 auto;}
#primaryIframe .iconCallingSmall .iconCallingSmallText{position:absolute;left:20px;top:20px;font-size:8pt;}

#primaryIframe .message H2	{ font-size: 18px; color: #158cdc; font-weight: normal; padding: 0; border: 0; }
	