﻿.-SelectContent .-SelectContent
{
    position: relative;
    z-index: 101;
}
.-SelectContent SPAN.selectBox-label
{
    display: inline-block;
    overflow: hidden;
    padding: 5px 5px;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    color: #000;
}
.-SelectContent A.-a_selectBox
{
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #999999 !important;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    outline: medium none;
    padding: 0 33px 0 4px;
    position: relative;
    text-decoration: none;
}
.-SelectContent .selectBox-arrow
{
    background: url("images/selectBox-arrow.png") no-repeat scroll 50% center transparent;
 /*   border-left: 1px solid #BBBBBB;*/
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
    height: 25px;
    display: block;
}
.-SelectContent .-selectBox-dropdown-menu
{
    cursor: default;
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #FFFFFF;

    border-color: #bbb;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow: auto;
    position: absolute;
    z-index: 99999;
    overflow-x: hidden;
}
.-SelectContent .-selectBox-dropdown-menu A
{
    background: none no-repeat scroll 8px center transparent;
    color: black;
    font-size: 12px;
    line-height: 2em;
    overflow: hidden;
    padding: 0 0.3em 0 9px;
    white-space: nowrap;
    text-decoration: none;
    cursor: default;
}
.-SelectContent .-selectBox-dropdown-menu LI:hover
{
    background-color: #E9F1FC;
    color: #333333;
}