﻿body 
{
    font-family: Verdana, Arial, Sans-Serif;
    margin:0 auto;
}

hr 
{
    
   
    height: 0px !important;
    border-bottom-style: none;
  
}

.clear
{
    clear:both;
}

@font-face {
      font-family: "Arial Black";
      src: url("Arial Black.ttf");
 
}
/******************************* parent ********************/

body.parent
{
    background-image:url(images/backList.png);
    height:900px;
    background-repeat: no-repeat; 
    background-position: center top;   
}

body.parent2
{
    background-image:url(images/back.png);
    height:900px;
    background-repeat: no-repeat; 
    background-position: center top;   
}

/*
.slider
{
    background-color:Red;
    width:200px;
    height:200px;
    position:fixed;
    z-index:100000;
    border-color:Black;
    border-width:1px;
    border-style:solid;
}
*/

/*
.main
{
    width:623px;
    height:274px;
    background-color:#FFF000;
    
}
*/

.slider
{  
    
    background-color:#000000; 
    /* background: -moz-linear-gradient(top,  #FFF000,  #f4f4b3);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF000), to(#f4f4b3)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#FFF000', EndColorStr='#f4f4b3', GradientType=0);*/
    position:fixed;
    z-index:100000;
    
    border-color:#dddddd;
    /*border-width:1px;
    border-style:solid;*/
    
    
    -webkit-border-radius:5px 0px 0px 5px;
    -moz-border-radius:5px 0px 0px 5px; 
    border-radius:5px 0px 0px 5px;
     
    box-shadow: 1px 5px 5px #666666;    
     
    top:2000px;   
}



.slider .tab
{
    position:absolute;
    top:0px;
    left:-27px;
    height:122px;
    width:27px;
    display:none;
}

.slider .subMain {

    height: 228px;
    margin-left: 9px;
    width: 614px;
}

.slider .title {    
    font-size: 16px;
    font-weight: 600;
    height: 34px;
    margin: auto;    
    position:relative;
}

.slider .title .text {
    left: 9px;
    position: absolute;
    top: 6px;
    color: #ffffff;
    font-family:Arial Black, Arial, Verdana, Sans-Serif !important;
}

.slider .title .icons {    
    position: absolute;
    right: 15px;
    top: 5px;
    color: #ffffff;
    font-family: Arial Black, Arial, Verdana, Sans-Serif;
}

.slider .title .icons .close
{
    cursor:pointer;
}

.slider .title .icons .question {
    font-size: 12px;
    font-weight: 600;
    padding-right: 2px;
    color: #ffffff;
}


/***********************  iframe *******************/
body.iframe
{
    background-color:white;
    font-family: Verdana, Arial, Sans-Serif;
    font-size:12px;
}

.iframe .left {
    background-image: url("images/separator.png");
    background-position: right 50%;
    background-repeat: no-repeat;
    height: 232px;
    /*margin-left: 20px;*/
    padding-left:20px;
    width: 352px;
    float:left;
}

.iframe .left .title
{
    padding-top:19px;
}

.iframe .left .title .text
{
    font-weight:600;
    float:left;
}


.iframe .left .msgTextArea
{
    padding-top: 25px;
}


.iframe .left .categoryLocation
{
    padding-top: 12px;
}

.iframe .left .categoryLocation .text
{
    float:left;
    color:#999999;
}

.iframe .left .categoryLocation .text .location
{
    padding-left:20px;
}

.iframe .left .categoryLocation .edit
{
    float:right;
    color:#4F66CC;
    padding-right:17px;
}

.iframe .left .numSuppliers
{
    padding-top: 32px;
}

.iframe .left .numSuppliers .text
{
    float:left;
}


.iframe .left .numSuppliers .call {
    float: right;
    margin-top: -7px;
    padding-right: 18px;
}

.iframe .left .call
{
    margin-top: 12px;
}

.iframe .left .call .submit
{
    background-image:url('images/btn.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
   
    width:343px;
    height:30px;
    border:0px;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial Black, Arial, Verdana, Sans-Serif;  
   
}

.iframe .left .ring
{
    background-color:#FFFF99;
    width:100%;
    height:100%;
    border-right: 1px solid #CCCCCC;
}

.iframe .left .ring .wait
{
    
}

.iframe .left .ring .wait .image {
    height: 198px;    
    margin-left: 57px;
    width: 211px;
}

.iframe .left .ring .wait .text {
    font-size: 14px;
    font-weight: bold;
    margin: -14px 0 0 65px;
    width: 214px;
}

.iframe .left .ring .connect .image {
    height: 198px;
    margin: 0 0 0 53px;    
    width: 211px;
}

.iframe .left .ring .connect .text {
    font-size: 14px;
    font-weight: bold;
    margin: -11px auto 0 103px;
    width: 126px;
}

.iframe .left .leftComplete
{
    
}

.iframe .left .leftComplete .content {
    font-size: 15px;
    font-weight: bold;
    padding-top: 16px;
}

.iframe .left .leftComplete .startOver {
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
}

.iframe .left .leftComplete .startOver a.link{
    color:#4E63CF;
    text-decoration:none;
}

.iframe .right
{
    /*width:262px;*/
    height: 232px;
    display: inline-block;
    padding-left:17px;
    
}

.iframe .right .title
{
    padding-top:20px;
    margin-bottom: 11px;
}

.iframe .right .title .text
{
    font-weight:600;    
}

.iframe .right .details {
    color: #999999;
    margin-bottom: 11px;
    margin-top: 11px;
    width: 200px;
}

.iframe .right .hr
{
   color: #FFFFFF;
}


.iframe .right .details .phone
{
    display:inline;
    width:98px;
    float:right;
}

.iframe .right .details .name
{
    float:left;
    width:102px;
}

.iframe .right .details .initiated
{
    color:#000 !important;
    font-weight:600;
}


.iframe .right .details .address {
    float: left;
    padding-top: 3px;
    width:200px;
}


.iframe .right .details .arrow {
    float: left;
    margin-left: -20px;
}


.iframe .messages
{
    margin: 0 auto;    
}

.iframe .messages .finding {
    margin: 0 auto;
    width: 377px;
}

.iframe .messages .finding .title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 44px;
    width: 377px;
}

.iframe .messages .finding .content {
    font-size: 14px;
    margin: 28px auto 0;
    width: 301px;
}


.iframe .messages .finding .anim {
    margin: 40px auto 0;
    width: 220px;
}

.iframe .waterMarkMessage
{
    font-family: verdana,Arial;
    font-size: 12px;    
    width: 334px; 
    overflow-y:auto;  
    resize:none;
    height:59px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    border-width:1px;
    border-style:solid;
    border-color: #CCCCCC;
    color:#999999;
    line-height: 19px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-top: 3px;
    resize: none;
    width: 325px;
    
    
    
    
    
}

.iframe .waterMarkPhone
{
    font-family: verdana,Arial;
    font-size: 12px;    
    width: 97px;    
    height:23px;
    -webkit-border-radius:5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    border-width:1px;
    border-style:solid;
    border-color: #CCCCCC;
    color:#999999;
    text-align: center;
    margin-top: 3px;
    text-align: left;
    padding-left: 2px;
    
}
