﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="yellowBookDemoSlider.aspx.cs" Inherits="yellowBook_yellowBookDemoSlider" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="Style.css" rel="stylesheet" type="text/css" />
    
    
</head>

<body>
    <form id="form1" runat="server">
    <div id="divSlider" class="slider" style="width:200px;">
    fsdfsdsddf
    </div>    

    </form>
</body>

</html>
