/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }
BODY				{ font-size: 12px; color: #000; text-align: left; direction: ltr; background: #FFF; font-family: "Arial"; }
P					{ margin: 0 0 5px 0; line-height: 16px; }

A, OBJECT			{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL, LI				{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.clearfix:after		{ content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix			{ display: inline-block; } 
html[xmlns] .clearfix {	display: block; } 
* html .clearfix	{ height: 1%; }

.divLoader			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=50); opacity: 0.5; background-color: #000; z-index: 999999; }
.divLoader TABLE	{ width: 100%; height: 100%; }
.divLoader TD		{ height: 100%; vertical-align: middle; text-align: center; }

.divLoader2			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=30); opacity: 0.3; background-color: #000; z-index: 999999; }
.divLoader2 TABLE	{ width: 100%; height: 100%; }
.divLoader2 TD		{ height: 100%; vertical-align: middle; text-align: center; }

.divCredit			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=100); opacity: 1; background-color: #787A7B; z-index: 999998; }
.divCredit TABLE	{ width: 100%; height: 100%; }
.divCredit TD		{ height: 100%; vertical-align: middle; text-align: center; }

#main				{ margin: 0 auto; width: 770px; }

.login #main		{ width: 1000px; }

/* ----------------------- HEADERS DEFINITIONS ------------------------ */
H1, H2, H3			{ margin-bottom: 10px; font-weight: normal; }
H1					{ font-size: 30px; }
H2					{ font-size: 20px; }
H3					{ font-size: 16px; font-weight: bold; margin-left:10px;}

/* ----------------------- LINKS DEFINITIONS ------------------------ */
A					{ color: #FF0000; text-decoration: none; }
A:hover				{ text-decoration: underline; }

/* ----------------------- FORMS DEFINITIONS ------------------------ */
.form-text, .form-textarea, .form-select, .WaterMarkText	{ padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; }
.WaterMarkText				{ color: #CCC; font-style: italic; }
.form-submit				{ display: block; border: 0; background: none; text-align: center; cursor: pointer; }
LABEL, .label				{ font-weight: bold; }
.must LABEL					{ background: url("../images/must.gif") no-repeat scroll left 5px; }
.txt_focus					{ padding: 3px; border: 1px solid #F00; font-size: 12px; font-family: "Arial"; color: #555; }
/*                FORMS Error and Validation DEFINITIONS              */
.error-msg					{ color: #F00; font-size: 11px; }
.icon-q						{ vertical-align: middle; }

.login .form-field-wrap, .login .form-field		{ position: relative; text-align: center; }
.login .form-field			{ padding: 0 85px 0 0; }
.login .form-field-wrap		{ margin-bottom: 10px; }
.login .error-msg-wrap		{ position: absolute; right: 0; top: 18px; width: 130px; text-align: left }
.form-fieldSet   {margin-bottom:20px;} 

/* ----------------------- TABLE DEFINITIONS ------------------------ */
.data-table						{ width: 100%; margin: 20px 0; font-size: 12px; border: 0; border-spacing: 0; padding: 0; }
.data-table	CAPTION				{ height: 30px; text-align: center; font-size: 15px; font-weight: bold; color: #000; }
.data-table	CAPTION	.tools		{ float: left; }
.data-table TH, .data-table TD	{ height: 18px; padding: 2px; border-bottom: 2px solid #edf0f4; border-right: 2px solid #edf0f4; text-align: center; vertical-align: middle; }
.data-table TH					{ background: #9a9a9a; color: #FFF; }
.data-table TD					{ color: #3d3d3d; }
.data-table TD.first			{ width: 20px; text-align: center; }
.data-table TD.close .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(../images/arrows.png) no-repeat left top; text-align: center; }
.data-table TD.open .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(../images/arrows.png) no-repeat left -18px; text-align: center; }
.data-table .even TD			{ background: #dbdde1; }
.data-table .odd TD				{ background: #bdbcbc; }

.data-table-details						{ width: 600px; margin: 15px auto; text-align: left; }
.data-table-details .description 		{ float: left; width: 265px; height: 93px; padding: 15px; background: url(../images/bg-description.png) no-repeat; }
.data-table-details .description .label	{ display: block; width: auto; margin-bottom: 10px; }
.data-table-details .description .wrap	{ height: 65px; overflow-y: auto; }
.data-table-details .details 			{ float: right; }
.data-table-details .refund 			{ width: 600px; padding: 10px; border: 1px solid #DDD; margin: 10px 0 10px -10px; background-color: #e3e7f0; }
.data-table-details .win-price, .data-table-details .price, .data-table-details .phone, .data-table-details .status	{ width: 265px; height: 13px; padding: 13px 15px 17px; background: url(../images/bg-feild.png) no-repeat; }
.data-table-details .price, .data-table-details .phone	{ margin-top: -3px; }
.data-table-details .refund H2			{ margin-bottom: 15px; text-align: center; }
.data-table-details .refund .btn		{ display: block; text-align: center; }
.data-table-details .refund .btn INPUT  { width: 104px; height: 44px; padding: 3px 0 25px; border: 0 none; margin: -5px auto 0; background: url("../images/btn-bg1.png") no-repeat 0 0; color: #000; cursor: pointer; font-size: 11px; font-weight: bold; text-align: center; }
.data-table-details .label				{ display: inline-block; width: 170px; font-size: 13px; color: #f51824; }

.pagination						{ text-align: center; }
.pagination LI					{ display: inline; }
.pagination A					{ display: inline-block; height: 14px; padding: 2px 4px; border: 1px solid #F00; margin-right: 5px; background-color: #FFF; text-align: center; text-decoration: none; }
.pagination A.active, .pagination A:hover.active	{ background-color: #F00; color: #FFF; }
.pagination A.disabled,.pagination A:hover.disabled	{ border: 1px solid #CCC; color: #CCC; background-color: #FFF; }
.pagination A:hover				{ border: 1px solid #D00; color: #D00; background-color: #DDD; }

/* ----------------------- POPUP DEFINITIONS ------------------------ */
.modalBackground				{ background:#000; opacity: 0.3; filter: alpha(opacity=30); }
.popModal_del					{ position: relative; background-color: transparent; width: 415px; padding: 0 0px; z-index: 99999; margin:auto;}
.popModal_del .top				{ width: 415px;	height: 20px; background: url(images/bg-popup-wide.png) no-repeat top; }
.popModal_del .content			{ width: 355px;	max-height: 550px; overflow: hidden; padding: 0 30px; margin: 0 !important; background: url(../images/bg-popup-tile.png) repeat-y;	z-index: 0; }
.popModal_del .bottom			{ width: 415px;	height: 35px; background: url(images/bg-popup-wide.png) no-repeat bottom; }
.popModal_del .f2				{ margin-bottom: 15px; }
.popModal_del .btn				{ display: block; width: 104px; height: 44px; padding: 3px 0 28px; margin: 0 auto; background :url("images/btn-bg1.png") no-repeat 0 0; border: 0 none; text-align: center; color: #000000; font-size: 14px; cursor: pointer; }
.popModal_del_hide				{ position: relative; left: -5000px; }
.span_x							{ position: absolute; top: 0; right: 45px; }
.span_A							{ position: absolute; top: 5px; right: 15px; width:30px; height:30px; background: url(images/btn-x.png) no-repeat; cursor: pointer; z-index: 999999; }
.terms							{ font-size: 11px; }
.popModal_del .form-textarea	{ width: 165px; height: 65px; border: 1px solid #CCC; }
.popModal_del .label			{ display: inline-block; width: 120px; color: #f61c12; font-size: 12px; vertical-align: top; }
.popModal_del .error-msg		{ display: block; padding-left: 10px; color: #f61c12; font-size: 11px; }
.popModal_del P					{ margin-bottom: 10px; }
.popModal_del H2				{ text-align: center; margin-bottom: 25px; }


/* ----------------------- form-credit-card DEFINITIONS ------------------------ */
.form-credit-card H3			{ margin: 0 0 10px; text-align: center; font-size: 24px; }
.form-credit-card H3 IMG		{ vertical-align: middle; }

.form-credit-card H4			{ margin: 0 0 15px; text-align: center; font-size: 18px; }
.form-credit-card .amount		{ color: #0d8800; }

.form-credit-card .form-field	{ margin-bottom: 10px; }

.form-credit-card LABEL			{ display: block; margin-bottom: 5px; }
.form-credit-card LABEL	.must	{ color: #F61C12; }

.form-credit-card .form-text	{ width: 250px; }
.form-credit-card .error-msg	{ padding: 0; margin: 5px 0; }
.form-credit-card .error .form-text,
.form-credit-card .error .form-textarea,
.form-credit-card .error .form-select	{ border-color: #F61C12; }
.form-credit-card .error .error-msg		{ display: block; }
























