<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AccessDenied.aspx.cs" 
Inherits="AccessDenied"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
    <style type="text/css" xml:space>
    .Access
    {
        font-size: 30pt;
        text-align:center;
        margin:30px;
        padding:30px;
    }
    
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div class="Access">
        ACCESS DENIED!!!
        
        
        </div>
    
    </div>
    </form>
</body>
</html>
