﻿body 
{
    font-family:Arial;  
}

img{border-width:0px;}

#container{position:relative; width:1024px; height:886px; margin:0 auto; background-image:url(./bedford_images/bg.png); }
#btnTopRight{float:right; width:280px; height:46px; margin-right:35px; margin-top:45px;}
#workArea{position:relative; width:706px; height:1250px; left:22px; top:0px; border:solid 1px #f08716;}
#graphicDesignLogo{position:absolute; top:30px; left:50px; width:100px; height:79px;}
#graphicDesign{font-size:15px; font-weight:bold; margin:0;}
#studio{position:absolute; top:30px; left:155px; width:231px; height:61px;}
#studio P{text-align: left; font-size:15px; margin: 0 0 5px;}
#studioDiklaShaked{font-weight:bold; color:#0068d1;}
#studio #studiaPhone{margin-top: 25px; font-weight: bold; }
#studioDiklaShakedAddress{font-size:12px;}
#dsstudio_com{color:#003399;}
#links{position:absolute; top:121px; left:55px; width:590px;}
.icon{width:27px; padding-bottom:27px;}
.icon_link{width:144px; padding-bottom:20px;text-align:left;}
.label	{ font-weight: bold; }
.icon_link .label { display: inline-block; height: 15px; padding: 7px 0 0 30px; }

.icon_link .survey		{ background: url(images/icons/icon-survyes.gif) no-repeat left center; }
.icon_link .employees	{ background: url(images/icons/icon-employees.gif) no-repeat left center; }
.icon_link .calls		{ background: url(images/icons/icon-calls.gif) no-repeat left center; }
.icon_link .diploma		{ background: url(images/icons/icon-certified.gif) no-repeat left center; }
.icon_link .video		{ background: url(images/icons/icon-video.gif) no-repeat left center; margin-bottom: 15px; }

.icon_link2{width:344px; padding-bottom:20px;text-align:left; white-space:normal;}
.icon_link3{width:544px; padding-bottom:20px;text-align:left;}

a.icon_links:link{font-size:12px; color:Black;}
a.icon_links:visited{font-size:12px; color:Black;}
a.icon_links:hover{font-weight:bold; color:#4b8a42;}
#watchVideo{font-size:12px; font-weight:bold; color:Black; text-decoration:none; margin-top:0px; padding-top:0px;}
#text{position:absolute; top:207px; left:55px; width:557px; height:100px; color:#595959; font-size:12px; text-align:justify;}
#banner{position:absolute; top:280px; left:40px; width:563px; height:212px; background-image:url(./bedford_images/banner.png); }
td{font-size:10pt;vertical-align:top;}

#links TABLE{ width:590px !important;}

.icon_link2 P	{ width: 590px; overflow: hidden;}

.jhg
{
    top:jh;
    left:kjkij;
    position:absolute;
}