﻿.CreateReportSubmit2		{
    width: 104px;
    height: 44px;
    padding: 3px 0 28px 0;
    background: url(Publisher/images/btn-bg1.png) no-repeat;
    border: 0;
    text-align: center;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}