﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Controls/MasterPageNPPre.master" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="index" %>

<%@ MasterType VirtualPath="~/Controls/MasterPageNPPre.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<script type="text/javascript">
    $(document).ready(function () {
        $('#slider1').bxSlider();
    });
    
</script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">


<div id="homemain">
	<div id="wrapho" class="frontp">
	 	<div class="subtext"><p>No Problem's advanced pay-per-call technology </p><p> gives advertisers the chance to get quality</p><p> leads to their business phone and </p><p>
		publishers a higher CPM than any</p><p> other affiliate program.</p>
    <div id="phone"  class="homepagevideo" onclick="javascript:showHide();"></div>
    
     </div>
		<div class="clear"> </div>
		<a name="anchorVideo"></a>
        <div id="video" style="display:none;">
            

			<img src="Formal/images/xclose.png" width="31" height="31" class="right" onclick="javascript:showHide();" style="padding-top:24px;padding-right:10px;padding-bottom:5px" alt="close"/>
            
            <iframe id="iframeVideo" name="iframeVideo" width="950" height="531" src="" frameborder="0" allowfullscreen></iframe>
        </div>
		
		<div id="div_boxhomeadvertiser" class="boxhomeadvertiser">
		
			<h3><a href="adv.aspx">Advertisers</a></h3>
			<div class="bhtext">You're on the job when you get a call from our automated system. We read you the search of a customer in need of your service and then <br /> connect you to the customer. You pay only for <br />the call. Now is that worth it or what?</div>
			<div class="clear"></div>
			<div class="freetrial"><a href="adv-freetrial.aspx"></a></div>
			<div class="more">Or <a href="adv.aspx">Learn More</a></div>
		</div>
		
		<div id="div_boxhomeadpublisher" class="boxhomepublisher">
			<h3><a href="publisher.aspx">Publishers</a></h3>			
			<div class="bhtext">Install our widget on your site and start making money while bringing your users more value. Whether you own a blog or a one-million-visitors-per-day destination site, No Problem's widget is a great fit for you.</div>
			<div class="clear"></div>
			<div class="getwidget"><a href="javascript:void(0);" onclick="javasceipt:showWizard();" ></a></div>
			<div class="moregetwidget">Or <a href="publisher.aspx">Learn More</a></div>
		</div>
	<div class="clear"></div>
	<!--
		<div class="icons">
		</div>
        -->
	
	<div id="Icons_container">
	    
	    <span class="_partners">Partners we have mileage with</span>
	    
	    <div class="_slider">
		    <div id="slider1">          
              <div class="icons1">
                <span style="left:1115px;">Finland</span>
                <span style="left:1308px;">Poland</span>
                <span style="left:1515px;">Israel</span>
                <span style="left:1680px;">Estonia Latvia Lithuani</span>
              </div>
              <div class="icons2">
                <span style="left:2065px;">Brazil</span>
                <span style="left:2272px;">Israel</span>
                <span style="left:2455px;">Russia</span>
                <span style="left:2680px;">Hungary</span>
              </div>
            </div>
        </div>
    </div>

  </div>
	</div> <!-- End wrapho -->





   






</asp:Content>

