<%@ Page Language="C#" AutoEventWireup="true" CodeFile="parentAll.aspx.cs" Inherits="parentAll" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <table width="100%">
        <tr>
            <td width="25%">
            
            </td>
           
            <td width="50%">
                <%/*
                <iframe src="allRegularSupplierList.aspx?SiteId=1&ExpertiseCode=7&ExpertiseLevel=1&RegionCode=300&RegionLevel=2" id="iframeNoProblem" marginheight="0"  marginwidth="0" frameborder="0" scrolling="no" ></iframe>
                    */ %>
            </td>
            
            <td width="25%">
            
            </td>
            
        </tr>
        
    </table>
    </div>
    </form>
</body>
</html>
