﻿/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }/* border: 1px dotted red; */
BODY				{ font-family: Arial; font-size: 14px; color: #333; direction: ltr; text-align: left; background: #FFF; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A:active			{ outline: none; }
:-moz-any-link:focus { outline: none; }
OBJECT				{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear
{
	clear: both;
	
}

.fc-green
{
	color: #50942d;
	
}
.center				{ text-align: center; }

#main					{ margin: 0 auto; width: 982px; padding: 0; border: 0; background: url(images/dynamic-images/prnt-screengif.gif) no-repeat top; height: 960px; }
.advertise_btns			{ float: right; width: 308px; margin-top: 50px; }
.advertise_btns A		{ display: inline-block; float: left; background: url(images/bg-btn1.png); width: 125px; height: 32px; padding: 12px 0 0 8px; margin-left: 6px; text-align: center; color: #14400a; text-decoration: none; font-size: 11px; font-weight: bold; }
/*.advertise_btns A:hover	{ color: #42691F; }*/

.slogan{color: #182e71; font-size: 11pt;font-weight:600;width:100%;text-align:center;}
.container				{ width: 461px; height: 280px; padding: 45px 7px 25px; background: url(images/bg-container.jpg) no-repeat top;align:center; }
#form-request P			{ padding: 5px; background: #dedddd; border: 1px solid #c5c1c1; margin-bottom: 7px; }
#form-request LABEL		{ display: inline-block; float: left; width: 170px; height: 24px; padding: 2px 0 0 0; color: #182e71; text-align: center; font-size: 11px; }
#form-request .form-search-label { font-size: 14px; font-weight: bold; background: url(images/icon-search.gif) no-repeat left center; }
#form-request .form-msg-label { height: 35px; padding-top: 17px; }
#form-request .form-select, #form-request .form-input, #form-request .form-textarea	{ border: 0; width: 279px; } 
#form-request .form-select, #form-request .form-input { height: 22px; padding: 2px 0; }
#form-request .form-textarea { height: 55px; }
#numMmessageChars{color:green;}
.feedback				{ width: 100%; background: url(images/bg-hr.gif) no-repeat top; }
.trigger				{ font-size: 11px; color: #2a437e; padding-top: 12px; }
#form-suppliers			{ border: 1px solid #bab7b7; text-align: center; font-weight: bold; color: #2a437e; }
.explanation			{ position: relative; z-index: 100; }
/*.explanation P			{ position: absolute; width: 475px; margin-top: -5px; text-align: center; font-size: 11px; color: #182e71; line-height: 12px; font-variant: small-caps; z-index: 100; }*/
.feedback A.btn			{ display: block; width: 133px; height: 42px; padding: 8px 0 0 0; margin-top: 5px; text-align: center; color: #FFF; text-decoration: none; font-size: 12px; font-weight: bold; background: url(images/bg-btn.gif) no-repeat top; z-index: 0; }
.feedback A:hover.btn	{ color: #14400a; }
.feedback .status		{ text-align: center; padding: 10px 0 0 0; color: #414040; font-size: 18px; font-weight: bold; background: url(images/bg-hr-green.gif) no-repeat top center; }
#call-results			{ width: 475px; }
#call-results TR.call	{ background: url(images/bg-hr.gif) no-repeat top; }
#call-results TH		{ padding: 5px 0; color: #858383; font-size: 10px; font-variant: small-caps; text-align: center; }
#call-results TH STRONG	{ font-weight: bold; font-size: 11px; }
#call-results TD		{ text-align:left;}


#call-results .details	{ width: 163px; padding: 10px 0; }
#call-results .details .image	{ float: left; margin-right: 10px; }
#call-results .details H3		{ margin-bottom: 5px; }
#call-results .details H3 A		{ color: #1d4cad; text-decoration: none; font-size: 12px; font-variant: small-caps; }
#call-results .details H3 A:hover{ text-decoration: underline; }
#call-results .details .address	{ display: block; color: #4c4b4b; font-size: 11px;}
#call-results .details .phone	{ display: block; color: #58912b; font-size: 12px; font-weight: bold; }
#call-results .details .photos	{ display: block; color: #757474; font-size: 12px; }


#call-results .icons		{ width: 127px; }
#call-results .icons SPAN 	{ display: block; color: #858383; font-size: 11px; padding: 5px 0 1px 27px; height: 18px; background-repeat: no-repeat; background-position: left center; }
#call-results .icon-ok		{ background-image: url(images/icon-ok.gif); }
#call-results .icon-edit	{ background-image: url(images/icon-edit.gif); }
#call-results .icon-users	{ background-image: url(images/icon-users.gif); }
#call-results .icon-info	{ background-image: url(images/icon-info.gif);}

#call-results .call			{ text-align: center; color: #3c3b3b; font-weight: bold; font-size: 11px; }
#call-results .call	.phone	{ display: block; margin-top: 0px; }

td.callDetail{color:#858383;font-size:8pt;vertical-align:bottom;padding-left:4px;}
td.callDetail2{color:#858383;font-size:10pt;vertical-align:bottom;padding-left:4px;}
td.callValue{color:#000000;font-size:10pt;vertical-align:bottom;padding-left:4px;}
td.callCaption{color:#000000;font-size:8pt;vertical-align:bottom;padding-left:4px;}

td.phone{font-size:8pt;}
A.name{ color: #1d4cad; text-decoration: none; font-size: 12px; font-weight:bold;vertical-align:bottom;padding-left:4px; }
.iconCallNow{width:110px;height:65px;text-align:center;background-image:url(images/icons/icon-call-now_clear.gif);background-repeat:no-repeat;}
.iconCallNowText{position:relative;top:18px;left:32px;font-family:Arial;color:white;font-size:7pt;text-align:left;}
.iconCallingSmall{position:relative;width:68px;height:40px;}
.iconCallingSmallImg{position:relative;top:0px;left:0px;z-index:0;}
.iconCallingSmallText{position:relative;top:-30px;left:16px;z-index:1;font-family:Arial;color:white;font-size:6pt;text-align:left;}

.iconCalling{position:relative;width:110px;height:65px;}
.iconCallingImg{position:relative;top:0px;left:0px;z-index:0;}
.iconCallingText{position:relative;top:-44px;left:26px;z-index:1;font-family:Arial;color:white;font-size:7pt;text-align:left;}

.fdsthrsfg
{
    font-size: 30pt;
    text-align:center;
    margin:30px;
    padding:30px;
}