﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TestRegister.aspx.cs" Inherits="TestRegister" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="CallService.js"></script>
    <script type="text/javascript" language="javascript">
        function NewLogin(siteId, email, phone) {
            var _params = "SiteNameId=" + siteId + "&email=" + email + "&phone=" + phone;
            var _url = "<%# GetPath %>";
            CallWebService(_params, _url,
            function (arg) {
                
                    parent._NewLogin(arg);
                
            },
            function () {
                parent._NewLogin("false");
            });
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
