﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="portal.aspx.cs" Inherits="general_portal" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    
    <script>

    var arrNumber=new Array();
    arrNumber[0]=new Array(2);
    arrNumber[0][0]="0";    
    arrNumber[0][1]="z";
    
    arrNumber[1]=new Array(2);
    arrNumber[1][0]="1";
    arrNumber[1][1]="e";
    
    arrNumber[2]=new Array(2);
    arrNumber[2][0]="2";
    arrNumber[2][1]="k";
    
    arrNumber[3]=new Array(2);
    arrNumber[3][0]="3";
    arrNumber[3][1]="b";
    
    arrNumber[4]=new Array(2);
    arrNumber[4][0]="4";
    arrNumber[4][1]="r";
    
    arrNumber[5]=new Array(2);
    arrNumber[5][0]="5";
    arrNumber[5][1]="w";
    
    arrNumber[6]=new Array(2);
    arrNumber[6][0]="6";
    arrNumber[6][1]="s";
    
    arrNumber[7]=new Array(2);
    arrNumber[7][0]="7";
    arrNumber[7][1]="i";
    
    arrNumber[8]=new Array(2);
    arrNumber[8][0]="8";
    arrNumber[8][1]="p";
    
    arrNumber[9]=new Array(2);
    arrNumber[9][0]="9";
    arrNumber[9][1]="f";
    
    
    function convertToChar(phone)
    {
        var strTemp="";
        var ifOk=false;
        for(i=0;i<phone.length;i++)
        {
            charPhone=phone.charAt(i);
            ifOk=false;
            
            for(y=0;y<arrNumber.length;y++)
            {
                
                if(charPhone==arrNumber[y][0])
                {
                    strTemp+=arrNumber[y][1];
                    ifOk=true;
                    break;
                }             
                
            }
            
            if(ifOk)
            {
            }
            else
                strTemp+="n";
        }
        
        //alert(strTemp);
        return strTemp;
    }
    
    function openWin(SiteId,SiteLangId,AdId,AdName,AdP1,AdP2,title)
    {
        var path='noPpc.aspx?SiteId=' + SiteId + 
        '&SiteLangId=' + SiteLangId +
        '&AdId=' + AdId + '&AdName=' + AdName  + 
        '&AdP1=' + AdP1 +
        '&AdP2=' + AdP2 +
        '&title=' + title;
        
        //alert(path); 
        //myWin=window.open(path,'WinPopUpNoProblem','width=316px,height=59px');
        //window.showModalDialog(path,'','dialogWidth:318px; dialogHeight:78px;center:yes;status=no;');
        window.open(path,'myWin','height=160,width=400,status=yes,toolbar=no,menubar=no,location=no, resize=no');
        
        
        /*
        Create the window.open function. The following code opens a window for your readers and eliminates the address bar:
window.open("myHTMLFile.htm",null,"height=200,width=400,status=yes,toolbar=no,menubar=no,location=no");
The "myHTMLFile.htm" parameter is the file that loads into the window. You can also control the height and width of the window, to make it stand out more for the user. The "location=no" parameter is what hides the address bar from the user. Status, menubar and toolbar are also optional parts of the window that you can control.

Read more: How to Remove Address Bar in Firefox Using Javascript | eHow.com http://www.ehow.com/how_5943105_remove-bar-firefox-using-javascript.html#ixzz1FMJQcHlP

        
        
        */
       
   }
    
    </script>
</head>
<body >
<div class="click2call">
    <form id="form1" runat="server">
    <div>
        <img src="images/images.jpg"  onclick="openWin('<%=SiteId%>','<%=SiteLangId%>','gdgfgfgfdg','shai',convertToChar('<%#AdvertiserPhoneNumber1%>'),convertToChar('<%#AdvertiserPhoneNumber2%>'),'Call Me');" />
    </div>
    </form>
    </div>
</body>
</html>
