﻿/*---------------------- GENERAL CALL TOOLTIP -----------------------*/
.call-tooltip-general		{ position: absolute; top: 0px; left: 0px; width: 300px; height:59px; padding: 8px; border: 1px solid #F00; background: url(images/tooltip/gradient-white.png) repeat-x top #F00; text-align: center; font-size: 12px; line-height: 14px; color: #FFF;
/*CSS3 start*/
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px #888;
box-shadow: 0 0 5px #888;
/*CSS3 end*/ }
.call-tooltip-general P				{ margin-bottom: 5px; }
.call-tooltip-general .form-field	{ width: 200px; margin: 0 auto; }
.call-tooltip-general .form-text	{ float: left; width: 122px; height: 15px; padding: 2px; border: 0 none; margin-right: 5px; background:url(images/bg-tooltip-input.png) no-repeat; }
.call-tooltip-general .form-submit	{ float: left; width: 64px; height: 19px; padding: 0 0 4px; border: 0 none; background: #FFF no-repeat; cursor: pointer; font-weight: bold; color: #000; font-size: 12px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.call-tooltip-general .call			{  }
.call-tooltip-general .response		{ display: none; }
.call-tooltip-general .response P	{ font-size: 16px; line-height: 17px; margin: 3px 0; }	
