﻿<ion-view>
    <div id="ClipcallVideo" style="width: 97%; height: auto; margin-left: 7px;" auto-play-video="true"
         controls="controls" preload="metadata">Loading the player...</div>
</ion-view>
