﻿<ion-view>
    <ion-header-bar>
        <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto" />
    </ion-header-bar>   
    <ion-content class="div-container">
        <div class="row">
            <div class="col col-80 col-offset-10 " style="margin-top:50px;">

                <h3 style="text-align: center" class="proxima-text">
                    This lead seems to have been taken by another professional in your area.
                </h3>

                <h3 style="text-align: center" class="proxima-text">
                    <br />Better luck next time!
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col col-80 col-offset-10 customer-button-wrapper">
                <button class="button btn-green btn-gettheapp" ng-click="getTheApp();">
                    GET THE APP
                </button>

            </div>
        </div>
    </ion-content>
</ion-view>