﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="swfobject.aspx.cs" Inherits="Tests_try_FLASH_swfobject" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    
    <script type="text/javascript">
        swfobject.embedSWF("http://www.psykopaint.com/preloader.swf", "myContent", "300", "120", "9.0.0");
    </script>
</head>
<body>
    <form id="form1" runat="server">
   <div id="myContent">
      <p>Alternative content</p>
    </div>
    </form>
</body>
</html>
