﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="addTime.aspx.cs" Inherits="deskApp_addTime" MasterPageFile="~/deskApp/MasterPageDeskUp.master" %>
<asp:Content  runat="server" ContentPlaceHolderID="head">
    <link rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="//www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
   <div class="pageAddTime">
       <div class="innerMyTime">
            <div class="mainTitle">Add time</div>

          
       </div>
  </div>
</asp:Content>