﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="changeMyNumber.aspx.cs" Inherits="deskApp_changeMyNumber"  MasterPageFile="~/deskApp/MasterPageDeskUp.master"%>
<asp:Content  runat="server" ContentPlaceHolderID="head">

</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    change my number
</asp:Content>