﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="form.aspx.cs" Inherits="deskApp_form"  MasterPageFile="~/deskApp/MasterPageDeskUp.master" ClientIDMode="Static"%>
<asp:Content  runat="server" ContentPlaceHolderID="head">
    
    <script type="text/javascript">       

        function IframeRezise(IframeWidth, IframeHeigth, src) {
            //alert("IframeRezise");
            //alert(this._iframe);    

            var _iframe = document.getElementById("searchIframe");

            if (_iframe.style.setAttribute) // explorer
            {
                _iframe.style.setAttribute('width', IframeWidth + "px");
                _iframe.style.setAttribute('height', IframeHeigth + "px");
            }
            else {
                _iframe.setAttribute('style', 'width:' + IframeWidth + "px;" + 'height:' + IframeHeigth + "px");
            }

            if (src)
                this._iframe.src = src;

            //alert("this.divSliderTopPos:" + this.divSliderTopPos);


        }


        var GetMessage = function (e) {
            alert("werererr");
            alert(e.origin);
            var data = eval('(' + e.data + ')');
            alert("baaaaa" + data.selector + " " + data.heigth);


            if (data.selector == "Resize3") {
                alert("Resize3");

                // event.data is "hi there yourself!  the secret response is: rheeeeet!"

                if (data.src)
                    IframeRezise(data.IframeWidth, data.IframeHeigth, data.src);
                else
                    IframeRezise(data.IframeWidth, data.IframeHeigth);

                ////this.__div.style.height = data.heigth + 'px';

                if (e.preventDefault)
                    e.preventDefault();
                // otherwise set the returnValue property of the original event to false (IE)
                e.returnValue = false;
            }

            if (data.selector == "ResizeLight") {
                document.getElementById("_iframe").style.height = data.heigth + "px";
            }
        }


        if (window.addEventListener) {
            window.addEventListener("message",
                function (event) {
                    window.GetMessage(event);
                }
            , false);
        }
        else if (window.attachEvent) {
            window.attachEvent("onmessage",
                function (event) {
                    window.GetMessage(event);
                }
            );
        }

    </script>
</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
        <iframe  id="searchIframe" name="searchIframe" runat="server"   frameborder="0" scrolling="no"></iframe>
</asp:Content>