﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="main.aspx.cs" Inherits="deskApp_main"  MasterPageFile="~/deskApp/MasterPageDeskUp.master"%>
<asp:Content  runat="server" ContentPlaceHolderID="head">

</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    main
</asp:Content>