﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="matchProviders2.aspx.cs" Inherits="deskApp_matchProviders2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Geocoding service</title>
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        #panel {
            position: absolute;
            top: 5px;
            left: 50%;
            margin-left: -180px;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
        }
    </style>
    <!--
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
        -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en&libraries=places"></script>
    <script>
        var geocoder;
        var map;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 8,
                center: latlng
            }
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        }


        function initializeMap() {

            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({ 'address': '12201' }, function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    var latLng = results[0].geometry.location;
                    myLatlng = new google.maps.LatLng(latLng.lat(), latLng.lng());

                    map = new google.maps.Map(document.getElementById('map-canvas'), {
                        zoom: 11,
                        center: new google.maps.LatLng(latLng.lat(), latLng.lng()),
                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                        scrollwheel: false,
                        mapTypeControl: false,
                        streetViewControl: false

                    });

                } else {
                    //alert("Geocode failed. Reason: " + status);                        
                }
            });


        }


        function codeAddress() {
            var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        google.maps.event.addDomListener(window, 'load', initializeMap);
        //window.onload = initializeMap;
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div id="map-canvas" ></div>
    </div>
    </form>
</body>
</html>
