﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="myInfo.aspx.cs" Inherits="deskApp_myInfo" MasterPageFile="~/deskApp/MasterPageDeskUp.master" ClientIDMode="Static" %>
<asp:Content  runat="server" ContentPlaceHolderID="head">    

    <style>
        
    </style>
</asp:Content>
<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
   <div class="myTime">
    <div class="mainTitle">My info</div>     
    </div>
</asp:Content>