﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="recordCall.aspx.cs" Inherits="deskApp_recordCall"  MasterPageFile="~/deskApp/MasterPageDeskUp.master"%>
<asp:Content  runat="server" ContentPlaceHolderID="head">

</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    record call
</asp:Content>