﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="searchProfession.aspx.cs" Inherits="deskApp_searchProfession" MasterPageFile="~/deskApp/MasterPageDeskUp.master" %>
<asp:Content  runat="server" ContentPlaceHolderID="head">

</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    service pro
</asp:Content>
