﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="servicePro.aspx.cs" Inherits="deskApp_servicePro" MasterPageFile="~/deskApp/MasterPageDeskUp.master" %>
<asp:Content  runat="server" ContentPlaceHolderID="head">
    <link href="<%#ROOT%>Formal/jquery-ui-1.8.16.custom.css" type="text/css" rel="Stylesheet" />

    <script type="text/javascript" src="<%#ROOT%>scripts/jquery-ui-1.8.17.custom.autocomplete.min.js"></script>
    <script src="deskApp.js"></script>
    <script>
        var ROOT = "<%#ROOT%>";
    </script>
</asp:Content>

<asp:Content  runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
    service pro
            <asp:TextBox ID="txt_Professional" runat="server"   CssClass="textActive -Heading" place_holder="What type of pro do you need?" holderclass="place-holder"  onkeydown = "return (event.keyCode!=13);"></asp:TextBox>

</asp:Content>

