﻿body {
}
.vshidden
{
    visibility:hidden;
}
.vsvisible
{
    visibility:visible;
}
/* Text box validation*/
input.textValid, textarea.textValid
{
    color:#408eb4 !important;
    font-weight: 700;
}
input.textError, textarea.textError
{
   
   color: #F69100 ;
    
    border-style: solid !important;
    border-color: #F69100 !important;
    border-width: 3px !important;
    margin: -3px !important;
    
}
.inputError {
    background-image: url("images/eorange-error-smiley.png");
    background-repeat: no-repeat;
    display: block;
    height: 29px;
    left: 566px;
    position: absolute;
    top: 9px;
    width: 29px;
}
.inputValid
{
    background-image: url("images/blue-smiley.png");
    background-repeat: no-repeat;
    display: block;
    height: 29px;
    left: 847px;
    position: absolute;
    top: 9px;
    width: 29px;
}
.inputComment {
    background-color: #F69100;
    border: 0 solid #666666;
    border-radius: 3px 3px 3px 3px;
    -webkit-border-radius:  3px 3px 3px 3px;
    -moz-border-radius:  3px 3px 3px 3px;
    box-shadow: 1px 1px 2px #888888;
    color: #FFFFFF;
    display: block;
    font-size: 15px !important;
    font-weight: 700;
    left: 48px;
   
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    top: -18px;
    width: auto;
}
.inputComment SPAN
{
    font-size: 15px !important;
}
/*   REGISTER PAGE   */
.Register .div_lines span
{
    display:block;
}
.Register .div_phone
{
    position: relative;
}


/** Cover page **/
div.CoverDiv
{ 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: none; 
    filter: alpha(opacity=50); 
    opacity: 0.5; 
    background-color: #000; 
    z-index: 999999; 
}
div.LoaderCenter
{
	background-color:Black;
	position: fixed;
 text-align:center;
	 z-index: 1000000;
	width: 300px;
	display: none;
	padding-top:30px;
	padding-bottom:30px;
	 border-radius: 7px 7px 7px 7px;

    top: 50%;
    left: 50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -150px; /*set to a negative number 1/2 of your width*/
}
div.LoaderCenter span
{
    display: block;
}
/*******/
.inputParent
{
    position:relative;
}
