﻿body {
    margin:0px;
    font-family:proxima-nova;
    font-size:17px;
    line-height: 19px;
}

a{
    color:#1aa5e2;
    text-decoration:none;
}
.clear
{
    clear:both;
}

.mainWrapper
{
    width: 100%;
}


.mainWrapperInner
{
    width: 446px;    
}

.mainTitle{
    font-size: 19px;
    color:#1AA5E2;
}

.btn
{
    background-color: #000;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    height: 45px;    
    position: relative;
    width: 186px;
}

.txt_input
{
    height: 62px;
    border: 1px solid #e0e1e4;
}

.place-holder
{
    color: #9a9b9f;
    font-family: proxima-nova;
    font-size: 18px;
    padding-left: 10px;
}

.logo {
   background-image: url("../consumer2/images/sprite_consumer.png");
    background-position: -2px -2px;
    background-repeat: no-repeat;
    bottom: -5px;
    left:145px;
    display: inline-block;
    height: 45px;
    position: absolute;
    width: 165px;
    z-index: 2;
}

.logo2
{
    background-image:url('images/sprites/DeskApp_icons.png');
    background-position: -124px -1483px;
    height: 40px;
    width: 137px;    
}

.logo:hover {
    background-position: -2px -50px;
}

.shadow {
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: 0 -2078px;
    height: 8px;
    width: 339px;
}

.radar
{
    background-image: url("images/NP.gif");
    height: 172px;
    left: 126px;
    position: absolute;
    top: 75px;
    width: 172px;
    z-index: 2;
}

.inputComment {
    background: linear-gradient(to bottom, #ffb050 0%, #ff8d01 80%) repeat scroll 0 0 transparent;
    border: 0 solid #666666;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888888;
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 2px 6px;
    position: absolute;
    text-align: left;
    top: -37px;
    transition: all 0.3s ease-in 0s;
    width: auto;
}

.inputComment .inputCommentArrow {
    border-color: #f69100 transparent transparent;
    border-style: solid;
    border-width: 9px;
    bottom: -18px;
    height: 0;
    left: 16px;
    position: absolute;
    width: 0;
}

/*****************************  font-face awsome ********************/
.fa-circle
{
    color:#d6d6d6;
}


/*************************** menu ******************************/

.menu
{
    background-color: #1aa5e2;
    height: 51px;
    position: relative;
    width: 100%;
}

.menu .menuItem
{
    background-color: #1aa5e2;
    box-sizing: border-box;
    color: white;
    float: left;
    font-size: 16px;
    height: 51px;
    padding: 0 4px;   
    
}

.menu .menuItem .menu_containerLink
{
    border-right: 1px solid white;
    height: 39px;
    margin-top: 6px;
    padding-right: 6px;   
}

.menu .menuItem .menu_containerLink_white {
    border-right: 1px solid white;
}

.menu .menuItem .menu_containerLink_blue {
    border-right: 1px solid #1aa5e2;
}

.menu .menuItem .menu_containerLink .menu_settings_gender {
    background-image:url('images/sprites/DeskApp_icons.png');
    background-position: -241px -1223px;
    height: 42px;
    width: 42px;
    margin-top: 0px;
    cursor:pointer;
}

.menu .menuItem a{
    color:white;
    text-decoration:none;
    font-size:13px;
    line-height: 41px;
}

.menu .menuItem a.active
{
    color:#1AA5E2;
}

.menu .menuItemActive {
    background-color:white;
    color:#1AA5E2;
}

.menu .menu_setting .settingsIcon
{
    font-size:34px;
    margin-top:-6px;
}

.menu .menu_dynamicImage
{
    /*width:102px;*/
    position:relative;
    float: right;
}

.menu .menu_dynamicImage .container
{
    position:absolute;
    top: 3px;
    right:7px;
    background-image:url('images/sprites/DeskApp_icons.png');
    background-position: -413px -2078px;
    height: 84px;
    width: 76px;
    cursor:pointer;
}

.menu .menu_dynamicImage .container #progress {

    background-color:transparent;
}

.menu .menu_dynamicImage .container #progress .timerTextDigit
{
    float: left;
    font-size: 12px;
    margin-left: -10px;
}

.menu .menu_dynamicImage .container #progress .timerTextMinute
{    
    display: inline-block;
    font-size: 6px;
    position: relative;
    top: -6px;
}

.menu .menu_dynamicImage .container #progress .timerTextFree
{    
    font-size: 11px;
    position: relative;
    top: -9px;
}

.menu .menu_dynamicImage .container #progress .sui-progressbar-text
{
    color:white;
    padding-top: 5px;
}


 .menu .menu_dynamicImage .container .addTime
 {
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: 0 0;
    cursor: pointer;
    height: 13px;
    left: 10px;
    position: absolute;
    top: 60px;
    width: 13px;
 }

 .menu .menu_dynamicImage .container .addTime:hover
 {
    background-position: -13px 0;
 }


.menu .menu_dynamicImageRibbon {
  
    right: -2px;
    position: absolute;
    top: 0;    
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: -130px 0;
    height: 71px;
    width: 77px;
}

.menu .menu_dynamicImageRibbon .menu_dynamicImageRibbonText
{
    color: black;
    font-size: 12px;
    height: 38px;
    line-height: 16px;
    margin: 7px auto;
    width: 68px;    
}

.menu .menu_dynamicImageRibbon .menu_dynamicImageRibbonText .menu_dynamicImageRibbonText1
{

}

.menu .menu_dynamicImageRibbon .menu_dynamicImageRibbonText .menu_dynamicImageRibbonText2
{

}

.menu .menu_dynamicImageRibbon2 {
  
    right: -2px;
    position: absolute;
    top: 0;    
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: -207px 0;
    height: 71px;
    width: 77px;
}

.menu .menu_dynamicImageRibbon2 .menu_dynamicImageRibbonText {
    color: #ffe2ef;
    font-size: 21px;
    height: 38px;
    line-height: 21px;
    margin: 11px auto;
    width: 48px;
}


.menu .menu_callFree
{
    height:100px;
    width:100px;
    position:absolute;
    z-index:1;
    background-color:red;
    right:0px;
}

.menu .menu_Timer
{
    height:100px;
    width:100px;
    position:absolute;
    z-index:1;
    background-color:green;
    right:0px;
}




.menuSub
{
    position:absolute;
    z-index:10;
    background-color:#CCCDD1;
    color:white;
    font-size:16px;
    width:262px;
    display:none;
}

.menuSub .menuSubItem{
    padding: 4px 12px;
}

.menuSub .menuSubItemStripe
{
    background-color: white;
    height: 1px;
    margin-left: 6px;
    width: 80%;
}

.menuSub .menuSubItem A{
    color:white;
    text-decoration:none;
    font-size:17px;
}

.menuSub .menuSubItem A:hover {
    color:black;
}

.menu2
{
    margin-top:17px;
    height: 20px;
    margin-bottom:13px;
    position: relative;
    z-index: 1;
    width: 353px;
}

.menu2 .menuItem2
{
    float:left;
    background-color:#ccc;
    display:none;
    margin-right: 2px;
    position:relative;
    height:22px;
}

.menu2 .menuItem2 .menuArrow {
    /*border-color: transparent transparent transparent #c7c6cb;*/
    background-image: url("images/sprites/arrows_sprite.png");
    background-position: -28px 0;
    bottom: 1px;
    height: 22px;
    position: absolute;
    right: -10px;
    width: 11px;
}

.menu2 .menuItem2 .menuArrowAllready
{
    background-position: 0 0;
    bottom: 0;
}

.menu2 .menuItem2 .menuArrowCurrent
{
    background-position: -14px 0;
    bottom: 0;
}

/*
.menu2 .menuItem2  .menuArrow_1
{
    border-color: transparent transparent transparent red;
}

.menu2 .menuItem2  .menuArrow_2
{
    border-color: transparent transparent transparent green;
}

.menu2 .menuItem2  .menuArrow_3
{
    border-color: transparent transparent transparent #E0E1E2;
}

.menu2 .menuItem2  .menuArrow_4
{
    border-color: transparent transparent transparent blue;
}

.menu2 .menuItem2  .menuArrow_5
{
    border-color: transparent transparent transparent yellow;
}
*/

.menu2 .menuItem2_1 {
    z-index:6;
    /*background-color:#DEDFE1;*/
    background-color:red;
}

.menu2 .menuItem2_2 {
    z-index:5;
    background-color:green;
}

.menu2 .menuItem2_3 {
    z-index:4;
    background-color:#E0E1E2;    
}

.menu2 .menuItem2_4 {
    z-index:3;
    background-color:blue;    
}

.menu2 .menuItem2_5 {
    z-index:2;
    background-color:yellow;  
}

.menu2 .menuItem2_6 {
    z-index:1;
}

.menu2 .menuItem2 .menu2_item_text
{
    background: none repeat scroll 0 0 white;
    border-bottom: 1px solid #c6c8ca;
    border-top: 1px solid #c7c8cb;
    box-sizing: border-box;
    font-size: 13px;
    height: 22px;
    line-height: 14px;
    padding-left: 12px;
    padding-top: 4px;
    padding-right: 4px;
}

.menu2 .menuItem2 .menu2_item_text a{
    color: white;
    text-decoration:none;
}

.menu2 .menuItem2 .menu2_item_text .menu2_item_text_paymentLogo {
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: -212px -1223px;
    display: inline-block;
    float: left;
    height: 18px;
    margin-right: 3px;
    width: 14px;
    margin-top: -2px;
}

.menu2 .menuItem2 .menu2_item_text .menu2_item_text_paymentLogoCurrent {
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: -226px -1223px;
    display: inline-block;
    float: left;
    height: 18px;
    margin-right: 3px;
    width: 15px; 
    margin-top: -2px;  
}

.menu2 .menuItem2 .menu2_item_text_already
{
    background:#6D6F72;
    color:white;
} 

.menu2 .menuItem2 .menu2_item_text_already A
{
    color:white;
}

.menu2 .menuItem2 .menu2_item_text_current {
    font-weight:600;
    background:#E96512;
    color:white;
}

.menu2 .menuItem2 .menu2_item_text_current A {
    font-weight:600;
}

/************************ map ***********************/
#map_canvas {
            height: 100%;
            width: 100%;
        }       

.containerMapDiv {
    height: 180px;  
    z-index: 0;
    position:relative;
    text-align: center;
    
}

.mapBottomTranparent {
    bottom: 0;
    height: 80px;
    position: absolute;
    width: 100%;
    z-index: 1;
    /*
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', 
        endColorstr='#00ffffff', GradientType=0); 
        */
    background-image: -webkit-gradient(linear, center bottom, center top, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /*exploerer 10+*/
}


/************************** matchProviders ***********************/
.matchProviders
{
    line-height: 19px;
}

.matchProviders .matchProvidersContent
{
    padding-left: 43px;
    margin-top: 58px;
}


.matchProviders .matchProvidersContent .matchProvidersContentText
{
    display:inline-block;
}

.matchProviders .matchProvidersContent .matchProvidersContentText .matchProvidersContentText1 
{
    padding-top:10px;
}

.matchProviders .matchProvidersContent .matchProvidersContentText .matchProvidersContentText2 
{
    padding-top: 20px;
}

.matchProviders .matchProvidersContent .matchProvidersContentText .matchProvidersContentText3
{
    color: #AD6277;
    padding-top:127px;
    font-size:13px;
}

.matchProviders .matchProvidersContent .matchProvidersContentText .matchProvidersContentText2 .Closing
{
    font-size: 13px;
}

.matchProviders .matchProvidersContent2
{
    color: red;
}

.foundServiceProvider
{
    margin-top: 85px;
    padding-left: 43px;
}


.foundServiceProvider .foundServiceProviderText
{
    display:inline-block;
    float:left;
}


.foundServiceProvider .foundServiceProviderText .foundServiceProviderText1
{
    padding-top:10px;
}


.foundServiceProvider .foundServiceProviderText .foundServiceProviderText1 .numberMatches
{
    color:#1aa5e2;
}

.foundServiceProvider .foundServiceProviderText .foundServiceProviderText3
{
    color: #AD6277;
    font-size: 13px;
    padding-top: 135px;
}

.foundServiceProvider .foundServiceProviderImg{
    margin-top: -33px;
}


.modalWrapper {
    background-color: #000000;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483646;
}

.CallInSession1
{
    background-color: #ffffff;
    display: block;
    margin: 67px auto 0;
    padding-bottom: 25px;
    padding-left: 32px;
    padding-top: 36px;
    position: relative;
    width: 400px;
    z-index:2147483646;
    border-radius: 14px;
}

.CallInSession1 .close
{
    background-image:url('images/x.png');
    background-size:100%;
    width:30px;
    height:30px;
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
    
}

.CallInSession1 .mainTitle
{
    line-height: 26px;
}


.CallInSession1 .compare
{
    margin-top:16px;
}


.CallInSession1 .containerBtn
{
    margin-top: 9px;
}

.CallInSession1 .containerBtn .btn{
    width:186px;
    height:45px;
    background-color:#000;
    float: left;
    position:relative;
}

.CallInSession1 .containerBtn .btn .btnText
{
    position:absolute;
    top:14px;
    left:10px;
}

.CallInSession1 .containerBtn .btn .btnText .Continue {
    float:left;
}

.CallInSession1 .containerBtn .btn .btnText .container
{
    display: inline-block;
    padding-left: 23px;
    margin-top: -10px;
}


.CallInSession1 .containerBtn .btn .btnText .sui-progressbar-text
{
    color:#fff;
}

.CallInSession1 .containerBtn .noThanks
{
    display: inline-block;
    margin-left:19px;
    margin-top:13px;
}

.CallInSession1 .containerBtn .noThanks A{
    text-decoration:none;
    font-size: 14px;
    color:#1aa5e2;
}

.ProviderCalling1
{

}

.ProviderCalling1 .ProviderCalling1Top
{
    float:left;    
    padding-left: 45px;
    padding-top: 4px;
    position:relative;
    width: 100%;
}

.ProviderCalling1 .ProviderCalling1Top .subTitle
 {
    margin-top: 11px;
    font-size: 17px;

 }

.ProviderCalling1 .ProviderCalling1Top .recordImage
{
    display:inline-block;
    position:absolute;
    left: 398px;
    top: 32px;
    width:27px;
    height:27px;
    background-image:url('images/record1.png');
    background-repeat:no-repeat;    
    background-size: 100%;
}

.ProviderCalling1 .ProviderCalling1Top .recordingImage
{
    display:inline-block;
    position:absolute;
    left: 398px;
    top: 32px;
    width:30px;
    height:30px;
    background-image:url('images/record2.png');
    background-repeat:no-repeat;    
    background-size: 100%;
}

 .ProviderCalling1   .ProviderCalling1Middle
 {
     display:table;
     width:100%;
     margin-top: 11px;
     position: relative;
 }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleLeft
  {
     display: table-cell;
     width:57px;
     vertical-align: top;
  }


  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleLeft .containerProviderIndex
  {
      
      background-image:url('');
      background-color:#f2fafc;
      background-position: -49px 0;
      height: 149px;
      width: 81px;
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleLeft .providerIndex
  {
      height: 149px;
      width: 50px;      
      background:#DEDEDE;      
      border-left: 1px solid #8F9092;
      border-right:1px solid #8F9092;
      border-top:1px solid #8F9092;
      position:relative;        
  }

    .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleLeft .providerIndex0 {
        /*background-image:url('images/entrance/arrow_call.png');*/
    }
  
  .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleLeft .providerIndex2 {
      border-bottom:1px solid #8F9092;
  }

   .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleLeft .providerIndex .providerIndexPhone
   {
       background-image: url("images/sprites/DeskApp_icons.png");
       background-position: 0 -2004px;
       height: 74px;
       left: 1px;
       position: absolute;
       top: 37px;
       width: 47px;
   }

    .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleLeft .providerIndex .providerIndexPhone .providerIndexPhoneText{
       margin: 27px auto 0;
       text-align: center;
       color: white;
    }
   

  .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleLeft .providerIndexCurrent
   {
      background:blue;
   }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight
  {
      display: table-cell;
      background-color:#f2fafc; 
      /*     
      padding-left: 32px;
      padding-right: 32px;
      */
      padding-bottom: 10px;
  }

  .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight1
  {
      display:block;
  }

  .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .conatinerImage
  {
      padding-top:15px;
      padding-left: 16px;
      padding-bottom: 16px;      
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerName
  {
      margin-top: 18px;
      margin-bottom: 20px;
      padding-left: 16px;
      padding-right: 32px;
      position:relative;
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerName .providerNameInner 
  {
      width:301px;
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerName .providerNameInner .providerItemText
  {
      color:#1AA5E2;
      font-size:15px;
      text-transform: uppercase;
  }

  .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerName .providerNameInner .providerNameYelpContainerLogo
  {
      left: 8px;   
      position: relative;
      top: 3px;
      display:none;
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerName .recordImage
  {
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: -143px -2004px;
      height: 38px;
      width: 38px;
      background-repeat: no-repeat;      
      display: inline-block;      
      left: 316px;
      position: absolute;
      top: -5px;
      
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerItem
  {
      padding-top: 18px;
      padding-left: 16px;
      padding-right: 32px;
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerItem .providerIcon
  {
      float:left;
  }

  .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerItem .providerIcon .fa-stack
  {
      font-size: 0.9em;
  }
  
 .ProviderCalling1   .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerItem .providerItemText
 {
     display:inline-block;
     width: 256px;
     padding-left: 5px;
     margin-top: 2px;
 }

 .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .providerItem .providerItemText .lnk_supplier
 {
     vertical-align:middle;
 }
 
 .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2
 {
     display:none;
 }

 .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .providerName {
     padding-left:32px;
     margin-bottom: 15px;
     position:relative;
 }

 .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .providerName .providerRecordCancel
 {

 }
 
 .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .providerName .providerRecordCancel A
 {
     font-size:13px;
     text-decoration:underline;
 }

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .providerName .recordImage2
{
      background-image: url("images/sprites/DeskApp_icons.png");
      background-position: -218px -2004px;
      display: inline-block;
      height: 38px;
      left: 317px;
      position: absolute;
      top: -5px;
      width: 38px;    
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2
{
   
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2
{
    background-color: white;
    display: table;
    height: 187px;
    margin-left: 30px;
    width: 298px;
    position:relative;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .shadow{
    background-image:url('images/shadow.png');
    background-position: 0px 0px;
    background-size:100%;
    bottom: 0;
    height: 7px;
    margin-left: 30px;
    width: 298px;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .question
{
    display:block;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .questionIcon
{
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: -120px -2004px;
    display: block;
    display:block;    
    float:left;    
    height: 23px;
    margin-top: 8px;
    margin-left: 6px;
    width: 23px;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .questionText
{
    display:inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #1aa5e2;
    padding-top: 9px;
    width:241px;
    height:48px;
    overflow:auto;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .answer
{
    display:block;    
    padding-bottom: 8px;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .answerIcon
{
    display:block;
    float:left;
    background-image: url("images/sprites/DeskApp_icons.png");
    background-position: -26px 0;    
    height: 23px;
    margin-top: -2px;
    margin-left: 6px;
    width: 23px;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .answerText
{
    display: inline-block;
    height: 121px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 241px;
    font-size: 16px;
}



.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .progressTips
{ 
    margin-bottom: 15px;
    margin-top: 20px;
    position:relative;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .progressTips .progressTipsInner{
    display:table;
    margin:0 auto;
}


.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .progressTips .circle {
	border-radius: 50%;
	width: 13px;
	height: 13px; 
    background-color:#B0B1B5;
    float:left;
    display:inline-block;
    margin-left:4px;
	/* width and height can be anything, as long as they're equal */
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .progressTips .circleActive
{   
    background-color:#2592D7;    
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .progressTips .previousTip {
    background-image:url(images/sprites/DeskApp_icons.png);
    background-position: -329px -149px;
    height: 26px;
    width: 26px;    
    position:absolute;
    top: -12px;
    left: 25px;    
    cursor:pointer;
    
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .tips2 .progressTips .nextTip
{
    background-image:url(images/sprites/DeskApp_icons.png);
    background-position: -355px -149px;
    height: 26px;
    width: 26px;
    position:absolute;
    top: -12px;
    left: 252px;    
    cursor:pointer;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight  .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation
{    
    padding-top: 0px;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .containerEvaluationInner {
    display:table;
    margin:0 auto;
}


.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationTitle{
    color: #1aa5e2;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationInputs{
    display: table;
    margin: 15px auto 0;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationInputs .chk_answer
{
    float:left;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationInputs .evaluationInputsGood
{
    float:left;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationInputs .evaluationInputsBad
{   
    padding-left: 51px;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationInputs .answerBackground
{
    
    width:38px;
    height:38px;
    display: inline-block;
    margin-top: -2px;
    cursor:pointer;
}

 .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationInputs .answerGoodBackground {        
        background-image:url('images/sprites/DeskApp_icons.png');
        background-position: -386px -945px;           
 }

 
 .ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationInputs .answerBadBackground {        
        background-image:url('images/sprites/DeskApp_icons.png');
        background-position: -256px -2004px;      
 }

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationAll{
    display: table;
    font-size: 13px;
    margin: 1px auto;
    color: #000;
}

.ProviderCalling1 .ProviderCalling1Middle .ProviderCalling1MiddleRight .ProviderCalling1MiddleRight2 .containerTips2 .containerEvaluation .evaluationAll .evaluationAllNumber{

}
 .ProviderCalling1 .ProviderCalling1Bottom
 {
     /*
    position: absolute;
    z-index: 1000;
         */
    bottom: 0;
    display: table;
    margin-left: -29px;
    position: absolute;
    width: 393px;
 }

 .ProviderCalling1 .ProviderCalling1Bottom .reviewsEmpty
 {
     display:table-cell; 
     width:57px;
 }

.ProviderCalling1 .ProviderCalling1Bottom .reviews
{
    background-color: #f2fafc;     
    position: relative;
    display:table-cell; 
      
}

    .ProviderCalling1 .ProviderCalling1Bottom .reviews .innerReviews {
        background-color: #ed8f4f;        
        margin: 0 auto;
    }
      
  .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent0
   {
       font-size: 13px;
       line-height: 14px;
       padding: 9px 10px 3px;    
       background:#d8f4fe;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpPreview
   {
       display:table;
       width:100%;       
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpPreview .yelpOpener
   {
       display:table-cell;
       width:57%;
       vertical-align:top;
       padding-right:12px;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom  .reviews .yelpPreview .yelpOpener .yelpOpenerObj
   {
       display: table-cell;
       background-repeat: no-repeat;
       background-image: url('../consumer/images/show-hide-yelp.png');
       background-position:0px -16px;
       width:14px;
       height:14px;
       margin-right:5px;
       float:left;
   }  

   .ProviderCalling1 .ProviderCalling1Bottom  .reviews .yelpPreview .yelpOpener  .yelpContainerMiniLogo
   {
       margin-top:-3px;
   }

    .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpPreview .yelpOpener .yelpOpenerText
   {
        display: table-cell;
        margin-top: 2px;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpPreview .yelpReviewCounts
   {
       display:table-cell;
       vertical-align:middle;
       width:25%;
       text-align:right;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpPreview .yelpReviewCounts A
   {
       font-size:13px;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpPreview .yelpReviewAvg
   {
       display:table-cell;
       vertical-align:middle;
       text-align:right;
   }
   
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent
   {
       background: none repeat scroll 0 0 #d8f4fe;
       display: none;
       font-size: 13px;
       width: 373px;
       height: 49px;
       line-height: 14px;
       padding-bottom: 20px;
       padding-left: 10px;
       padding-right: 10px;
       position: absolute;
       top: -69px;       
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent1
   {
       display:table;       
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent1 .yelpUserImage
   {
       display:table-cell;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent1 .yelpReviewDetails
   {
        color: #999;
        display: table-cell;
        font-size: 10px;
        padding-left: 9px;
        vertical-align: top;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent1 .yelpReviewDetails .yelpReviewStar
   {
         
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent1 .yelpReviewDetails .yelpReviewDate
   {
         
   }
   
    .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent1 .yelpReviewDetails .yelpReviewUser
   {
         
   }
   
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent2 
   {
       margin-top:3px;
       height:42px;       
   }

    .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent2 .reviewText {
        font-size:13px;
        line-height:16px;
    } 
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent2 A
   {       
       color:#51A7F9;
       font-size: 13px;
       text-decoration: underline;
   }
   
   .ProviderCalling1 .ProviderCalling1Bottom .reviews .yelpContent .yelpContent3
   {
       
   }  
   
  
  /*********************************** smartRecorder ***********************************/

  .smartRecorder
  {
      box-sizing: border-box;
      padding-left: 37px;
      width: 446px;
  }

  .smartRecorder .mainTitle
  {
      line-height: 22px;
      margin-top: 31px;
  }

  .smartRecorder .btn
  {
      width:200px;
  }

  .smartRecorder .callRecording .content
  {
      margin-top: 17px;
  }

  .smartRecorder .callRecording .content2
  {
     font-size: 15px;
     margin-top: -1px;
  }

  .smartRecorder .callRecording .content3 {
        margin-top: 38px;
   }

  .smartRecorder .callRecording .content3 .containerCallTo {
        
   }

  .smartRecorder .callRecording .content3 .containerCallTo .txt_input
  {
      box-sizing: border-box;
      font-family: proxima-nova;
      font-size: 18px;
      height: 41px;
      padding-left: 10px;
      width: 194px;
  }


  .smartRecorder .callRecording .content3 .btn
  {
      margin-top: 15px;
      width:194px;
  }

  .smartRecorder .callRecording .content3 .btn .btnText{
      position:absolute;
      top:13px;
      left:10px;
  }  
  
  .smartRecorder .callRecording .content3 .btn .btnText a
  {
      color:white;
      font-size:18px;
  }


  .smartRecorder .callRecording .content3 .btn .backgroundRecord
  {
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: -143px -2004px;
      height: 38px;
      width: 38px;
      left: 155px;
      position: absolute;
      top: 4px;
  }


  .smartRecorder .callRecording .content4
  {
      box-sizing: border-box;
      font-size: 12px;
      height: 255px;
      margin-top: 7px;
      position: relative;
      line-height:14px;
  }

  .smartRecorder .callRecording .content4 .backgroundOctopus
  {
      background-image: url("images/sprites/DeskApp_icons.png");
      background-position: 0 -1223px;
      bottom: -8px;
      height: 136px;
      position: absolute;
      right: 2px;
      width: 142px;

  }
  


  .smartRecorder .calling
  {

  }  

  .smartRecorder .calling .containerContent
  {
      box-sizing: border-box;
      height: 474px;
  }  
  


  .smartRecorder .calling .mainTitle
  {
      position:relative;
  }  

  .smartRecorder .calling .mainTitle .imageRecord
  {
      position:absolute;
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: -143px -2004px;
      height: 38px;
      width: 38px;
      right: 20px;
      top: -1px;
  }  

  .smartRecorder .calling .content
  {
      margin-top:18px;
  }

  .smartRecorder .calling .containerAlert
  {
      position:relative;
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: 0 -1743px;
      height: 166px;
      width: 384px;
      display:none;
      margin-top: 29px;
  }

  .smartRecorder .calling .containerAlert .alert {
      position:absolute;
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: -196px -2162px;
      height: 31px;
      width: 40px;
      top:10px;
      left:6px;
      
  }

  .smartRecorder .calling .containerAlert .alertContent
  {    
      color: white;
      font-size: 18px;
      height: 31px;
      left: 108px;
      line-height: 22px;
      position: absolute;
      text-align: center;
      top: 28px;
      width: 165px;
  }

  .smartRecorder .calling .containerAlert .alertContainerBtn
  {
      left: 100px;
      position: absolute;
      top: 100px;
  }

  .smartRecorder .calling .containerAlert .alertContainerBtn .alertBtn
  {
      background: none repeat scroll 0 0 transparent;
      border: 1px solid;
      border-radius: 19px;
      color: white;
      padding: 5px 15px;
  }
  
  .smartRecorder .calling .containerAlert .alertClose
  {
      background-image: url("images/sprites/DeskApp_icons.png");
      background-position: -60px -685px;
      cursor: pointer;
      height: 31px;
      position: absolute;
      right: 4px;
      top: 6px;
      width: 31px;
  }


  .smartRecorder .calling .containerAdvertisment
  {
      margin-top: 29px;
      display:none;
  }

  .smartRecorder .calling .containerAdvertisment .advertisement {
      /*
        background-image: url('images/AD_banner.png');
        width:383px;
        height:161px;
          */
  }

  .smartRecorder .calling .containerImages
  {      
      position:relative;
  }

  .smartRecorder .calling .containerImages .you
  {
      position:absolute;
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: -283px -1223px;
      height: 260px;
      width: 124px;
      bottom:0px;
      left:0px;
  }  

  .smartRecorder .calling .containerImages .other{
      position:absolute;
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: -190px -685px;
      height: 260px;
      width: 124px;
      bottom:0px;
      left:267px;
      cursor:pointer;
  }
  
  .smartRecorder .calling .containerImages .arrowYou
  {
      background-image: url("images/L_arrow_call.png");
      bottom: 75px;
      left: 141px;
      height: 29px;      
      position: absolute;
      width: 45px;
  }

  .smartRecorder .calling .containerImages .arrowOther
  {
      background-image: url("images/R_arrow_call.png");
      bottom: 75px;
      left: 225px;
      height: 29px;      
      position: absolute;
      width: 45px;
      display:none;
  }
  


  .smartRecorder .calling .containerImages .logo2
  {
      bottom: 35px;   
      left: 134px;
      position:absolute;
  }
  

  .smartRecorder .thanks
  {

  }

  .smartRecorder .thanks .content
  {
      margin-top:14px;
  }

  .smartRecorder .thanks .content2
  {
      margin-top: 10px;
  }

  .smartRecorder .thanks .emailInputs
  {

  }
  
  .smartRecorder .thanks .content3
  {
      margin-top: 71px;
  }

   .smartRecorder .thanks .content4
  {
      margin-top: 6px;
      height: 214px;
      position:relative;
  }

  .smartRecorder .thanks .content4 a
  {
      text-decoration:underline;
  }

  .smartRecorder .thanks .content4 .backgroundOctopus
  {
      position:absolute;
      bottom:10px;
      right: 2px;
      background-image:url('images/sprites/DeskApp_icons.png');
      background-position: 0 -1223px;
      height: 136px;
      width: 142px;
  }

  .smartRecorder .thanks .content3 .used
  {
     
  }

  .smartRecorder .thanks .content3 .used .thanksUsedSymbol
  {
       display: inline-block;
       font-size: 6px;
       position: relative;
       top: -6px;
  }

  .smartRecorder .thanks .content3 .remaining
  {
      
  }

  .smartRecorder .thanks .content3 .remaining .thanksRemainSymbol
  {
       display: inline-block;
       font-size: 6px;
       position: relative;
       top: -6px;
  }
  


  .smartRecorder .thanks .emailInputs .txt_input
  {
      float: left;
      font-family: proxima-nova;
      font-size: 18px;
      height: 41px;
      padding-left: 10px;
      width: 246px;
  }
  
  .smartRecorder .thanks .emailInputs .btn
  {
      width: 83px;
  }
  
  .smartRecorder .runTimeOutOfTime
  {
      position:absolute;
      width:244px;
      height:139px;
      border-radius: 11px;
      background-color:#fff;
      box-sizing:border-box;
      z-index:2147483647;
      top:203px;
      left:65px;
      display:none;
  }

  .smartRecorder .runTimeOutOfTime .content
  {
      display: table;
      margin: 0 auto;
      padding-top: 23px;
      color:#74ACD1;
      width:200px;
      line-height: 21px;
  }

  .smartRecorder .runTimeOutOfTime .btn
  {
      display: table;
      line-height: 45px;
      margin: 10px auto 0;
      text-align: center;
  }

  /********************************* tips ******************************/
  .tipsPrepared
  {

  }

  .tipsPrepared .tipsPreparedTop
  {
     padding-left: 45px;
     padding-top: 13px;
  }

  .tipsPrepared .tipsPreparedTop .subTitle
  {
      margin-top:16px;
  }

  .tipsPrepared .containerTips
  {        
      
  }

  .tipsPrepared .containerTips .tipsContent
  {
     background-color: #f5fafe;
     display: table;
     height: 286px;
     margin-left: 44px;
     margin-top: 13px;
     position: relative;
     width: 357px;
  }

  .tipsPrepared .containerTips .tipsContent .shadow
  {      
      bottom: 24px;     
      left: 9px;
      position: absolute;     
  }
   


  .tipsPrepared .containerTips .tipsContent .previousTipPrepared
  {
      background-image: url("images/sprites/DeskApp_icons.png");
      background-position: -329px -149px;
      height: 26px;
      width: 26px;
      cursor: pointer;      
      left: -35px;
      position: absolute;
      top: 120px;      
  }

   .tipsPrepared .containerTips .tipsContent .nextTipPrepared {
       background-image: url("images/sprites/DeskApp_icons.png");
       background-position: -355px -149px;
       height: 26px;
       width: 26px;
       cursor: pointer;       
       left: 358px;
       position: absolute;
       top: 120px;
       
   } 
   
    .tipsPrepared .containerTips .tipsContent .question
    {
        display:block;
    }

    .tipsPrepared .containerTips .tipsContent .questionIcon
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        display:block;
        margin-top: 8px;
        float:left;
        background-position: -120px -2004px;
        height: 23px;
        width: 23px;
        margin-left: 15px;

    }

    .tipsPrepared .containerTips .tipsContent .questionText
    {
        display:inline-block;
        padding-left: 10px;
        padding-right:10px;
        color: #000;
        padding-top: 9px;
        font-weight:600;
        width:250px;
        height:56px;
        overflow:auto;
    }

    .tipsPrepared .containerTips .tipsContent .answer
    {
        display:block;        
        padding-bottom: 8px;
    }

    .tipsPrepared .containerTips .tipsContent .answerIcon
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -26px 0;
        height: 23px;
        width: 23px;
        display:block;
        float:left;
        margin-top:-2px;  
        margin-left: 15px;     
    }

    .tipsPrepared .containerTips .tipsContent .answerText
    {
        display: inline-block;
        height: 163px;
        overflow: auto;
        padding-left: 10px;
        padding-right: 10px;
        width: 250px;
        font-size: 16px;
    }


  .tipsPrepared .containerTips .progressTipsPrepared
    {        
         background: white;
         margin-top: 15px;
         padding-top: 19px;
    }


  .tipsPrepared .containerTips .progressTipsPrepared .progressTipsPreparedInner
  {
      /* the table value and the margin auto set it in the center */
      display: table;
      margin:0 auto;
  }

    .tipsPrepared .containerTips .progressTipsPrepared .circle {
	    border-radius: 50%;
	    width: 13px;
	    height: 13px; 
        background-color:#B0B1B5;
        float:left;
        display:inline-block;
        margin-left:4px;
	    /* width and height can be anything, as long as they're equal */
    }

    .tipsPrepared .containerTips .progressTipsPrepared .circleActive
    {   
        background-color:#2592D7;    
    }

  
    .tipsPrepared .howWasTheAnAswer .howWasTheAnAswerTop  .smiley {
        background-image: url("/ppc/images/blue-smiley.png");
        background-repeat: no-repeat;
        height: 29px;
        width: 29px;
        display:table-cell;
    }

    .tipsPrepared .howWasTheAnAswer .howWasTheAnAswerTop  .sad {   
        background-image: url("/ppc/images/eorange-error-smiley.png");
        background-repeat: no-repeat;    
        height: 29px;    
        width: 29px;
        display:table-cell;
    }

    .tipsPrepared .howWasTheAnAswer .howWasTheAnAswerBottom
    {
        display:table-row;
    }

    .tipsPrepared .howWasTheAnAswer .howWasTheAnAswerBottom .howWasTheAnAswerSubTitle
    {
        display:table-cell;
    }

    .tipsPrepared .howWasTheAnAswer .howWasTheAnAswerBottom .containerCheckSmiley
    {
        display:table-cell;
    }

    .tipsPrepared .howWasTheAnAswer .howWasTheAnAswerBottom .containerCheckSad
    {
        display:table-cell;
    }

    .tipsPrepared .tipsPreparedBottom
    {
        margin-top: 18px;
    }

    .tipsPrepared .tipsPreparedBottom .tipsPreparedBottomInner
    {
        display: table;
        margin: 0 auto;
    }

    .tipsPrepared .tipsPreparedBottom .tipsPreparedBottomInner A{
        color: #fff;
        display: inline-block;
        font-size: 17px;
        padding-top: 15px;
    }

    .tipsPrepared .tipsPreparedBottom .tipsPreparedBottomInner .dontWorry,
        .tipsPrepared .tipsPreparedBottom .tipsPreparedBottomInner .dontWorry2
    {
        margin:0 auto;
        display: table;
    }

    .tipsPrepared .tipsPreparedBottom .tipsPreparedBottomInner .skipQuestions
    {
        display: table;
        margin: 14px auto 0;
        text-align: center;
        width: 300px;
    }
    /***************************  myTime   *******************************/
    .myTime
    {

    }

    .myTime .myTimeContent
    {
        padding-top:100px;
    }

    .myTime .myTimeContent .myTimeContentTimer
    {
        float:left;
    }

    .myTime .myTimeContent .myTimeContentTimer .container {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    /***************************  buy more   *******************************/
     .buyMore
    {
        width:446px;
    }

    .buyMore .innerBuyMore
    {
        display:table;
        margin:0 auto;
        width:378px;
    }

    .buyMore .innerBuyMore .mainTitle
    {
        margin-top: 10px;
    }

    .buyMore .innerBuyMore .content
    {
        margin-top:10px;
    }
    

    .buyMore .innerBuyMore .plans{          
        display:table;
        margin-top: 44px;
    }

    .buyMore .innerBuyMore .plans .plan
    {
        position:relative;
    }

    .buyMore .innerBuyMore .plans .plan .planTitle
    {
        display:table;
        margin:0 auto;
        padding-top: 12px;
        text-align: center;
    }

    .buyMore .innerBuyMore .plans .plan .planTerms
    {
        display:table;
        margin:0 auto;
        padding-top: 54px;
        color:#000;
        text-align: center;
    }   

    .buyMore .innerBuyMore .plans .plan .planSelect
    {
        color: #000;
        display: table;
        margin: 0 auto;
        padding-top: 47px;
        text-align: center;
    }

    .buyMore .innerBuyMore .plans .plan .planSelect A {
        color:white;
        font-size:15px;
    }

    .buyMore .innerBuyMore .plans .planLeftContainer
    {
        display:table-cell;
        vertical-align: top;
    }

    .buyMore .innerBuyMore .plans .planLeftContainer .planLeft
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -115px -485px;
        height: 200px;
        width: 115px;
        color:white;
    }

    .buyMore .innerBuyMore .plans .planLeftContainer .planLeft:hover {
        background-position: 0 -485px;
    }

    .buyMore .innerBuyMore .plans .planLeftContainer .planLeft .planTitle {
        color:white;
    }



    .buyMore .innerBuyMore .plans .planMiddleContainer 
    {
         display:table-cell;
         padding-left: 17px;
         vertical-align: top;
    }

    .buyMore .innerBuyMore .plans .planMiddleContainer .planMiddle
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -381px -285px;
        height: 200px;
        width: 115px;
        
    }

    .buyMore .innerBuyMore .plans .planMiddleContainer .planMiddle:hover {
        background-position: -266px -285px;
    }

    .buyMore .innerBuyMore .plans .planRightContainer 
    {
         display:table-cell;
         padding-left: 17px;
         vertical-align: top;
    }

    .buyMore .innerBuyMore .plans .planMiddleContainer .planMiddle .planTitle
    {
        color:white;
    }

    .buyMore .innerBuyMore .plans .planRightContainer .planRight 
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -345px -485px;
        height: 200px;
        width: 115px;
       
    }

    .buyMore .innerBuyMore .plans .planRightContainer .planRight:hover {
        background-position: -230px -485px;
    }

    .buyMore .innerBuyMore .plans .planRightContainer .planRight .planTitle
    {
        padding-top: 4px;
    }

    .buyMore .innerBuyMore .plans .planRightContainer .planRight .planTerms {
        padding-top: 44px;
    }

     .buyMore .innerBuyMore .plans .planRightContainer .planRight .planSelect A{
        color:black;
    }

    .buyMore .innerBuyMore .myTimeComment
    {
        margin-top:174px;
    }
    /************************* thankYou *****************************/
    .thankYou 
    {
        padding-left:43px;
        margin-top: 38px;
    }

    .thankYou .thankyouContent
    {

    }

    .thankYou .thankyouContent .subTitle {
        margin-top:10px;
    }

    .thankYou .thankyouContent .containerEmail
    {
        margin-top: 36px;
    }

   

    .thankYou .thankyouContent .containerEmail .emailInputs
    {
        padding-top: 11px;
        position:relative;
    }

     .thankYou .thankyouContent .containerEmail .emailInputs .btn
    {
        width: 94px;
    }

    .thankYou .thankyouContent .containerEmail .emailInputs .txt_input
    {
        float:left;
        height: 41px;
        width: 246px;
        padding-left: 38px;
        font-family: proxima-nova;
        font-size: 18px;
    }


    .thankYou .thankyouContent .containerEmail .emailInputs .emailIcon{
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -164px -685px;
        height: 20px;
        left: 6px;
        position: absolute;
        top: 22px;
        width: 26px;
    }

    .thankYou .thankyouContent .doYou
    {
        margin-top:48px;
        position:relative;
    }
    
    .thankYou .thankyouContent .doYou A
    {
        font-size:14px;
        text-decoration:underline;
    }

    .thankYou .thankyouContent .doYou .doYouImage
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: 0 -2162px;
        height: 93px;
        left: 209px;
        position: absolute;
        top: 140px;
        width: 196px;
    }

    .thankYou .thankyouContent .mostPeople
    {
        margin-top:75px;
    }

    .thankYou .thankyouContent .searchAgain
    {
        margin-top:200px;
        height: 50px;
    }

    .thankYou .thankyouContent .searchAgain A
    {
        font-size:14px;
        text-decoration:underline;
    }

    /********************* noOneAnswered **********************/
    .noOneAnswered
    {
        background-color: white;
        display: block;
        margin: 67px auto 0;
        padding-bottom: 18px;
        padding-left: 32px;
        padding-top: 36px;
        position: relative;
        width: 266px;
        z-index:2147483646;
        border-radius: 14px;
    }

    .noOneAnswered .close
    {
        background-image:url('images/x.png');
        background-size:100%;
        width:30px;
        height:30px;
        position:absolute;
        right:10px;
        top:10px;
        cursor:pointer;    
    }

    .noOneAnswered .mainTitle
    {
        margin-top:-20px;
        line-height: 22px;
    }

    .noOneAnswered .sorry
    {
        margin-top:18px;
    }

    .noOneAnswered .containerBtn
    {
        margin-top:18px;
    }

    .noOneAnswered .containerBtn .btn {
        box-sizing: border-box;
        padding-top: 13px;
        text-align: center;
        width: 230px;
    }


    /***************************   tutorial ***********************/

    
    .tutorialBody
    {
        background-color:#6AACDE;
    }

    .tutorial
    {        
        width:446px;        
    }

    .tutorial .container
    {
        margin: 0 auto;
        width: 417px;
    }

    .tutorial .container .mainTitle{        
        display: table;        
        margin: 16px auto 19px;
        color:white;
        font-size: 29px;
    }

    .tutorial .container .content
    {
        position:relative;
        display:table;
        margin: 0 auto;
    }

    .tutorial .container .content .contentImage {
        background-image:url('images/tutorial/tutorial1.PNG');
        width:342px;
        height:483px;
    }

    .tutorial .container .previous {
        background-image: url("images/tutorial/backDisabled.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        height: 39px;
        left: -44px;
        position: absolute;
        top: 211px;
        width: 39px;
    }

    .tutorial .container .next {
        background-image: url("images/tutorial/forward.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        height: 39px;
        left: 347px;
        position: absolute;
        top: 211px;
        width: 39px;
    }

    


    .tutorial .container .progressBar
    {
        display:table;
        margin: 15px auto 0;
    }

    .tutorial .container .progressBar .circle
    {
        background-color: black;
        border-radius: 50%;
        display: inline-block;
        float: left;
        height: 9px;
        margin-left: 4px;
        width: 9px;
    }

    .tutorial .container .progressBar .circleActive {
        background-color: white;
    }

    .tutorial .container .skip
    {
        display:table;
        margin: 18px auto 0;
    }

    .tutorial .container .skip A {
        color:white;
        font-size: 15px;
    }


    /**********************  entrance ********************/

    .entranceBody
    {
        background-color:#6AACDE;
    }

    .entrance
    {
        width:446px;        
    }

    .entrance A
    {
        color:white;
    }

    .entrance A:hover
    {
        color:#ccc;
    }

    .entrance .entranceLogo {
        background-image: url('images/NP_logo.png');
        display:table;
        margin:22px auto 0px;
        width:137px;
        height:40px;
    }

    .entrance .content
    {
        display:table;
        margin:47px auto 0px;
        width:404px;
        position:relative; 
        height:455px;               
    }

    .entrance .content .navigationItem {
        cursor:pointer;
    }

    .entrance .content .backgroundNavigation {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -28px -945px;
        height: 278px;
        left: 61px;
        position: absolute;
        top: 72px;
        width: 276px;
    }
    

    .entrance .content .backgroundNavigation .navigationRecorder {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -460px -485px;
        height: 46px;
        left: 37px;
        position: absolute;
        top: 37px;
        width: 45px;       
        
    }

    .entrance .content .backgroundNavigation .navigationFindAPro {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -438px -685px;
        height: 46px;
        left: 202px;
        position: absolute;
        top: 41px;
        width: 44px;    
    }

    .entrance .content .backgroundNavigation .navigationAddTime {
        background-image: url('images/sprites/DeskApp_icons.png');
        background-position: -339px -2078px;
        width:45px;
        height:46px;
        left: 200px;
        position: absolute;
        top: 190px;        
       
    }

    .entrance .content .backgroundNavigation .navigationSignUp
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -47px -2004px;
        height: 46px;
        left: 29px;
        position: absolute;
        top: 187px;
        width: 44px;

        
   
    }


    .entrance .content .backgroundNavigation .navigationBtn {
        
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -133px -285px;
        height: 135px;
        left: 72px;
        position: absolute;
        top: 69px;
        width: 133px; 
        cursor:pointer;
       
        
        /*
        background-image: url("images/entrance/Button.png");
        background-size: cover;
        cursor: pointer;
        height: 120px;
        left: 72px;
        position: absolute;
        top: 69px;
        width: 120px;
        */
    }

    .entrance .content .backgroundNavigation .navigationBtn:hover {       
        background-position: 0 -285px;    
    }

     .entrance .content .backgroundNavigation .navigationBtn .navigationBtnText
     {
         left: 23px;
         line-height: 23px;
         position: absolute;
         top: 45px;
         font-size:18px;
         text-align: center;
     }

    .entrance .content .backgroundNavigation .navigationBtn .navigationBtnArrow {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: -381px -149px;
        height: 46px;
        left: 43px;
        position: absolute;
        top: 83px;
        width: 44px;
    }

   .entrance .content .navigationStandAloneMainText
   {
        font-size:15px;
   }

   .entrance .content .navigationStandAloneMainText A{
       color:black;
   }

   .entrance .content .navigationStandAloneMainText A:hover{
       color:white;
   }


   .entrance .content .navigationStandAloneSubMainText
   {
       line-height: 13px;
   }

    .entrance .content .navigationStandAloneSubMainText A
   {
        font-size:11px;
   }

   .entrance .content .navigationStandAloneSubMainText A:hover
   {
       color:white;
   }
   .entrance .content  .navigationStandAloneIcon
   {
       cursor:pointer;
   }

   .entrance .content .navigationRecorderStandAlone
   {
       position:absolute;
       top:0px;
       left:0px;
   }

   .entrance .content .navigationRecorderStandAlone .navigationRecorderStandAloneIcon{
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: 0 -685px;
        height: 29px;
        width: 29px;
        position:absolute;
        top:0px;
        left:-7px;
   } 
   
   .entrance .content .navigationRecorderStandAlone .navigationRecorderStandAloneMainText
   {
      left: 25px;
      position: absolute;
      top: -4px;
   }

  
   .entrance .content .navigationRecorderStandAlone .navigationRecorderStandAloneSubMainText
   {
       top: 33px;
       left:0px;
       position:absolute;
       width: 108px;
   }

   .entrance .content .navigationFindAProStandAlone
   {
       position:absolute;
       top:0px;
       left: 255px;
   }

   .entrance .content .navigationFindAProStandAlone .navigationFindAProStandAloneIcon {
       background-image: url("images/sprites/DeskApp_icons.png");
       background-position: 0 -945px;
       height: 29px;
       width: 28px;
   }

   .entrance .content .navigationFindAProStandAlone .navigationFindAProStandAloneMainText
   {
      left: 32px;
      position: absolute;
      top: 8px;
      width: 86px;
   }

    .entrance .content .navigationFindAProStandAlone .navigationFindAProStandAloneSubMainText
   {
       left: 0;
       position: absolute;
       top: 29px;
       width: 141px;
   }

    .entrance .content .navigationSignUpStandAlone
   {
       left: 0;
       position: absolute;
       top: 367px;
   }

     .entrance .content .navigationSignUpStandAlone .navigationSignUpStandAloneIcon {
       background-image: url("images/sprites/DeskApp_icons.png");
       background-position: -91px -2004px;  
       height: 29px;
       width: 29px;
       position: absolute;
       top: 0;
       width: 29px;
       left:-2px;
   }

   .entrance .content .navigationSignUpStandAlone .navigationSignUpStandAloneMainText
   {
      left: 31px;
      position: absolute;
      top: -5px;
      width: 106px;
   }

    .entrance .content .navigationSignUpStandAlone .navigationSignUpStandAloneSubMainText
   {
       left: 0;
       position: absolute;
       top: 32px;
       width: 158px;
   }

   .entrance .content .navigationByMoreStandAlone
   {
       left: 255px;
       position: absolute;
       top: 367px;
   }

     .entrance .content .navigationByMoreStandAlone .navigationByMoreStandAloneIcon {
       background-image: url("images/sprites/DeskApp_icons.png");
       background-position: -384px -2078px;  
       height: 29px;
       width: 29px;
       position: absolute;
       top: 0;
       width: 29px;
       left:-2px;    
   }

   .entrance .content .navigationByMoreStandAlone .navigationByMoreStandAloneMainText
   {
      left: 31px;
      position: absolute;
      top: 6px;
      width: 117px;
   }

    .entrance .content .navigationByMoreStandAlone .navigationByMoreStandAloneSubMainText
   {
       left: 0;
       position: absolute;
       top: 32px;
       width: 158px;
   }
    
    /************************ SIGN AS A PRO *********************************/
    .becomeProvider
    {       
        /*height: 526px;*/
        width: 446px;
    }

    .becomeProvider .mainTitle {
        text-align: center;
        line-height: 25px;
        margin-top: 36px;
    }

    .becomeProvider .content1
    {
        font-size: 21px;
        line-height: 23px;
        margin-top: 35px;
        text-align: center;
    }

    .becomeProvider .content2
    {
        font-size: 21px;
        line-height: 23px;
        margin-top: 35px;
        text-align: center;
    }


    .becomeProvider .containerBtn
    {
        margin-top: 30px;
        text-align: center;
    }
    
    .becomeProvider .containerImage
    {
        background-image: url("images/sprites/DeskApp_icons.png");
        background-position: 0 -149px;
        height: 136px;
        margin: 64px auto 0;        
        width: 329px;
    }
    
    .becomeProvider .btn
    {
        padding:7px 69px;
    }
    
   /***************************  myTime   *******************************/

   /***************************  payment   *******************************/
   .payment
   {
       box-sizing: border-box;
       padding-left: 37px;
       width: 446px;
   }

   .payment .mainTitle {
       margin-top:31px;
   }

   .payment .content
   {
       margin-top:7px;
   }
   
   .payment .inputs
   {
       margin-top:9px;
       display:table;
   }

    .payment .inputs .inputsRow{
       position:relative;
       margin-top: 8px;
    }

    .payment .inputs .inputsRowLeft
    {
        float:left;        
        padding-right: 10px;
        height:50px;
    }

    
    .payment .inputs .containerEmail
    {
        position:relative;
    }

    .payment .inputs .inputsRowLeft .cvvDesc {
        display: block;
        font-size: 10px;
        margin-top: -5px;
    }
    .payment .inputs .inputsRowRight
    {
        display:inline-block; 
        vertical-align: top;
        position:relative;  
        height:50px;     
    }


    .payment .inputs .inputsRowRight #div_EmailComment
    {
        width:253px;
        z-index: 101;
    }

    .payment .inputs input
    {
        border: 1px solid #ccc;
        box-sizing: border-box;
        height: 36px;
        padding-left: 10px;
        width: 192px;
    }

    .payment .inputs #cvv
    {
        left: 238px;
        position: absolute;
        width: 156px;
    }

     .payment .inputs #creditCard
    {
        left: 192px;
        position: absolute;        
    }
    
    .payment .inputs .btn
    {
        height:45px;
        width: 238px;
    }  

    /****************************** payment  states selected box ****************************/
    .payment .paymentStates
    {
        position:absolute;
        z-index:101;       
    }

    .payment .paymentStates .selectBox {
       background: none repeat scroll 0 0 transparent !important;
        height: 34px !important;
        margin: 0 !important;
        width: 146px !important;
    }
        
    .payment .paymentStates  .selectBox-dropdown {
        box-shadow: none;
    }
        
    .payment .paymentStates  .selectBox-dropdown {
        background: -moz-linear-gradient(center top , #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#E1E1E1)); 
        background: -ms-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        background: -o-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        filter: progid:DXImageTransform.Microsoft.Gradient(
                    StartColorStr='#F8F8F8', EndColorStr='#E1E1E1', GradientType=0);
        border: 1px solid #CCCCCC;
         border-radius: 0px 0px 0px 0px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        color: #999999 !important;
        cursor: default;
        display: inline-block;
        font-size: 12px;
        outline: medium none;
        padding: 0 40px 0 4px;
        position: relative;
        text-decoration: none;
        width: 250px;
    }        
  
    .payment .paymentStates  .selectBox-dropdown .selectBox-label {
        display: inline-block;
        overflow: hidden;
        padding-left: 7px;
        padding-top: 8px;
        white-space: nowrap;
        width: 100%;
        text-align:left;
        color:#000;
    }
        
    .payment .paymentStates  .selectBox-arrow {
        border: medium none;
    }
        
    .payment .paymentStates .selectBox-dropdown .selectBox-arrow {
         background: url("../npsb/flavours/images/selectBox-arrow.png") no-repeat scroll 50% center transparent;
        border-left: 1px solid #BBBBBB;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 23px;
    }
        
    .payment .paymentStates  .selectBox-arrow {
        border: medium none !important;
    }    

    .payment .paymentStates  .selectBox-dropdown-menu {
        background: none repeat scroll 0 0 #FFFFFF;           
        border-color:#bbb;
        border-style:solid;
        border-width:0px 1px 1px 1px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow: auto;
        /*position: absolute;*/
        z-index: 99999;
    }

    .payment .paymentStates  .selectBox-options, .payment .paymentStates .selectBox-options li, .payment .paymentStates .selectBox-options li a {
        cursor: default;
        display: block;
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }      
        
    .payment .paymentStates  .selectBox-options li a {
        background: none no-repeat scroll 8px center transparent;
        color: black;
        font-size: 12px;
        line-height: 2em;
        overflow: hidden;
        padding: 0 0.3em 0 23px;
        white-space: nowrap;
        text-decoration:none;
    }        
        
    .payment .paymentStates  .selectBox-menuShowing {
        border: 1px solid #bbb;            
    }        
        
    .payment .paymentStates  .selectBox-dropdown-clicked
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
        
    .payment .paymentStates  .selectBox-options li.selectBox-selected a {
        background-image: url("../npsb/flavours/flavourHalfControlsTopMover/images/selectBox-tick.png");
    }
        
    .payment .paymentStates  .selectBox-options li:hover {
        background-color: #E9F1FC;
        color: #333333;
    }

     /****************************** payment  credit card selected box ****************************/
    .payment .paymentCardType
    {
        position:absolute;
        z-index:101;       
    }

    .payment .paymentCardType .selectBox {
       background: none repeat scroll 0 0 transparent !important;
        height: 34px !important;
        margin: 0 !important;
        width: 146px !important;
    }
        
    .payment .paymentCardType  .selectBox-dropdown {
        box-shadow: none;
    }
        
    .payment .paymentCardType  .selectBox-dropdown {
        background: -moz-linear-gradient(center top , #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#E1E1E1)); 
        background: -ms-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        background: -o-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        filter: progid:DXImageTransform.Microsoft.Gradient(
                    StartColorStr='#F8F8F8', EndColorStr='#E1E1E1', GradientType=0);
        border: 1px solid #CCCCCC;
         border-radius: 0px 0px 0px 0px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        color: #999999 !important;
        cursor: default;
        display: inline-block;
        font-size: 12px;
        outline: medium none;
        padding: 0 40px 0 4px;
        position: relative;
        text-decoration: none;
        width: 250px;
    }        
  
    .payment .paymentCardType  .selectBox-dropdown .selectBox-label {
        display: inline-block;
        overflow: hidden;
        padding-left: 7px;
        padding-top: 8px;
        white-space: nowrap;
        width: 100%;
        text-align:left;
        color:#000;
    }
        
    .payment .paymentCardType  .selectBox-arrow {
        border: medium none;
    }
        
    .payment .paymentCardType .selectBox-dropdown .selectBox-arrow {
         background: url("../npsb/flavours/images/selectBox-arrow.png") no-repeat scroll 50% center transparent;
        border-left: 1px solid #BBBBBB;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 23px;
    }
        
    .payment .paymentCardType  .selectBox-arrow {
        border: medium none !important;
    }    

    .payment .paymentCardType  .selectBox-dropdown-menu {
        background: none repeat scroll 0 0 #FFFFFF;           
        border-color:#bbb;
        border-style:solid;
        border-width:0px 1px 1px 1px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow: auto;
        /*position: absolute;*/
        z-index: 99999;
    }

    .payment .paymentCardType  .selectBox-options, .payment .paymentCardType .selectBox-options li, .payment .paymentCardType .selectBox-options li a {
        cursor: default;
        display: block;
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }      
        
    .payment .paymentCardType  .selectBox-options li a {
        background: none no-repeat scroll 8px center transparent;
        color: black;
        font-size: 12px;
        line-height: 2em;
        overflow: hidden;
        padding: 0 0.3em 0 23px;
        white-space: nowrap;
        text-decoration:none;
    }        
        
    .payment .paymentCardType  .selectBox-menuShowing {
        border: 1px solid #bbb;            
    }        
        
    .payment .paymentCardType  .selectBox-dropdown-clicked
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
        
    .payment .paymentCardType  .selectBox-options li.selectBox-selected a {
        background-image: url("../npsb/flavours/flavourHalfControlsTopMover/images/selectBox-tick.png");
    }
        
    .payment .paymentCardType  .selectBox-options li:hover {
        background-color: #E9F1FC;
        color: #333333;
    }



     /****************************** payment  month selected box ****************************/
    .payment .paymentMonth
    {
        position:absolute;
        z-index:100;       
    }

    .payment .paymentMonth .selectBox {
       background: none repeat scroll 0 0 transparent !important;
        height: 34px !important;
        margin: 0 !important;
       width: 68px !important;
    }
        
    .payment .paymentMonth  .selectBox-dropdown {
        box-shadow: none;
    }
        
    .payment .paymentMonth  .selectBox-dropdown {
        background: -moz-linear-gradient(center top , #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#E1E1E1)); 
        background: -ms-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        background: -o-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        filter: progid:DXImageTransform.Microsoft.Gradient(
                    StartColorStr='#F8F8F8', EndColorStr='#E1E1E1', GradientType=0);
        border: 1px solid #CCCCCC;
         border-radius: 0px 0px 0px 0px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        color: #999999 !important;
        cursor: default;
        display: inline-block;
        font-size: 12px;
        outline: medium none;
        padding: 0 40px 0 4px;
        position: relative;
        text-decoration: none;
        width: 250px;
    }        
  
    .payment .paymentMonth  .selectBox-dropdown .selectBox-label {
        display: inline-block;
        overflow: hidden;
        padding-left: 7px;
        padding-top: 8px;
        white-space: nowrap;
        width: 100%;
        text-align:left;
        color:#000;
    }
        
    .payment .paymentMonth  .selectBox-arrow {
        border: medium none;
    }
        
    .payment .paymentMonth .selectBox-dropdown .selectBox-arrow {
         background: url("../npsb/flavours/images/selectBox-arrow.png") no-repeat scroll 50% center transparent;
        border-left: 1px solid #BBBBBB;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 23px;
    }
        
    .payment .paymentMonth  .selectBox-arrow {
        border: medium none !important;
    }    

    .payment .paymentMonth  .selectBox-dropdown-menu {
        background: none repeat scroll 0 0 #FFFFFF;           
        border-color:#bbb;
        border-style:solid;
        border-width:0px 1px 1px 1px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow: auto;
        /*position: absolute;*/
        z-index: 99999;
    }

    .payment .paymentMonth  .selectBox-options, .payment .paymentMonth .selectBox-options li, .payment .paymentMonth .selectBox-options li a {
        cursor: default;
        display: block;
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }      
        
    .payment .paymentMonth  .selectBox-options li a {
        background: none no-repeat scroll 8px center transparent;
        color: black;
        font-size: 12px;
        line-height: 2em;
        overflow: hidden;
        padding: 0 0.3em 0 23px;
        white-space: nowrap;
        text-decoration:none;
    }        
        
    .payment .paymentMonth  .selectBox-menuShowing {
        border: 1px solid #bbb;            
    }        
        
    .payment .paymentMonth  .selectBox-dropdown-clicked
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
        
    .payment .paymentMonth  .selectBox-options li.selectBox-selected a {
        background-image: url("../npsb/flavours/flavourHalfControlsTopMover/images/selectBox-tick.png");
    }
        
    .payment .paymentMonth  .selectBox-options li:hover {
        background-color: #E9F1FC;
        color: #333333;
    }


     /****************************** payment  year selected box ****************************/
    .payment .paymentYear
    {
        position:absolute;
        z-index:99; 
        left: 118px;      
    }

    .payment .paymentYear .selectBox {
       background: none repeat scroll 0 0 transparent !important;
        height: 34px !important;
        margin: 0 !important;
        width: 68px !important;
    }
        
    .payment .paymentYear  .selectBox-dropdown {
        box-shadow: none;
    }
        
    .payment .paymentYear  .selectBox-dropdown {
        background: -moz-linear-gradient(center top , #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
        background: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#E1E1E1)); 
        background: -ms-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        background: -o-linear-gradient(top,  #F8F8F8 0%, #E1E1E1 100%);
        filter: progid:DXImageTransform.Microsoft.Gradient(
                    StartColorStr='#F8F8F8', EndColorStr='#E1E1E1', GradientType=0);
        border: 1px solid #CCCCCC;
         border-radius: 0px 0px 0px 0px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
        color: #999999 !important;
        cursor: default;
        display: inline-block;
        font-size: 12px;
        outline: medium none;
        padding: 0 40px 0 4px;
        position: relative;
        text-decoration: none;
        width: 250px;
    }        
  
    .payment .paymentYear  .selectBox-dropdown .selectBox-label {
        display: inline-block;
        overflow: hidden;
        padding-left: 7px;
        padding-top: 8px;
        white-space: nowrap;
        width: 100%;
        text-align:left;
        color:#000;
    }
        
    .payment .paymentYear  .selectBox-arrow {
        border: medium none;
    }
        
    .payment .paymentYear .selectBox-dropdown .selectBox-arrow {
         background: url("../npsb/flavours/images/selectBox-arrow.png") no-repeat scroll 50% center transparent;
        border-left: 1px solid #BBBBBB;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 23px;
    }
        
    .payment .paymentYear  .selectBox-arrow {
        border: medium none !important;
    }    

    .payment .paymentYear  .selectBox-dropdown-menu {
        background: none repeat scroll 0 0 #FFFFFF;           
        border-color:#bbb;
        border-style:solid;
        border-width:0px 1px 1px 1px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        max-height: 200px;
        overflow: auto;
        /*position: absolute;*/
        z-index: 99999;
    }

    .payment .paymentYear  .selectBox-options, .payment .paymentYear .selectBox-options li, .payment .paymentYear .selectBox-options li a {
        cursor: default;
        display: block;
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }      
        
    .payment .paymentYear  .selectBox-options li a {
        background: none no-repeat scroll 8px center transparent;
        color: black;
        font-size: 12px;
        line-height: 2em;
        overflow: hidden;
        padding: 0 0.3em 0 23px;
        white-space: nowrap;
        text-decoration:none;
    }        
        
    .payment .paymentYear  .selectBox-menuShowing {
        border: 1px solid #bbb;            
    }        
        
    .payment .paymentYear  .selectBox-dropdown-clicked
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
        
    .payment .paymentYear  .selectBox-options li.selectBox-selected a {
        background-image: url("../npsb/flavours/flavourHalfControlsTopMover/images/selectBox-tick.png");
    }
        
    .payment .paymentYear  .selectBox-options li:hover {
        background-color: #E9F1FC;
        color: #333333;
    }


    /***************************  turnoffNot   *******************************/
    .turnoffNot
    {
        font-family: proxima-nova;
    }
    
    .turnoffNot .modalWrapper
    {       
        display: block;      
    }

    .turnoffNot .alertNotification
    {
        background-color: #fff;
        border-radius: 11px;
        box-sizing: border-box;
        display: block;
        height: 210px;
        left: 65px;
        position: absolute;
        top: 203px;
        width: 273px;
        z-index: 2147483647;
    }

    .turnoffNot .alertNotification .content_titile {
        color: #74acd1;
        display: table;
        line-height: 21px;
        margin: 0 auto;
        padding-top: 23px;
        width: 200px;
        font-size:18px;
    }

    .turnoffNot .alertNotification .content_body {
        color: black;
        display: table;
        line-height: 21px;
        margin: 0 auto;
        padding-top: 5px;
        width: 200px;
        font-size:14px;
    }

    .turnoffNot .alertNotification .containerSelect
    {
        display: table;
        margin: 0 auto;
    }

    .turnoffNot .alertNotification .containerSelect #slc_hours
    {
        width:190px;
        font-family: proxima-nova;
    }

    .turnoffNot .alertNotification .btn
    {
        display: table;
        line-height: 45px;
        margin: 10px auto 0;
        text-align: center;
        font-size:18px;
    }
      
    .turnoffNot .alertNotification .close
    {
        background-image:url('images/sprites/DeskApp_icons.png');
        background-position: -29px -685px;
        height: 31px;
        width: 31px; 
        position:absolute;
        right:4px;
        top:4px;
        cursor:pointer;
    }

     /***************************  exitAlert   *******************************/
    .exitAlert
    {
        font-family: proxima-nova;
    }
    
    .exitAlert .modalWrapper
    {       
        display: block;      
    }

    .exitAlert .alertNotification
    {
        background-color: #fff;
        border-radius: 11px;
        box-sizing: border-box;
        display: block;
        height: 235px;
        left: 65px;
        position: absolute;
        top: 203px;
        width: 273px;
        z-index: 2147483647;
    }

    .exitAlert .alertNotification .content_titile {
        color: #74acd1;
        display: table;
        line-height: 21px;
        margin: 0 auto;
        padding-top: 23px;
        width: 200px;
        font-size:18px;
    }

    .exitAlert .alertNotification .content_body {
        color: black;
        display: table;
        line-height: 21px;
        margin: 0 auto;
        padding-top: 5px;
        width: 200px;
        font-size:13px;
    }

    .exitAlert .alertNotification .btn
    {
        display: table;
        line-height: 45px;
        margin: 40px auto 0;
        text-align: center;
        font-size:18px;
    }
      
    .exitAlert .alertNotification .close
    {
        background-image:url('images/sprites/DeskApp_icons.png');
        background-position: -29px -685px;
        height: 31px;
        width: 31px; 
        position:absolute;
        right:4px;
        top:4px;
        cursor:pointer;
    }

