﻿  ._Background{
/*	display:none;*/
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:100002;
	opacity:0.5;
	filter: alpha(opacity=30);
}
/*.divProgress
{
    position: absolute;
    background-color: #ffffff;
    top: 25%;
    left: 25%;
    padding-top: 25px;
    text-align: center;
    width: 150px;
    height: 150px;
    
  z-index: 20;
}*/
.divProgress
{
	/*
    position: absolute;
    top:0;
	left:0;
    width: 100%;
    height: 100%;
    overflow: auto;    
    z-index: 20;
    text-align: center;
    background-color: #ffff00;
	*/
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:101;
	text-align: center;
	opacity:0.5;
	filter: alpha(opacity=30);
}

.divLoader			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=50); opacity: 0.5; background-color: #000; z-index: 999999; }
.divLoader TABLE	{ width: 100%; height: 100%; }
.divLoader TD		{ height: 100%; vertical-align: middle; text-align: center; }


.divLoader2			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=30); opacity: 0.3; background-color: #000; z-index: 999999; }
.divLoader2 TABLE	{ width: 100%; height: 100%; }
.divLoader2 TD		{ height: 100%; vertical-align: middle; text-align: center; }

