﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="teleListasPowerPoint2_Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="wrap">
	<div class="bgl2">
		<div class="left2">
    		<div class="text1">asdad</div>
            <div class="text2">dfkjdg fdskjfdhg dfkljhsdfg dfgjklbhfg kjdbg dfgmbn dfgkjdfn g jhf sdjhdgsf sdfjbns dfmsdfsam,dnbf sfdbndfs gm,gd,fb d,fmgn df,.mgadn fbvasdad</div>
    
    	</div>
     </div>
	   
    	


</div>

    </form>
</body>
</html>
