<%@ Page Language="C#" AutoEventWireup="true" CodeFile="list.aspx.cs" Inherits="yellowPages_list" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Telelistas List</title>
    <link id="MyStyleSheet" rel="stylesheet" type="text/css" runat="server"/>
    
    <script type="text/javascript">
      
        <%   
        if (!String.IsNullOrEmpty(parentDomain))
            {
        %>
            document.domain='<%=parentDomain%>';
            // document.domain='qu114.com';
        <%
            }
        %>  
    
        
        function showMe(str)
        {  
            //alert("showMe");         
           document.getElementById("contentwrap").innerHTML=str;            
        }
        
        function showRegulrSuppliersList()
        {               
            var url; 
            
            var oDate = new Date();  
            url="http://" + location.hostname + ":" + location.port + "<%=root%>telelistasPowerPoint2/supplierRegular.aspx?SiteId=<%=SiteId%>&ExpertiseCode=<%=ExpertiseCode%>&ExpertiseLevel=<%=ExpertiseLevel%>&RegionCode=<%=RegionCode%>&RegionLevel=<%=RegionLevel%>&MaxResults=<%=MaxResults%>&origionId=<%=origionId%>&IfShowMinisite=<%=IfShowMinisite%>&randomSeed=" + oDate.getMilliseconds();

           
            //alert("url:" + url);
            var objHttp;
            var ua = navigator.userAgent.toLowerCase(); 
            
            if(ua.indexOf("msie")!= -1)
            {
               // alert("msie");
                objHttp =  new ActiveXObject("Msxml2.XMLHTTP");                
            }
            else
            {
                //alert("not msie");
                objHttp=new XMLHttpRequest();
            }
            
            if (objHttp == null)
            {
                //alert("Unable to create DOM document!");
                return;
            } 	        
            
            
            objHttp.open("GET", url, true);	       
            
            objHttp.onreadystatechange=function()
            {  
                          
                if (objHttp.readyState==4)
                { 
                  //alert(objHttp.responseText);                                    
                  showMe(objHttp.responseText);             
                                
                }
             }
             
            objHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            
            objHttp.send(null);
        } 
       
        
        function init()
        {         
           
            showRegulrSuppliersList();            
        }
         
        window.onload=init; 
   
    
    </script>
</head>
<body >
    <form id="form1" runat="server">  
   
        <div id="contentwrap">
			<%-- 
    		<div class="content">
    		
                <div class="title">
   			        Title here
   			    </div>
   			    
    			<div class="logo">
        			<img src="images/logox.png" alt="Suppliers logo"/>
       			</div>
       			
       			<div class="mid">
                     Text teText text klasfkhjs dlkfg sdfgh sd;lfghn sdfbn dfgh;olnsd fhlkn dfhaknlg sdfkjgb sdonsdfgkb df
       				 Text teText text klasfkhjs dlkfg sdfgh sd;lfghn sdfbn dfgh;olnsd fhlkn dfhaknlg sdfkjgb sdonsdfgkb dfg
   		  	 	</div>
                     
        		<div class="phone">&nbsp;</div>
        		
        		<div class="right">
        			 21-2678-78900
       			</div>
       			
            </div>        
           --%>        
        </div>
    
   
    </form>
</body>
</html>
