﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title> new document </title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link href="style.css" rel="stylesheet" type="text/css" />
<!--[if IE 7]>
<link href="ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
 <div id="contentwrap">
			
    		<div class="content">
    			<div class="logo">
        		logo
       			 </div>
       			 <div class="mid">
       			 Text text klasfkhjs dlkfg sdfgh sd;lfghn sdfbn dfgh;olnsd fhlkn dfhaknlg sdfkjgb sdonsdfgkb dfg
       			 <br />
       			 bmbnmnm
       			 <br />
       			 kkhjkhj
       			 <br />
       			 jkljk
      		  	</div>
        		<div class="phone"><!---->
       			</div>
        		<div class="right">
        			21-2678-78900
       			</div>
       		 </div>
             
             <div class="title">
   			Title here
   			 </div>
    			<div class="first">
                	<div class="logo">
        			logo
       			 	</div>
       				 <div class="mid">
                     Text teText text klasfkhjs dlkfg sdfgh sd;lfghn sdfbn dfgh;olnsd fhlkn dfhaknlg sdfkjgb sdonsdfgkb df
       				 Text teText text klasfkhjs dlkfg sdfgh sd;lfghn sdfbn dfgh;olnsd fhlkn dfhaknlg sdfkjgb sdonsdfgkb dfg
   		  	 		 </div>
                     </div>
					<div class="right2">
        				<div class="phone"><!---->
       					</div>
        				<div class="right">
        				21-2678-78900
       					</div>
                        </div>
                    
       		 </div>
                                  <div class="clear"><!----></div>

             <div class="content">
            <div class="title">
   			Title here
   			 </div>
    			<div class="first">
                	<div class="logo">
        			logo
       			 	</div>
       				 <div class="mid">
       				 Text te
       				 Text text klasfkhjs dlkfg sdfgh sd;lfghn sdfbn dfgh;olnsd fhlkn dfhaknlg sdfkjgb sdonsdfgkb dfg
   		  	 		 </div>
                     </div>
					<div class="right2">
        				<div class="phone"><!---->
       					</div>
        				<div class="right">
        				21-2678-78900
       					</div>
                        </div>
                    
       		 </div>
             
             <div class="clear"><!----></div>

             <div class="content">
            <div class="title">
   			Title here
   			 </div>
    			<div class="first">
                	<div class="logo">
        			logo
       			 	</div>
       				 <div class="mid">
       				
       				 Text text klasfkhjs dlkfg sdfgh sd;lfghn sdfbn dfgh;olnsd fhlkn dfhaknlg sdfkjgb sdonsdfgkb dfg
   		  	 		 </div>
                     </div>
					<div class="right2">
        				<div class="phone"><!---->
       					</div>
        				<div class="right">
        				21-2678-78900
       					</div>
                        </div>
                    
       		 </div>
             
          
             
           
         
</div> 

