﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="parentList.aspx.cs" Inherits="teleListasPowerPoint2_parentList" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   
    <link href="style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        function loadIframe()
        {           
           document.getElementById("listIframe").src='<%=src2%>';          
        }

        //window.onload=loadIframe;
        
    </script>   
</head>
<body>   
   <iframe id="listIframe" scrolling="no" frameborder="0" width="643" height="257" src="<%=src2%>"></iframe>

</body>
</html>
