﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="parent.aspx.cs" Inherits="teleListasPowerPoint2_parent" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   
    <link href="style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        function loadIframe()
        {
          document.getElementById("iframeNoProblem").src='<%=src%>';          
          //alert(document.getElementById("iframeNoProblem").src);  
        }

        window.onload=loadIframe;
    </script>   
</head>
<body class="main">
<div class="main-wrap">
    <div class="iframe-wrap">
        <img src="images/telelistas-header.gif" alt="image" /><iframe id="iframeNoProblem" class="iframe" scrolling="no" frameborder="0"></iframe>
    </div>
</div>
</html>
