﻿.clearfix:after		{ content: "."; display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix			{	display: inline-block; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix	{ height: 1%; }

P					{ margin: 0; padding: 0; }

/* parent definitions */
HTML, BODY			{ height: 100%; width: 100%; margin: 0; padding: 0; font-size: 12px; font-family: "Arial"; }
BODY.main			{ background: url(images/bg.jpg) no-repeat center top #FFF; }

BODY.main .main-wrap{ position: relative; width: 980px; height: 100%; margin: 0 auto; }
.iframe-wrap2		{ position: absolute; top: 213px; right: 0; width: 485px; height: auto;  }
.iframe2				{ width: 485px; height: auto; margin: 0; padding: 0; border: 0; overflow:scroll; }

/* iFrame definitions */

/* form definitions */
.form-text,
.form-textarea,
.form-select		{ padding: 1px; border: 1px solid #999; font-size: 12px; font-family: "Arial"; }
LABEL				{ font-weight: bold; }
.waterMark { padding: 1px; border: 1px solid #999; font-size: 12px; font-family: "Arial"; height: 85px; width: 296px; color:#999;}


.links				{ height: 16px; padding: 14px 0;  background: #dcdcdc; }
.links, .links A	{ text-align: center; color: #FFF; }
.links A:hover		{ text-decoration: none; }


/* results definitions */
.list-results					{ width: 320px; height: 250px; background: url(images/form_bg.png) repeat-x bottom #FFF; overflow: auto; }
.list-results UL, .list-results LI	{ margin: 0; padding: 0; list-style: none; }
.list-results .title			{ height: 23px; background: url(images/bg-item-title.gif) repeat-x top #436a92; }
.list-results .title H3			{ float: left; width: 180px; height: 17px; padding: 3px 10px; margin: 0; overflow: hidden; color: #FFF; font-size: 13px; }
.list-results .title H3 A		{ color: #FFF; font-size: 13px; text-decoration: none; white-space: nowrap; }
.list-results .title H3 A:hover	{ text-decoration: underline; }
.list-results .title .calling	{ float: right; display: block; width: 82px; height: 23px; padding: 0 4px 0 8px; background: url(images/call-button.png) no-repeat; color: #FFF; text-decoration: none; vertical-align: middle; line-height: 18px; }
.list-results .title .icon-calling	{ float: left; margin: 1px; }
.list-results .title .text			{ display: inline-block; padding: 2px 0; }
.item-details					{ min-height: 50px; padding: 10px; background: url(images/bg-item-details.gif) repeat-x bottom #ECECEC; }
.item-details .logo				{ float: right; margin: 0 0 5px 5px; }
.item-details P					{ float: left; width: 100%; color: #00356b; font-size: 11px; line-height: 14px; }

/* TELELISTAS2 */
.box2 { width: 466px; height: 115px; padding: 10px; background: url(images/form_bg.png) repeat-x bottom #FFF; }			
.iframe-wrap3		{ position: absolute; top: 213px; right: 338px; width: 466px; height: 165px; border: 1px solid #CCC; }
.iframe3				{ width: 466px; height: 115px; margin: 0; padding: 0; border: 0;  }
.page-iframe { width: 466px; height: 115px; margin: 0; padding: 0; border: 0; overflow: hidden; }
.left {float: left; width: 125px; height: 70px; margin-right:10px;}
.right {float:left; width:315px; height:70px}
.left .form-phone {width: 135px; float:left;}
.form-text2 { padding: 1px; border: 1px solid #999; font-size: 12px; font-family: "Arial"; }


.left .form-phone 			{ float: left; }
.left .form-areacode2	{ width: 30px; float:left; margin-right: 5px;}
.left  .form-phonenumber2				{ width: 80px; float:left;}
.left .form-phone .title	{text-align:left; width:120px;}
.left .form-phone .numbers	{float:left; width: 125px;}


.right .form-field			{ width: 300px; }
.right .form-details					{ margin: 0px 0; }
.right .form-details LABEL				{ float: left; display: inline-block; }
.right .form-details .letter-count		{ float: right; }
.right .form-details .form-textarea	{ width: 300px; height: 45px; }
.right label-wrap {width:200px;}
.supp					{width: 300px; font-size: 11px; float:left;}
.right .form-submit					{ float: right; width: 101px; position:relative; top:-38px;height: 37px; padding: 10px 0 13px; border: 0; text-align: center; color: #FFF; font-size: 13px; background: url(images/buttons.png) no-repeat; cursor: pointer; }

.messages-wrap2					{ text-align: center; }
.messages-wrap2 .loading			{ margin: 10px 0 10px; }
.messages-wrap2 .msg				{ font-size: 14px; }

.waterMark2 { padding: 1px; border: 1px solid #999; font-size: 12px; font-family: "Arial"; height: 45px; width: 300px; color:#999;}

.list-results2					{ width: 100%; height: 115px; background: url(images/form_bg.png) repeat-x bottom #FFF; overflow: auto; }
.list-results2 UL, .list-results LI	{ margin: 0; padding: 0; list-style: none; }
.list-results2 .title			{ height: 23px; background: url(images/bg-item-title.gif) repeat-x top #436a92; }
.list-results2 .title H3			{ float: left; width: 180px; height: 17px; padding: 3px 10px; margin: 0; overflow: hidden; color: #FFF; font-size: 13px; }
.list-results2 .title H3 A		{ color: #FFF; font-size: 13px; text-decoration: none; white-space: nowrap; }
.list-results2 .title H3 A:hover	{ text-decoration: underline; }
.list-results2 .title .calling	{ float: right; display: block; width: 82px; height: 23px; padding: 0 4px 0 8px; background: url(images/call-button.png) no-repeat; color: #FFF; text-decoration: none; vertical-align: middle; line-height: 18px; }
.list-results2 .title .icon-calling	{ float: left; margin: 1px; }
.list-results2 .title .text			{ display: inline-block; padding: 2px 0; }
.item-details2					{ min-height: 50px; padding: 10px; background: url(images/bg-item-details.gif) repeat-x bottom #ECECEC; }
.item-details2 .logo				{ float: right; margin: 0 0 5px 5px; }
.item-details2 P					{ float: left; width: 100%; color: #00356b; font-size: 11px; line-height: 14px; }

.form-submit2 { float: right;   position: relative; right: 27px; width: 101px; height: 25px; padding: 0px; border: 0; text-align: center; color: #FFF; font-size: 13px; background: url(images/button.png) no-repeat; cursor: pointer; }
