﻿/* List Iframe */

#contentwrap {
		width: 320px;
		height:257px;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 0 auto;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 11px;
		
	}
		
#contentwrap .title {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699cc', endColorstr='#336699'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#6699cc), to(#336699)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #6699cc,  #336699); /* for firefox 3.6+ */
color: #fff;
font-size:12px;
font-weight:bold;
width: 320px;
	height:16px;
	
	padding:4px;
	}
	
#contentwrap	.title A
	{
		text-decoration: underline; color: #fff; 
	}
	
	
#contentwrap	.content {
		background: #ccc;
		width: 100%;
		border-bottom: 2px solid #fff;
		float: left;
		max-height:inherit;
		/*height: 150px;*/
	
	
	
	}
#contentwrap .logo {
		 float: left;
    height: 46px;
    margin: 0 0 10px 5px;
    position: relative;
    top: 6px;
    width: 60px;
	}
	
#contentwrap .mid {
	color: #003366;
    float: left;
    left: 5px;
    line-height: 12px;
    position: relative;
    width: 290px;
	margin-bottom:3px;	
}
#contentwrap .right {
		width: 125px;
		height: 30px;
		position: relative;
		top: -80px;
		color: #003366;
		font-size: 16px;
		font-weight: bold;
		float:left;
		margin-left: 105px;
	}		

#contentwrap .phone {
	background: url("images/phone.png") no-repeat scroll left center transparent;
  
    height: 20px;
    margin-left: 80px;
    position: relative;
    top: 15px;
    width: 200px;
    color: #003366;
	font-size: 16px;
	font-weight: bold;
	text-indent: 25px;

	}
#contentwrap	.first {
	height: 100%;
    overflow: visible;
	}
#contentwrap	.right2
	{
		background-color:Red;
		  float: right;
    position: relative;
    right: 20px;
    top: -30px;
	}
#contentwrap	.clear {
		clear:both;
	}

/* end List Iframe */

