.clearfix:after		{ content: "."; display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix			{	display: inline-block; }
html[xmlns] .clearfix {	display: block; }
* html .clearfix	{ height: 1%; }

P					{ margin: 0; padding: 0; }

/* parent definitions */
HTML, BODY			{ height: 100%; width: 100%; margin: 0; padding: 0; font-size: 12px; font-family: "Arial"; }
BODY.main			{ background: url(images/bg.jpg) no-repeat center top #FFF; }

BODY.main .main-wrap{ position: relative; width: 980px; height: 100%; margin: 0 auto; }
.iframe-wrap		{ position: absolute; top: 213px; right: 0; width: 320px; height: 294px; border: 1px solid #CCC; }
.iframe				{ width: 320px; height: 250px; margin: 0; padding: 0; border: 0; overflow: hidden; }

/* iFrame definitions */

/* form definitions */
.form-text,
.form-textarea,
.form-select		{ padding: 1px; border: 1px solid #999; font-size: 12px; font-family: "Arial"; }
LABEL				{ font-weight: bold; }
.waterMark { padding: 1px; border: 1px solid #999; font-size: 12px; font-family: "Arial"; height: 85px; width: 296px; color:#999;}

.form-field			{ width: 300px; }

.links				{ height: 16px; padding: 14px 0;  background: #dcdcdc; }
.links, .links A	{ text-align: center; color: #FFF; }
.links A:hover		{ text-decoration: none; }

.box				{ width: 300px; height: 180px; padding: 10px; background: url(images/form_bg.png) repeat-x bottom #FFF; }			

.form-phone LABEL				{ float: left; }
.form-phone	.form-text			{ float: left; margin-left: 5px; }
.form-areacode					{ width: 40px; }
.form-phonenumber				{ width: 165px; }

.form-details					{ margin: 10px 0; }
.form-details LABEL				{ float: left; display: inline-block; }
.form-details .letter-count		{ float: right; }
.form-details .form-textarea	{ width: 296px; height: 85px; }

.form-suppliers					{ float: left; width: 296px; margin: 0 auto 5px; font-size: 11px; text-align:center; }
.form-submit					{ float: right;   position: relative; right: 95px; width: 101px; height: 25px; padding: 0px; border: 0; text-align: center; color: #FFF; font-size: 13px; background: url(images/button.png) no-repeat; cursor: pointer; }

/* messages definitions */
.messages-wrap					{ text-align: center; }
.messages-wrap .loading			{ margin: 40px 0 10px; }
.messages-wrap .msg				{ font-size: 14px; }

/* results definitions */
.list-results					{ width: 320px; height: 250px; background: url(images/form_bg.png) repeat-x bottom #FFF; overflow: auto; }
.list-results UL, .list-results LI	{ margin: 0; padding: 0; list-style: none; }
.list-results .title			{ height: 23px; background: url(images/bg-item-title.gif) repeat-x top #436a92; }
.list-results .title H3			{ float: left; width: 180px; height: 17px; padding: 3px 10px; margin: 0; overflow: hidden; color: #FFF; font-size: 13px; }
.list-results .title H3 A		{ color: #FFF; font-size: 13px; text-decoration: none; white-space: nowrap; }
.list-results .title H3 A:hover	{ text-decoration: underline; }
.list-results .title .calling	{ float: right; display: block; width: 82px; height: 23px; padding: 0 4px 0 8px; background: url(images/call-button.png) no-repeat; color: #FFF; text-decoration: none; vertical-align: middle; line-height: 18px; }
.list-results .title .icon-calling	{ float: left; margin: 1px; }
.list-results .title .text			{ display: inline-block; padding: 2px 0; }
.item-details					{ min-height: 50px; padding: 10px; background: url(images/bg-item-details.gif) repeat-x bottom #ECECEC; }
.item-details .logo				{ float: right; margin: 0 0 5px 5px; }
.item-details P					{ float: left; width: 100%; color: #00356b; font-size: 11px; line-height: 14px; }

