﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="dangerous.aspx.cs" Inherits="Tests_dangerous" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <script>

        function set_cookie(name, value, exp_y, exp_m, exp_d, exp_hh, exp_mm, exp_ss, path, domain, secure) {

            var cookie_string = name + "=" + escape(value);

            if (exp_y) {
                var expires = new Date(exp_y, exp_m, exp_d, exp_hh, exp_mm, exp_ss);

                cookie_string += ";expires=" + expires.toGMTString();

            }

            if (path)
                cookie_string += "; path=" + escape(path);

            if (domain)
                cookie_string += "; domain=" + escape(domain);

            if (secure)
                cookie_string += "; secure";


            document.cookie = cookie_string;

        }


        var current_date = new Date();
        var cookie_year = current_date.getFullYear();
        var cookie_month = current_date.getMonth();
        var cookie_day = current_date.getDate();
        var cookie_hh = current_date.getHours();
        var cookie_mm = current_date.getMinutes();
        cookie_mm = cookie_mm + 30;
        var cookie_ss = current_date.getSeconds();

        //alert(ExpertiseCode);



        
         set_cookie("client", "<script>alert('bbbbb')<\/script>", cookie_year, cookie_month, cookie_day, cookie_hh, cookie_mm, cookie_ss);

        
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <textarea id="textarea1" runat="server"></textarea>
        <asp:Button id="d" value="send" runat="server"/>
    </div>
    </form>
</body>
</html>
