﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="getip.aspx.cs" Inherits="Tests_getip" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        ip:
        <asp:Label ID="lbl_ip" runat="server" Text=""></asp:Label>
        <br />
        country
        <asp:Label ID="lbl_country" runat="server" Text=""></asp:Label>
        <br />
        <br />
        header:
        <br />
         <asp:Label ID="lbl_header" runat="server" Text=""></asp:Label>
    </div>
    </form>
</body>
</html>
