﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        <ion-nav-view class="view-container" nav-view-transition="android" nav-view-direction="none" nav-swipe="">
            <ion-view class="pane" nav-view="active" style="transform: translate3d(0%, 0px, 0px);">
                <ion-header-bar class="bar bar-header disable-user-behavior">
                    <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto">
                </ion-header-bar>

                <ion-content class="div-container scroll-content ionic-scroll  has-header">
                    <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
                        <div class="row">
                            <div class="col col-80 col-offset-10">
                                <h2 class="header-text" style="text-align:center;">
                                    New job for:
                                </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-80 col-offset-10">
                                <h3 class="sub-header-text ng-binding" style="text-align:center;">Plumber in Beverly Hills, California</h3>
                            </div>
                        </div>
                        <div class="row video-wrapper">

                            <div class="col col-80 col-offset-10 video-container">

                                <!-- uiView: video --><div class="row" ui-view="video">
                                    <div>

                                        <video controls="" width="280" height="123">
                                            <source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4">
                                            <source src="http://www.w3schools.com/tags/movie.ogg" type="video/ogg">
                                            Your browser does not support the video tag.
                                        </video>
                                        <!--
                                        poster="{{vm.getThumbnail()}}"

                                    <video name="media"
                                           controls  webkit-playsinline="webkit-playsinline" class="videoPlayer" >
                                        <source ng-src="{{vm.Incident.VideoUrl}}" type="{{vm.Incident.VideoType}}" />
                                    </video>
                                         -->
                                        <div class="play-icon-wrapper" ng-show="showPlayIcon()">
                                            <img class="play-icon-img" width="70" height="70" src="/tm/www/img/Icons_PlayAAR.png" ng-click="playVideo()">

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row row-marg-top">
                            <div class="col col-80 col-offset-10 customer-button-wrapper ng-hide" ng-show="!vm.Incident.IsConnected &amp;&amp; !isViewedVideo()">
                                <button class="button btn-watch" ng-click="playVideo();">
                                    Watch job description
                                </button>
                            </div>
                            <div class="col col-80 col-offset-10 customer-button-wrapper" ng-show="!vm.Incident.IsConnected &amp;&amp; isViewedVideo()">
                                <button class="button btn-green btn-connect" ng-click="connectToCustomer(vm.AarCallId,vm.Incident.Id);">
                                    I want this customer
                                </button>
                            </div>
                            <div class="col col-80 col-offset-10 customer-button-wrapper ng-hide" ng-show="vm.Incident.IsConnected">
                                <button class="button btn-green btn-gettheapp" ng-click="getTheApp();">
                                    GET THE APP
                                </button>

                            </div>
                        </div>

                        <div class="row row-center">
                            <div class="col col-25 col-offset-10 text-center col-center">
                                <img src="/tm/www/img/Icons_Info.png" width="55" height="46">
                            </div>

                            <div class="col col-25 col-offset-05 text-center col-center">
                                <img src="/tm/www/img/Icons_PhoneW.png" width="55" height="60">
                            </div>

                            <div class="col col-25 col-offset-05 text-center col-center">
                                <img src="/tm/www/img/Icons_V2.png" width="55" height="46">
                            </div>
                        </div>
                        <div class="row row-center row-linehigth">
                            <div class="col col-25 col-offset-10 col-top text-center">
                                <span class="span-yellow">Watch</span>Videos from customers
                            </div>
                            <div class="col col-05 forward">
                            </div>
                            <div class="col col-25 col-top text-center">
                                <span class="span-yellow">Connect</span>In Real Time
                            </div>
                            <div class="col col-05 forward">
                            </div>
                            <div class="col col-25 col-top text-center">
                                <span class="span-yellow">Manage</span>All your projects
                            </div>
                        </div>

                        <!--
                            <div class="row" ng-show="!vm.Incident.IsConnected">
                                <div class="col col-80 col-offset-10 customer-button-wrapper">
                                    <button style="position: relative; line-height: 70px;" ng-click="connectToCustomer(vm.AarCallId,vm.Incident.Id)" class="button button-block button-positive customer-button">
                                        Connect me
                                        <i class="free-image" style="position: absolute; right: -2px; top:-2px; width: 70px; height: 100%;"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row" ng-show="vm.Incident.IsConnected">
                                <div class="col col-80 col-offset-10 customer-button-wrapper">
                                    <button style="position: relative; line-height: 70px;" ng-click="getTheApp()" class="button button-block button-positive customer-button">
                                        GET THE APP
                                    </button>
                                </div>
                            </div>
                    -->
                        <div class="row  row-marg-top ">
                            <div class="col col-80 col-offset-10 text-center col-center div-reportlead">
                                <a ng-click="reportLead(vm.AarCallId,vm.Incident.Id)">Report this video</a>
                            </div>
                        </div>

                    </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 508px;"></div></div>
                </ion-content>
                <!--
            <ion-footer-bar style="height: 42px;" class="div-container" ng-show="!vm.Incident.IsConnected">
                <button ng-click="connectToCustomer(vm.AarCallId,vm.Incident.Id);" class=" button button-clear button-positive button-block" style="margin:0;">
                    I want this customer
                </button>
            </ion-footer-bar>

                 <button ng-click="reportLead(vm.AarCallId,vm.Incident.Id)" class="button button-clear button-positive button-block" style="font-size: 16px;">
                                Report this video
                            </button>
                 -->

            </ion-view>
        </ion-nav-view>
    </div>
</body>
</html>
