﻿
/* Start Sprite Master CSS */
.bg,.slider,.plumber,.help,.arrowA,.arrowB,.phone{display: inline-block;background-repeat: no-repeat;background-image: url('joinABSprite2.png');}
.bg{background-position:0px 0px;width:526px;height:234px;}
.slider{background-position:0px -234px;width:228px;height:148px;}
.plumber{background-position:-228px -234px;width:228px;height:148px;}
.help{background-position:0px -382px;width:228px;height:148px;}
.arrowA{background-position:-228px -382px;width:91px;height:120px;}
.arrowB{background-position:-319px -382px;width:91px;height:120px;}
.phone{background-position:0px -530px;width:450px;height:398px;}
/* End Sprite Master CSS */

