
/* Start Sprite Master CSS */
.anim-videoBG,.arrow01,.arrow02,.draw-how2-image1,.draw-how2-image2,.draw-how2-image3,.film-videoBG,.from-bottom,.icon-only-complete,.icon-only-pay,.icon-phone-leads,.play-hover,.play-idle,.quote,.real-how2-image1,.real-how2-image2,.real-how2-image3,.white-circle{display: inline-block;background-repeat: no-repeat;background-image: url('joinABSprite.png');}
.anim-videoBG{background-position:0px 0px;width:387px;height:172px;}
.arrow01{background-position:0px -172px;width:108px;height:96px;}
.arrow02{background-position:-108px -172px;width:127px;height:77px;}
.draw-how2-image1{background-position:-235px -172px;width:227px;height:147px;}
.draw-how2-image2{background-position:0px -319px;width:227px;height:147px;}
.draw-how2-image3{background-position:-227px -319px;width:227px;height:147px;}
.film-videoBG{background-position:0px -466px;width:387px;height:172px;}
.from-bottom{background-position:0px -638px;width:464px;height:44px;}
.icon-only-complete{background-position:0px -682px;width:90px;height:90px;}
.icon-only-pay{background-position:-90px -682px;width:90px;height:90px;}
.icon-phone-leads{background-position:-180px -682px;width:90px;height:90px;}
.play-hover{background-position:-270px -682px;width:75px;height:99px;}
.play-idle{background-position:-345px -682px;width:75px;height:99px;}
.quote{background-position:-420px -682px;width:34px;height:27px;}
.real-how2-image1{background-position:0px -781px;width:227px;height:147px;}
.real-how2-image2{background-position:-227px -781px;width:227px;height:147px;}
.real-how2-image3{background-position:0px -928px;width:227px;height:147px;}
.white-circle{background-position:-227px -928px;width:43px;height:43px;}
/* End Sprite Master CSS */
