

.WhiteCheck, .Green, .Grey
{
    
    display: inline-block;background-repeat: no-repeat;background-image: url('SatatusBarSprite.png');
    
    
    
}

.WhiteCheck{background-position:0px 0px;width:25px;height:21px;}

.Green{background-position:-25px 0px;width:221px;height:45px;}

.Grey{background-position:-246px 0px;width:221px;height:45px;}

body{background:red;}

.cookie
{
    background:green;
}