﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script type="text/javascript" src="swfobject.js"></script>
    <script>
        function setStep(_step, _supplierGuid, _siteId) {
          
            var params;           
            params = "step=" + _step + "&supplierGuid=" + _supplierGuid + "&siteId=" + _siteId;
            
            alert(params);
            var url;

            //url = "http://" + location.hostname + ":" + location.port + "<%#root%>createServiceRequestZipCodeUsa.aspx";
            url = "setStep.ashx";

            var objHttp;
            var ua = navigator.userAgent.toLowerCase();

            if (ua.indexOf("msie") != -1) {
                objHttp = new ActiveXObject("Msxml2.XMLHTTP");

            }
            else {
                objHttp = new XMLHttpRequest();
            }



            if (objHttp == null) {
                //alert("Unable to create DOM document!");
                return;
            }           


            objHttp.open("POST", url, true); // true if you want the request to be asynchronous and false if it should be a synchronous request

            objHttp.onreadystatechange = function () {

                if (objHttp.readyState == 4) {
                    alert("responseText " + objHttp.responseText);

                    if (objHttp.responseText == "unsuccess") {
                      

                    }

                    else {
                        alert("success");
                        
                    }
                }
            }


            objHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            objHttp.setRequestHeader("Content-Length", params.length);
            objHttp.setRequestHeader("Connection", "close");

            objHttp.send(params);


            return true;

        }

        //setStep();
    </script>
</head>
<body>

<div id="ytapiplayer">
    You need Flash player 8+ and JavaScript enabled to view this video.
</div>

<script type="text/javascript">

      var params = { allowScriptAccess: "always" };
      var atts = { id: "myytplayer" };
      
      swfobject.embedSWF("http://www.youtube.com/v/2lnZoIF2sVE?enablejsapi=1&playerapiid=ytplayer&version=3&autoplay=1",
                       "ytapiplayer", "950", "531", "8", null, null, params, atts);

      //http://www.youtube.com/embed/2lnZoIF2sVE?enablejsapi=1&playerapiid=ytplayer&version=3&autoplay=1 // see it's defferent from the formal whrer the link is

      function onYouTubePlayerReady(playerId) {
          //alert("onit");
          ytplayer = document.getElementById("myytplayer");
          ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
      }

      function onytplayerStateChange(newState) {
          if (newState == 2) {
              alert("end");
              setStep(6, '52504921-D3F0-DF11-8A5C-0003FF727321', 1);
          }         
      }
</script>





</body>
</html>
