﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="border.aspx.cs" Inherits="Management_border" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<link href="style.css" rel="stylesheet" type="text/css"/>
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div class="boxxx">sssss
    
    </div>
    </form>
</body>
</html>
