body {font-family:Arial;}
img{border-width:0px;}

#container{position:relative; background-image:url(./calls_images/bg.png); width:1038px; height:866px; margin:0 auto;}
#workArea{position:relative; width:717px; top:374px; left:64px;}
#top_bg{position:relative; width:717px; height:12px;left:20px;  background-image:url(./calls_images/top_bg.png);}
#center_bg{position:relative;  width:717px; left:20px;height:687px; background-image:url(./calls_images/center_bg.png); background-repeat:repeat-y;}
#bottom_bg{position:relative;width:717px; height:11px;left:20px;   background-image:url(./calls_images/bottom_bg.png);}
/*.welcome{width:300px; height:27px; line-height:27px; margin:0 auto;}*/
.welcome{width:100%; height:27px; line-height:27px;
    font-size: 15px;
    color: red; margin:0 auto; text-align:center;}

#top_hr{ background-color:#cacdd1; height:3px; width:644px; margin:0 auto;}
#dear{position:absolute; top:46px; left:49px;}
#dear span{font-size:12px; font-weight:bold;}
/*#text1{position:absolute; top:76px; left:49px;}*/
#text1
{
    top: 76px;
    left: 49px;
    padding-left: 15px;
    padding-top: 15px;
}
#text1 span{font-size:12px; color:#595959;}
#elements{position:absolute; top:120px; left:49px;}
#elements div{float:left; }
#elements div.subElement{margin-left:10px;}
#elements div.subElement A IMG{margin-bottom:-6px;}
#elements div input{width:62px; height:15px; margin-top:3px;}
#choose{font-size:12px; font-weight:bold; color:#ed232a; padding-top:6px;}
.from_to_date{font-size:11px; color:#595959; margin-right:8px;}
#generateReport{ padding-top:3px;}
#tables{position:absolute; top:152px; left:0px; width:717px; height:64px; background-image:url(./calls_images/tables_bg.png);}
#list_header{position:absolute; top:160px; left:83px; width:122px; height:14px;z-index:0;}
#list_header span{ font-size:14px; font-weight:bold; color:#322f2f;}
/*#list{position:absolute; top:223px; left:0px; width:717px;z-index:0;}*/
#list{ top:223px; left:0px; width:717px;z-index:0;}

#tblList{width:700px; margin:0 auto;}

.tblListHeader{font-size:12px; font-weight:bold; color:#595959;}
.tblListHeader td{text-align:center;width:500px;}
.tblListRow{font-size:12px;}
.tblListRow td{height:30px; vertical-align:bottom; text-align:center; border-bottom:dotted 1px black;}
.edit_link{font-size:12px; font-weight:bold; color:#ed232a; text-decoration:none;}
.bttn { width: 250px; height: 39px; padding: 30px 0 28px 0; background: url(calls_images/generateReport.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.listen {text-align:justify;width: 10px; height: 10px;   background: url(calls_images/icon_speaker.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.date_error { position:absolute; top:145px; left:50px; font-size:10px; font-weight:bold; color:#ed232a; }
.clear_dates a { position:absolute; top:110px; left:250px; font-size:10px; font-weight:bold; color:#ed232a; }

.data-table						{ width: 100%; margin: 20px 0; font-size: 12px; border: 0; border-spacing: 0; padding: 0; }

.data-table	CAPTION				{ height: 30px; text-align: center; font-size: 15px; font-weight: bold; color: #000; }
.data-table	CAPTION	.tools		{ float: left; }
.data-table TH, .data-table TD	{ height: 18px; padding: 2px; border-bottom: 2px solid #edf0f4; border-right: 2px solid #edf0f4; text-align: center; vertical-align: middle; }
.data-table TH					{ background: #9a9a9a; color: #FFF; }
.data-table TD					{ color: #3d3d3d; }
.data-table TD.first			{ width: 20px; text-align: center; }
.data-table TD.close .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(images/arrows.png) no-repeat left top; text-align: center; }
.data-table TD.open .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(images/arrows.png) no-repeat left -18px; text-align: center; }
.data-table .even TD			{ background: #dbdde1; }
.data-table .odd TD				{ background: #bdbcbc; }
.data-table .even_TD			{ background: #dbdde1; text-align:left; }
.data-table .odd_TD				{ background: #bdbcbc; text-align:left; }
.data-table .TH_TD
{
    background: #9a9a9a;
    color: #FFF;
    height: 25px;
    padding: 5px;
    border-bottom: 2px solid #edf0f4;
    border-right: 2px solid #edf0f4;
    text-align: left;
    font-weight: bold;
}
.data-table ._even TD		{ background: #dbdde1; text-align:left; }
.data-table ._odd TD				{ background: #bdbcbc; text-align:left; }

.data-table-details					{ width: 600px; margin: 15px auto; text-align: left; }
.data-table-details .description 	{ float: left; width: 265px; height: 93px; padding: 15px; background: url(images/bg-description.png) no-repeat; }
.data-table-details .description .label	{ display: block; width: auto; margin-bottom: 10px; }
.data-table-details .description .wrap	{ height: 65px; overflow-y: auto; }
.data-table-details .details 		{ float: right; }
.data-table-details .refund 		{ width: 600px; padding: 10px; border: 1px solid #DDD; margin: 10px 0 10px -10px; background-color: #e3e7f0; }
.data-table-details .win-price, .data-table-details .price, .data-table-details .phone, .data-table-details .status	{ width: 265px; height: 13px; padding: 13px 15px 17px; background: url(images/bg-feild.png) no-repeat; }
.data-table-details .price, .data-table-details .phone	{ margin-top: -3px; }
.data-table-details .refund H2	{ margin-bottom: 15px; text-align: center; }
.data-table-details .refund .btn	{ display: block; text-align: center; }

.data-table-details .refund .btn INPUT {background:url("../Publisher/images/btn-bg1.png") no-repeat scroll 0 0 transparent;
border:0 none;
color:#000;
cursor:pointer;
font-size:12px;
font-weight: bold;
height:44px;
padding:3px 0 25px;
text-align:center;
width:104px;
margin: -5px auto 0;
letter-spacing: -1px;
}
.data-table-details .label		{ display: inline-block; width: 170px; font-size: 13px; color: #f51824; }

.div_gridMyCall					{ padding: 0 35px; margin-bottom:20px; }

.StatusTitle
{
    color: red;
    font-size: 7pt;
}
.pickList
{
padding: 0 35px;
    color:#999999;
    font-size:12px;
}
.pickList TD
{
     padding-left:30px;
}

.div_record
{
    background-color: white;
    
}
.modalBackground
 {
    background:#000000;	
	opacity:0.3;
	filter: alpha(opacity=30);
}
.popModal_del
{
    background-color: none;
    width: 415px;
    padding-left: 10px;
    padding-right: 10px;
    z-index:10001;
}

.popModal_del .top
{
    width: 415px;
	height: 20px;
	background: url(images/bg-popup-wide.png) no-repeat top;
	
}

.popModal_del .content
{
    
    width: 385px;
	max-height: 550px;
	overflow: hidden;
	padding: 0 15px;
	margin: 0 !important;
	background: url(images/bg-popup-tile.png) repeat-y;
	z-index: 0;
}

.popModal_del .bottom
{
    width: 415px;
	height: 35px;
	background: url(images/bg-popup-wide.png) no-repeat bottom;
}

.popModal_del TD
{
   padding: 5px 0;
}

.popModal_del .f2
{
	margin-bottom: 15px;
}

.popModal_del .btn
{
    background:url("../Publisher/images/btn-bg1.png") no-repeat scroll 0 0 transparent;
    border:0 none;
    color:#000000;
    cursor:pointer;
    font-size:14px;
    height:44px;
    padding:3px 0 28px;
    text-align:center;
    width:104px;
}

.popModal_del .Table_Button
{
	width: 240px;
	margin: 0 auto;
}


.popModal_del .Table_Button TD
{
	width: 120px;
	text-align: center;
}

.popModal_del_hide
{
    left:-5000px;
    position:relative;
}

.span_x
{  
    
    position:absolute;
    top:0px;
    right:45px;   
 /*   background-image: url(../Publisher/images/red-x-icon.png);
    background-repeat:no-repeat;
 //   background-color: transparent;
    height:30px;
    width:30px;*/
   
}
.span_A
{
       
    background-image: url(images/btn-x.png);
    background-repeat:no-repeat;
    cursor:pointer;
    height:30px;
    width:30px;
    position:absolute;
    top:5px;
    right:15px;
    z-index: 999999; 
}

.popModal_del LABEL.terms		{ font-size: 11px; }
.terms		{ font-size: 11px; }
.popModal_del .form-textarea	{ width: 165px; height: 65px; border: 1px solid #CCC; }

.popModal_del .label	{ width: 150px; color: #f61c12; font-size: 12px; }

.popModal_del H2	{ text-align: center; margin-bottom: 25px; }


._center_bg{position:relative;  width:717px; left:20px;height:687px; background-image:url(./calls_images/center_bg.png); background-repeat:repeat-y;}


.StatusTitle			{ position: relative; display: block; }
span:hover.StatusTitle .tooltip { visibility: visible; }
.StatusTitle .tooltip 	{ position: absolute; top: -15px; left: 25px; background: #FFF; visibility: hidden; padding: 5px; border: 1px solid #CCC; }







