<%@ Page Language="C#" AutoEventWireup="true" CodeFile="media.aspx.cs" Inherits="try_media" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   
	
	<object data="../play/dewplayer.swf" width="200" height="20" name="dewplayer" id="dewplayer" type="application/x-shockwave-flash">
  <param name="movie" value="../play/dewplayer.swf" />
  <param name="flashvars" value="<%= GetUrl %>&amp;autostart=1" />
  <param name="wmode" value="transparent" />
  </object>
    </div>
    </form>
</body>
</html>
