﻿/* ----------------------- GENERAL DEFINITIONS ------------------------ */

*					{ margin: 0; padding: 0; }
BODY				{ font-size: 12px; color: #000; text-align: left; direction: ltr; background-color: #d1d1d1; 
    				  font-family: "Arial"; }
P					{ margin: 0 0 5px 0; line-height: 16px; }

A, OBJECT			{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL, LI				{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.clearfix:after		{ content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix			{ display: inline-block; } 
html[xmlns] .clearfix {	display: block; } 
* html .clearfix	{ height: 1%; }

.divLoader			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=50); opacity: 0.5; background-color: #000; z-index: 999999; }
.divLoader TABLE	{ width: 100%; height: 100%; }
.divLoader TD		{ height: 100%; vertical-align: middle; text-align: center; }

.divLoader2			{ filter: alpha(opacity=70) !important; opacity: 0.7 !important; }
.divCredit			{ filter: alpha(opacity=100) !important; opacity: 1 !important; background-color: #787A7B !important; z-index: 999990 !important; }

#main				{ margin: 0 auto; width: 770px; }
#mainwrap	{ margin: 0 auto; width: 100%; background-color:#3989ae; height: 105px; border-bottom:2px solid #d1d1d1;}
.login #main		{ width: 1000px; }

.label_add_var
{
	padding-left: 5px;
}

/* ----------------------- HEADERS DEFINITIONS ------------------------ */
H1, H2, H3			{ margin-bottom: 10px; font-weight: normal; }
H1					{ font-size: 30px; }
H2					{ font-size: 20px; }
H3					{ font-size: 16px; font-weight: bold; }

/* ----------------------- LINKS DEFINITIONS ------------------------ */
A					{ color: #075874; text-decoration: none; }
A:hover				{ text-decoration: underline; }

/* ----------------------- FORMS DEFINITIONS ------------------------ */
.form-text, .form-textarea, .form-select, .WaterMarkText	{ padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; }
.WaterMarkText				{ color: #CCC; font-style: italic; }
.form-submit				{ display: block; border: 0; background: none; text-align: center; cursor: pointer; }
LABEL, .label				{ font-weight: bold; }
.must LABEL					{ background: url("../goto-images/must.gif") no-repeat scroll left 5px; }
.txt_focus					{ padding: 3px; border: 1px solid #F00; font-size: 12px; font-family: "Arial"; color: #555; }
/*                FORMS Error and Validation DEFINITIONS              */
.error-msg					{ color: #F00; font-size: 11px; }
.icon-q						{ vertical-align: middle; }

.login .form-field-wrap, .login .form-field		{ position: relative; text-align: center; }
.login .form-field			{ padding: 0 85px 0 0; }
.login .form-field-wrap		{ margin-bottom: 10px; }
.login .error-msg-wrap		{ position: absolute; right: 0; top: 18px; width: 130px; text-align: left }
.form-checked               {margin:0 auto; text-align:center;}
.form-fieldSet   {margin-bottom:20px;} 
.loginbtn { border: none; margin: 0 auto; background: url("../goto-images/btn-bg1.png") no-repeat scroll 0 0; color: #fff; font-size: 12px; position: relative; left: 320px; font-weight: bold; height: 45px; padding-bottom: 15px; width: 120px; }

/* ----------------------- TABLE DEFINITIONS ------------------------ */
.data-table						{ width: 100%; margin: 20px 0; font-size: 12px; border: 0; border-spacing: 0; padding: 0; }
.data-table	CAPTION				{ height: 30px; text-align: center; font-size: 15px; font-weight: bold; color: #000; }
.data-table	CAPTION	.tools		{ float: left; }
.data-table TH, .data-table TD	{ height: 18px; padding: 2px; border-bottom: 2px solid #fff; border-left: 0px solid #fff; border-right: 2px solid #fff; text-align: center; vertical-align: middle; }
.data-table TH					{ background: #444; color: #FFF; }
.data-table TD					{ color: #000; }
.data-table TD.first			{ width: 20px; text-align: center; }
.data-table TD.close .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(../goto-images/arrows.png) no-repeat left top; text-align: center; }
.data-table TD.open .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(../goto-images/arrows.png) no-repeat left -18px; text-align: center; }
.data-table .even TD			{ background: #f1f1f1; }
.data-table .odd TD				{ color: #fff; Background: #8cb0d4; }
.titlelink {color:#fff;}
.titlelink a{color:#fff!important;}

.data-table-details						{ width: 600px; margin: 15px auto; text-align: left; }
.data-table-details .description 		{ float: left; width: 265px; height: 93px; padding: 15px; background: url(../goto-images/bg-description.png) no-repeat; }
.data-table-details .description .label	{ display: block; width: auto; margin-bottom: 10px; }
.data-table-details .description .wrap	{ height: 65px; overflow-y: auto; }
.data-table-details .details 			{ float: right; }
.data-table-details .refund 			{ width: 600px; padding: 10px; border: 1px solid #DDD; margin: 10px 0 10px -10px; background-color: #e3e7f0; }
.data-table-details .win-price, .data-table-details .price, .data-table-details .phone, .data-table-details .status	{ width: 265px; height: 13px; padding: 13px 15px 17px; background: url(../goto-images/bg-feild.png) no-repeat; }
.data-table-details .price, .data-table-details .phone	{ margin-top: -3px; }
.data-table-details .refund H2			 
{background-color: #5296d6;
	color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    height: 20px;
    margin: 0 auto 15px;
    padding: 5px;
    position: relative;
    right: 10px;
    text-align: center;
    top: -18px;
    width: 611px; }
.data-table-details .refund .btn		{ display: block; text-align: center; }
.data-table-details .refund .btn INPUT  { width: 120px; height: 51px; padding: 3px 0 25px; border: 0 none; margin: -5px auto 0; background: url("../goto-images/btn-bg1.png") no-repeat 0 0 ; color: #fff; cursor: pointer; font-size: 11px; font-weight: bold; text-align: center; }
.data-table-details .label				{ display: inline-block; width: 170px; font-size: 13px; color:#075874;}/* color: #f51824; }*/

.pagination							{ text-align: center; }
.pagination LI					{ display: inline; }
.pagination A,
.pager A,
.pager SPAN    					{ display: inline-block; height: 14px; padding: 2px 4px; border: 1px solid #bbb; margin: 5px; background-color: #FFF; color: #000; text-align: center; text-decoration: none; }
.pagination A.disabled,
.pagination A:hover.disabled	{ border: 1px solid #CCC; color: #CCC; background-color: #FFF; }
.pagination A:hover,
.pager A:hover				    { border: 1px solid #D00; color: #000; background-color: #DDD; }
.pagination A.active,
.pagination A:hover.active,
.pager A.active,
.pager A:hover.active,
.pager SPAN           	        { background-color: #ccc; color: #FFF; }

.PagerIncompleteReg TD,
.PagerIncompleteReg TABLE,
.pager TD,
.pager TABLE            		{ text-align: center; }
.PagerIncompleteReg TABLE,
.pager TABLE	            	{ margin: 0 auto; }

/* ----------------------- POPUP DEFINITIONS ------------------------ */

.modalBackground				{ background:#000; opacity: 0.3; filter: alpha(opacity=30); }
.popup 						{border: 1px solid #ccc; border-radius: 10px ;	-moz-border-radius: 10px; -webkit-border-radius: 10px;  position: relative; background:#fff; opacity: 0.9; filter: alpha(opacity=90);}
.popModal_del					{ border: 1px solid #ccc; border-radius: 10px;	-moz-border-radius: 10px; -webkit-border-radius: 10px;  position: relative; background:#fff; opacity: 0.9; filter: alpha(opacity=90); width: 415px; padding: 0 10px; z-index: 99999; }
.popModal_del .top				{ width: 415px;	height: 20px; background:#fff; opacity: 0.8; filter: alpha(opacity=80); }
.popModal_del .content			{ width: 355px;	max-height: 550px;  padding: 0 30px; margin: 0 !important;  z-index: 0; }/*overflow: hidden;*/
.popModal_del .bottom			{ width: 415px;	height: 35px; background:#fff; opacity: 0.8; filter: alpha(opacity=80); }

.popModal_del .f2				{ margin-bottom: 15px; }
.popModal_del .btn				{ display: block; width: 120px; height: 51px; padding: 3px 0 28px; margin: 0 auto; position:relative; left:0px; background :url("../goto-images/btn-bg1.png") no-repeat 0 0 ; border: 0 none; text-align: center; color: #fff; font-size: 14px; cursor: pointer; }
.popModal_del_hide				{ position: relative; left: -5000px; }
.span_x							{ position: absolute; top: 0; right: 45px; }
.span_A							{ position: absolute; top: 5px; right: 15px; width:30px; height:30px; background: url(../goto-images/btn-x.png) no-repeat; cursor: pointer; z-index: 999999; }
.terms							{ font-size: 11px; }
.termsminisite							{ font-size: 11px; font-weight: bold; color: #F00; }

.popModal_del .form-textarea	{ width: 165px; height: 65px; border: 1px solid #CCC; }
.popModal_del .label			{ display: inline-block; width: 120px; color: #075874; font-size: 12px; vertical-align: top; }
.popModal_del .error-msg		{ display: block; padding-left: 10px; color: #f61c12; font-size: 11px; }
.popModal_del P					{ margin-bottom: 10px; }
.popModal_del H2				{ text-align: center; margin-bottom: 25px; }
.divUserNameSetting {margin-left: 20px;}
/* ----------------------- HEADER DEFINITIONS ------------------------ */
#header						{ position: relative; width: 770px; height: 120px; background: url(../goto-images/headerbg.png) no-repeat bottom right;}
/*.login #header				{ height: 225px; background: url(../goto-images/professions.jpg) no-repeat bottom right; }*/
#headerin					{ position: relative; width: 790px; height: 105px; background: url(../goto-images/headerbg2.png) no-repeat bottom right; margin:0 auto;  }

.login #header				{ height: 225px; background: url(../goto-images/headerbg.png) no-repeat bottom right; }

.service-navigation			{ position: absolute; top: 5px; right: 50px; }
.service-navigation LI		{ float: left; padding: 0 0 0 10px; margin-left: 25px; }
.logoutsq					{float:left; background-color: #fff; width: 4px; height:4px; margin:6px;}
.service-navigation A		{ text-decoration: none; color: #fff; font-weight: bold; font-size: 13px; }
.service-navigation A:hover	{ text-decoration: underline; color: #666; }

#header H1					{ position: absolute; bottom: 50px; left: 0; width: 770px; color: #555; text-align: center; }
#header .logo				{ position: absolute; top: 20px; left: 0; display: block; }
#headerin .logo				{ position: absolute; top: 5px; left: 15px; display: block; }

#header .welcome			{ position: absolute; top: 82px; left: 0; color: #FFF; font-size: 13px; width:770px; text-align:center; }
#header .welcomeUser		{ display: inline-block; float: left; max-width: 230px; margin: 2px 10px; overflow: hidden; font-size: 16px; }
#header .welcomeBalance		{ display: inline-block; width: 250px; margin: 5px auto; text-align: center; }
#header .welcomeIncrease 	{ display: inline-block; float: right;  margin: 3px 10px; text-align: right; color: #FFF; }

   #headerin .welcomeUser			{ color: #FFFFFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: normal;
    position: relative;
   float:left; 
   margin-right:10px;}
    
   #headerin .welcome		{ float:right; position:relative; top:70px; right:20px; width: auto; text-align: left; }
   
  #headerin .welcomeBalance		{ float:left; position:relative; width: auto;  margin: 0px 10px; text-align: left;color: #FFF; }
#headerin .welcomeIncrease 	{ float:left; position:relative; float: left; width: auto; margin: 0px 10px; text-align: left; color: #FFF; }
  

/* ----------------------- CONTENT DEFINITIONS ------------------------ */
#primarycontent				{ width: 770px; float: left; }
#primarycontent H2			{ color: #fff; }
#primarycontent H6			{ color: #000; margin: 15px; font-size: 17px; font-weight: normal; text-align: center; }
#primarycontent .form-login  h2{color:#0057a4;}
/* ----------------------- SIDEBAR DEFINITIONS ------------------------ */
#sidebar					{ width: 230px; float: right; margin-top: -50px; }
#sidebar .add				{ width: 154px; padding: 0 38px; }
#sidebar .add P				{ font-size: 12px; line-height: 14px; color: #444; margin: 10px 0; }

/* ----------------------- LOGIN DEFINITIONS ------------------------ */
.form-login					{ text-align: center; }
.form-login	P				{ position: relative; margin: 0; }
.form-login	.login			{ text-align: left; }
.form-login	LABEL			{ display: inline-block; width: 85px; text-align: right; font-size: 11px; font-weight: normal; color: #555; }

.form-login .form-text		{ width: 443px; height: 24px; padding: 12px 20px 18px; border: medium none; line-height: 18px; background: url("../goto-images/form-input-bg.png") repeat scroll 0 0 transparent; font-size: 16px; vertical-align: middle; }
.form-login .form-submit	{ margin: 0 auto; background: url("../goto-images/btn2-bg.png") repeat scroll 0 0 transparent; color: #FFF; font-size: 12px; font-weight: bold; height: 61px; padding-bottom: 35px; width: 152px; }

.form-login .form-submitnew	{ margin: 0 auto; background: url("../goto-images/btn2-bg.png") repeat scroll 0 0 transparent; color: #FFF; font-size: 12px; font-weight: bold; height: 61px; padding-bottom: 35px; width: 152px; position:relative; left:20px; border:none; }
.form-login .service		{ font-size: 12px; }
.form-login .version_num	{ display: block; font-size: 10px; color: #666; }
.form-login .help			{ display: inline-block; margin: 0 20px; }


/* ----------------------- RENAME DEFINITIONS ------------------------ */
.page-rename				{ text-align: center; }
.page-rename .label			{ display: inline-block; width: 100px; margin-right: 10px; text-align: right; }
.page-rename .form-field	{ margin-bottom: 10px; }

/* ----------------------- MANAGEMENT DEFINITIONS ------------------------ */
.management .navigation			    { position: relative; width: 715px; height: 120px; padding: 0px 8px 5px 5px; margin: 0 auto 5px; background: url(../goto-images/bg-nav.png); z-index: 100; }
.management .navigation UL           { width: 715px; }
.management .navigation LI		    { float: left; width: 141px; height: 64px; border-right: 1px solid #FFF; }
.management .navigation A		    { display: inline-block; width: 91px; height: 64px;  padding: 0 0 0 50px; background: no-repeat 15px 20px; color: #FFF; font-size: 12px; font-weight: bold; text-decoration: none; }
.management .navigation A:hover	    { color: #DDD; }
.management .navigation .active A    { background-color: #fccd29; color: #265b83; }
.management .navigation LI.last      { border-right: none; }

.management A.btn-myaccount			{ background-image: url("../goto-images/icon-myaccount.png"); }
.management A.btn-myminisite         { background-image: url(../goto-images/icon-my-minisite.png); }
.management A.btn-calls             { background-image: url(../goto-images/icon-mycalls.png); }
.management A.btn-faq			{ background-image: url(../goto-images/icon-faq.png); }
.management A.btn-support          { background-image: url(../goto-images/icon-support.png); }

.management .active A.btn-myaccount	{ background-image: url("../goto-images/icon-myaccount-active.png"); }
.management .active A.btn-myminisite    { background-image: url(../goto-images/icon-my-minisite-active.png); }
.management .active A.btn-calls     { background-image: url(../goto-images/icon-mycalls-active.png); }
.management .active A.btn-faq	{ background-image: url(../goto-images/icon-faq-active.png); }
.management .active A.btn-support  { background-image: url(../goto-images/icon-support-active.png); }

.management .navigation .span_navigation { margin-top:24px; display:block; }

.master #content			{ position: relative; }

.page-contentm				{ position: relative; width: 656px; padding: 25px; margin: 0 auto; background: url(../images/bg-toolbox.gif)no-repeat top #EDF0F4; border-radius:  10px ;
              				   -moz-border-radius: 10px;  -border-radius: 10px ; -webkit-border-radius: 10px; 
    background: none repeat scroll 0 0 #fff; border: 1px solid #b1b1b1;
     }
.page-contentm H2			  
{
	background-color: #5296d6;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    margin: 0 auto 15px;
    padding-top: 10px;
    position: relative;
    right: 25px;
    text-align: center;
    top: -25px;
    width: 707px;-moz-border-radius: 10px 10px 0px 0px;  -border-radius: 10px 10px 0px 0px; -webkit-border-radius: 10px 10px 0px 0px;  }
.page-contentm .list			{margin-top:30px;}
.page-content H2			{ border-bottom: 2px solid #CCC; margin-bottom: 15px; color: #0057a4; font-size: 17px; font-weight: normal; text-align: center; }
.page-content .list			{margin-top:30px;}

/*---------------------- SUBMEMU DEFINITIONS ----------------------*/
.management .navigation LI UL 	    { position: absolute; top: -9999px; left: 10px; }

.management .navigation LI.active UL 	{ top: 90px; width: 700px; height: 15px; }
.management .navigation LI.active LI 	{ width: auto; height: 15px; position: relative; border: none; }
.management .navigation LI.active UL A, .publisher .navigation LI.active UL SPAN	{ position: relative; display: block; width: auto !important; height: 15px !important; padding: 0 10px 18px !important; margin: 0; color: #265b83; background: none !important; font-weight: bold; font-size: 12px; background-position: right 3px !important; background-repeat: no-repeat !important; }
.management .navigation LI.active UL A	{ color: #265b83; background-image: url(../goto-images/seperator.gif) !important; }
.management .navigation LI.active UL A.active 	{ color: #444; }
.management .navigation LI.active UL A:hover		{ color: #fff; }
.management .navigation LI.active UL LI.last A	{ background-image: none !important; }
.management .navigation LI.active UL SPAN		{ color: #cccfd3; background-image: url(../goto-images/seperator-1.gif) !important; }
.management .navigation LI.active UL SPAN.last	{ background-image: none !important; }

/* ----------------------- my calls ------------------------ */

.mycall {float: left; margin-right: 20px;  }
.myballance {float: left; margin-right: 20px;  }
.form-select {width: 155px; margin-top: 5px; }
.mycallsubmit {float: left;
    left: 550px;
    position: relative;
    top: -50px;}
    
.form-fieldM			     { float: left;width:150px;margin:0px 30px 20px 0px;}

/* ----------------------- MY ACCOUNT FRAME DEFINITIONS ------------------------ */
iframe
 { 

   left: 5px;
    overflow-x: hidden;
    padding: 5px;
    position: relative;
    top: 0;
    width: 530px;
 

} 

.boxxx {
	width: 533px;
	height: 1px;
	margin: 0 auto 15px auto;
	padding: 30px;
	display:none;
	border-radius: 11px;
	
}


.iframe-content				{ -moz-border-radius: 10px;  border-radius: 10px;  -webkit-border-radius: 10px;  
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0px solid #C1C1C1;
    float: right;
    margin: 0 auto;
    position: relative;
    right: 30px;
    width: 550px;
    z-index:2; }
.tab-navigation				{  left: 37px; position: absolute; top: 30px; *top:40px; }

.tab-navigation A			{ background: #666; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px;   -moz-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px;  -webkit-border-radius: 10px 0 0 10px;  color: #c1c1c1; font-size: 12px; font-weight: bold; text-decoration: none; }
.tab-navigation A.mouseover:hover { background: #0057a4; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px; -moz-border-radius: 10px 0 0 10px;  border-radius: 10px 0 0 10px;  -webkit-border-radius: 10px 0 0 10px;  font-size: 12px; font-weight: bold; text-decoration: none;color: #fff; }
.tab-navigation A.active { background: #fff; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px; -moz-border-radius: 10px 0 0 10px;  border-radius: 10px 0 0 10px;  -webkit-border-radius: 10px 0 0 10px;  font-size: 12px; font-weight: bold; text-decoration: none;color: #0057a4; }
.tab-navigation A SPAN.mouseover		{ display: inline-block; width: 18px; height: 16px; padding: 2px 0 0; margin: -2px 5px 0 0; text-align: center; }
.tab-navigation A SPAN.titleNavigation {display:inline-block;width:80px;}

.tab-navigation  A.active SPAN.mouseover { background: url(../goto-images/o-bullet-bg.gif) no-repeat #FFF; color: #ccc; }
.tab-navigation  A.active:hover {background: #fff; color:#0057a4;}
.iframe-content .frame-top		{ height: 20px; width: 590px;}
.iframe-content .frame-right	{ height: 100%; width: 30px; }
.iframe-content .frame-bottom	{ height: 40px; width: 590px; }
.iframe-content .frame-left		{ height: 100%; width: 30px; }
.iframe-content .frame-center	{ background-color: #fff; }
.iframe-content .iframe			{ height: 900px; width: 530px; position:relative; left: 10px; top:0px; z-index:2;}

.iframe-inner					{ background-color: #fff; }

/* ----------------------- MY ACCOUNT DEFINITIONS ------------------------ */
.iframe-inner					{ padding: 20px; }
.iframe-inner .form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px; margin: 20px auto 0; background: url("../goto-images/btn-bg.png") no-repeat 0 0; color: #FFF; font-size: 14px; }

.iframe-inner .lists-select				{ margin-bottom: 20px; }
.iframe-inner .list-select				{ width: 235px; float: left; text-align: center; }
.iframe-inner .list-select .form-select	{ width: 200px; height: 160px; margin: 0 auto;}
.iframe-inner .choice					{ background: url("../goto-images/icon-remove.gif") no-repeat left bottom; }
.iframe-inner .all						{ background: url("../goto-images/icon-add.gif") no-repeat right bottom; }
.iframe-inner .list-select LABEL		{ display: block; margin-bottom: 10px; color: #075874; font-size: 14px; text-align: center; }
.iframe-inner .list-select .btn			{ display: block; width: 120px; height: 45px; padding: 8px 0 0; margin: 10px auto; background: url("../goto-images/bg-btn.gif") no-repeat 0 0; color: #FFFFFF; text-align: center; text-decoration: none;}

.iframe-inner .steps			{ margin: 20px 0; text-align: center; }
.iframe-inner .steps IMG		{ margin: 0 0 2px 5px; vertical-align: text-bottom; }

/* ----------------------- STEP1 DEFINITIONS ------------------------ */
.step1 .intro					{ margin-bottom: 20px; }
.step1 .intro SPAN				{ display: block; }
.step1 .form-text, .step1 .txt_focus{ width: 165px; margin-right: 10px; }
.step1 .form-select				{ width: 173px; margin-right: 10px; }
.step1 LABEL					{ display: inline-block; width: 170px; height: 18px; padding: 0 0 0 15px; }
.step1 .error-msg				{ vertical-align: middle; }

/* ----------------------- STEP2 DEFINITIONS ------------------------ */
.step2 H3						{ color: #075874; font-size: 13px; text-decoration: underline; }

/* ----------------------- STEP3 DEFINITIONS ------------------------ */
.step3 #map						{ width: 450px; height: 440px; margin: 20px auto; border: 1px solid grey; }
.iframe-inner .lists-selectmap {float:left; width:500px; margin-left: 10px; }

/* ----------------------- STEP4 DEFINITIONS ------------------------ */
.step4 TABLE.main				{ margin: 20px auto; width: 420px; }
.step4 TABLE.main TD			{ padding: 2px; border-bottom: 1px dotted #8D8F8C; border-right: 1px solid #8D8F8C; background-color: #E2E3E5; text-align: center; font-size: 14px; }

.step4 .suspend, .step4 .regular{ text-align: center; }
.step4 .form-field				{ width: 240px; margin: 10px 0; float: left; text-align: center; }

.step4 .form-submit				{ width: 83px; height: 44px; padding: 3px 0 28px; margin: 15px auto; background: url("../goto-images/btn-bg.png") no-repeat 0 0; color: #FFF; font-size: 14px; }
.step4 .form-text, .step4 .WaterMarkText{ width: 70px; }
.step4 .calendar				{ vertical-align: middle; }

/* ----------------------- STEP5 DEFINITIONS ------------------------ */
.btn-price-sim					{ display: block; width: 196px; height: 22px; padding: 3px 0; background: url(../goto-images/bg-red-btn.png) no-repeat center; text-align: center; font-size: 17px; color: #FFF; text-decoration: none; }
.leadBox						{ width: 172px; height: 48px; padding: 15px 10px; background: url(../goto-images/bg-box.png) no-repeat center; text-align: center; font-weight: bold; font-size: 12px; color: #444; }

.step5-wrap						{ }
.step5-wrap .price-per-call		{ float: left; }
.step5-wrap .price				{ width: 50px; }
.step5-wrap .price-simulator	{ float: right; }
.step5-wrap .details			{  bottom: 10px; left: 10px;  }
.step5-wrap .btn-on-off			{ position: relative; display: inline-block; width: 56px; height: 15px; padding: 3px 8px; color: #FFF; font-weight: normal; font-size: 12px; text-decoration: none; }
.step5-wrap .on					{ background: url(../goto-images/bg-btn-on.png) no-repeat left center; text-align: left;}
.step5-wrap .off				{ background: url(../goto-images/bg-btn-off.png) no-repeat left center; text-align: right; }
.step5-wrap .on .form-checkbox	{ position: absolute; right: 8px; top: 5px; }
.step5-wrap .learn-more			{ display: inline-block; height: 17px; margin: 10px 0 0 0; padding: 3px 23px 0 0; background: url(../goto-images/icon-add.png) no-repeat right center; }
.step5-wrap .learn-more-closed			{ display: inline-block; height: 17px; margin: 10px 0 0 0; padding: 3px 23px 0 0; background: url(../goto-images/icon-remove.png) no-repeat right center; }
.step5-wrap .off_disable .btn-on-off 				{ background: url(../goto-images/bg-btn-off_disabled.png) no-repeat left center; text-align: right; color: #ccc;}
.step5-wrap .Lead {
	color: #A8DA6D; font-weight: bold;
}
.step5-wrap .NotLead
{
	color: #FF0000; font-weight: bold;
}

.more                           {position:relative; top:0px;  float: left; margin-bottom: 0px; position: relative; right: 20px; top: 20px;}
.step5-more-details				{  position: relative; display: block; height: auto; padding: 10px; margin: 20px 10px; background: #dddddd; border: 1px solid #ccc; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;  }
/*
.step5-more-details				{   position: relative; left: 12px; display: block; width: 500px; background: url(../goto-images/bg-wrap-box-tile.png) repeat-y; }
.step5-more-details	.top		{ position: relative; top: -10px; left: 0; display: block; width: 500px; height: 10px; background: url(../goto-images/bg-wrap-box1.png) no-repeat top left; }
.step5-more-details	.bottom		{ position: relative; bottom: -10px; left: 0; display: block; width: 500px; height: 10px; background: url(../goto-images/bg-wrap-box1.png) no-repeat bottom left; }*/

/* ----------------------- STEP6 DEFINITIONS ------------------------ */
.step6 H2						{ border-bottom:2px solid #CCCCCC; margin-bottom:15px; color: #0057a4; font-size: 17px; font-weight: normal; text-align: center; }
.step6 H3						{ font-size: 16px; color:#383A37; margin: 20px 0 10px; text-align: center; }

.track_oprions					{ width: 460px; height: 285px; padding: 20px; margin: 10px 0; background: url(../goto-images/bg-4.png) no-repeat center center;  }
.track_oprions P				{ text-align: center; }
.track_oprions .details			{ width: 160px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }

.step6 .Packages_Pricing		{ height: 180px; margin-bottom: 10px; overflow-y: auto; overflow-x: hidden; }
.step6 .Packege_list LI			{ float: left; width: 210px; height: 90px; }
.step6 .Packege_list LI LABEL	{ display: block; margin-bottom: 5px; text-align: center; color: #075874; font-size: 14px; font-weight: bold; }
.step6 .Packege_list LI .pack	{ width: 145px; height: 60px; margin: 0 auto; background: url("../goto-images/package-bg-silver.png") no-repeat; text-align: center; color: #FFF; }
.step6 .Packege_list LI .pack P	{ padding: 15px 10px; }

.step6 .TableDeposit			{ width: 390px; margin: 0 auto; color: #075874; }
.step6 .TableDeposit .form-text	{ width: 62px; }

.step6 .steps, .step6 .form-submit { margin: 15px 0 0 210px; }
.step6 .thanks	{ margin: 15px 0 0 150px; color: #075874;font-size:14pt;display:none;}
.step6 .payment-method			{ margin-bottom: 5px; color: #075874; font-weight: bold; }
.step6 #rbl_PaymentMethod input { margin-right: 5px; vertical-align: text-bottom; }
.step6 .creditcard img			{ margin-left: 10px; }

.step6 .feilds .name			{ float: left; width: 160px; margin-right: 17px; }
.step6 .feilds .number			{ float: left; width: 160px; margin-right: 17px; }
.step6 .feilds .expiry			{ float: left; width: 120px; }
.step6 .feilds .code			{ float: left; width: 160px; margin-right: 17px; }
.step6 .feilds .id			    { float: left; width: 160px; clear: right; }
.step6 .feilds .form-text		{ width: 152px; }
.step6 .feilds .form-select		{ float: left; }
.step6 .feilds .seperator		{ float: left; display: inline-block; padding: 5px 6px 0; }
.step6 .feilds LABEL			{ display: block; height: 18px; padding-right: 20px; overflow: hidden; color: #075874; font-size: 11px; clear: both; }
.step6 .feilds LABEL.must		{ background: url(../goto-images/star.gif) no-repeat right top; }
.step6 .feilds .privacy			{ color: #172f6e; display: block; }
.step6 .feilds .buy				{ display: block; width: 48px; height: 47px; background: url(../goto-images/btn-buy-now.gif); margin: -55px 0 0 200px; }
.form-select4			{ width: 80px; padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; }

/* ----------------------- MINISITE DEFINITIONS ------------------------ */
.minisite .form-file			{ vertical-align: top; padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; }
.minisite H3					{ color: #075874; font-size: 14px; margin: 15px 0 5px; }
.minisite P						{ color: #595959; font-size: 12px; line-height: 15px; }
.minisite .btn                  { width: 83px; height: 52px; padding: 0px 0 30px 0; margin-right: 5px; background: url(../goto-images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #FFF; font-size: 14px; cursor: pointer; }                
.minisite .form-textarea		{ width: 100%; margin-bottom: 15px; }
.minisite .my-video				{ width: 350px; }
.minisite .terms				{ margin: 20px 0; font-weight: bold; color: #075874; }

.minisite .terms A				{ color: #00F; }
.note							{ font-size: 11px; color: #555; }
.star							{ color: #075874; }

/* ----------------------- SETTINGS DEFINITIONS ------------------------ */
.page-settings					{ text-align: center; }
.page-settings P				{ margin-bottom: 15px; }
#form1 .page-settings .form-submit,
.page-settings .form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px; margin: 20px auto 0; background: url("../goto-images/btn-bg.png") no-repeat 0 0; color: #FFF; font-size: 14px; }
.page-settings P .label			{ display: inline-block; width: 200px; text-align: left; }
/* ----------------------- PROFFESIONAL DEFINITIONS ------------------------ */
.supplier-minisite #container	{ position: relative; width: 710px; padding: 30px; border: solid 1px #f08716; margin: 20px auto; }
.supplier-minisite #header		{ width: 710px; height: 100px; background: none; }
.supplier-minisite #header H1	{ position: relative; bottom: auto; left: auto; font-weight: bold; color: #0068d1; font-size: 15px; text-align: left; width: auto; }

#supplierLogo					{ position:absolute; top: 0; left: 0; width: 82px; height: 85px; }
.contact-details				{ position:absolute; top: 0; left: 100px; }
.contact-details P				{ text-align: left; font-size: 15px; margin: 0 0 5px; }
.contact-details .phone			{ margin-top: 25px; font-weight: bold; }
.contact-details .address		{ font-size:12px;}
#links							{ position:absolute; top:121px; left:55px; width:590px;}

.field							{ padding-bottom: 20px; }
.rate-details .field			{ width: 230px; padding-bottom: 20px; margin-right: 10px; float: left; text-align: center; }
.last							{ margin-right: 0 !important; }
.rate-details .field .label		{ display: inline-block; height: 15px; padding: 7px 0 0 30px; }

.field .survey					{ background: url(../goto-images/icons/icon-survyes.gif) no-repeat left center; }
.field .employees				{ background: url(../goto-images/icons/icon-employees.gif) no-repeat left center; }
.field .calls					{ background: url(../goto-images/icons/icon-calls.gif) no-repeat left center; }
.field .diploma					{ background: url(../goto-images/icons/icon-certified.gif) no-repeat left center; }
.field .video					{ background: url(../goto-images/icons/icon-video.gif) no-repeat left center; margin-bottom: 15px; }

.video , .flash					{ margin: 30px 0; text-align: center; }
.video .label, .flash .label	{ display: block; margin-bottom: 10px; text-align: left; }


.p_credit{ line-height:inherit;}

/* ----------------------- Form To Date------------------------ */
#form1 .form-submit { width: 120px; height: 51px; padding: 3px 0 33px; background: url(../goto-images/btn-bg1.png) no-repeat; position:relative; top:10px; color: #fff; margin: 0 auto;}
#form-password-confirmation .form-submit,
.CreateReportSubmit2				{ width: 120px; height: 51px; padding: 3px 0 48px; margin: 0 0 20px 270px;  position: relative; top: 0px; background: url(../images/btn-bg1.png) no-repeat; border: 0; text-align: center; color: #fff; font-size: 14px; cursor: pointer; }

.CreateReportSubmit2			{ width: 120px; height: 51px; padding: 3px 0 33px; background: url(../goto-images/btn-bg1.png) no-repeat ; color: #FFF; margin: 0 auto;}
#formdates .form-submit,
#formdates .CreateReportSubmit2		{ position:relative; top: 20px; width: 120px; height: 51px; padding: 3px 0 33px; background: url(../goto-images/btn-bg1.png) no-repeat; color: #FFF; }

.labeldate { position: relative; top: 9px;}
.fromdate {  margin-top:1px;}
.dates2{ float: left; margin-right:30px; width: 150px;}
.form-text2	        { width: 80px; height: 17px; padding: 3px;  border: 1px solid #CCCCCC; color: #999; font-size: 11px;  }
.calendar2{ position: relative; top: 5px; margin-right: 5px;}
.label2 {font-weight: bold; color: #000000;}
.label3 {font-weight: bold; color: #000000; text-indent: 15px;}
.searchform { position: relative; top: -43px;}
.mycalls .CreateReportSubmit2 {position: relative; top: 25px;  margin: 0 0 0 90px;  left: 180px;}
.mybalance .CreateReportSubmit2 {position: relative; top: 10px; margin: 0 0 0 90px; left: 180px;}
.myreviews  .CreateReportSubmit2{position: relative; top: 30px;  right: 10px; margin: 0 0 0 90px;}
.myreviews  {position: relative;  left:110px; margin: 0 0 0 90px;}

analyticsdate .CreateReportSubmit2 {position: relative; top: 70px; right: 20px;}
.refunddate .CreateReportSubmit2 {position: relative; top: 30px;  right: 20px; margin-bottom: 20px;} 
.request .CreateReportSubmit2 {position: relative; top: 0px;  right: 20px; margin-bottom: 20px;}
.invaliddate .CreateReportSubmit2 {position: relative; top: 35px;  right: 20px;}
.c2cdate .CreateReportSubmit2 {position: relative; top: 15px;  right: 20px;margin-bottom: 60px;}

.callreport .CreateReportSubmit2 {position: relative; top: 70px;  right: 20px;}
.audit .CreateReportSubmit2 {position: relative; top: 30px; right: 150px; margin-bottom: 30px;}

.CreateReportSubmit2		{
    width: 120px;
    height: 51px;
    padding: 3px 0 28px 0;
    background: url(../goto-images/btn-bg1.png) no-repeat ;
    border: 0;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
}
/* ----------------------- CALENDAR DEFINITIONS ------------------------ */
.dates							{ padding: 0; margin: 20px 0; font-size: 12px; }
.dates .form-text				{ float: left; width: 60px; height: 13px; padding: 6px 3px 1px; margin: -5px 0 0; background: url(../goto-images/bg-input-dates.png) no-repeat; border: 0; color: #999; font-size: 11px; }
.dates LABEL					{ padding: 0 10px 0 20px; color: #999; font-size: 12px; }
.dates SPAN						{ float: left; padding: 0 10px 0 0; color: #999; font-size: 12px; }
.dates A.calendar				{ float: left; margin: -5px 25px 0 3px; }
.dates .form-submit				{ width: 120px; height: 51px; padding-top: 5px; margin: 0 auto -22px; font-size: 12px; font-weight: bold; color: #fff; background-image: url(../goto-images/btn-bg1.png) no-repeat; }
.dates .date_error				{ padding: 10px 0 0 25px; font-size: 10px; font-weight: bold; color: #075874; }
.clear_dates					{ display: inline-block; padding: 5px 25px 5px 10px; margin: -5px 0 0; color: #000; font-weight: bold; text-decoration: none; background: url(../goto-images/icon-clear.png) no-repeat rigth center; }

/* ----------------------- form-credit-card DEFINITIONS ------------------------ */
.form-credit-card H3			{ margin: 0 0 10px; text-align: center; font-size: 24px; }
.form-credit-card H3 IMG		{ vertical-align: middle; }

.form-credit-card H4			{ margin: 0 0 15px; text-align: center; font-size: 18px; }
.form-credit-card .amount		{ color: #0d8800; }

.form-credit-card .form-field	{ margin-bottom: 10px; }

.form-credit-card LABEL			{ display: block; margin-bottom: 5px; }
.form-credit-card LABEL	.must	{ color: #F61C12; }

.form-credit-card .form-text	{ width: 250px; }
.form-credit-card .error-msg	{ display: none; padding: 0; margin: 5px 0; }
.form-credit-card .error .form-text,
.form-credit-card .error .form-textarea,
.form-credit-card .error .form-select	{ border-color: #F61C12; }
.form-credit-card .error .error-msg		{ display: block; }

/* ----------------------- Cities DEFINITIONS ------------------------ */
#divCheckAll					{  background: url("../goto-images/icons/checkOptions.png") repeat scroll 0 -13px transparent;
    display: inline-block;
    float: left;
    height: 13px;
    left: 20px;
    position: relative;
    top: 11px;
    width: 13px; }
.check-all LABEL				{   color: #00156E;
    display: inline-block;
    float: left;
    height: 13px;
    left: 25px;
    position: relative;
    top: 10px; }

/*---------------------- GENERAL CALL TOOLTIP -----------------------*/
.page-call-popup                { width: 96%; padding: 2%; margin: 0; background: url(../general/images/tooltip/gradient-white.png) repeat-x top #00F; text-align: center; color: #FFF; font-size: 12px; line-height: 14px; }
.page-call-popup P				{ margin-bottom: 5px; }
.page-call-popup .form-field	{ width: 200px; margin: 0 auto; }
.page-call-popup .form-text	    { float: left; width: 122px; height: 15px; padding: 2px; border: 0 none; margin-right: 5px; background:url(../general/images/tooltip/bg-tooltip-input.png) no-repeat; }
.page-call-popup .form-submit	{ float: left; width: 64px; height: 19px; padding: 0 0 4px; border: 0 none; background: #FFF no-repeat; cursor: pointer; font-weight: bold; color: #000; font-size: 12px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;

}
.page-call-popup .call			{  }
.page-call-popup .response		{  }
.page-call-popup .response P	{ font-size: 16px; line-height: 17px; margin: 3px 0; }	

/*----------------------CHANGE PASS----------------------------------*/
.new_pass{border:1px solid #AAAAAA;width:200px;line-height:25px;height:25px; margin-bottom: 20px;}

.deposive_num
{
	color: #008000;
}
.negative_num
{
	color: #FF0000;
}
.balance_num
{
	color: #000000;
}


/*--REVIEWS--*/

.wraprev {
	width: 918px;
	height: auto;
	margin: 0 auto;
	
}
.header {
	background-image:url(../goto-images/topreviewsgoto.png);
	background-repeat:no-repeat;
	width: 918px;
	height: 95px;
	margin-bottom: 10px;
}

.strip {
	background-image:url(images/strip.jpg);
	background-repeat:repeat-x;
	width: 918px;
	height: 35px;
	margin-top: 30px;
}

.txt {
	font-family: Arial;
	color: #000;
	text-align: left;
	font-size: 12px;
	float: left;
	padding-top: 5px;
}
.txt2 {
	font-family: Arial;
	color: #ff6600;
	text-align: left;
	font-size: 12px;
	float: left;
	padding-top: 5px;
}

.bg {
	background-image:url(images/bgyp.jpg);
		background-repeat:no-repeat;
	margin-bottom: 20px;
	width: 918px;
	height: 149px;
}
.title {
	font-family: Arial;
	color: #386899;
	text-align: left;
	font-size: 15px;
	height: 20px;
	margin-bottom: 10px;
	text-indent: 10px;
}
	
	.info {
	height: 20px;
    margin: 0 0 0 10px;
	padding: 30px 0 0 10px;
	}
	
	.info .fieldph {
	border: 1px solid #ccc;
	background: #fff;
	height: 23px;
	width: 210px;
	float: left;
	margin: 0px 30px 0px 0px;

}
.info2 {
	height: 60px;
    margin: 0 0 0 10px;
    padding: 20px 0 0 10px;
	}
	.info2 .fieldrev {
	border: 1px solid #ccc;
	background: #fff;
	height: 53px;
	width: 555px;
	float: left;
	margin: 0px 30px 0px 0px;

}
.rating {
	 float: left;
    height: 40px;
	 left: 20px;
    position: relative;
 
}
.rating1 {
	 float: left;
    height: 25px;
    position: relative;
    top: -3px;
	left: 15px;
	margin-right: 20px;
}
.send{
	 float: left;
    left: 25px;
    position: relative;
    top: 20px;
    background-image:url(images/sendbtn.png);
		background-repeat:no-repeat;
		background-color:Transparent;
		width:166px;
		height: 34px;
		border: none;
		color: #fff;
		font-weight:bold;
		padding-bottom:5PX;
		cursor:pointer;
}

.strip .field {
	position: relative;
	left: 20px;
	top: 6px;
	width: 150px;
	float: left;
	
	
}
.strip .date {
	position: relative;
	left: 20px;
	top: 6px;
	margin-right:20px;
	float: left;
	
	
}
.strip .by {
	position: relative;
	left: 20px;
	top: 6px;
	width: 350px;
	float: left;
	
	
}
.review {
	width: 918px;
	height: auto;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	color: #000;
	margin: 10px;
	
	
}
.ReviewSend
{
	background-image:url(images/send.png);
	width:168px;
	height:48px;

}
.like {
background-image:url(images/up.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
}
.like a{
background-image:url(images/up.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
		text-decoration:none !important;
}
.like a:hover
{
	text-decoration:none !important;
}
	
.likedisable {
background-image:url(images/upoff.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
	
}
.likedisable a:hover
{
	text-decoration:none;
}

.dislike{
background-image:url(images/down.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
}

.dislike a{
background-image:url(images/down.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
		text-decoration:none;
}
.dislike a:hover
{
	text-decoration:none!important;
}
.dislikedisable {
background-image:url(images/downoff.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
		
}
.dislikedisable a:hover
{
	text-decoration:none!important;
}




.capcha   
{
	height: 197px;
    left: 6px;
    margin: 20px auto;
    position: relative;
    width: 197px;
    }
.captchapict{ margin: 20px auto;}
.form-textcaptcha {padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; width:200px; height:25px;}
.captchalabel {width:197px!important;text-align:center!important;}
.capcha A
{
	text-align:center;
}
