/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }/* border: 1px dotted red; */
BODY				{ font-family: Arial; font-size: 14px; color: #333; direction: ltr; text-align: left; background: #FFF; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A:active			{ outline: none; }
:-moz-any-link:focus { outline: none; }
OBJECT				{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.fc-red				{ color: #ed232a; }

.center				{ text-align: center; }

.iframe-inner		{ background-color: #f0f4f7; }

#main				{ margin: 0 auto; width: 1000px; }

#header				{ position: relative; width: 770px; height: 225px; background: url(images/professions.jpg) no-repeat bottom right; }
#service-navigation	{ position: absolute; width: 770px; top: 20px; left: 50px; }
#service-navigation LI	{ float: left; background: url(images/menu-btn-bg.gif) no-repeat left center; padding: 0 50px 0 10px; }
#service-navigation A	{ text-decoration: none; color: #000; font-weight: bold; font-size: 13px; }
#service-navigation A:hover	{ text-decoration: underline; color: #666; }

#header H1			{ position: absolute; bottom: 50px; right: 240px; font-size: 30px; color: #555; font-family: "Myriad Pro"; font-weight: normal; }
#logo				{ position: absolute; top: 60px; left: 50px; display: block; width: 228px; height: 47px; background: url(images/logo.jpg); }

#primary-content	{ width: 770px; float: left; }
#primary-content H2	{ margin-bottom: 10px; font-size: 20px; color: #555; font-family: "Myriad Pro"; font-weight: normal; }

#sidebar			{ width: 230px; float: right; margin-top: -35px; }
#sidebar .add		{ width: 154px; padding: 0 38px; border-bottom: 1px dotted #CCC; }
#sidebar .add P		{ font-size: 12px; line-height: 14px; color: #444; margin: 10px 0; }

#sidebar .testimonials { width: 170px; height: 230px; margin: 10px 0; padding: 20px 30px; background: url(images/bg-testimonials.png) no-repeat center; text-align: center; }
#sidebar .testimonials H3 { color: #104780; font-size: 13px; margin-bottom: 10px; }
#sidebar .testimonials UL { text-align: left; width: 150px; margin: 0 auto; }
#sidebar .testimonials A  { display: block; height: 45px; text-decoration: none; color: #444; font-size: 12px; background: url(images/icon-testimonial.png) no-repeat top right; }
#sidebar .testimonials A:hover  { text-decoration: underline; }

.iframe-inner #main	{ width: 500px; padding: 25px; background: #f0f4f7; font-size: 12px; color: #383a37; }
.iframe-inner P		{ font-size: 12px; color: #383a37; line-height: 14px; }

.container			{ width: 755px; min-height: 500px; margin: 0 auto; }
.container .content	{ position: relative; }
.navigation			{ width: 706px; height: 72px; padding: 6px 15px 18px; margin: 0 auto; background: url(images/bg-nav.jpg); }
.navigation	LI		{ float: left; border-right: 1px solid #FFF; background-position: 20px 22px; background-repeat: no-repeat; }
.navigation	LI.active { background-color: #EEE; }
.navigation	LI.last	{ border-right: 0; }
.navigation	A		{ display: inline-block; height: 44px; padding: 28px 30px 0 55px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigation	A:hover, .navigation A.active { color: #ed232a; text-decoration: underline; }

#btn-myaccount		{ background-image: url(images/icon-myaccount.png); }
#btn-myminisite		{ background-image: url(images/icon-my-minisite.png); }
#btn-calls			{ background-image: url(images/icon-mycalls.png); }
#btn-faq			{ background-image: url(images/icon-faq.png); }
#btn-support		{ background-image: url(images/icon-support.png); }

.iframe-content		{ float: right; }
.iframe-content IFRAME	{ }
.tab-navigation		{ position: absolute; top: 30px; float: left; }
.tab-navigation A	{ display: block; width: 137px; height: 58px; padding: 30px 0 0 30px; background: url(images/tab-ltr.jpg) no-repeat; font-weight: bold; color: #383a37; text-decoration: none; font-size: 12px; }	
.tab-navigation A:hover, .tab-navigation A.active { background: url(images/tab-ltr-active.jpg) no-repeat; color: #ed232a; }
.tab-navigation A SPAN { display: inline-block; width: 18px; height: 16px; margin: -2px 5px 0 0; padding: 2px 0 0 0; text-align: center; }
.tab-navigation A:hover SPAN, .tab-navigation A.active SPAN { background: url(images/o-bullet-bg.gif) no-repeat; color: #FFF; }

/* ----------------------- TOFES1 DEFINITIONS ------------------------ */
#form4 #main		{ width: 500px !important; padding: 25px 0 !important; }
#form-info			{ margin-left: 50px; }
#form-info P		{ clear: both; }
#form-info LABEL	{ display: inline-block; height: 18px; width: 125px; padding: 0 0 0 15px; vertical-align: top; }
#form-info .must	{ background: url(images/must.gif) no-repeat left 5px; }

.form-text, .form-select { width: 150px; }
.form-textarea		{ width: 300px; height: 70px; }
.form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.form-checkbox		{ vertical-align: middle; }
#form-info .form-submit, #form-info .steps	{ margin-left: 140px; }
#form-info .steps , #form-segment .steps, #form-credits .steps	{ color: #ed232a; font-size: 11px; }

/* ----------------------- TOFES2 DEFINITIONS ------------------------ */

#form-segment .steps, #form-segment .form-submit	{ margin: 15px 0 0 210px; } 
.list-select		{ float: left; width: 250px; text-align: center; }
.list-select LABEL	{ display: block; text-align: center; color: #d01f25; font-size: 14px; margin-bottom: 10px; }
.list-select SELECT	{ width: 200px; height: 160px; margin: 0 auto; border: 1px solid #333; }
.list-select .btn	{ display: block; width: 72px; height: 18px; padding: 3px 0 0 0; color: #FFF; margin: 10px auto; text-align: center; text-decoration: none; background: url(images/bg-btn.gif) no-repeat; }
.all				{ background: url(images/icon-add.gif) no-repeat bottom right; }
.choice				{ background: url(images/icon-remove.gif) no-repeat bottom left; }
#form-segment H3	{ color: #ed232a; font-size: 13px; text-align: center; text-decoration: underline; }
.cb					{ width: 165px; float: left; margin: 20px 0 0 0; }

/* ----------------------- TOFES3 DEFINITIONS ------------------------ */


#form1 .steps, #form1 .form-submit	{ margin: 15px 0 0 0px; } 
#form1 .form-select{ width: 55px; font-size: 10px; border: 1px solid #d1d1d1; }
#form1 TABLE.main		{ width: 420px; margin: 0 auto; }
#form1 TABLE.main1		{ width: 420px; margin: 0 auto; margin-top: 10px; }
#form1 TABLE.main1 TD	{ background: none; border: 0; }
#form1 TD.regular			{ text-align: center; vertical-align: middle; border-right: 1px solid #8d8f8c; padding: 2px ; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }
#form1 TD.details	{ text-align: left; }
#form1 TD A		{ color: #444; }
#form1 TD A	IMG	{ margin-bottom: -5px; }
#form1 TD.start{ text-align: left; vertical-align: middle; border-right: 1px solid #8d8f8c; padding: 2px ; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }
#form1 TD.last			{ text-align: left; vertical-align: middle; border-right: none; padding: 2px ; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }


.div_message
{
    color: red;
}
.WaterMarkText
{
    font-style: italic;
    color: gray;
    font-size: 10pt;
}

/* ----------------------- TOFES4 DEFINITIONS ------------------------ */

#form-credits H3	{ color: #383a37; font-size: 13px; text-align: center; }
#form-credits .steps, #form-credits .form-submit	{ margin: 15px 0 0 210px; } 
.track_oprions		{ width: 460px; height: 285px; padding: 20px; margin: 10px 0; background: url(images/bg-4.png) no-repeat center center; }
.track_oprions P	{ text-align: center; }
.track_oprions .details { width: 160px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }
#form-amount		{ width: 30px; }
#form-credits .rb	{ width: 150px; text-align: center; float: left; margin-right: 5px; }
#form-credits .last	{ margin-right: 0px !important; }
#volume-calculations{ display: block; background: url(images/btn1-bg.png) no-repeat; width: 194px; height: 31px; padding-top: 5px; font-size: 13px; font-weight: bold; text-align: center; color: #ed232a; margin: 10px auto; }


/* ----------------------- LOGIN DEFINITIONS ------------------------ */

.login-wrap			{ text-align: center; }
.login-wrap	H3		{ font-size: 14px; color: #ed232a; margin-bottom: 35px; }

#form-login .form-input, #form-password-confirmation .form-input{ width: 443px; height: 24px; padding: 12px 20px 18px; background: url(images/form-input-bg.png); border: none; font-size: 16px; line-height: 18px; font-family: Arial; vertical-align: middle; }
#form-login LABEL, #form-password-confirmation LABEL			{ display: inline-block; font-size: 11px; color: #444; text-align: right; width: 130px; }
#form-login .q		{ display: inline-block; width: 17px; height: 17px; margin-bottom: -5px; background: url(images/icon-q.png) no-repeat center; }
#form-login .form-submit, #form-password-confirmation .form-submit  { width: 152px; height: 61px; padding-bottom: 35px; color: #FFF; font-size: 12px; font-weight: bold; background: url(images/btn2-bg.png); }

#form-login .service{ margin-top: 40px; font-size: 12px; }
#form-login .service LABEL	{ color: #ed232a; text-align: left; width: 80px; }
#form-login .service A		{ color: #444; text-align: left; }

/* ----------------------- PASSWORD DEFINITIONS ------------------------ */

#form-password-confirmation .form-submit { letter-spacing: -.5px; }
#form-password-confirmation .btn		{ display: inline-block; width: 83px; height: 39px; padding: 5px 0 0 0; background: url(images/btn-bg.png) no-repeat; text-align: center; font-size: 12px; color: #FFF; text-decoration: none; font-weight: bold; }





