/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }/* border: 1px dotted red; */
BODY				{ font-family: Arial; font-size: 14px; color: #333; direction: ltr; text-align: left; background: #FFF; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A:active			{ outline: none; }
:-moz-any-link:focus { outline: none; }
OBJECT				{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.fc-green			{ color: #50942d; }
.center				{ text-align: center; }

.iframe-inner		{ background-color: #f0f4f7; }

#main				{ margin: 0 auto; width: 945px; padding: 0; border: 0; background: url(images/NO-PROBLEM-bg.jpg) no-repeat top; }
.iframe-inner #main	{ width: 500px; padding: 25px; background: #f0f4f7; font-size: 12px; color: #383a37; }
.iframe-inner P		{ font-size: 12px; color: #383a37; line-height: 14px; }

.container			{ width: 755px; min-height: 500px; margin: 0 auto; }
.container .content	{ position: relative; }
.navigation			{ width: 706px; height: 72px; padding: 6px 15px 18px; margin: 0 auto; background: url(images/bg-nav.jpg); }
.navigation	LI		{ float: left; border-right: 1px solid #FFF; }
.navigation	LI.last	{ border-right: 0; }
.navigation	A		{ display: inline-block; height: 44px; padding: 28px 30px 0 55px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigation	A:hover, .navigation A.active { color: #ed232a; text-decoration: underline; }

#btn-myaccount		{ background: url(images/icon-myaccount.png) no-repeat 20px 22px; }
#btn-myminisite		{ background: url(images/icon-my-minisite.png) no-repeat 20px 22px; }
#btn-calls			{ background: url(images/icon-mycalls.png) no-repeat 20px 22px; }
#btn-faq			{ background: url(images/icon-faq.png) no-repeat 20px 22px; }
#btn-support		{ background: url(images/icon-support.png) no-repeat 20px 22px; }

.iframe-content		{ float: right; }
.iframe-content IFRAME	{ }
.tab-navigation		{ position: absolute; top: 30px; float: left; }
.tab-navigation A	{ display: block; width: 137px; height: 58px; padding: 30px 0 0 30px; background: url(images/tab-ltr.jpg) no-repeat; font-weight: bold; color: #383a37; text-decoration: none; font-size: 12px; }	
.tab-navigation A:hover, .tab-navigation A.active { background: url(images/tab-ltr-active.jpg) no-repeat; color: #ed232a; }
.tab-navigation A SPAN { display: inline-block; width: 18px; height: 16px; margin: -2px 5px 0 0; padding: 2px 0 0 0; text-align: center; }
.tab-navigation A:hover SPAN, .tab-navigation A.active SPAN { background: url(images/o-bullet-bg.gif) no-repeat; color: #FFF; }

/* ----------------------- TOFES1 DEFINITIONS ------------------------ */
#form-info			{ margin-left: 50px; }
#form-info P		{ clear: both; }
#form-info LABEL	{ display: inline-block; height: 18px; width: 125px; padding: 0 0 0 15px; vertical-align: top; }
#form-info .must	{ background: url(images/must.gif) no-repeat left 5px; }

.form-text, .form-select { width: 150px; }
.form-textarea		{ width: 300px; height: 70px; }
.form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.form-checkbox		{ vertical-align: middle; }
#form-info .form-submit, #form-info .steps	{ margin-left: 140px; }
#form-info .steps , #form-segment .steps	{ color: #ed232a; font-size: 11px; }

/* ----------------------- TOFES2 DEFINITIONS ------------------------ */

#form2 .steps, #form2 .form-submit	{ margin: 15px 0 0 210px; } 
.list-select		{ float: left; width: 250px; text-align: center; }
.list-select LABEL	{ display: block; text-align: center; color: #d01f25; font-size: 14px; margin-bottom: 10px; }
.list-select SELECT	{ width: 200px; height: 160px; margin: 0 auto; border: 1px solid #333; }
.list-select .btn	{ display: block; width: 72px; height: 18px; padding: 3px 0 0 0; color: #FFF; margin: 10px auto; text-align: center; text-decoration: none; background: url(images/bg-btn.gif) no-repeat; }
.all				{ background: url(images/icon-add.gif) no-repeat bottom right; }
.choice				{ background: url(images/icon-remove.gif) no-repeat bottom left; }
#form2 H3	{ color: #ed232a; font-size: 13px; text-decoration: underline; }
.cb					{ width: 165px; float: left; margin: 20px 0 0 0; }


._Background{
/*	display:none;*/
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	
	background:#000000;
	border:1px solid #cecece;
	z-index:10;
	
	opacity:0.50;
	filter: alpha(opacity=50);
	
	
}

/*
#selectCities				{ width: 100px; height: 415px; margin-top: 5px; border: 1px solid #DDD; background-color: #f0f4f7; }
#selectCities OPTION		{ height: 15px; padding: 3px; border-bottom: 1px solid #EEE; }
#selectCities OPTION:hover	{ background-color: #e1e9ef; }
*/

#radius						{ border: 1px solid #DDD; background-color: #FFF; }
#radius OPTION				{ height: 12px; padding: 2px; border-bottom: 1px solid #EEE; }

#search						{ padding: 3px; border: 1px solid #DDD; background-color: #FFF; }

#divCheckAll {float: left; display: inline-block; margin: 15px 5px 0 20px; width: 13px; height:13px;background-image:url('../images/icons/checkOptions.png');background-position:0px -13px;}

.stam .dates {