/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }
BODY				{ font-size: 12px; color: #000; text-align: right; direction:rtl; background: #e1e1e1; font-family: "Arial"; }
P					{ margin: 0 0 5px 0; line-height: 16px; }

A, OBJECT			{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL, LI				{ margin: 0; padding: 0; list-style: none; }

DIV.clear { clear:both; font-size:0px; line-height:0px; height:0px; widows:0px; float: none!important;}


.clearfix:after		{ content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix			{ display: inline-block; } 
html[xmlns] .clearfix {	display: block; } 
* html .clearfix	{ height: 1%; }

.divLoader			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=50); opacity: 0.5; background-color: #000; z-index: 999999; }
.divLoader TABLE	{ width: 100%; height: 100%; }
.divLoader TD		{ height: 100%; vertical-align: middle; text-align: center; }

.divLoader2			{ filter: alpha(opacity=70) !important; opacity: 0.7 !important; }
.divCredit			{ filter: alpha(opacity=100 !important); opacity: 1 !important; background-color: #787A7B !important; }


#main				{ margin: 0 auto; width: 770px; }

.login #main		{ width: 1000px; margin: 0 auto;}

.label_add_var
{
    padding-right: 5px;
}
/* ----------------------- HEADERS DEFINITIONS ------------------------ */
H1, H2, H3			{ margin-bottom: 10px; font-weight: normal; }
H1					{ font-size: 30px; }
H2					{ font-size: 20px; }
H3					{ font-size: 16px; font-weight: bold;margin-left:10px; }

/* ----------------------- LINKS DEFINITIONS ------------------------ */
A					{ color: #FF0000; text-decoration: none; }
A:hover				{ text-decoration: underline; }

/* ----------------------- FORMS DEFINITIONS ------------------------ */
.form-text, .form-textarea, .form-select, .WaterMarkText	{ padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; }
.WaterMarkText				{ color: #CCC; font-style: italic; }
.form-submit				{ display: block; border: 0; background: none; text-align: center; cursor: pointer; }
LABEL, .label				{ font-weight: bold; }
.must LABEL					{ background: url("../images/must.gif") no-repeat scroll right 5px; }
.txt_focus					{ padding: 3px; border: 1px solid #F00; font-size: 12px; font-family: "Arial"; color: #555; }
/*                FORMS Error and Validation DEFINITIONS              */
.error-msg					{ color: #F00; font-size: 11px; }
.icon-q						{ vertical-align: middle; }

.login .form-field-wrap, .login .form-field		{ position: relative; text-align: center; }
.login .form-field			{ padding: 0 0 0 85px; }
.login .form-field-wrap		{ margin-bottom: 10px; }
.login .error-msg-wrap		{  position: relative;
    right: 265px;
    text-align: left;
    top: -20px;
    width: 130px; }
.form-fieldSet   {margin-bottom:20px;}
.form-checked               {margin:0 auto; text-align:center;} 


/* ----------------------- TABLE DEFINITIONS ------------------------ */
.data-table						{ width: 100%; margin: 20px 0; font-size: 12px; border: 0; border-spacing: 0; padding: 0; }
.data-table	CAPTION				{ height: 30px; text-align: center; font-size: 15px; font-weight: bold; color: #000; }
.data-table	CAPTION	.tools		{ float: right; }
.data-table TH, .data-table TD	{ height: 18px; padding: 2px; border-bottom: 2px solid #fff; border-left: 2px solid #fff; text-align: center; vertical-align: middle; }
.data-table TH					{ background: #9a9a9a; color: #FFF; }
.data-table TD					{ color: #3d3d3d;}
.data-table TD.first			{ width: 20px; text-align: center; }
.data-table TD.close .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(../images/arrowrtl.png) no-repeat right top; text-align: center; }
.data-table TD.open .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(../images/arrowrtl.png) no-repeat right -18px; text-align: center; }
.data-table .even TD			{ background: #dbdde1; }
.data-table .odd TD				{ background: #bdbcbc; }

.data-table-details						{ width: 600px; margin: 15px auto; text-align: right; }
.data-table-details .description 		{ float: right; width: 265px; height: 93px; padding: 15px; background: url(../images/bg-description.png) no-repeat; }
.data-table-details .description .label	{ display: block; width: auto; margin-bottom: 10px; }
.data-table-details .description .wrap	{ height: 65px; overflow-y: auto; }
.data-table-details .details 			{ float: left; }
.data-table-details .refund 			{ width: 600px; padding: 10px; border: 1px solid #DDD; margin: 10px -10px 10px 0; background-color: #e3e7f0; }
.data-table-details .win-price, .data-table-details .price, .data-table-details .phone, .data-table-details .status	{ width: 265px; height: 13px; padding: 13px 15px 17px; background: url(../images/bg-feild.png) no-repeat; }
.data-table-details .price, .data-table-details .phone	{ margin-top: -3px; }
.data-table-details .refund H2			 
{
	background-color: #c1c1c1;
	color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    height: 20px;
    margin: 0 auto 15px;
    padding: 5px;
    position: relative;
    left: 10px;
    text-align: center;
    top: -18px;
    width: 611px;
	
	
	 }.data-table-details .refund .btn		{ display: block; text-align: center; }
.data-table-details .refund .btn INPUT  { width: 104px; height: 44px; padding: 3px 0 25px; border: 0 none; margin: -5px auto 0; background: url("../images/btn-bg1.png") no-repeat 100% 0; color: #000; cursor: pointer; font-size: 11px; font-weight: bold; text-align: center; }
.data-table-details .label				{ display: inline-block; width: 170px; font-size: 13px; color: #f51824; }

.pagination							{ text-align: center; }
.pagination LI					{ display: inline; }
.pagination A,
.pager A,
.pager SPAN    					{ display: inline-block; height: 14px; padding: 2px 4px; border: 1px solid #bbb; margin: 5px; background-color: #FFF; color: #000; text-align: center; text-decoration: none; }
.pagination A.disabled,
.pagination A:hover.disabled	{ border: 1px solid #CCC; color: #CCC; background-color: #FFF; }
.pagination A:hover,
.pager A:hover				    { border: 1px solid #D00; color: #000; background-color: #DDD; }
.pagination A.active,
.pagination A:hover.active,
.pager A.active,
.pager A:hover.active,
.pager SPAN           	        { background-color: #ccc; color: #FFF; }

.PagerIncompleteReg TD,
.PagerIncompleteReg TABLE,
.pager TD,
.pager TABLE            		{ text-align: center; }
.PagerIncompleteReg TABLE,
.pager TABLE	            	{ margin: 0 auto; }
/******************* ABOVE ****************/
/* ----------------------- POPUP DEFINITIONS ------------------------ */
.modalBackground				{ background:#000; opacity: 0.3; filter: alpha(opacity=30); }
.popModal_del					{ position: relative; background-color: #fff; width: 415px; padding: 0 10px; z-index: 99999;margin:auto; }
.popModal_del .top				{ width: 415px;	height: 20px; background: #fff; }
.popModal_del .content			{ width: 355px;	max-height: 550px; overflow: hidden; padding: 0 30px; margin: 0 !important; background: #fff;	z-index: 0; }
.popModal_del .bottom			{ width: 415px;	height: 35px; background: url(../images/bg-popup-wide.png) no-repeat bottom; }
.popModal_del .f2				{ margin-bottom: 15px; }
.popModal_del .btn				{ display: block; width: 104px; height: 44px; padding: 3px 0 28px; margin: 0 auto; background :url("../images/btn-bg1.png") no-repeat 0 0; border: 0 none; text-align: center; color: #000000; font-size: 14px; cursor: pointer; }
.popModal_del .btn2				{ display: block; position:relative; right:0px; width: 104px; height: 44px; padding: 3px 0 28px; margin: 0 auto; background :url("../images/btn-bg1.png") no-repeat 0 0; border: 0 none; text-align: center; color: #000000; font-size: 14px; cursor: pointer; }

.popModal_del_hide				{ position: relative; right: -5000px; }
.span_x							{ position: absolute; top: 0; left: 45px; }
.span_A							{ position: absolute; top: 5px; left: 15px; width:30px; height:30px; background: url(../images/btn-x.png) no-repeat; cursor: pointer; z-index: 999999; }
.terms							{ font-size: 11px; }
.popModal_del .form-textarea	{ width: 165px; height: 65px; border: 1px solid #CCC; }
.popModal_del .label			{ display: inline-block; width: 120px; color: #f61c12; font-size: 12px; vertical-align: top; }
.popModal_del .error-msg		{ display: block; padding-right: 10px; color: #f61c12; font-size: 11px; }
.popModal_del P					{ margin-bottom: 10px; }
.popModal_del H2				{ text-align: center; margin-bottom: 25px; }


/*-------- TABS ------*/

.tabswrapM 
{
margin:0 auto;
width:600px;
#width:610px;

height:auto;	
}
.contenttabM
{
    margin-left:24px;
    margin-right:24px;
	height:auto;
}
.tabsM {
	background-image:url(../images/topbgtab.jpg);
	background-repeat:repeat-x;
	background-position:top;
	height: auto;
	/*width: 608px;
	#width: 500px;*/
}
	

.tabsM ul
{
    font: normal 14px arial, sans, sans-serif;
    -list-style-type: none;
    margin: 0;
    padding-left:3px;
    padding-right:0;
    padding-bottom: 26px;
	height: 14px;
	width: 100%;

}

.tabsM ul li 
{
    display: inline;
    float: left;
    min-width:80px;
    text-align:center;
    padding-left:0px;
    margin: 11px 0px 0px 0px;
    height: 29px;
	background-image:url(../images/septab.png);
	background-repeat:no-repeat;
	background-position: bottom right;
}

.tabsM ul li.selected 
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.Label_ro {color:#999;}

.tabsM ul li a 
{
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 9px 5px 0;
    text-align:center;
    
    min-width:80px;
  
}

.tabsM ul li a.selected
{
    color: #a2161a;
    font-weight:bold;
    height: 21px;
	background-image:url(../images/shadowtab.png);
	background-repeat:repeat-x;
	background-position:top;
    border-bottom: 1px solid #fff;
}

.tabsM ul li a:hover
{
    color: #000;
    font-weight:bold;
}

.containertabM
{
    background: white;
    border-bottom:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid gray;
    border-top: none;
    height:250px;
    width:588px;
    #width:588px;
    padding:10px;
   
    margin:0;
    left:0;
    top:0;	
    overflow:hidden;
    
    float:left;
}
.form-fieldtabM       {width:140px; margin-right: 10px; float:left;}
.form-fieldtab2M       {width:290px; margin-right: 10px; float:left;}
.form-fieldtabxM       {width:140px; margin-right: 10px; float:left; position:relative; top:20px;}
.form-fieldtabMcheck {float: right;
    margin-right: 10px;
    position: relative;
    top: 0px;
    #top:50px;}
.form-fieldtabMcheck .saveM22 {width: 104px; float:left; height: 51px; padding: 3px 0 33px; background: url(../images/btn-bg1.png) no-repeat; position:relative; color: #000; border:none; margin: 0 auto; top:-20px; #top:-10px;}
.form-fieldtxtareaM       {width:150px; margin-right: 10px; float:left;}
.form-fieldtxtarea2M       {width:290px; #width:280px; margin-right: 10px; float:left;}
.form-fieldtxtarea3M       {width:310px; margin-right: 10px; float:left;}
 .form-fieldlargeM {float:left; width:335px;margin:0px 25px 20px 0px;}
.form-fieldlarge2M {width:620px; #width:auto; margin: 0px 30px 20px 0px;}
.form-textarealargeM {width:455px; height:120px; border:1px solid #aaa;}
.form-textarealarge2M {width:584px; #width:580px; #margin-bottom:20px; height:70px; border:1px solid #aaa;}

.form-textlargeM { width: 330px; height: 25px; border: 1px solid #CCC; margin:0px 0px 5px 0px;   position: relative; }
.form-textcompM { width: 130px; height: 25px; border: 1px solid #CCC; margin:0px 0px 5px 0px;   position: relative; }
.form-selectcompM    {height: 24px;
    padding: 3px;
    width: 130px; border: 1px solid #ccc; font-size: 12px; font-family: "Arial"; color: #000;  }

.form-selectlargeM    {height: 26px;
    padding: 3px;
    width: 320px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #000;  }
 .complaint_rowM {#width:420px; width:600px; height:30px; margin-bottom:20px; #float:left;}
  .complaint_rowM2 {#width:420px; width:470px;  #position:relative; #top:70px;}

  .complaint_row2M {#width:520px; width:600px; height:70px; float:left; margin-bottom:30px;}
  .complaint_row3M {#width:150px; width:200px; height:10px; float:left; margin-bottom:30px; position:relative;}
  .complaint_row4M {#width:420px; width:500px; height:10px;  margin-bottom:30px; position:relative;}

 .complaint_rowbigM {width:620px; height:120px; float:left; margin-bottom:30px;}
 #form-analyticscomp .form-fieldcompM			     { float: left;width:150px;margin:0px 30px 20px 0px;}
 .save-compM { width: 39px; background: url(images/icon-toolbox-save.png) no-repeat center center; border:none; cursor:pointer; }
.form-textarea_compM {width:310px; height:120px; border:1px solid #ccc;}
.form-textarea_comp1M {width:280px; height:80px; border:1px solid #ccc;}
.form-textarea_comp12M {width:300px; height:80px; border:1px solid #ccc;}
#form-analyticsM	{margin: 0 auto; min-height: 40px; position: relative; width: 500px; }
#form-analyticsM .form-field{width:180px; margin-right: 30px; float:left;}
#form-analyticsM .form-text {width: 155px; margin-top: 5px; }
.form-textarea_comp2M {width:310px; height:120px; border:1px solid #ccc;}

.titlecomplaintM {float:left; color: red; font-size: 16px; margin-left: 15px;}
.counterM { float: right;
           color:#ddd;
    
    margin-left: 20px;
    position: relative;
    top: -51px;}
.counter2M {  color: #ddd;
    float: right;
    margin-left: 20px;
    position: relative;
    right: 140px;
    top: -16px;
    # top: -140px;
    
    }
.saveM .form-submit	{  float: left;
    left: 235px;
    margin: 15px 0 0 190px;
    position: relative;

    } 
 .save2M { 
     display: inline-block;
    float:right;
    margin: 0;
    position: relative;
    top: -10px;
    right: 15px;
    vertical-align: top;
    #top:-35px;
    #left:230px;
    } 
    
     .save2M2 { 
     display: inline-block;
    left: 90px;
    margin: 0;
    position: relative;
    top: -10px;
    vertical-align: top;
   float:left;
    #left:230px;
    } 
 
    .iframe3
 { 

   left: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    position: relative;
    top: 0;
    width: 750px;
    #width:720px;
 

} 


.tablecomp {position:relative; top:-40px; width:500px;}





/* ----------------------- HEADER DEFINITIONS ------------------------ */
#header						{ margin: 0 auto; position: relative; width: 770px; height: 120px; background: url(../images/headerbg.png) no-repeat bottom left;}
/*.login #header				{ height: 225px; background: url(../heise-images/professions.jpg) no-repeat bottom right; }*/
#headerin					{ position: relative; width: 800px; height: 105px; background: url(../images/headerbg2.png) no-repeat bottom right; margin:0 auto;  }

.login #header				{ height: 225px; background: url(../images/headerbg.png) no-repeat bottom left; }


.service-navigation			{ position: absolute; top: 5px; left: 50px; }
.service-navigation LI		{ float: right; padding: 0 0 0 10px; margin-right: 25px; }
.logoutsq					{float:right; background-color: #555; width: 4px; height:4px; margin:6px;}
.service-navigation A		{ text-decoration: none; color: #555; font-weight: bold; font-size: 13px; }
.service-navigation A:hover	{ text-decoration: underline; color: #666; }





#header H1					{ position: absolute; bottom: 50px; right: 0; width: 770px; color: #555; text-align: center; }

#header .logo				{ position: absolute; top: 20px; left: 0; display: block; }
#headerin .logo				{ position: absolute; top: 5px; right: 15px; display: block; }

#header .welcome			{ position: absolute; top: 82px; left: 0; color: #555; font-size: 13px; width:770px; text-align:center; }
#header .welcomeUser		{ display: inline-block; float: left; max-width: 230px; margin: 2px 10px; overflow: hidden; font-size: 16px; }
#header .welcomeBalance		{ display: inline-block; width: 250px; margin: 5px auto; text-align: center; }
#header .welcomeIncrease 	{ display: inline-block; float: right;  margin: 3px 10px; text-align: right; color: #555; }

   #headerin .welcomeUser			{ color: #555;
    font-family: "Arial";
    font-size: 14px;
    font-weight: normal;
    position: relative;
   float:left; 
   margin-right:10px;}
    
   #headerin .welcome		{    float: right;
    position: relative;
    right: 30px;
    text-align: right;
    top: 70px;
    width: auto;}
   
  #headerin .welcomeBalance		{ float:left; position:relative; width: auto;  margin: 0px 10px; text-align: right;color: #555; }
#headerin .welcomeIncrease 	{ float:left; position:relative; float: left; width: auto; margin: 0px 10px; text-align: right; color: #555; }
  
#mainwrap	{ margin: 0 auto; width: 100%; background-color:#fff; height: 105px; border-bottom: 0px solid #E1E1E1;}





    
.loginbtn {border: none;  margin: 0 auto; background: url("../images/btn2-bg.png") repeat scroll 0 0 transparent; color: #FFF; font-size: 12px; position: relative; left: 320px; font-weight: bold; height: 61px; padding-bottom: 35px; width: 152px; }

/* ----------------------- CONTENT DEFINITIONS ------------------------ */
#primarycontent				{  float: left;
    left: 0px;
    margin: 0 auto;
    position: relative;
    width: 770px;}
#primarycontent H2			{ color: red; margin-bottom: 15px; font-size: 17px; font-weight: normal; text-align: center; }
#primarycontent H6			{ color: red; margin: 15px; font-size: 17px; font-weight: normal; text-align: center; }
.popModal_del	H6			{ color: red; margin: 15px; font-size: 17px; font-weight: normal; text-align: center; }
#primarycontent .form-login {left:100px;}

/* ----------------------- SIDEBAR DEFINITIONS ------------------------ */
#sidebar					{   f float: right;
    left: 120px;
    margin-top: -50px;
    position: relative;
    width: 230px;}
#sidebar .add				{ width: 154px; padding: 0 38px; }
#sidebar .add P				{ font-size: 12px; line-height: 14px; color: #444; margin: 10px 0; }

/* ----------------------- LOGIN DEFINITIONS ------------------------ */
.form-login					{ 
    position: relative;
    text-align: center;
    top:40px;}
.form-login	P				{ position: relative; margin: 0; }
.form-login	.login			{ text-align: left; }
.form-login	LABEL			{ display: inline-block; width: 85px; text-align: right; font-size: 11px; font-weight: normal; color: #555; }

.form-login .form-text		{ width: 443px; height: 24px; padding: 12px 20px 18px; border: medium none; line-height: 18px; background: url("../images/form-input-bg.png") repeat scroll 0 0 transparent; font-size: 16px; vertical-align: middle; }
.form-login .form-submit	{ margin: 0 auto; background: url("../images/btn2-bg.png") repeat scroll 0 0 transparent; color: #FFF; font-size: 12px; font-weight: bold; height: 61px; padding-bottom: 35px; width: 152px; }
.form-login .service		{ font-size: 12px; }
.form-login .version_num	{ display: block; font-size: 10px; color: #666; }
.form-login .help			{ display: inline-block; margin: 0 20px; }
.invalid {position:relative; top:-20px;}

/* ----------------------- RENAME DEFINITIONS ------------------------ */
.page-rename				{ text-align: center; }
.page-rename .label			{ display: inline-block; width: 100px; margin-left: 10px; text-align: left; }
.page-rename .form-field	{ margin-bottom: 10px; }
.page-contentm my-calls .form-field { margin-bottom: 10px; }
.contpage { position: relative; top: -20px;}
/* ----------------------- MANAGEMENT DEFINITIONS ------------------------ */
.management .navigation			    { position: relative; width: 716px; height: 120px; padding: 0px 5px 5px 8px; margin: 0 auto 5px; background: url(../images/bg-nav.png); z-index: 100; }
.management .navigation UL           { width: 716px; }
.management .navigation LI		    { float: left; width: 141px; height: 65px; border-right: 1px solid #FFF; }
.management .navigation A		    { display: inline-block; width: 94px; height: 65px;  padding: 0 50px 0px 0px; background: no-repeat 105px 20px; color: #FFF; font-size: 12px; font-weight: bold; text-decoration: none; }
.management .navigation A:hover	    { color: #DDD; }
.management .navigation .active A    { background-color: #eef2f5; color: #ed232a; }
.management .navigation LI.last      { border-right: none; }

.management A.btn-myaccount			{ background-image: url("../images/icon-myaccount.png"); }
.management A.btn-myminisite         { background-image: url(../images/icon-my-minisite.png); }
.management A.btn-calls             { background-image: url(../images/icon-mycalls.png); }
.management A.btn-faq			{ background-image: url(../images/icon-faq.png); }
.management A.btn-support          { background-image: url(../images/icon-support.png); }

.management .active A.btn-myaccount	{ background-image: url("../images/icon-myaccount-active.png"); }
.management .active A.btn-myminisite    { background-image: url(../images/icon-my-minisite-active.png); }
.management .active A.btn-calls     { background-image: url(../images/icon-mycalls-active.png); }
.management .active A.btn-faq	{ background-image: url(../images/icon-faq-active.png); }
.management .active A.btn-support  { background-image: url(../images/icon-support-active.png); }

.management .navigation .span_navigation { margin-top:24px; display:block; }

.master #content			{ position: relative; }

.page-contentm	{ position: relative; width: 656px; padding: 25px; margin: 0 auto; background: url(../images/bg-toolbox.gif)no-repeat top #EDF0F4; border-radius:  10px ;
              				   -moz-border-radius: 10px;  -border-radius: 10px ; -webkit-border-radius: 10px; 
    background: none repeat scroll 0 0 #fff; border: 1px solid #b1b1b1;
     }
     .contpage { position: relative; top: -20px;}

.page-contentm H2			  
{
	background-color: #c1c1c1;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    height: 30px;
    margin: 0 auto 15px;
    padding-top: 10px;
    position: relative;
    left: 25px;
    text-align: center;
    top: -25px;
    width: 707px;-moz-border-radius: 10px 10px 0px 0px;  -border-radius: 10px 10px 0px 0px; -webkit-border-radius: 10px 10px 0px 0px;  }


/*---------------------- SUBMEMU DEFINITIONS ----------------------*/
.management .navigation LI UL 	    { position: absolute; top: -9999px; left: 10px; }

.management .navigation LI.active UL 	{ top: 90px; width: 700px; height: 15px; }
.management .navigation LI.active LI 	{ width: auto; height: 15px; position: relative; border: none; }
.management .navigation LI.active UL A, .publisher .navigation LI.active UL SPAN	{ position: relative; display: block; width: auto !important; height: 15px !important; padding: 0 10px 18px !important; margin: 0; color: #000; background: none !important; font-weight: bold; font-size: 12px; background-position: right 3px !important; background-repeat: no-repeat !important; }
.management .navigation LI.active UL A	{ color: #000; background-image: url(../images/seperator.gif) !important; }
.management .navigation LI.active UL A.active 	{ color: #ed232a; }
.management .navigation LI.active UL A:hover		{ color: #777; }
.management .navigation LI.active UL LI.last A	{ background-image: none !important; }
.management .navigation LI.active UL SPAN		{ color: #cccfd3; background-image: url(../images/seperator-1.gif) !important; }
.management .navigation LI.active UL SPAN.last	{ background-image: none !important; }

/*---------------------- MEMU DROPDOWN DEFINITIONS ----------------------*/
.management .navigation LI LI .dropdown			{ position: absolute; top: -9999px; left: -10px; height: auto; padding: 13px 0 0 0; z-index: 9999; }
.management .navigation LI LI:hover .dropdown	{ top: 18px; }
.management .navigation LI LI .dropdown UL		{ top: auto; width: 200px; height: auto; padding-bottom: 15px; background: url(../images/bg-dropdown.png) no-repeat bottom center; }
.management .navigation LI LI .dropdown LI		{ float: none; width: 190px; height: 25px; padding: 0 5px; }
.management .navigation LI LI .dropdown LI A		{ left: auto; text-indent: 0; padding: 5px 10px !important; background-image: none !important; }
.management .navigation LI LI .dropdown LI A:hover{ background-color: #d8dcdf !important; }

.master #content			{ position: relative; }

.page-contentm				{ position: relative; width: 656px; padding: 25px; margin: 0 auto; background: #fff; }
.page-contentm H2			{ border-bottom: 2px solid #CCC; margin-bottom: 15px; color: #000; font-size: 17px; font-weight: normal; text-align: center; }
.page-contentm .list			{margin-top:30px;}

.subnavigation            {   border-right: 1px solid #FFFFFF;
    color: #383A37;
    float: left;
    height: 20px;
    left: 50px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
    top: -85px;
    width: 136px;}
.management .navigation LI	  .subnavigation A	{ color: #383A37; text-decoration: none; }  
.management .navigation LI	  .subnavigation A.active	{ color: #ED232A; text-decoration: underline; }  
.management .navigation LI	    .subnavigation A:hover	{ color: #ED232A; text-decoration: underline; }

/* ----------------------- my calls ------------------------ */

.mycall {float: right; margin-right: 0px;  }
.mycalls {float: right; margin-left: 20px;  }

.myballance {float: right; margin-right: 20px;  }
.form-select {width: 155px; margin-top: 4px; }
.mycallsubmit {float: right;
    left: 550px;
    position: relative;
    top: -50px;}
    
.form-fieldM { float: right; width:150px; margin:0px 0px 20px 30px;}

/* ----------------------- MY ACCOUNT FRAME DEFINITIONS ------------------------ */

iframe
 { 

   left: 0px;   
    padding: 5px;
    position: relative;
    top: 0;
    width: 630px;
    #width: 610px;
 

} 
.iframeM
 { 

   left: 0px;   
    
    position: relative;
    top: 0;
    width: 610px;
    #width: 610px;
 

} 
.iframe2
 { 

   left: 5px;
    overflow-x: hidden;
    padding: 5px;
    position: relative;
    top: 0;
    width: 530px;
 #width: 500px;

}

.boxxx {
	width: 533px;
	height: 1px;
	margin: 0 auto 15px auto;
	padding: 30px;
	display:none;
	border-radius: 11px;
	
}
.iframe-content				{ -moz-border-radius: 10px;  border-radius: 10px;  -webkit-border-radius: 10px;  
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0px solid #C1C1C1;
    float: left;
    margin: 0 auto;
    position: relative;
    left: 30px;
    width: 550px;
    z-index:2;
    right:-30px; }
.tab-navigation				{  right: 37px; position: absolute; top: 30px; *top:40px; }

.tab-navigation A			{ background: #eef2f5; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px;   -moz-border-radius: 0px 10px 10px 0px; border-radius: 0px 10px 10px 0px;  -webkit-border-radius: 0px 10px 10px 0px;  color: #000; font-size: 12px; font-weight: bold; text-decoration: none; }
.tab-navigation A.mouseover:hover { background: #bbb; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px; -moz-border-radius: 0px 10px 10px 0px;  border-radius: 0px 10px 10px 0px;  -webkit-border-radius:0px 10px 10px 0px;  font-size: 12px; font-weight: bold; text-decoration: none;color: #fff; }
.tab-navigation A.active { background: #fff; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px; -moz-border-radius: 0px 10px 10px 0px;  border-radius: 0px 10px 10px 0px;  -webkit-border-radius: 0px 10px 10px 0px;  font-size: 12px; font-weight: bold; text-decoration: none;color: #ed232a; }
.tab-navigation A SPAN.mouseover		{vertical-align:top; display: inline-block; width: 18px; height: 16px; padding: 2px 0 0; margin: -2px 5px 0 5px; text-align: center; }
.tab-navigation A SPAN.titleNavigation {display:inline-block;width:80px;}

.tab-navigation  A.active SPAN.mouseover { background: url(../images/o-bullet-bg.gif) no-repeat #FFF; color: #ccc; }
.tab-navigation  A.active:hover {background: #fff; color:#ccc;}
.iframe-content .frame-top		{ height: 20px; width: 590px;}
.iframe-content .frame-right	{ height: 100%; width: 30px; }
.iframe-content .frame-bottom	{ height: 40px; width: 590px; }
.iframe-content .frame-left		{ height: 100%; width: 30px; }
.iframe-content .frame-center	{ background-color: #fff; }
.iframe-content .iframe			{ height: 840px; width: 530px; position:relative; right: 10px; top:5px; z-index:2;}

.iframe-inner					{ background-color: #fff; }

/*

.iframe-content				{ float: left; margin-left: 7px; }
.tab-navigation				{ position: absolute; top: 30px; right: 8px; }

.tab-navigation A			{ display: block; width: 137px; height: 58px; padding: 30px 30px 0 0; background: url("../images/tab-rtl.jpg") no-repeat scroll 100% 0 transparent; color: #383A37; font-size: 12px; font-weight: bold; text-decoration: none; }
.tab-navigation A.mouseover:hover, .tab-navigation A.active { background: url("../images/tab-rtl-active.jpg") no-repeat scroll 100% 0 transparent; color: #ED232A; }
.tab-navigation A SPAN		{ display: inline-block; width: 18px; height: 16px; padding: 2px 0 0; margin: -2px 0 0 5px; text-align: center; }
.tab-navigation A.mouseover:hover SPAN{ background: url(../images/o-bullet-bg.gif) no-repeat; color: #FFF; }

.iframe-content .frame-top		{ height: 20px; width: 610px; background: url(../images/top.jpg) no-repeat; }
.iframe-content .frame-right	{ height: 100%; width: 30px; background: url(../images/tile-left.jpg) repeat-y left; }
.iframe-content .frame-bottom	{ height: 40px; width: 610px; background: url(../images/bottom.jpg) no-repeat; }
.iframe-content .frame-left		{ height: 100%; width: 30px; background: url(../images/tile-right.jpg) repeat-y right; }
.iframe-content .frame-center	{ background-color: #F0F4F7; }
.iframe-content .iframe			{ height: 840px; width: 550px; }

.iframe-inner					{ background-color: #F0F4F7; }
.iframe-inner h2				{ border-bottom: 2px solid #CCC; margin-bottom: 15px; color: #ED232A; font-size: 17px; font-weight: normal; text-align: center; }*/

/* ----------------------- MY ACCOUNT DEFINITIONS ------------------------ */
.iframe-inner					{ padding: 20px; }
.iframe-inner .form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px; margin: 20px auto 0; background: url("../images/btn-bg.png") no-repeat 100% 0; color: #000; font-size: 14px; position:relative; left:15px;}

.iframe-inner .lists-select				{ margin-bottom: 20px; }
.iframe-inner .list-select				{ width: 220px; float: right; text-align: center; }
.iframe-inner .list-select .form-select	{ width: 200px; height: 160px; margin: 0 auto; }
.iframe-inner .choice					{ background: url("../images/icon-add.gif") no-repeat right bottom; }
.iframe-inner .all						{ background: url("../images/icon-remove.gif") no-repeat left bottom; }
.iframe-inner .list-select LABEL		{ display: block; margin-bottom: 10px; color: #D01F25; font-size: 14px; text-align: center; }
.iframe-inner .list-select .btn			{ display: block; width: 120px; height: 36px; padding: 8px 0 0; margin: 10px auto; background: url("../images/btn3-bg.png") no-repeat 100% 0; color: #FFFFFF; text-align: center; text-decoration: none; }
.form-selectmap {width: 220px; margin-top: 5px; height: 150px }
.iframe-inner .steps			{ width: 200px; margin: 20px auto; text-align: center; }
.iframe-inner .steps IMG		{ margin: 0 0 2px 5px; vertical-align: text-bottom; }
.iframe-inner .lists-selectmap {float:left; width:500px; margin-left: 10px; }

.iframe-inner .steps			{ width: 200px; margin: 20px auto; text-align: center; }
.iframe-inner .steps IMG		{ margin: 0 5px 2px 0; vertical-align: text-bottom; }
.iframe-inner .lists-selectmap {float:right; width:500px; margin-left: 10px; }
.list-select-all {float:right; width: 240px;}
.list-select-choice {float:left; width: 240px;}
.list-select-all .choice					{ background: url("../images/icon-remove.gif") no-repeat left bottom; }
.list-select-all .all						{ background: url("../images/icon-add.gif") no-repeat right bottom;}
.iframe-inner .list-select-all LABEL		{ display: block; margin-bottom: 10px; color: #D01F25; font-size: 14px; text-align: center; height:30px;    width: 220px; }
.form-selectmap {width: 220px; margin-top: 5px; height: 150px }
.iframe-inner .list-select-all .btn			{ display: block; width: 120px; height: 36px; padding: 8px 0 0; margin: 10px auto; background: url("../images/btn3-bg.png") no-repeat 0 0; color: #FFFFFF; text-align: center; text-decoration: none; }


/* ----------------------- STEP1 DEFINITIONS ------------------------ */
.step1 .intro					{ margin-bottom: 20px;margin-left:10px; }
.step1 .intro SPAN				{ display: block; }
.step1 .form-text, .step1 .txt_focus{ width: 165px; margin-left: 10px; }
.step1 .form-select				{ width: 173px; margin-left: 10px; }
.step1 LABEL					{ display: inline-block; width: 165px; height: 18px; padding: 0 15px 0 0;margin-right:10px; }
.step1 .error-msg				{ vertical-align: middle; }

/* ----------------------- STEP2 DEFINITIONS ------------------------ */
.step2 H3						{ color: #ED232A; font-size: 13px; text-decoration: underline; }

/* ----------------------- STEP3 DEFINITIONS ------------------------ */
.step3 #map						{ width: 450px; height: 440px; margin: 20px auto; border: 1px solid grey; }

/* ----------------------- STEP4 DEFINITIONS ------------------------ */
.step4 TABLE.main				{ margin: 20px auto; width: 420px; }
.step4 TABLE.main TD			{ padding: 2px; border-bottom: 1px dotted #8D8F8C; border-left: 1px solid #8D8F8C; background-color: #E2E3E5; text-align: center; font-size: 14px; }

.step4 .suspend, .step4 .regular{ text-align: center; }
.step4 .form-field				{ width: 240px; margin: 10px 0; float: right; text-align: center; }

.step4 .form-submit				{ width: 83px; height: 44px; padding: 3px 0 28px; margin: 15px auto; background: url("../images/btn-bg.png") no-repeat 100% 0; color: #000; font-size: 14px; }
.step4 .form-text, .step4 .WaterMarkText{ width: 70px; }
.step4 .calendar				{ vertical-align: middle; }

/* ----------------------- STEP5 DEFINITIONS ------------------------ */
.btn-price-sim					{ display: block; width: 196px; height: 22px; padding: 3px 0; background: url(../images/bg-red-btn.png) no-repeat center; text-align: center; font-size: 17px; color: #FFF; text-decoration: none; }
.leadBox						{ width: 172px; height: 48px; padding: 15px 10px; background: url(../images/bg-box.png) no-repeat center; text-align: center; font-weight: bold; font-size: 12px; color: #444; }

.step5-wrap						{ position: relative; width: 500px;  #width:480px; height: auto; padding: 1px 5px; margin: 20px 0px; }
.step5-wrap .price-per-call		{ float: right; }
.step5-wrap .price				{ width: 50px; }
.step5-wrap .price-simulator	{ float: left; }
.step5-wrap .details			{  bottom: 10px; right: 10px;  }
.step5-wrap .btn-on-off			{ position: relative; display: inline-block; width: 56px; height: 15px; padding: 3px 8px; color: #FFF; font-weight: normal; font-size: 12px; text-decoration: none; }
.step5-wrap .on					{ background: url(../images/bg-btn-on.png) no-repeat right center; text-align: left;}
.step5-wrap .off				{ background: url(../images/bg-btn-off.png) no-repeat right center; text-align: right; }
.step5-wrap .on .form-checkbox	{ position: absolute; left: 8px; top: 5px; }
.step5-wrap .learn-more			{ display: inline-block; height: 17px; margin: 10px 0 0 0; padding: 3px 23px 0 0; background: url(../images/icon-add.png) no-repeat right center; }
.step5-wrap .learn-more-closed	{ display: inline-block; height: 17px; margin: 10px 0 0 0; padding: 3px 23px 0 0; background: url(../images/icon-remove.png) no-repeat right center; }

.more                           {position:relative; top:0px;  float: left; margin-bottom: 0px; position: relative; right: 20px; top: 20px;}
.step5-more-details				{  position: relative; display: block; height: auto; padding: 10px; margin: 20px 0px 0px 10px; background: #dddddd; border: 1px solid #ccc; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
.step5-wrap .off_disable .btn-on-off 				{ background: url(images/bg-btn-off_disabled.png) no-repeat left center; text-align: right; color: #ccc;}

.step5-wrap .Lead {
	color: #516f40; font-weight: bold;
}
.step5-wrap .NotLead
{
	color: #FF0000; font-weight: bold;
}
.notify { padding:15px; background-color:#ccc; -moz-border-radius: 8px;
border-radius: 8px; width:455px; height:25px;}
.notifytext 
{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #999999;
    margin-left: 10px;
    width: 40px;}
 .notifytextoff 
{
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #999999;
    margin-left: 10px;
    width: 40px;
    float:left;}
  .checkbox {  top: 4px; position: relative;  width: auto; float: right; }
  .checkbox LABEL {  
     margin-left: 5px; position: relative;
    top: -2px;
    }    
/* ----------------------- STEP6 DEFINITIONS ------------------------ */
.step6 H2						{ border-bottom:2px solid #CCCCCC; margin-bottom: 15px; color: #ED232A; font-size: 17px; font-weight: normal; text-align: center; }
.step6 H3						{ font-size: 16px; color:#383A37; margin: 20px 0 10px; text-align: center; }

.track_oprions					{ width: 460px; height: 335px; padding: 0px; margin: 10px auto; background: url(../images/bg-4.png) no-repeat center center;  }
.track_oprions P				{ text-align: center; }
.track_oprions .details			{ width: 160px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }

.step6 .Packages_Pricing		{ height: 180px; margin-bottom: 10px; overflow-y: auto; overflow-x: hidden; }
.step6 .Packege_list LI			{ float: right; width: 210px; height: 90px; }
.step6 .Packege_list LI LABEL	{ display: block; margin-bottom: 5px; text-align: center; color: #F00; font-size: 14px; font-weight: bold; }
.step6 .Packege_list LI .pack	{ width: 145px; height: 60px; margin: 0 auto; background: url("../images/package-bg-silver.png") no-repeat; text-align: center; color: #FFF; }
.step6 .Packege_list LI .pack P	{ padding: 15px 10px; }

.step6 .TableDeposit			{ width: 390px; margin: 0 auto; color: #EF1B27; }
.step6 .TableDeposit .form-text	{ width: 62px; }

.step6 .steps, .step6 .form-submit	{ margin: 15px auto 0; }
.step6 .thanks					{ margin: 15px 150px 0 0; color: #ED232A; font-size: 14pt; display: none; }

.step6 .payment-method			{ margin-bottom: 5px; color: #ED232A; font-weight: bold; }
.step6 #rbl_PaymentMethod input { margin-left: 5px; vertical-align: text-bottom; }
.step6 .creditcard img			{ margin-right: 10px; }

.step6 .feilds .name			{ float: right; width: 160px; margin-left: 17px; }
.step6 .feilds .number			{ float: right; width: 160px; margin-left: 17px; }
.step6 .feilds .expiry			{ float: right; width: 125px; }
.step6 .feilds .code			{ float: right; width: 160px; margin-left: 17px; }
.step6 .feilds .id			    { float: right; width: 160px; clear: left; }

.step6 .feilds .form-text		{ width: 152px; }
.step6 .feilds .form-select		{ float: right; }
.step6 .feilds .form-select2		{ float: right; width: 55px;   height: 22px; border: 1px solid #AAAAAA;
    color: #555555;
    font-family: "Arial";
    font-size: 12px;
    padding: 3px;}

.step6 .feilds .seperator		{ float: right; display: inline-block; padding: 5px 6px 0; }
.step6 .feilds LABEL			{ display: block; height: 18px; padding-left: 20px; overflow: hidden; color: #ed232a; font-size: 11px; clear: both; }
.step6 .feilds LABEL.must		{ background: url(../images/star.gif) no-repeat left top; }
.step6 .feilds .privacy			{ color: #172f6e; display: block; }
.step6 .feilds .buy				{ display: block; width: 48px; height: 47px; background: url(../images/btn-buy-now.gif); margin: -55px 200px 0 0; }
.form-select4			{ width: 80px; padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; }
.voucher {margin:20px 0px 20px 0px;}
#div_AutoRecharge 
{
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
    height: 165px;
    width: 450px;}
#div_AutoRecharge .step6autorecharge {float:right; line-height:18px; line-height: 22px; margin: 0px 5px 10px 0px;}
.transfer1 {margin:20px 0px 20px 0px;}
.form-textauto {padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; width:80px; height:15px; float:left;  margin: 5px 10px 0 35px; #position:relative; #top:-15px;}
.form-textauto11 {padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; width:80px; height:15px; float:left;  margin:0px 10px 5px 35px; }

.form-textauto2 {padding: 3px; background:none; border: 0px solid #AAA; font-size: 14px; font-family: "Arial"; color:#555; width:50px; height:15px; float:left; margin: 5px 10px 0 35px;#position:relative; #top:-15px;}
.form-textauto3 {   border: 0 solid #AAAAAA;
    color: #ED232A;
    float: right;
    font-family: "Arial";
    font-size: 20px;
    height: 15px;
    margin: 1px 5px 0 0px;
    padding: 3px;
    width: 70px;
     background:none; }
.divSubmit {position:relative; top:0px; #top:20px;}
.autorecharge {
	position: relative;
    right: 292px;
    top: -42px;
    width: 200px;
   
	
	}
	.autorecharge1 {
	
   position: absolute;
    right: 48px;
    top: 621px;
	
	}
.bonusgrl {  width: 480px; }
.extrabonus {float:right; height: 31px;
    width: 233px; }
.extrabonus1  
{
	 float: right;
    font-size: 20px;
    height: 38px;
    position: relative;
    left: 40px;
    text-align: center;
    top: 10px;
    }
.bonuslabel { color:#ED232A; font-family:Arial;  font-size:12px; position:relative; top:7px;}
.bonuslabel1 {  color: #ED232A;
    float: right;
    font-family: Arial;
    font-size: 20px;
    margin-right: 40px;
    }
.bonuslabel1a { color:#ED232A; font-family:Arial;  font-size:20px; margin-left:0px; float: left;}

.bonuslabel2 { color:#000; font-family:Arial; font-size:12px; font-weight:bold;  line-height: 30px;}
.extrabonus3{
 float: right;
    margin-left: 40px;
    text-align: center;
   }
.currency
{
	color: Black;
    float: left;
    position: relative;
    right: 20px;
    top: 0px;
}
.currency2
{
	color: Black;
    float: left;
    right: 120px;
    position: relative;
    
    top: -7px;
}
.currency3
{
	  color: Black;
    float: left;
    right: 65px;
    position: relative;
    top: 10px;
    #top:-1px;
}
.step6{width:480px;}


/* ----------------------- MINISITE DEFINITIONS ------------------------ */
.minisite .form-file			{ vertical-align: top; padding: 3px; border: 1px solid #AAA; font-size: 12px; font-family: "Arial"; color: #555; }
.minisite H3					{ color: #ed232a; font-size: 14px; margin: 15px 0 5px; }
.minisite P						{ color: #595959; font-size: 12px; line-height: 15px; }
.minisite .btn                  { width: 83px; height: 44px; padding: 3px 0 28px 0; margin-left: 5px; background: url(../images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }                
.minisite .form-textarea		{ width: 100%; margin-bottom: 15px; }
.minisite .my-video				{ width: 350px; }
.minisite .terms				{ margin: 20px 0; font-weight: bold; color: #F00; }

.minisite .terms A				{ color: #00F; }
.note							{ font-size: 11px; color: #555; }
.star							{ color: #ED232A; }

/* ----------------------- SETTINGS DEFINITIONS ------------------------ */
.page-settings					{ text-align: center; }
.page-settings P				{ margin-bottom: 15px; width: 400px; }
#form1 .page-settings .form-submit,
.page-settings .form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px; margin: 20px auto 0; background: url("../images/btn-bg.png") no-repeat 100% 0; color: #000; font-size: 14px; }
.page-settings P .label			{ display: inline-block; width: 200px; text-align: right; }
/* ----------------------- PROFFESIONAL DEFINITIONS ------------------------ */
.supplier-minisite #container	{ position: relative; width: 710px; padding: 30px; border: solid 1px #f08716; margin: 20px auto; }
.supplier-minisite #header		{ width: 710px; height: 100px; background: none; }
.supplier-minisite #header H1	{ position: relative; bottom: auto; right: auto; font-weight: bold; color: #0068d1; font-size: 15px; text-align: right; width: auto; }

#supplierLogo					{ position:absolute; top: 0; right: 0; width: 82px; height: 85px; }
.contact-details				{ position:absolute; top: 0; right: 100px; }
.contact-details P				{ text-align: right; font-size: 15px; margin: 0 0 5px; }
.contact-details .phone			{ margin-top: 25px; font-weight: bold; }
.contact-details .address		{ font-size:12px;}
#links							{ position:absolute; top:121px; right:55px; width:590px;}

.field							{ padding-bottom: 20px; }
.rate-details .field			{ width: 230px; padding-bottom: 20px; margin-left: 10px; float: right; text-align: center; }
.last							{ margin-left: 0 !important; }
.rate-details .field .label		{ display: inline-block; height: 15px; padding: 7px 30px 0 0; }

.field .survey					{ background: url(../images/icons/icon-survyes.gif) no-repeat right center; }
.field .employees				{ background: url(../images/icons/icon-employees.gif) no-repeat right center; }
.field .calls					{ background: url(../images/icons/icon-calls.gif) no-repeat right center; }
.field .diploma					{ background: url(../images/icons/icon-certified.gif) no-repeat right center; }
.field .video					{ background: url(../images/icons/icon-video.gif) no-repeat right center; margin-bottom: 15px; }

.video , .flash					{ margin: 30px 0; text-align: center; }
.video .label, .flash .label	{ display: block; margin-bottom: 10px; text-align: right; }
.divUserNameSetting	{ padding: 8px 25px 8px 0px; }

/* ----------------------- Form To Date------------------------ */
#form1 .form-submit { width: 104px; height: 51px; padding: 3px 0 33px; background: url(../images/btn-bg1.png) no-repeat; position:relative; top:10px; color: #000; margin: 0 auto;}

#form-password-confirmation .form-submit,
.CreateReportSubmit2				{ width: 104px; height: 44px; padding: 3px 0 48px; margin: 0 0px 20px 0px;  position: relative; top: 0px; background: url(../images/btn-bg1.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }



#formdates .form-submit,
#formdates .CreateReportSubmit2		{ position:relative; top: 20px; width: 152px; height: 61px; padding: 3px 0 33px; background: url(../images/btn2-bg.png) no-repeat; color: #FFF; }

.labeldate { position: relative; top: 9px;}
.form-textcal	        { width: 146px; height: 18px; padding: 3px;  border: 1px solid #CCCCCC; color: #000; font-size: 11px; position: relative; top:4px; *top: 2px;  background-image:url(../images/icon-calendar.png); background-repeat:no-repeat; background-position:left;}
.fromdate { float: left; position:relative; *top: -3px; #z-index:99; }
.dates2{ float: left; margin-right:20px; width: 150px; #z-index:99; }
.dates2{ direction: rtl; float: right; margin-left:30px; width: 160px;}
.form-text2	        { width: 120px; height: 17px; padding: 3px;  border: 1px solid #CCCCCC; color: #999; font-size: 11px;  }
.calendar2{ position: relative; top: 5px; margin-right: 5px;}
.label2 {font-weight: bold; color: #000000;}
.label3 {font-weight: bold; color: #000000; text-indent: 15px;}
.mycalls .CreateReportSubmit2 {position: relative; top: 20px;  right:100px; margin: 0 0 0 90px;}
.mybalance .CreateReportSubmit2 {position: relative; top: 10px; right: 270px;}
.myreviews  .CreateReportSubmit2{position: relative; top: 30px;   #right: 270px; margin: 0 0 0 90px; }
.myreviews  {position: relative;  right:160px; margin: 0 0 0 90px;}
.myreviews2  {float: right; margin-right: 20px;}
.myreviews2 .CreateReportSubmit2{position: relative;  right: 260px; top: 20px;}

analyticsdate .CreateReportSubmit2 {position: relative; top: 70px; right: 20px;}
.refunddate .CreateReportSubmit2 {position: relative; top: 30px;  right: 20px; margin-bottom: 20px;} 
.request .CreateReportSubmit2 {position: relative; top: 0px;  right: 20px; margin-bottom: 20px;}
.invaliddate .CreateReportSubmit2 {position: relative; top: 35px;  right: 20px;}
.c2cdate .CreateReportSubmit2 {position: relative; top: 15px;  right: 20px;margin-bottom: 60px;}

.callreport .CreateReportSubmit2 {position: relative; top: 70px;  right: 20px;}
.audit .CreateReportSubmit2 {position: relative; top: 30px; left: 100px;margin-bottom: 30px;}




/* ----------------------- CALENDAR DEFINITIONS ------------------------ */
.dates							{ padding: 0; margin: 20px 0; font-size: 12px; direction: rtl; text-align: right; }
.dates .form-text				{ float: right; width: 60px; height: 13px; padding: 6px 3px 1px; margin: -5px 0 0; background: url(../images/bg-input-dates.png) no-repeat; border: 0; color: #999; font-size: 11px; }
.dates LABEL					{ padding: 0 20px 0 10px; color: #999; font-size: 12px; }
.dates SPAN						{ float: right; padding: 0 0 0 10px; color: #999; font-size: 12px; }
.dates A.calendar				{ float: right; margin: -5px 3px 0 25px; }
.dates .form-submit				{ width: 104px; padding-top: 5px; margin: 0 auto -22px; font-size: 12px; font-weight: bold; background-image: url(../images/btn-bg1.png); }
.dates .date_error				{ padding: 10px 25px 0 0; font-size: 10px; font-weight: bold; color: #ed232a; }
.clear_dates					{ display: inline-block; padding: 5px 10px 5px 25px; margin: -5px 0 0; color: #000; font-weight: bold; text-decoration: none; background: url(../images/icon-clear.png) no-repeat left center; }

/* ----------------------- form-credit-card DEFINITIONS ------------------------ */
.form-credit-card H3			{ margin: 0 0 10px; text-align: center; font-size: 24px; }
.form-credit-card H3 IMG		{ vertical-align: middle; }

.form-credit-card H4			{ margin: 0 0 15px; text-align: center; font-size: 18px; }
.form-credit-card .amount		{ color: #0d8800; }

.form-credit-card .form-field	{ margin-bottom: 10px; }

.form-credit-card LABEL			{ display: block; margin-bottom: 5px; }
.form-credit-card LABEL	.must	{ color: #F61C12; }

.form-credit-card .form-text	{ width: 250px; }
.form-credit-card .error-msg	{ display: none; padding: 0; margin: 5px 0; }
.form-credit-card .error .form-text,
.form-credit-card .error .form-textarea,
.form-credit-card .error .form-select	{ border-color: #F61C12; }
.form-credit-card .error .error-msg		{ display: block; }

/* ----------------------- Cities DEFINITIONS ------------------------ */
#divCheckAll					{ float: right; display: inline-block; margin: 15px 20px 0 5px; width: 13px; height: 13px; background: url('../images/icons/checkOptions.png') 0px -13px; }
.check-all LABEL				{ color: #00156E; display: inline-block; height: 13px; margin: 12px 0 0; float: right; }

/*---------------------- GENERAL CALL TOOLTIP -----------------------*/
.page-call-popup                { width: 96%; padding: 2%; margin: 0; background: url(../general/images/tooltip/gradient-white.png) repeat-x top #F00; text-align: center; color: #FFF; font-size: 12px; line-height: 14px; }
.page-call-popup P				{ margin-bottom: 5px; }
.page-call-popup .form-field	{ width: 200px; margin: 0 auto; }
.page-call-popup .form-text	    { float: left; width: 122px; height: 15px; padding: 2px; border: 0 none; margin-right: 5px; background:url(../general/images/tooltip/bg-tooltip-input.png) no-repeat; }
.page-call-popup .form-submit	{ float: left; width: 64px; height: 19px; padding: 0 0 4px; border: 0 none; background: #FFF no-repeat; cursor: pointer; font-weight: bold; color: #000; font-size: 12px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}
.page-call-popup .call			{  }
.page-call-popup .response		{ display: none; }
.page-call-popup .response P	{ font-size: 16px; line-height: 17px; margin: 3px 0; }	

/*----------------------CHANGE PASS----------------------------------*/
.new_pass{ border: 1px solid #AAAAAA;
    height: 25px;
    line-height: 25px;
    margin-bottom: 20px;
    width: 200px;}

/*----------------------RadTreeView----------------------------------*/
.RadTreeViewMyClass{float:none !important;} /* this ditroy the style float:right witch create auto when tree view see rtl in body and couse inderectly the update button to br above and not in the bottom*/