Ftabled
TableDeposit/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }/* border: 1px dotted red; */
BODY				{ font-family: Arial; font-size: 14px; color: #333; direction: ltr; text-align: left; background: #FFF; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A:active			{ outline: none; }
:-moz-any-link:focus { outline: none; }
OBJECT				{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.fc-red				{ color: #ed232a; }
.fb					{ font-weight: bold; }

.center				{ text-align: center; }

.iframe-inner		{ background-color: #f0f4f7; }

#main				{ margin: 0 auto; width: 1000px; }

#header				{ position: relative; width: 770px; height: 225px; background: url(images/professions.jpg) no-repeat bottom right; }
#service-navigation	{ position: absolute; width: 770px; top: 20px; left: 50px; }
#service-navigation LI	{ float: left; background: url(images/menu-btn-bg.gif) no-repeat left center; padding: 0 50px 0 10px; }
#service-navigation A	{ text-decoration: none; color: #000; font-weight: bold; font-size: 13px; }
#service-navigation A:hover	{ text-decoration: underline; color: #666; }

#header H1			{ position: absolute; bottom: 50px; right: 240px; font-size: 30px; color: #555; font-family: "Myriad Pro"; font-weight: normal; }
#logo				{ position: absolute; top: 60px; left: 50px; display: block; width: 228px; height: 47px; background: url(images/logo.jpg); }

#primary-content	{ width: 770px; float: left; }
#primary-content H2	{ margin-bottom: 10px; font-size: 20px; color: #555; font-family: "Myriad Pro"; font-weight: normal; }

#sidebar			{ width: 230px; float: right; margin-top: -35px; }
#sidebar .add		{ width: 154px; padding: 0 38px; border-bottom: 1px dotted #CCC; }
#sidebar .add P		{ font-size: 12px; line-height: 14px; color: #444; margin: 10px 0; }

#sidebar .testimonials { width: 170px; height: 230px; margin: 10px 0; padding: 20px 30px; background: url(images/bg-testimonials.png) no-repeat center; text-align: center; }
#sidebar .testimonials H3 { color: #104780; font-size: 13px; margin-bottom: 10px; }
#sidebar .testimonials UL { text-align: left; width: 150px; margin: 0 auto; }
#sidebar .testimonials A  { display: block; height: 45px; text-decoration: none; color: #444; font-size: 12px; background: url(images/icon-testimonial.png) no-repeat top right; }
#sidebar .testimonials A:hover  { text-decoration: underline; }

.iframe-inner #main	{ width: 500px; padding: 25px; background: #f0f4f7; font-size: 12px; color: #383a37; }
.iframe-inner P		{ font-size: 12px; color: #383a37; line-height: 14px; }

.container			{ width: 755px; min-height: 500px; margin: 0 auto; }
.container .content	{ position: relative; }
.navigation			{ width: 706px; height: 72px; padding: 6px 15px 18px; margin: 0 auto; background: url(images/bg-nav.jpg); }
.navigation	LI		{ float: left; border-right: 1px solid #FFF; background-position: 20px 22px; background-repeat: no-repeat; }
.navigation	LI.active { background-color: #EEE; }
.navigation	LI.last	{ border-right: 0; }
.navigation	A		{ display: inline-block; height: 44px; padding: 28px 30px 0 55px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigation	A:hover, .navigation A.active { color: #ed232a; text-decoration: underline; }

#btn-myaccount		{ background-image: url(images/icon-myaccount.png); }
#btn-myminisite		{ background-image: url(images/icon-my-minisite.png); }
#btn-calls			{ background-image: url(images/icon-mycalls.png); }
#btn-faq			{ background-image: url(images/icon-faq.png); }
#btn-support		{ background-image: url(images/icon-support.png); }

.iframe-content		{ float: right; }
.iframe-content IFRAME	{ }
.tab-navigation		{ position: absolute; top: 30px; float: left; }
.tab-navigation A	{ display: block; width: 137px; height: 58px; padding: 30px 0 0 30px; background: url(images/tab-ltr.jpg) no-repeat; font-weight: bold; color: #383a37; text-decoration: none; font-size: 12px; }	
.tab-navigation A:hover, .tab-navigation A.active { background: url(images/tab-ltr-active.jpg) no-repeat; color: #ed232a; }
.tab-navigation A SPAN { display: inline-block; width: 18px; height: 16px; margin: -2px 5px 0 0; padding: 2px 0 0 0; text-align: center; }
.tab-navigation A:hover SPAN, .tab-navigation A.active SPAN { background: url(images/o-bullet-bg.gif) no-repeat; color: #FFF; }

/* ----------------------- TOFES1 DEFINITIONS ------------------------ */
#form4 #main		{ width: 500px !important; padding: 25px 0 !important; }
#form-info			{ margin-left: 50px; }
#form-info P		{ clear: both; }
#form-info LABEL	{ display: inline-block; height: 18px; width: 125px; padding: 0 0 0 15px; vertical-align: top; }
#form-info .must	{ background: url(images/must.gif) no-repeat left 5px; }

.form-text, .form-select { width: 150px; }
.form-textarea		{ width: 300px; height: 70px; }
.form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.form-checkbox		{ vertical-align: middle; }
#form-info .form-submit, #form-info .steps	{ margin-left: 140px; }
#form-info .steps , #form-segment .steps, #form-credits .steps	{ color: #ed232a; font-size: 11px; }



/* ----------------------- TOFES2 DEFINITIONS ------------------------ */

#form-segment .steps, #form-segment .form-submit	{ margin: 15px 0 0 210px; } 
.list-select		{ float: left; width: 250px; text-align: center; }
.list-select LABEL	{ display: block; text-align: center; color: #d01f25; font-size: 14px; margin-bottom: 10px; }
.list-select SELECT	{ width: 200px; height: 160px; margin: 0 auto; border: 1px solid #333; }
.list-select .btn	{ display: block; width: 72px; height: 18px; padding: 3px 0 0 0; color: #FFF; margin: 10px auto; text-align: center; text-decoration: none; background: url(images/bg-btn.gif) no-repeat; }
.all				{ background: url(images/icon-add.gif) no-repeat bottom right; }
.choice				{ background: url(images/icon-remove.gif) no-repeat bottom left; }
#form-segment H3	{ color: #ed232a; font-size: 13px; text-align: center; text-decoration: underline; }
.cb					{ width: 165px; float: left; margin: 20px 0 0 0; }

/* ----------------------- TOFES3 DEFINITIONS ------------------------ */

#form-get-calls .steps, #form-get-calls .form-submit	{ margin: 15px 0 0 210px; } 
#form-get-calls .form-select{ width: 55px; font-size: 10px; border: 1px solid #d1d1d1; }
#form-get-calls TABLE		{ width: 420px; margin: 0 auto; }
#form-get-calls TD			{ text-align: center; vertical-align: middle; border-right: 1px solid #8d8f8c; padding: 5px 20px; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }
#form-get-calls TD.details	{ text-align: left; }
#form-get-calls TD A		{ color: #444; }
#form-get-calls TD.last		{ border-right: none;  }


/* ----------------------- TOFES4 DEFINITIONS ------------------------ */

#form-credits H3	{ color: #383a37; font-size: 13px; text-align: center; }
#form-credits .steps, #form-credits .form-submit	{ margin: 15px 0 0 210px; } 
.Packages_Pricing	{max-height:200px; overflow-y:auto; overflow-x:hidden;}
.track_oprions		{ width: 460px; height: 285px; padding: 20px; margin: 10px 0; background: url(images/bg-4.png) no-repeat center center;  }
.track_oprions P	{ text-align: center; }
.track_oprions .details { width: 160px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }
#form-amount		{ width: 30px; }
#form-credits .rb	{ width: 150px; text-align: center; float: left; margin-right: 5px;  }
#form-credits .last	{ margin-right: 0px !important; }
#volume-calculations{ display: block; background: url(images/btn1-bg.png) no-repeat; width: 194px; height: 31px; padding-top: 5px; font-size: 13px; font-weight: bold; text-align: center; color: #ed232a; margin: 10px auto; }

/* ----------------------- TOFES5 DEFINITIONS ------------------------ */
#form_payment_info H3	{ width: 272px; height: 20px; color: #383a37; font-size: 16px; padding: 3px 0 0 30px; margin: 20px 0 10px; }
#form_payment_info H3.first { background: url(images/bullet-1.gif) no-repeat left center; }
#form_payment_info H3.second{ background: url(images/bullet-2.gif) no-repeat left center; }
#form_payment_info .second{ width: 272px; height:20px; color: #383a37; font-size: 16px; padding: 0px 0 0 30px; margin: 20px 0 10px; background: url(images/bullet-2.gif) no-repeat left center; }

#form_payment_info .steps, #form_payment_info .form-submit	{ margin: 15px 0 0 210px; } 

#form_payment_info UL	{ width: 302px; }
#form_payment_info LI	{ padding: 10px 0 5px; color: #383a37; font-size: 12px; border-bottom: 1px solid #aeb0b3; }
#form_payment_info LI.last { border: none; }
#form_payment_info LI.star { background: url(images/star.gif) no-repeat right bottom; }

#form_payment_info .name	{ float: left; width: 140px; margin-right: 10px; }
#form_payment_info .number	{ float: left; width: 140px; margin-right: 10px; }
#form_payment_info .expiry	{ float: left; width: 130px; }
#form_payment_info .code	{ width: 140px; }
#form_payment_info .form-text { width: 140px; }
#form_payment_info .form-select { float: left; height: 19px; margin-top: -13px; font-size: 10px; border: 1px solid #d1d1d1; }
#form_payment_info .seperator	{ float: left; display: inline-block; padding: 3px 3px 0; margin-top: -13px; }
#form_payment_info LABEL	{ display: block; height: 18px; color: #ed232a; font-size: 10px; clear: both; background: url(images/star.gif) no-repeat right top; }
#form_payment_info .privacy	{ color: #172f6e; display: block; }
#form_payment_info .buy		{ display: block; width: 48px; height: 47px; background: url(images/btn-buy-now.gif); margin: -55px 0 0 200px; }

.ErrorMes
{
    color: red;
    font-size: 8pt;
}
/*
.PopUpTransfer
{
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    width: 250px;
    height: 150px;
    
}
*/
.Button_OK
{
background:url("images/btn-bg.png") no-repeat scroll 0 0 transparent;
border:0 none;
color:#000000;
cursor:pointer;
font-size:14px;
height:44px;
padding:3px 0 28px;
text-align:center;
width:83px;
}
.WireTransfer
{ 
    
    width:100%;
    text-align:left;
    padding-left: 30px;
    /*
    top:-10000px;
    position:relative;
*/
  }

.Packege_list
{
    text-align:center;
}
.Packege_list TD
{
    text-align:center;
}

.divSubmit
{
    
    padding-top: 30px;
}

/* ----------------------- LOGIN DEFINITIONS ------------------------ */

.login-wrap			{ text-align: center; }
.login-wrap	H3		{ font-size: 14px; color: #ed232a; margin-bottom: 35px; }

#form-login .form-input, #form-password-confirmation .form-input{ width: 443px; height: 24px; padding: 12px 20px 18px; background: url(images/form-input-bg.png); border: none; font-size: 16px; line-height: 18px; font-family: Arial; vertical-align: middle; }
#form-login LABEL, #form-password-confirmation LABEL			{ display: inline-block; font-size: 11px; color: #444; text-align: right; width: 130px; }
#form-login .q		{ display: inline-block; width: 17px; height: 17px; margin-bottom: -5px; background: url(images/icon-q.png) no-repeat center; }
#form-login .form-submit, #form-password-confirmation .form-submit  { width: 152px; height: 61px; padding-bottom: 35px; color: #FFF; font-size: 12px; font-weight: bold; background: url(images/btn2-bg.png); }

#form-login .service{ margin-top: 40px; font-size: 12px; }
#form-login .service LABEL	{ color: #ed232a; text-align: left; width: 80px; }
#form-login .service A		{ color: #444; text-align: left; }

/* ----------------------- PASSWORD DEFINITIONS ------------------------ */

#form-password-confirmation .form-submit { letter-spacing: -.5px; }
#form-password-confirmation .btn		{ display: inline-block; width: 83px; height: 39px; padding: 5px 0 0 0; background: url(images/btn-bg.png) no-repeat; text-align: center; font-size: 12px; color: #FFF; text-decoration: none; font-weight: bold; }

/* ----------------------- STEP5 DEFINITIONS ------------------------ */
#form5 #main			{ width: 500px; padding: 10px !important; }
#form_Payment_info H2	{ border-bottom: 2px solid #CCC; margin-bottom: 15px; text-align: center; color: #ed232a; font-size: 17px; font-weight: normal; }

#form_Payment_info .track_oprions .rb			{ position: relative; width: 145px; height: 100px; background: url(images/package-bg.png) no-repeat 0 18px; text-align: center;  margin-right: 5px; }
#form_Payment_info .track_oprions .rb LABEL		{ color: #FF0000; font-weight: bold; font-size: 14px; display: block; width: 250px; margin-left: -60px; }
#form_Payment_info .track_oprions .rb P			{ position: absolute; top: 20px; left: 0; width: 125px; height: 30px; padding: 15px 10px; color: #FFF; font-size: 12px; text-align: center; }
#form_Payment_info .track_oprions .rb .type		{ position: absolute; top: 18px; right: 0px; }

#form_Payment_info .TableDeposit				{ width: 350px; margin: -20px auto 15px; color: #ef1b27; }
/*#form_Payment_info #div_publisherCheckBox		{ margin-top: 20px; margin-bottom:20px; }
 #div_publisherCheckBox LABEL	{ color: #ef1b27; font-weight: bold; margin-left: 5px; }
*/
 .div_publisherCheckBox LABEL	{ color: #ef1b27; font-weight: bold; margin-left: 5px; }
 .div_publisherCheckBox { margin-top:20px; }


#form_Payment_info #rbl_PaymentMethod TD		{ vertical-align: middle; padding: 0 5px 0 0; }
#form_Payment_info #rbl_PaymentMethod TD INPUT	{ vertical-align: text-bottom; margin-right: 5px; }

#form_Payment_info H3				{ height: 20px; color: #383a37; font-size: 16px; padding: 3px 0 0 0; margin: 20px 0 10px; }
#form_Payment_info H3.first			{ background: url(images/bullet-1.gif) no-repeat left center; }
#form_Payment_info H3.second		{ background: url(images/bullet-2.gif) no-repeat left center; }
#form_Payment_info .creditcard		{ position: relative; }
#form_Payment_info .creditcard H3	{ text-align: center;  }
#form_Payment_info .creditcard IMG	{ margin-left: 10px; }
#form_Payment_info H3.box-title		{ width: auto; text-align: center; padding-left: 0; }

#form_Payment_info .steps, #form_Payment_info .form-submit	{ margin: 15px 0 0 210px; } 

#form_Payment_info UL		{ width: 302px; }
#form_Payment_info LI		{ padding: 10px 0 5px; color: #383a37; font-size: 12px; border-bottom: 1px solid #aeb0b3; }
#form_Payment_info LI.last	{ border: none; }
#form_Payment_info LI.star	{ background: url(images/star.gif) no-repeat right bottom; }

#form_Payment_info .name	{ float: left; width: 140px; margin-right: 10px; }
#form_Payment_info .number	{ float: left; width: 140px; margin-right: 10px; }
#form_Payment_info .expiry	{ float: left; width: 130px; }
#form_Payment_info .code	{ width: 140px; }
#form_Payment_info .form-text	{ width: 140px; }
#form_Payment_info .form-select { float: left; height: 19px; margin-top: -13px; font-size: 10px; border: 1px solid #d1d1d1; }
#form_Payment_info .seperator	{ float: left; display: inline-block; padding: 3px 3px 0; margin-top: -13px; }
#form_Payment_info #div_CreditCard LABEL		{ display: block; height: 18px; color: #ed232a; font-size: 10px; clear: both; background: url(images/star.gif) no-repeat right top; }
#form_Payment_info #div_CreditCard .code LABEL	{ color: #000; }
#form_Payment_info .privacy	{ color: #172f6e; display: block; }
#form_Payment_info .buy		{ display: block; width: 48px; height: 47px; background: url(images/btn-buy-now.gif); margin: -55px 0 0 200px; }
.er4g
{
    visibility:visible;
    vis
}