/* ----------------------- GENERAL DEFINITIONS ------------------------ */
BODY				{ text-align: right; direction: rtl; }

/* ----------------------- FORMS DEFINITIONS ------------------------ */
.must LABEL					{ background: url("../images/must.gif") no-repeat scroll right 5px; }

.login .form-field			{ padding: 0 0 0 85px; }
.login .error-msg-wrap		{ right: auto; left: 0; text-align: right; }


/* ----------------------- TABLE DEFINITIONS ------------------------ */
.data-table	CAPTION	.tools		{ float: right; }
.data-table TH, .data-table TD	{ border-left: 2px solid #edf0f4; }

.data-table-details						{ text-align: right; }
.data-table-details .description 		{ float: right; }
.data-table-details .details 			{ float: left; }
.data-table-details .refund 			{ margin: 10px -10px 10px 0; }

.data-table-details .refund .btn INPUT  { background: url("../images/btn-bg1.png") no-repeat 100% 0; }

.pagination A					{ margin: 0 0 0 5px; }

/* ----------------------- POPUP DEFINITIONS ------------------------ */
.popModal_del_hide				{ left: auto; right: -5000px; }
.span_x							{ right: auto; left: 45px; }
.span_A							{ right: auto; left: 15px; }
.popModal_del .error-msg		{ padding: 0 10px 0 0; }

/* ----------------------- HEADER DEFINITIONS ------------------------ */
#header						{ background: url(../images/bg-header.gif) no-repeat bottom left; }
.login #header				{ background: url(../images/professions-rtl.jpg) no-repeat bottom left; }

.service-navigation			{ right: auto; left: 0; }
.service-navigation LI		{ float: right; background: url(../images/menu-btn-bg.gif) no-repeat right center; padding: 0 10px 0 0; margin-right: 25px; }

#header H1					{ left: auto; right: 0; }
#header .logo				{ left: auto; right: 0; }

#header .welcome			{ left: auto; right: 0; text-align: right; }
#header .welcomeUser		{ float: right; }
#header .welcomeIncrease 	{ float: left; text-align: left; }

/* ----------------------- CONTENT DEFINITIONS ------------------------ */
#primarycontent				{ float: right; }

/* ----------------------- SIDEBAR DEFINITIONS ------------------------ */
#sidebar					{ float: left; }

/* ----------------------- LOGIN DEFINITIONS ------------------------ */
.form-login	.login			{ text-align: right; }
.form-login	LABEL			{ text-align: left; }

/* ----------------------- RENAME DEFINITIONS ------------------------ */
.page-rename .label			{ margin: 0 0 0 10px; text-align: left; }

/* ----------------------- MANAGEMENT DEFINITIONS ------------------------ */
.management .navigation LI			{ border-right: none; border-left: 1px solid #FFFFFF; float: right; background-position: 100% 22px; }
.management .navigation LI.last		{ border-left: none; }
.management .navigation A			{ padding: 28px 50px 0 30px; }

/* ----------------------- MY ACCOUNT FRAME DEFINITIONS ------------------------ */
.iframe-content				{ float: left; margin: 0 0 0 7px; }
.tab-navigation				{ left: auto; right: 8px; }

.tab-navigation A			{ padding: 30px 30px 0 0; background: url("../images/tab-rtl.jpg") no-repeat scroll 0 0 transparent; }
.tab-navigation A.mouseover:hover,
.tab-navigation A.active	{ background: url("../images/tab-rtl-active.jpg") no-repeat scroll 0 0 transparent; }
.tab-navigation A SPAN		{ margin: -2px 0 0 5px; }

.iframe-content .frame-right	{ background: url(../images/tile-left.jpg) repeat-y left; }
.iframe-content .frame-bottom	{ background: url(../images/bottom.jpg) no-repeat; }
.iframe-content .frame-left		{ background: url(../images/tile-right.jpg) repeat-y right; }

/* ----------------------- MY ACCOUNT DEFINITIONS ------------------------ */
.iframe-inner .form-submit		{ background: url("../images/btn-bg.png") no-repeat 100% 0; }

.iframe-inner .list-select		{ float: right; }
.iframe-inner .choice					{ background: url("../images/icon-add.gif") no-repeat right bottom; }
.iframe-inner .all						{ background: url("../images/icon-remove.gif") no-repeat left bottom; margin-left:25px;}
.iframe-inner .list-select .btn			{ background: url("../images/btn3-bg.png") no-repeat 100% 0; }

.iframe-inner .steps IMG		{ margin: 0 5px 2px 0; }

/* ----------------------- STEP1 DEFINITIONS ------------------------ */
.step1 .form-text,
.step1 .txt_focus				{ margin: 0 0 0 10px; }
.step1 .form-select				{ margin: 0 0 0 10px; }
.step1 LABEL					{ padding: 0 15px 0 0;margin-left:10px; }

/* ----------------------- STEP4 DEFINITIONS ------------------------ */
.step4 TABLE.main TD			{ border-right: none; border-left: 1px solid #8D8F8C; }
.step4 .form-field				{ float: right; }

.step4 .form-submit				{ background: url("../images/btn-bg.png") no-repeat 100% 0; }
/* ----------------------- STEP5 DEFINITIONS ------------------------ */
.step5-wrap .price-per-call		{ float: right; }
.step5-wrap .price-simulator	{ float: left; }
.step5-wrap .details			{ left: auto; right: 10px; }
.step5-wrap .on					{ background: url(../images/bg-btn-on.png) no-repeat right center #0F0; }
.step5-wrap .off				{ background: url(../images/bg-btn-off.png) no-repeat right center #F00; text-align: left; }
.step5-wrap .on .form-checkbox	{ right: auto; left: 8px; }
.step5-wrap .learn-more			{ padding: 3px 0 0 23px; background: url(../images/icon-add.png) no-repeat left center; }
.step5-wrap .learn-more-closed	{ padding: 3px 0 0 23px; background: url(../images/icon-remove.png) no-repeat left center; }

.step5-more-details	.top		{ left: auto; right: 0; background: url(../images/bg-wrap-box1.png) no-repeat top right; }
.step5-more-details	.bottom		{ left: auto; right: 0; background: url(../images/bg-wrap-box1.png) no-repeat bottom right; }

/* ----------------------- STEP6 DEFINITIONS ------------------------ */
.step6 .Packege_list LI			{ float: right; }
.step6 .thanks					{ margin: 15px 150px 0 0; }

.step6 #rbl_PaymentMethod input { margin: 0 0 0 5px; }
.step6 .creditcard img			{ margin: 0 10px 0 0; }

.step6 .feilds .name			{ float: right; margin: 0 0 0 17px; }
.step6 .feilds .number			{ float: right; margin: 0 0 0 17px; }
.step6 .feilds .expiry			{ float: right; }
.step6 .feilds .form-select		{ float: right; }
.step6 .feilds .seperator		{ float: right; }
.step6 .feilds LABEL			{ padding: 0 0 0 20px; }
.step6 .feilds LABEL.must		{ background: url(../images/star.gif) no-repeat left top; }
.step6 .feilds .buy				{ background: url(../images/btn-buy-now.gif); margin: -55px 200px 0 0; }

/* ----------------------- MINISITE DEFINITIONS ------------------------ */
.minisite .btn                  { margin: 0 0 0 5px; }

/* ----------------------- SETTINGS DEFINITIONS ------------------------ */
.page-settings .form-submit		{ background: url("../images/btn-bg.png") no-repeat 100% 0; }
.page-settings P .label			{ text-align: right; }
/* ----------------------- PROFFESIONAL DEFINITIONS ------------------------ */
.supplier-minisite #header H1	{ right: auto; text-align: right; }

#supplierLogo					{ left: auto; right: 0; }
.contact-details				{ left: auto; right: 100px; }
.contact-details P				{ text-align: right; }
#links							{ left: auto; right: 55px; }

.rate-details .field			{ margin: 0 0 0 10px; float: right; }
.last							{ margin-left: 0 !important; }
.rate-details .field .label		{ padding: 7px 30px 0 0; }

.field .survey					{ background: url(../images/icons/icon-survyes.gif) no-repeat right center; }
.field .employees				{ background: url(../images/icons/icon-employees.gif) no-repeat right center; }
.field .calls					{ background: url(../images/icons/icon-calls.gif) no-repeat right center; }
.field .diploma					{ background: url(../images/icons/icon-certified.gif) no-repeat right center; }
.field .video					{ background: url(../images/icons/icon-video.gif) no-repeat rigth center; }

.video .label, .flash .label	{ text-align: right; }

/* ----------------------- CALENDAR DEFINITIONS ------------------------ */
.dates LABEL					{ padding: 0 20px 0 10px; }
.dates A IMG					{ margin: 2px 0 -5px 2px; }
.dates SPAN						{ padding: 0 0 0 10px; }
.dates A.calendar				{ margin: 0 0 0 10px; }
.dates .date_error				{ padding: 10px 25px 0 0; }
.clear_dates					{ padding: 5px 10px 5px 35px; background: url(../images/icon-clear.png) no-repeat left center; }

/* ----------------------- Cities DEFINITIONS ------------------------ */
#divCheckAll					{ float: right; margin: 15px 20px 0 5px; }
.check-all LABEL				{ float: right; }

/*--REVIEWS--*/

.wraprev {
	width: 918px;
	height: auto;
	margin: 0 auto;
	
}
.header {
	background-image:url(images/header.jpg);
	background-repeat:no-repeat;
	width: 918px;
	height: 95px;
	margin-bottom: 10px;
}

.strip {
	background-image:url(images/strip.jpg);
	background-repeat:repeat-x;
	width: 918px;
	height: 35px;
	margin-top: 30px;
}

.txt {
	font-family: Arial;
	color: #000;
	text-align: left;
	font-size: 12px;
	float: left;
	padding-top: 5px;
}
.txt2 {
	font-family: Arial;
	color: #ff6600;
	text-align: left;
	font-size: 12px;
	float: left;
	padding-top: 5px;
}

.bg {
	background-image:url(images/bgyp.jpg);
		background-repeat:no-repeat;
	margin-bottom: 20px;
	width: 918px;
	height: 149px;
}
.title {
	font-family: Arial;
	color: #386899;
	text-align: left;
	font-size: 15px;
	height: 20px;
	margin-bottom: 10px;
	text-indent: 10px;
}
	
	.info {
	height: 20px;
    margin: 0 0 0 10px;
	padding: 30px 0 0 10px;
	}
	
	.info .fieldph {
	border: 1px solid #ccc;
	background: #fff;
	height: 23px;
	width: 210px;
	float: left;
	margin: 0px 30px 0px 0px;

}
.info2 {
	height: 60px;
    margin: 0 0 0 10px;
    padding: 20px 0 0 10px;
	}
	.info2 .fieldrev {
	border: 1px solid #ccc;
	background: #fff;
	height: 53px;
	width: 555px;
	float: left;
	margin: 0px 30px 0px 0px;

}
.rating {
	 float: left;
    height: 40px;
	 left: 20px;
    position: relative;
 
}
.rating1 {
	 float: left;
    height: 25px;
    position: relative;
    top: -3px;
	left: 15px;
	margin-right: 20px;
}
.send{
	 float: left;
    left: 25px;
    position: relative;
    top: 20px;
    background-image:url(images/sendbtn.png);
		background-repeat:no-repeat;
		background-color:Transparent;
		width:166px;
		height: 34px;
		border: none;
		color: #fff;
		font-weight:bold;
		padding-bottom:5PX;
		cursor:pointer;
}

.strip .field {
	position: relative;
	left: 20px;
	top: 6px;
	width: 150px;
	float: left;
	
	
}
.strip .date {
	position: relative;
	left: 20px;
	top: 6px;
	margin-right:20px;
	float: left;
	
	
}
.strip .by {
	position: relative;
	left: 20px;
	top: 6px;
	width: 350px;
	float: left;
	
	
}
.review {
	width: 918px;
	height: auto;
	font-family: Arial;
	font-size: 12px;
	text-align: left;
	color: #000;
	margin: 10px;
	
	
}
.ReviewSend
{
	background-image:url(images/send.png);
	width:168px;
	height:48px;

}
.like {
background-image:url(images/up.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
}
.like a{
background-image:url(images/up.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
		text-decoration:none !important;
}
.like a:hover
{
	text-decoration:none !important;
}
	
.likedisable {
background-image:url(images/upoff.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
	
}
.likedisable a:hover
{
	text-decoration:none;
}

.dislike{
background-image:url(images/down.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
}

.dislike a{
background-image:url(images/down.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
		text-decoration:none;
}
.dislike a:hover
{
	text-decoration:none!important;
}
.dislikedisable {
background-image:url(images/downoff.png);
		background-repeat:no-repeat;
		width: 45px;
		height: 40px;
		float:left;
		
}
.dislikedisable a:hover
{
	text-decoration:none!important;
}

.form-textcal	        { width: 146px; height: 18px; padding: 3px;  border: 1px solid #CCCCCC; color: #999; font-size: 11px; position: relative; top:4px; *top: 2px;  background-image:url(../images/icon-calendar.png); background-repeat:no-repeat; background-position:right;}
.fromdate { float: left; position:relative; *top: -3px; #z-index:99; }
.dates2{ float: left; margin-right:20px; width: 150px; #z-index:99; }
