
/* ----------------------- TOFES1 DEFINITIONS ------------------------ */
#form4 #main		{ width: 500px !important; padding: 25px 0 !important; }
#form-info			{ margin-left: 50px; }
#form-info P		{ clear: both; }
#form-info LABEL	{ display: inline-block; height: 18px; width: 125px; padding: 0 0 0 15px; vertical-align: top; }
#form-info .must	{ background: url(images/must.gif) no-repeat left 5px; }

.form-text, .form-select { width: 150px; }
.form-textarea		{ width: 300px; height: 70px; }
.form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.form-checkbox		{ vertical-align: middle; }
#form-info .form-submit, #form-info .steps	{ margin-left: 140px; }
#form-info .steps , #form-segment .steps, #form-credits .steps	{ color: #ed232a; font-size: 11px; }

/* ----------------------- TOFES2 DEFINITIONS ------------------------ */

#form-segment .steps, #form-segment .form-submit	{ margin: 15px 0 0 210px; } 
.list-select		{ float: left; width: 250px; text-align: center; }
.list-select LABEL	{ display: block; text-align: center; color: #d01f25; font-size: 14px; margin-bottom: 10px; }
.list-select SELECT	{ width: 200px; height: 160px; margin: 0 auto; border: 1px solid #333; }
.list-select .btn	{ display: block; width: 72px; height: 18px; padding: 3px 0 0 0; color: #FFF; margin: 10px auto; text-align: center; text-decoration: none; background: url(images/bg-btn.gif) no-repeat; }
.all				{ background: url(images/icon-add.gif) no-repeat bottom right; }
.choice				{ background: url(images/icon-remove.gif) no-repeat bottom left; }
#form-segment H3	{ color: #ed232a; font-size: 13px; text-align: center; text-decoration: underline; }
.cb					{ width: 165px; float: left; margin: 20px 0 0 0; }

/* ----------------------- TOFES3 DEFINITIONS ------------------------ */

#form-get-calls .steps, #form-get-calls .form-submit	{ margin: 15px 0 0 210px; } 
#form-get-calls .form-select{ width: 55px; font-size: 10px; border: 1px solid #d1d1d1; }
#form-get-calls TABLE		{ width: 420px; margin: 0 auto; }
#form-get-calls TD			{ text-align: center; vertical-align: middle; border-right: 1px solid #8d8f8c; padding: 5px 20px; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }
#form-get-calls TD.details	{ text-align: left; }
#form-get-calls TD A		{ color: #444; }
#form-get-calls TD.last		{ border-right: none; }


/* ----------------------- TOFES4 DEFINITIONS ------------------------ */

#form-credits H3	{ color: #383a37; font-size: 13px; text-align: center; }
#form-credits .steps, #form-credits .form-submit	{ margin: 15px 0 0 210px; } 
.track_oprions		{ width: 460px; height: 285px; padding: 20px; margin: 10px 0; background: url(images/bg-4.png) no-repeat center center; }
.track_oprions P	{ text-align: center; }
.track_oprions .details { width: 160px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }
#form-amount		{ width: 30px; }
#form-credits .rb	{ width: 150px; text-align: center; float: left; margin-right: 5px; }
#form-credits .last	{ margin-right: 0px !important; }
#volume-calculations{ display: block; background: url(images/btn1-bg.png) no-repeat; width: 194px; height: 31px; padding-top: 5px; font-size: 13px; font-weight: bold; text-align: center; color: #ed232a; margin: 10px auto; }

/* ----------------------- TOFES5 DEFINITIONS ------------------------ */
#form-payment-info H3	{ width: 272px; height: 20px; color: #383a37; font-size: 16px; padding: 3px 0 0 30px; margin: 20px 0 10px; }
#form-payment-info H3.first { background: url(images/bullet-1.gif) no-repeat left center; }
#form-payment-info H3.second{ background: url(images/bullet-2.gif) no-repeat left center; }

#form-payment-info .steps, #form-payment-info .form-submit	{ margin: 15px 0 0 210px; } 

#form-payment-info UL	{ width: 302px; }
#form-payment-info LI	{ padding: 10px 0 5px; color: #383a37; font-size: 12px; border-bottom: 1px solid #aeb0b3; }
#form-payment-info LI.last { border: none; }
#form-payment-info LI.star { background: url(images/star.gif) no-repeat right bottom; }

#form-payment-info .name	{ float: left; width: 140px; margin-right: 10px; }
#form-payment-info .number	{ float: left; width: 140px; margin-right: 10px; }
#form-payment-info .expiry	{ float: left; width: 130px; }
#form-payment-info .code	{ width: 140px; }
#form-payment-info .form-text { width: 140px; }
#form-payment-info .form-select { float: left; height: 19px; margin-top: -13px; font-size: 10px; border: 1px solid #d1d1d1; }
#form-payment-info .seperator	{ float: left; display: inline-block; padding: 3px 3px 0; margin-top: -13px; }
#form-payment-info LABEL	{ display: block; height: 18px; color: #ed232a; font-size: 10px; clear: both; background: url(images/star.gif) no-repeat right top; }
#form-payment-info .privacy	{ color: #172f6e; display: block; }
#form-payment-info .buy		{ display: block; width: 48px; height: 47px; background: url(images/btn-buy-now.gif); margin: -55px 0 0 200px; }


/* ----------------------- LOGIN DEFINITIONS ------------------------ */

.login-wrap			{ text-align: center; }
.login-wrap	H3		{ font-size: 14px; color: #ed232a; margin-bottom: 35px; }

#form-login .form-input, #form-password-confirmation .form-input{ width: 443px; height: 24px; padding: 12px 20px 18px; background: url(images/form-input-bg.png); border: none; font-size: 16px; line-height: 18px; font-family: Arial; vertical-align: middle; }
#form-login LABEL, #form-password-confirmation LABEL			{ display: inline-block; font-size: 11px; color: #444; text-align: right; width: 130px; }
#form-login .q		{ display: inline-block; width: 17px; height: 17px; margin-bottom: -5px; background: url(images/icon-q.png) no-repeat center; }
#form-login .form-submit, #form-password-confirmation .form-submit  { width: 152px; height: 61px; padding-bottom: 35px; color: #FFF; font-size: 12px; font-weight: bold; background: url(images/btn2-bg.png); }

#form-login .service{ margin-top: 40px; font-size: 12px; }
#form-login .service LABEL	{ color: #ed232a; text-align: left; width: 80px; }
#form-login .service A		{ color: #444; text-align: left; }

/* ----------------------- PASSWORD DEFINITIONS ------------------------ */

#form-password-confirmation .form-submit { letter-spacing: -.5px; }
#form-password-confirmation .btn		{ display: inline-block; width: 83px; height: 39px; padding: 5px 0 0 0; background: url(images/btn-bg.png) no-repeat; text-align: center; font-size: 12px; color: #FFF; text-decoration: none; font-weight: bold; }

/* ----------------------- minisite DEFINITIONS ------------------------ */

.minisite-content	{ background: #edf0f4; padding: 0 20px; }
.minisite-content .form-file{ vertical-align: top; }
.minisite-content H2{ color: #ed232a !important; font-size: 15px !important; font-family: Arial !important; text-align: center; padding-bottom: 5px; border-bottom: 3px solid #cacdd1; margin-bottom: 20px; }
.minisite-content H3{ color: #ed232a; font-size: 12px; margin-top: 0; }
.minisite-content P	{ color: #595959; font-size: 12px; line-height: 15px; }
/*.minisite-content .btn { display: inline-block; width: 83px; height: 39px; padding: 5px 0 0 0; margin: 0 0 0 10px; text-align: center; color: #FFF; text-decoration: none; background: url(images/btn-bg.png) no-repeat; }*/
.minisite-content .btn                       { width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(imageslogin/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }                

.div_gridMyCall
{
    margin-top: 15px;
}

.tryMe{display: block; width: 137px; height: 58px; padding: 30px 0 0 30px; background: url(images/tab-ltr.jpg) no-repeat; font-weight: bold; color: #383a37; text-decoration: none; font-size: 12px;}

/* ----------------------- setting ------------------------ */

 .btn_save { width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(imageslogin/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }    
.settingTable
{
    width: 280px;
    margin: 0 auto 10px;
}
.settingTable td
{
    padding:5px;   
}