/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }/* border: 1px dotted red; */
BODY				{  font-size: 14px; color: #333;  text-align: left; background: #FFF; font-family: "Arial"; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A:active			{ outline: none; }
:-moz-any-link:focus { outline: none; }
OBJECT				{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.fc-red				{ color: #ed232a; }

.center				{ text-align: center; }

.iframe-inner		{ background-color: #f0f4f7; }

#main				{ margin: 0 auto; width: 1000px; }

#_header				{ position: relative; width: 770px; height: 120px;left:0; background: url(images/bg-header.gif) no-repeat bottom right; }
#_service-navigation	{ position: absolute; top: 20px; right: 0; }
#_service-navigation LI	{ float: left; background: url(imageslogin/menu-btn-bg.gif) no-repeat left center; padding: 0 0 0 10px; margin-left: 25px; }
#_service-navigation A	{ text-decoration: none; color: #000; font-weight: bold; font-size: 13px; }
#_service-navigation A:hover	{ text-decoration: underline; color: #666; }

#_header H1			{ position: absolute; bottom: 50px; left: 0; font-size: 30px; color: #555; font-family: "Myriad Pro"; font-weight: normal; width: 770px; text-align: center; }
#logo				{ position: absolute; top: 20px; left: 0; display: block; width: 228px; height: 47px; background: url(images/logo.jpg); }
._logo				{ position: absolute; top: 20px; left: 0; display: block; width: 228px; height: 47px;  }

/*#_header H2.welcome2	{ position: absolute; bottom: 15px; left: 20px; color: #FFF; font-size: 16px; }*/
#_header .welcome			{ position: absolute; top: 82px; left: 0; color: #FFF; font-size: 16px; width:770px; text-align:left; }
#_header H2.welcomeBalance	{ position: absolute; bottom: 15px; right:0; color: #FFF; font-size: 16px; width:200px; text-align:left; }
#_header H2.welcomeIncrease	{ float:left; color: #FFF; font-size: 16px;  text-align:left; }

#_header .welcome .welcomeIncrease 	{ color: #FFF; font-size: 13px; text-align: right; }
#_header .welcome .welcomeBalance	{ color: #FFF; font-size: 13px; }
#_header .welcome TD		{ height: 20px; vertical-align: middle; padding: 0 15px; }

.SpanSpace
{
    padding-left: 5px;
    padding-right: 5px;
}

#primary-content	{ width: 770px; float: left; }
#primary-content H2	{ margin-bottom: 10px; font-size: 20px; color: #555; font-family: "Myriad Pro"; font-weight: normal; }

#sidebar			{ width: 230px; float: right; margin-top: -35px; }
#sidebar .add		{ width: 154px; padding: 0 38px; border-bottom: 1px dotted #CCC; }
#sidebar .add P		{ font-size: 12px; line-height: 14px; color: #444; margin: 10px 0; }

#sidebar .testimonials { width: 170px; height: 230px; margin: 10px 0; padding: 20px 30px; background: url(imageslogin/bg-testimonials.png) no-repeat center; text-align: center; }
#sidebar .testimonials H3 { color: #104780; font-size: 13px; margin-bottom: 10px; }
#sidebar .testimonials UL { text-align: left; width: 150px; margin: 0 auto; }
#sidebar .testimonials A  { display: block; height: 45px; text-decoration: none; color: #444; font-size: 12px; background: url(imageslogin/icon-testimonial.png) no-repeat top right; }
#sidebar .testimonials A:hover  { text-decoration: underline; }

.iframe-inner #main	{ width: 500px; padding: 25px; background: #f0f4f7; font-size: 12px; color: #383a37; }
.iframe-inner P		{ font-size: 12px; color: #383a37; line-height: 14px; }

.container			{ width: 755px; min-height: 500px; margin: 0 auto; }
.container .content	{ position: relative; margin: -6px -3px 0 0; }
.navigation
{
    width: 725px;
    height: 72px;
    background: url(imageslogin/bg-nav.jpg);
    margin-top: -20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 18px;
    padding-left: 15px;    
    padding-top: 6px;
}
.navigation	LI		{ float: left; border-right: 1px solid #FFF; background-position: 10px 22px; background-repeat: no-repeat; }
.navigation	LI.active { background-color: #EEE; }
.navigation	LI.last	{ border-right: 0; }
.navigation	A		{ display: inline-block; height: 44px; padding: 28px 30px 0 40px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigation	A:hover, .navigation A.active { color: #ed232a; text-decoration: underline; }

#btn-myaccount		{ background-image: url(imageslogin/icon-myaccount.png); }
#btn-myminisite		{ background-image: url(imageslogin/icon-my-minisite.png); }
#btn-calls			{ background-image: url(imageslogin/icon-mycalls.png); }
#btn-faq			{ background-image: url(imageslogin/icon-faq.png); }
#btn-support		{ background-image: url(imageslogin/icon-support.png); }
.boxxx {
	width: 533px;
	height: 1px;
	margin: 0 auto 15px auto;
	padding: 30px;
	display:none;
	border-radius: 11px;
	
}
.iframe-content				{ -moz-border-radius: 10px;  border-radius: 10px;  -webkit-border-radius: 10px;  
    background: none repeat scroll 0 0 #F0F4F7;
    border: none;
    float: right;
    margin: 0 auto;
    position: relative;
    right: 60px;
    width: 500px;
    z-index:2; }
    
.tab-navigation				{  left: 37px; position: absolute; top: 30px; *top:40px; }

.tab-navigation A			{ background: #ccc; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px;   -moz-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px;  -webkit-border-radius: 10px 0 0 10px;  color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; }
.tab-navigation A:hover { background: #bbb; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px; -moz-border-radius: 10px 0 0 10px;  border-radius: 10px 0 0 10px;  -webkit-border-radius: 10px 0 0 10px;  font-size: 12px; font-weight: bold; text-decoration: none;color: #fff; }
.tab-navigation A.active { background: #F0F4F7; display: block; width: 128px; height: 50px; padding: 30px 0 0 30px; margin-bottom: 10px; -moz-border-radius: 10px 0 0 10px;  border-radius: 10px 0 0 10px;  -webkit-border-radius: 10px 0 0 10px;  font-size: 12px; font-weight: bold; text-decoration: none;color: #ed232a; }
.tab-navigation A SPAN		{ display: inline-block; width: 18px; height: 16px; padding: 2px 0 0; margin: -2px 5px 0 0; text-align: center; }
.tab-navigation  A.active SPAN { background: url(../images/o-bullet-bg.gif) no-repeat #FFF; color: #ccc; }
.tab-navigation  A.active:hover {background: #F0F4F7; color:#000;}
.iframe-content .frame-top		{ height: 20px; width: 590px;}
.iframe-content .frame-right	{ height: 100%; width: 30px; }
.iframe-content .frame-bottom	{ height: 40px; width: 590px; }
.iframe-content .frame-left		{ height: 100%; width: 30px; }
.iframe-content .frame-center	{ background-color: #F0F4F7; }
.iframe-content .iframe			{ height: 840px; width: 530px; position:relative; left: 10px; top:0px; z-index:2;}

.iframe-inner					{ background-color: #fff; }


/* ----------------------- TOFES1 DEFINITIONS ------------------------ */
#form4 #main		{ width: 500px !important; padding: 25px 0 !important; }
#form-info			{ margin-left: 50px; }
#form-info P		{ clear: both; }
#form-info LABEL	{ display: inline-block; height: 18px; width: 125px; padding: 0 0 0 15px; vertical-align: top; }
#form-info .must	{ background: url(imageslogin/must.gif) no-repeat left 5px; }

.form-text, .form-select { width: 150px; }
.form-textarea		{ width: 300px; height: 70px; }
.form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(imageslogin/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.form-checkbox		{ vertical-align: middle; }
#form1 .form-submit, #form-info .steps	{ margin-left: 140px; }
#form1 .steps , #form-segment .steps, #form-credits .steps	{ color: #ed232a; font-size: 11px; }

/* ----------------------- TOFES2 DEFINITIONS ------------------------ */

#form-segment .steps, #form-segment .form-submit	{ margin: 15px 0 0 210px; } 
.list-select		{ float: left; width: 250px; text-align: center; }
.list-select LABEL	{ display: block; text-align: center; color: #d01f25; font-size: 14px; margin-bottom: 10px; }
.list-select SELECT	{ width: 200px; height: 160px; margin: 0 auto; border: 1px solid #333; }
.list-select .btn	{ display: block; width: 72px; height: 18px; padding: 3px 0 0 0; color: #FFF; margin: 10px auto; text-align: center; text-decoration: none; background: url(imageslogin/bg-btn.gif) no-repeat; }
.all				{ background: url(imageslogin/icon-add.gif) no-repeat bottom right; }
.choice				{ background: url(imageslogin/icon-remove.gif) no-repeat bottom left; }
#form-segment H3	{ color: #ed232a; font-size: 13px; text-align: center; text-decoration: underline; }
.cb					{ width: 165px; float: left; margin: 20px 0 0 0; }

/* ----------------------- TOFES4 DEFINITIONS ------------------------ */

#form-credits H3	{ color: #383a37; font-size: 13px; text-align: center; }
#form-credits .steps, #form-credits .form-submit	{ margin: 15px 0 0 210px; } 
.track_oprions		{ width: 460px;  height: 285px; padding: 20px; margin: 10px 0; background: url(imageslogin/bg-4.png) no-repeat center center; }
.track_oprions P	{ text-align: center; }
.track_oprions .details { width: 160px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }
#form-amount		{ width: 30px; }
#form-credits .rb	{ width: 150px; text-align: center; float: left; margin-right: 5px; }
#form-credits .last	{ margin-right: 0px !important; }
#volume-calculations{ display: block; background: url(imageslogin/btn1-bg.png) no-repeat; width: 194px; height: 31px; padding-top: 5px; font-size: 13px; font-weight: bold; text-align: center; color: #ed232a; margin: 10px auto; }


/* ----------------------- LOGIN DEFINITIONS ------------------------ */

.login-wrap			{ text-align: center; }
.login-wrap	H3		{ font-size: 14px; color: #ed232a; margin-bottom: 35px; }

#form1 .form-input, #form-password-confirmation .form-input{ width: 443px; height: 24px; padding: 12px 20px 18px; background: url(imageslogin/form-input-bg.png); border: none; font-size: 16px; line-height: 18px; font-family: Arial; vertical-align: middle; }
#form1 LABEL, #form-password-confirmation LABEL			{ display: inline-block; font-size: 11px; color: #444; text-align: right; width: 130px; }
#form1 .q		{ display: inline-block; width: 17px; height: 17px; margin-bottom: -5px; background: url(imageslogin/icon-q.png) no-repeat center; }
#form1 .form-submit, #form-password-confirmation .form-submit  { width: 152px; height: 61px; padding-bottom: 35px; color: #FFF; font-size: 12px; font-weight: bold; background: url(imageslogin/btn2-bg.png); }

#form1 .service{ margin-top: 40px; font-size: 12px; }
#form1 .service LABEL	{ color: #ed232a; text-align: left; width: 80px; }
#form1 .service A		{ color: #444; text-align: left; }

/* ----------------------- PASSWORD DEFINITIONS ------------------------ */

#form-password-confirmation .form-submit { letter-spacing: -.5px; }
#form-password-confirmation .btn		{ display: inline-block; width: 83px; height: 39px; padding: 5px 0 0 0; background: url(imageslogin/btn-bg.png) no-repeat; text-align: center; font-size: 12px; color: #FFF; text-decoration: none; font-weight: bold; }

.TableChangePassword TD	{ padding: 5px; }

/* ----------------------- frame publisher ------------------------ */


.navigationMini
{
    width: 725px;
    height: 72px;
    background: url(imageslogin/bg-nav.jpg);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: 10px;
    padding-bottom: 18px;
    padding-left: 15px;    
    padding-top: 6px;
}
.navigationMini	LI		{ float: left; border-right: 1px solid #FFF; background-position: 20px 22px; background-repeat: no-repeat; }
.navigationMini	LI.active { background-color: #EEE; }
.navigationMini	LI.last	{ border-right: 0; }
.navigationMini	A		{ display: inline-block; height: 44px; padding: 28px 30px 0 55px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigationMini	A:hover, .navigationMini A.active { color: #ed232a; text-decoration: underline; }

._Background{
/*	display:none;*/
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	
	background:#000000;
	border:1px solid #cecece;
	z-index:10;
	
	opacity:0.50;
	filter: alpha(opacity=50);
	
	
}