/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }/* border: 1px dotted red; */
BODY				{ font-family: Arial; font-size: 14px; color: #333; direction: ltr; text-align: left; background: #FFF; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A:active			{ outline: none; }
:-moz-any-link:focus { outline: none; }
OBJECT				{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.fc-red				{ color: #ed232a; }

.center				{ text-align: center; }

.iframe-inner		{ background-color: #f0f4f7; }

#main				{ margin: 0 auto; width: 945px; padding: 0; border: 0; background: url(images/NO-PROBLEM-bg.jpg) no-repeat top; }
.iframe-inner #main	{ width: 500px; padding: 25px; background: #f0f4f7; font-size: 12px; color: #383a37; }
.iframe-inner P		{ font-size: 12px; color: #383a37; line-height: 14px; }

.container			{ width: 755px; min-height: 500px; margin: 0 auto; }
.container .content	{ position: relative; }
.navigation			{ width: 706px; height: 72px; padding: 6px 15px 18px; margin: 0 auto; background: url(images/bg-nav.jpg); }
.navigation	LI		{ float: left; border-right: 1px solid #FFF; }
.navigation	LI.last	{ border-right: 0; }
.navigation	A		{ display: inline-block; height: 44px; padding: 28px 30px 0 55px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigation	A:hover, .navigation A.active { color: #ed232a; text-decoration: underline; }

#btn-myaccount		{ background: url(images/icon-myaccount.png) no-repeat 20px 22px; }
#btn-myminisite		{ background: url(images/icon-my-minisite.png) no-repeat 20px 22px; }
#btn-calls			{ background: url(images/icon-mycalls.png) no-repeat 20px 22px; }
#btn-faq			{ background: url(images/icon-faq.png) no-repeat 20px 22px; }
#btn-support		{ background: url(images/icon-support.png) no-repeat 20px 22px; }

.iframe-content		{ float: right; }
.iframe-content IFRAME	{ }
.tab-navigation		{ position: absolute; top: 30px; float: left; }
.tab-navigation A	{ display: block; width: 137px; height: 58px; padding: 30px 0 0 30px; background: url(images/tab-ltr.jpg) no-repeat; font-weight: bold; color: #383a37; text-decoration: none; font-size: 12px; }	
.tab-navigation A:hover, .tab-navigation A.active { background: url(images/tab-ltr-active.jpg) no-repeat; color: #ed232a; }
.tab-navigation A SPAN { display: inline-block; width: 18px; height: 16px; margin: -2px 5px 0 0; padding: 2px 0 0 0; text-align: center; }
.tab-navigation A:hover SPAN, .tab-navigation A.active SPAN { background: url(images/o-bullet-bg.gif) no-repeat; color: #FFF; }

/* ----------------------- TOFES1 DEFINITIONS ------------------------ */
#form4 #main		{ width: 500px !important; padding: 25px 0 !important; }
#form-info			{ margin-left: 50px; }
#form-info P		{ clear: both; }
#form-info LABEL	{ display: inline-block; height: 18px; width: 125px; padding: 0 0 0 15px; vertical-align: top; }
#form-info .must	{ background: url(images/must.gif) no-repeat left 5px; }

.form-text, .form-select { width: 150px; }
.form-textarea		{ width: 300px; height: 70px; }
.formSubmit		{ width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.form-checkbox		{ vertical-align: middle; }
#form-info .formSubmit, #form-info .steps	{ margin-left: 140px; }
#form-info .steps , #form-segment .steps, #form1 .steps	{ color: #ed232a; font-size: 11px; }

/* ----------------------- TOFES2 DEFINITIONS ------------------------ */

#form-segment .steps, #form-segment .formSubmit	{ margin: 15px 0 0 210px; } 
.list-select		{ float: left; width: 250px; text-align: center; }
.list-select LABEL	{ display: block; text-align: center; color: #d01f25; font-size: 14px; margin-bottom: 10px; }
.list-select SELECT	{ width: 200px; height: 160px; margin: 0 auto; border: 1px solid #333; }
.list-select .btn	{ display: block; width: 72px; height: 18px; padding: 3px 0 0 0; color: #FFF; margin: 10px auto; text-align: center; text-decoration: none; background: url(images/bg-btn.gif) no-repeat; }
.all				{ background: url(images/icon-add.gif) no-repeat bottom right; }
.choice				{ background: url(images/icon-remove.gif) no-repeat bottom left; }
#form-segment H3	{ color: #ed232a; font-size: 13px; text-align: center; text-decoration: underline; }
.cb					{ width: 165px; float: left; margin: 20px 0 0 0; }

/* ----------------------- TOFES4 DEFINITIONS ------------------------ */

#form_credits H3	{ color: #383a37; font-size: 13px; text-align: center; }
#form_credits .steps	{ margin: 15px 0 0 210px; } 
.form-submit { width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.track_oprions		{ position: relative; width: 460px; padding: 10px 20px; margin: 20px 0; background: url(images/bg-4-tile.png) repeat-y center; }
.track_oprions P	{ text-align: center; }
.track_oprions .details { width: 160px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }
#form-amount		{ width: 30px; }

#form_credits .rb				{ position: relative; width: 145px; height: 100px; background: url(images/package-bg.png) no-repeat 0 18px; text-align: center; float: left; margin-right: 5px; }
#form_credits .rb LABEL			{ color: #FF0000; font-weight: bold; font-size: 14px; }
#form_credits .rb P				{ position: absolute; top: 20px; left: 0; width: 125px; height: 46px; padding: 12px 10px; color: #FFF; font-size: 12px; text-align: center; }
#form_credits .rb .form-radio	{ position: absolute; bottom: 5px; left: 62px; }
#form_credits .rb .type			{ position: absolute; top: 18px; right: 0px; }

#form_credits .last	{ margin-right: 0px !important; }
#volume-calculations{ display: block; background: url(images/btn1-bg.png) no-repeat; width: 194px; height: 31px; padding-top: 5px; font-size: 13px; font-weight: bold; text-align: center; color: #ed232a; margin: 10px auto; }
.TableDeposit
{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
.TableDeposit td
{
    padding-left: 10px;
}
.error_mes
{
    color:Red;
}
/*.track_oprions .details2 { width: 250px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }
*/
.DivCheckDeposite
{
    position: relative;
    left: 100px;
    color: red;
}
.details2 { width: 400px; padding: 10px 20px; margin: 0 auto; background: #FFF; border: 2px solid #b8b9bc; font-size: 11px; }


.RedColor
{
    color: red;
    font-size: 14pt;
}
._spanShow
{
    padding-bottom: 15px;
    color: red;
    font-size: 14pt;
}

/* ----------------------- STEP5 DEFINITIONS ------------------------ */
.btn-price-sim			{ display: block; width: 196px; height: 22px; padding: 3px 0; background: url(images/bg-red-btn.png) no-repeat center; text-align: center; font-size: 17px; color: #FFF; text-decoration: none; }
.leadBox				{ width: 172px; height: 48px; padding: 15px 10px; background: url(images/bg-box.png) no-repeat center; text-align: center; font-weight: bold; font-size: 12px; color: #444; }

.step5-wrap				{ position: relative; width: 480px; height: 140px; padding: 10px; margin-bottom: 20px; background: url(images/bg-wrap-box.png) no-repeat; } 
.step5-wrap .details	{ position: absolute; bottom: 10px; left: 10px; }
.step5-wrap .btn-on-off	{ position: relative; display: inline-block; width: 56px; height: 15px; padding: 3px 8px; color: #FFF; font-weight: bold; font-size: 14px; text-decoration: none; }
.step5-wrap .on			{ background: url(../images/bg-btn-on.png) no-repeat left center #0F0; }
.step5-wrap .off		{ background: url(../images/bg-btn-off.png) no-repeat left center #F00; text-align: right; }
.step5-wrap .on .form-checkbox	{ position: absolute; right: 8px; top: 5px; }
.step5-wrap .learn-more	{ display: inline-block; height: 17px; margin: 10px 0 0 0; padding: 3px 23px 0 0; background: url(images/icon-add.png) no-repeat right center; }

.step5-more-details			{ position: relative; width: 480px; padding: 0 10px; margin: 30px 0; background: url(images/bg-wrap-box-tile.png) repeat-y; }
.step5-more-details	.top	{ position: absolute; top: -10px; left: 0; display: block; width: 500px; height: 10px; background: url(images/bg-wrap-box1.png) no-repeat top left; }
.step5-more-details	.bottom	{ position: absolute; bottom: -10px; left: 0; display: block; width: 500px; height: 10px; background: url(images/bg-wrap-box1.png) no-repeat bottom left; }


