﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="addLogo.aspx.cs" Inherits="PPC_addLogo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
         <div style="float:left;  position: relative; top: 15px;"><input id="_FileImages" type="file" class="form-file" runat="server" /></div>
                    <div style="float:left; position: relative; left: 10px; top:-8px;"><asp:Button ID="btn_uploadLogo" runat="server" Text="Upload" CssClass="form-submit" OnClick="btn_uploadLogo_Click"  />  
                     <asp:Label ID="commentUploadImages" CssClass="error-msg" runat="server" Text="No picture selected" Visible="false"></asp:Label></div>
    </div>
    </form>
</body>
</html>
