﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="afterPayment.aspx.cs" Inherits="PPC_afterPayment" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<meta name="robots" content="noindex">
<head runat="server">
    <title></title>
    <script>

        function init() {
            
            if (parent.location.href != self.location.href) {
                window.top.location.href = '<%#beforeEnterancePage%>';
            }
        }

        window.onload = init;
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
