.BillingOverviewShadow {
  background: url(images/billing-sprite.png) 0px -147px no-repeat;
  display: block;
  width: 932px;
  height: 7px;
}

.OverviewshadowUnderBox {
  background: url(images/billing-sprite.png) 0px -156px no-repeat;
  display: block;
  width: 240px;
  height: 6px;
}

.TransactionTableShadow {
  background: url(images/billing-sprite.png) 0px -137px no-repeat;
  display: block;
  width: 898px;
  height: 8px;
}

.bronz {
  background: url(images/billing-sprite.png) -192px 0px no-repeat;
  display: block;
  width: 94px;
  height: 124px;
}

.gold {
  background: url(images/billing-sprite.png) 0px 0px no-repeat;
  display: block;
  width: 94px;
  height: 126px;
}

.plans-clicked {
  background: url(images/billing-sprite.png) -288px 0px no-repeat;
  display: block;
  width: 93px;
  height: 121px;
}

.plans-clicked {
  background: url(images/billing-sprite.png) -288px 0px no-repeat;
  display: block;
  width: 93px;
  height: 121px;
}

.plans-hover {
  background: url(images/billing-sprite.png) -383px 0px no-repeat;
  display: block;
  width: 93px;
  height: 121px;
}

.silver {
  background: url(images/billing-sprite.png) -96px 0px no-repeat;
  display: block;
  width: 94px;
  height: 126px;
}

.smallTableShadow {
  background: url(images/billing-sprite.png) 0px -128px no-repeat;
  display: block;
  width: 438px;
  height: 7px;
}