﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="callSendBox.aspx.cs" Inherits="PPC_callSendBox" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe src="https://sandbox.plimus.com/jsp/buynow.jsp?contractId=2148776&language=ENGLISH&currency=USD&custom3=false&url=https://sandbox.plimus.com/jsp/buynow.jsp&overridePrice=0&custom1=777&companyName=melech%20hhognim&firstName=gooloo&lastName=&email=shaimsdfsdfdfsdfd@noproblemppc.com&validateEmail=shaimsdfsdfdfsdfd@noproblemppc.com&address1=%20&city=&state=AZ&country=us&workPhone=345345345345&faxNumber=&"></iframe>
    </div>
    </form>
</body>
</html>
