﻿#topmenu {
	height:8px;
  width: 100%;
  position:fixed;
	top: 0;
  background: url(images/menuTopLine.png) repeat-x 0 0;
  z-index: 102;
}

 #topmenulinks 
 {
        background-color: White;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 2px 2px 1px #666666;
    height: 31px;
    left: 1070px;
/*    margin-left: 629px;*/
    margin-top: 5px;
    position: static;
    top: 5px;
    width: 300px;

}

/******  TopMenu   *****/
#topmenu .BaseTopmenulinks
{
    margin-left: 1110px;
   
   
    position: relative;
    width: 320px;
}
#topmenulinks a.topwidget
{
    display:block;
  background: url(images/get-pub-widget.png) no-repeat  0 0;
  width:205px;
  height:24px;
  float:right;
  margin:1px 7px 0 0;
  /*
  display:block;
  background: url(images/btn-green.png) no-repeat  0 0;
  width:209px;
  height:28px;
  float:right;
  /*margin:5px 16px 0 0;* /
  margin: 0 6px 0 0;
  color: #2C4200;
  line-height: 28px;  
  text-align: center;
  text-decoration : none;
  text-shadow: 1px 1px 1px #CCCCCC;
  font-weight : 600;
  cursor:pointer;
*/
}
#topmenulinks a.topwidget:hover{
    background-position: 0px -26px;
}
/*
#topmenulinks a.topwidget:active{
    background-position: 0 -57px;    
}
*/
#toplinks {
  margin:7px 7px 7px 7px;
  width: 300px;
  float:left;
  position:absolute;
  top:-2px;
}

#toplinks a.toplink 
{
	font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:uppercase;
    color:#666;
    font-size: 14px;
  /*  margin-left:3px;*/
    text-decoration: none;
    padding: 3px 8px;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
/*
#toplinks a.toplinkactive {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: proxima-nova,sans-serif,Arial,Sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3px;
    padding: 3px 8px;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
*/


#toplinks a.toplink:hover {
    background-color: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
}

    
#toplinks a.toplink:active {
  background-color: #eeeeee;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 3px 8px;
    font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:uppercase;
    color:#666;
    font-size: 14px;
    margin-left:3px;
    text-decoration: none;
    color:#333;
}
/***** widget  *****/
#wrapperWizard {
    background-color: #333333;
    height: 303px;
    position:relative;
    width: 100%;
    z-index:101;
}
.wizard {
    
   
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 5px;
}

.wizard h1 {
	float:left;
	color: #9fc900;
	font-size: 52px;
	margin-top:7px;
	width: 800px;
  font-family: ff-meta-web-pro,sans-serif;
  font-style: normal;
  font-weight: 700;
	line-height: 43px;
	margin-bottom: 0;
}

.wizard .title
{
   
   background-color:#333333; 
   position: absolute;
   top: 38px;
}

.wizard .text
{
   position: absolute;
   top: 169px;
   color:white;
   width:250px;
}

.wizard .wizardInput {
    left: 430px;
    position: absolute;
    top: 196px;
}

.wizard .sendTitle {
    color: White;
    left: 430px;
    position: absolute;
    top: 170px;
    font-weight: bold;
}

.wizard .send {
    left: 807px;
    position: absolute;
    top: 196px;
}

.wizard .send a
{
    background: url("../Formal/images/wizard/submit.png") no-repeat scroll 0 0 transparent; /*url("images/wizard/submit.png") no-repeat scroll 0 0 transparent;*/
    width:157px;
    height:50px;
    display: block;
}

.wizard .send a:hover
{
    background-position:0px -53px;   
}

.wizard .validation
{
    left: 431px;
    position: absolute;
    top: 255px;
    width: 300px;
}
.wizard .inputWizard {
    width: 338px !important;
    padding-right:0 !important;
    
}
.wizard .validationIcon
{    
    float:left;        
}
.wizard .validationTextErrorSubmit {
    color: red;
    font-size: 20px;
    padding-left: 43px;
    padding-top: 7px;
}

.wizard .validationTextErrorKeyUp {
    color: orange;
    font-size: 20px;
    padding-left: 43px;
    padding-top: 7px;
}

.wizard .validationTextErrorServer {
    color: red;
    font-size: 20px;
    padding-left: 43px;
    padding-top: 7px;
}

/*****Master page  *****/
#homeheader.advheader, .homeheader .advheader {
  width: 100%;
   background-color:#bcdc00;/* url(images/advheader.png) no-repeat 50% 100%;*/
   position: relative;
} 
#headerho .frontpage {
		height: 318px;
		margin:5px auto 0 auto;
		width: 960px;
		position:relative;
}
#headerho A.logo{
	background: url(images/) no-repeat 0 0;	
	float:left;
	margin: 10px 0 0;
	height: 56px;
	width: 250px;
	clear:both; 
}

.logo 
{
    clear: both;
    float: left;
    height: 56px;
    left: 2px;
    margin: 10px 0 0 4px;
    position: relative;
    width: 250px;  
}

.logo A 
{
    /*
    -webkit-transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;	
*/
    -moz-transition: opacity 0.25s ease-in-out 0s;
    background-image: url("images/blacklogo.png");
    background-repeat: no-repeat;
    height: 47px;
    left: -4px;
    position: absolute;
    width: 179px;
    top: 10px;
}
.logo A:hover
{
    background-image:url('images/redlogo.png');
   	
}
a._logo
{
    background: url(images/logo-beta-sprite.png) 0px -51px no-repeat;
  display: block;
  width: 178px;
  height: 48px;
  
    position: absolute;
    top: 20px;
    left: 7px;
    
    -moz-transition: opacity 0.25s ease-in-out 0s;
    -webkit-transition: opacity 0.25s ease-in-out 0s;
    -o-transition: opacity 0.25s ease-in-out 0s;
    transition: opacity 0.25s ease-in-out 0s;
}
a._logo:hover
{
    background-position: 0 0;
}

.iframeFacebook {
   position: absolute;
    right: 14px;
    top: 39px;
    width: 108px;
    z-index:1;
     text-align: right;
}

/*  footer  */



#footer ol, #footer ul {
    list-style: none outside none;
    padding:0;
    margin:0;
}

.footerbg DIV
{
    margin:0;
    padding:0;
}
#footer {
	width:100%;
	background:url(images/footerpx1.png) repeat-x 0 0; 
}
 .footerbg {
	width:100%;
	background: #cbcbcb url(images/footer.png) no-repeat 50% 100%; 
}

#footer a:hover {
    color: #666666 !important;
}
 
 #footer2 {
    margin: 80px auto 0 auto;    
  	width: 960px;
  	
  	
 }

#footer #innerfooter {
  margin: 0 auto;    
	width: 980px;/*900px;*/
	padding: 20px 0;
	height: 200px;
	line-height: 17px;
	
}

#footer .widgetabout li a, #footer .widgetpublishers li a, #footer .widgetadvertisers li a, #footer .widgetpartners li a, #footer .widgetblog li a{
	  color: #ffffff;
	  text-decoration: none;
	  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 17px;
     -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.-plus {
    width: 160px !important;
}
#footer h3.widgettitle a{
	  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:uppercase;
    color:#FFFFFF;
    font-size: 15px;
    text-decoration: none;
     -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
 }
#footer h3, #footer h3 a, #footer h3 a:visited{  
    color: #FFFFFF;
    font-size: 24px;
    font-family: ff-meta-web-pro, sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 3px;
    text-decoration:none;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin:0;
}   
#footer .widgetabout, #footer .widgetpublishers, #footer .widgetadvertisers {
	float: left;
	width: 140px;
	margin: 0 5px;	
}

#footer .widgetpartners {
	float: left;
	width: 140px;
	margin: 0 10px 0 43px;	
}

#footer .widgetblog {
	float: left;
	width: 140px;
/*	margin: 0;	
	margin-right:43px;*/
}
#footer .facebook, #footer .twitter {
	height:30px;
	width:25px;
	float:left;
	padding-right: 10px;
	margin-top: 5px;
}

#footer .twitter a {
	height:21px;
	width:31px;	display: block;
	background: url("images/twitter.png") no-repeat scroll 0 -21px transparent;/*background: url(images/twitter.png) no-repeat 0% 0%; */
}

#footer .twitter a:hover {
	background: url(images/twitter.png) no-repeat 0% 0%;
}

#footer .facebook a {
	height:21px;
	width:29px;
	display: block;
	background: url(images/facebook.png) no-repeat 0px -21px; 
}
#footer .facebook a:hover {
	background-position: -2px 0;
}


#footer .youtube {
	height:30px;
	width:51px;
	float:left;
	padding-left: 8px;
	margin-top: 5px;
}

#footer .youtube a {
	height:21px;
	width:52px;
	display: block;
	background: url("images/youTube.png") no-repeat scroll 0 -21px transparent;
}
#footer .youtube a:hover {
	background: url(images/youTube.png) no-repeat 0 0%; 
}

DIV.copyright {
    text-align: center;
    padding-top: 30px;
    color: #cccccc;
    font-family: ff-meta-web-pro, Arial, Sans-serif; 
    font-size: 12px;    
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
 }
 .div-bottom-empty
 {
     display:block;
     height: 100px;
 }
 /*******  Master Registered Client (PPC) *******/
 .div_AddCredit_balance
{
    background: -moz-linear-gradient(center top , #45494d, #000000) repeat scroll 0 0 transparent;
   
    
    /*background: -moz-linear-gradient(top,  #FFF000,  #f4f4b3);*/
    
    background: -webkit-gradient(linear, center top, center bottom, from(#45494d), to(#000000)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#45494d', EndColorStr='#000000', GradientType=0);
    background-color: #000000;
    height:50px;
    width:948px;
    margin-top:-28px;
    margin-left:-28px;
    line-height: 50px;
    vertical-align: middle;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 948px;
    height:58px;  
}
.div_AddCredit_balance .div_balance SPAN
{
    color:White;
}
.div_AddCredit_balance .div_AddCredit
{
    float: right;
    margin-right: 16px;/* -6px;*/
    margin-top: 13px;
   
}
.div_AddCredit A
{
    /*
    background-image: url("images/next-bg.png");
    background-position: center center;
    border-color: #4C8900;
    border-radius: 7px 7px 7px 7px;
    border-style: ridge;
    border-width: 1px;
    box-shadow: 1px 1px 1px #C1E575 inset;
    color: #2C4200;
    font-size: 20px;
    font-weight: 800;
    height: 5px;
    padding: 6px 20px 5px 11px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #CCCCCC;
    vertical-align: middle;
    width: 178px;
    */
    background-image:url('images/overview/sprite.png');
    background-position:  -0px -31px; 
    height: 31px; 
    width: 142px;
    display:block;
     color: #000000;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #FFDD00;
    line-height: 31px;
    
}
.div_AddCredit A:hover
{
    background-position:  -0px -0px; 
   
    /*
    background-image: url("images/distance-city-h.png");
    background-position: 33% 100%;
*/
}
/*
.div_AddCredit A.selected, .div_AddCredit A:active
{
    background-color: #C1E575;
    background-image: none;
    box-shadow: 1px 1px 3px #365C00 inset;
    color: #598A00;
    text-shadow: 1px 1px 1px #FFFFFF;
}
*/
.div_AddCredit_balance .div_balance
{
    color: #FF0000;
    float: right;
    font-size: 24px;
    font-weight: 700;
    padding-right: 18px;
    padding-top: 3px;
    width: 120px;
    text-align: right;
    
}
.div_AddCredit_balance .div_OffDuty
{
     float: right;
    margin-right: -6px;
    margin-top: 4px;
    width: 120px;
   
}
.div_AddCredit_balance .div_OffDuty A
{
    font-size: 16px;
    font-weight: 800;
 /*   padding: 8px 10px;*/
 /*
    padding-bottom:8px;
    padding-top:8px;
    padding-left:10px;
    padding-right:10px;
*/
padding: 5px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 100px;   
     border-width: 1px;
  /*   margin-left: 8px;*/
}
.div_AddCredit_balance .div_OffDuty A.OffDuty
{
    color:#ff0000;
     text-shadow: 0 0 5px #ff0000;
     border-color: transparent;
     border-style: solid;
    /* padding-left:9px;*/
}
.div_AddCredit_balance .div_OffDuty A.OffDuty:hover
{
  /*  padding-left:8px;*/
    color:#ff0000;
     text-shadow:none;
     border-color: #666666;
    border-radius: 6px;
    border-style: solid;
      
    

   
    background: -moz-linear-gradient(center top , #45494d, #000000) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#45494d), to(#000000)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#45494d', EndColorStr='#000000', GradientType=0);
}
.div_AddCredit_balance .div_OffDuty A.OffDuty:active
{
    padding-left:8px;
    color:#ff0000;
     text-shadow:none;
     border-color: #666666;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
   
    background: -moz-linear-gradient(center top , #000000,  #45494d) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#45494d)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#000000', EndColorStr='#45494d', GradientType=0);
}
.div_AddCredit_balance .div_OffDuty A.OnDuty
{
    color: #C5FE2F;
    text-shadow: 0 0 5px #C5FE2F;
     border-color: transparent;
     padding-left:9px;
}
.div_AddCredit_balance .div_OffDuty A.OnDuty:hover
{
    padding-left:8px;
    color:#C5FE2F;
     text-shadow:none;
     border-color: #666666;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
   
    background: -moz-linear-gradient(center top , #45494d, #000000) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#45494d), to(#000000)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#45494d', EndColorStr='#000000', GradientType=0);
}
.div_AddCredit_balance .div_OffDuty A.OnDuty:active
{
    padding-left:8px;
    color:#C5FE2F;
     text-shadow:none;
     border-color: #666666;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
   
   background: -moz-linear-gradient(center top , #000000,  #45494d) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#45494d)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#000000', EndColorStr='#45494d', GradientType=0);
}
.div_AddCredit_balance .div_OffDuty A._suspended
{
    padding-left:9px;
    color: #666666;
     border-color: transparent;
}
.div_AddCredit_balance .div_OffDuty A.suspended
{
    padding-left:9px;
    color: #666666;
     border-color: transparent;
}
.div_AddCredit_balance .div_OffDuty A.suspended:hover
{
    padding-left:8px;
    color: #666666;
     border-color: #666666;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
   
    background: -moz-linear-gradient(center top , #45494d, #000000) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#45494d), to(#000000)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#45494d', EndColorStr='#000000', GradientType=0);
}
.div_AddCredit_balance .div_OffDuty A.suspended:active
{
    padding-left:8px;
    color: #666666;
     border-color: #666666;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
   
   background: -moz-linear-gradient(center top , #000000,  #45494d) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#000000), to(#45494d)); 
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#000000', EndColorStr='#45494d', GradientType=0);
}



.advheader .div_name
{
    width:625px;
    text-align:right;
    position:absolute;
    padding-top:3px;
    color: #333333;
    font-weight: 400;
    font-size: 13PX;
    margin-top: 1px;
    margin-left: -3px;
    
    
}
.advheader .div_name A
{
    padding-left:5px;   
    text-decoration:none;
     color: #333333;

}
.advheader .div_name A:hover
{
    color:#ffffff;
     

}
.advheader .div_name SPAN.left, .advheader .div_name A.left
{
    font-weight:700;
    margin-right:0px;
}
.advheader .div_name SPAN
{    
    padding-right:5px;
        
}


/********** Navigation ********/
.ppc_navigation
{
    margin-left : -28px;
}
.div_AddCredit_balance .navigation			    
{ 
    height: 60px;
    position: absolute;
    top: -16px;
    width: 658px;
    z-index: 100;
    height: 0px;
    padding-left:29px;
 }
 /*
 .div_AddCredit_balance .navigation ._center
 {
     margin-top: -6px;
      text-align:center;
    text-align: -moz-center;
    width: 100%;
 }
*/
.div_AddCredit_balance .navigation .navigationArrow
{
    
    background-image:url('../ppc/images/overview/sprite.png');    
    background-repeat: no-repeat;
    background-position: -76px -63px;
    height: 11px;
    width: 12px;
    display:block;
    position: absolute;
    top: 66px;
    left: 10px;
    
}

.div_AddCredit_balance .navigation UL           { width: 892px; }
.div_AddCredit_balance .navigation LI		    
{ 
    float: left; 
  /*  width: 107px; */
    height: 65px; 
    border-right: 0px solid #FFF;
  padding-right: 20px;
    position:relative;
    display:inline;
    
 }

.div_AddCredit_balance .navigation LI._btn_myoverview
{
    
}
/*
.div_AddCredit_balance .navigation LI._btn_myaccount{width:66px;}
.div_AddCredit_balance .navigation LI._btn_calls{width:100px;}
.div_AddCredit_balance .navigation LI._btn_setting{width:78px;}
.div_AddCredit_balance .navigation LI._btn_help{width:78px;}
*/
.div_AddCredit_balance .navigation A
{
    color: #FFFFFF;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 0;
  /*  padding: 0 0 0 24px;*/
    text-decoration: none;
 /*   width: 94px;*/
}

.div_AddCredit_balance .navigation A:hover	    { color: #DDD; }
.div_AddCredit_balance .navigation .active A     
{
    background-color: #eef2f5; 
    color: #bcdc00;

    
    
     }
.div_AddCredit_balance .navigation LI.last      { border-right: none; }

.div_AddCredit_balance A.btn-myaccount			{ background-image: url("../images/icon-myaccount.png"); }
.div_AddCredit_balance A.btn-myminisite         { background-image: url(../images/icon-my-minisite.png); }
.div_AddCredit_balance A.btn-calls             { background-image: url(../images/icon-mycalls.png); }
.div_AddCredit_balance A.btn-faq			{ background-image: url(../images/icon-faq.png); }
.div_AddCredit_balance A.btn-support          { background-image: url(../images/icon-support.png); }
.div_AddCredit_balance A.btn-help         { background-image: url(../images/icon-support.png); }

.div_AddCredit_balance .active A.btn-myaccount	{ background-image: url("../images/icon-myaccount-active.png"); }
.div_AddCredit_balance .active A.btn-myminisite    { background-image: url(../images/icon-my-minisite-active.png); }
.div_AddCredit_balance .active A.btn-calls     { background-image: url(../images/icon-mycalls-active.png); }
.div_AddCredit_balance .active A.btn-faq	{ background-image: url(../images/icon-faq-active.png); }
.div_AddCredit_balance .active A.btn-support  { background-image: url(../images/icon-support-active.png); }

.div_AddCredit_balance .navigation .span_navigation  
{
    display: block;
    height: 35px;
    margin-top: 21px;
    position: relative;
    cursor:pointer;
    
    
   
    
     }

.div_AddCredit_balance .navigation LI .dropdown			 
{
    position: absolute; 
    top: -9999px;  
    left:0;
    height: auto; 
    padding:22px 0 0 0; 
    z-index: 9999; }
.div_AddCredit_balance .navigation LI .dropdown:hover			  
{
    top: 52px !important;}
.div_AddCredit_balance .navigation LI:hover .dropdown	 
{
    top: 52px; }
    
.div_AddCredit_balance .navigation LI .dropdown UL		 
{
    top: auto;
    width: 122px;
    height: auto;
    padding-bottom: 15px;
    background-color: #EFF3F6;
    border-radius:0px 0px 5px 5px;
    -moz-box-shadow:0px 1px 4px #000;
    -webkit-box-shadow:0px 1px 4px #000;
    box-shadow: 0 1px 4px #000000;
    padding-bottom:2px;
}
.div_AddCredit_balance .navigation LI .dropdown UL.ul_billing
{
    width: 144px;
}

.div_AddCredit_balance .navigation LI .dropdown LI		 
{
    float: none; 
    width: 112px; 
    height: 25px; 
    padding: 0 5px; 
    line-height: 25px;
    
    }
.ppc_navigation .navigation LI .dropdown LI A		 
{
    left: auto; 
    text-indent: 0; 
    padding: 5px 10px !important; 
    background-image: none !important; 
    }
.div_AddCredit_balance .navigation LI .dropdown LI A, .publisher .navigation LI.active UL SPAN	 
{
    background-attachment: scroll !important;
    background-clip: border-box !important;
    background-color: transparent !important;
    background-image: none !important;
    background-origin: padding-box !important;
    background-position: right 3px !important;
    background-repeat: no-repeat !important;
    background-size: auto auto !important;
    display: inline-block;
    font-weight: 600;
    height: 16px !important;
    line-height: 24px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 8px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    position: relative;
    width: auto !important;
    
    }
.div_AddCredit_balance .navigation LI .dropdown LI A	 
{
    color: #000;  }
.div_AddCredit_balance .navigation LI .dropdown LI A:hover 
{
    background-color: #BFDD63 !important; }
/*
.div_AddCredit_balance .navigation LI .dropdownHelp
{
    left:356px !important;
}
*/
.div_AddCredit_balance .navigation UL, .ppc_navigation .navigation LI {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.div_MainMessage
{
    width: 100%;
    height: 40px;
    background-color: #FFFF66;
  /*  left:-28px;*/
    padding-right:56px;
    position:inherit;
    text-align:center;
    margin-left:-28px;
}

.div_MainMessage SPAN.span_MainMessage
{
    line-height:40px;
     color:#333333;
}
.div_MainMessage SPAN.span_MainMessage SPAN
{
   
}
.div_MainMessage A
{
    text-decoration:none;
    font-weight:600;
    color: #F69100;
    
}
.div_MainMessage A:hover
{

    color: #333333;
 
}

/******************* loader ****************/
.divLoader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: none;
    filter: alpha(opacity=60);
    opacity: 0.6;
    background-color: #000000;
    z-index: 999999;
}
.divLoader TABLE	{ width: 100%; height: 100%; }
.divLoader TD		{ height: 100%; vertical-align: middle; text-align: center; }

.divLoader SPAN
{
    font-size: 24px;
    color: #FF6600;
     
    
}

.LoaderCenter
{
	background-color:Black;
	position: fixed;
 text-align:center;
	 z-index: 1000000;
	width: 300px;
	display: none;
	padding-top:30px;
	padding-bottom:30px;
	 border-radius: 7px 7px 7px 7px;
}
.LoaderCenter SPAN
{
    font-size: 24px;
    color: #FF6600;
}
