.Send-button {
  background: url(invite-sprite.png) -226px -35px no-repeat;
  display: block;
  width: 172px;
  height: 33px;
}

.Send-buttonClicked {
  background: url(invite-sprite.png) 0px -70px no-repeat;
  display: block;
  width: 172px;
  height: 33px;
}

.Send-buttonHover {
  background: url(invite-sprite.png) -174px -70px no-repeat;
  display: block;
  width: 172px;
  height: 33px;
}

.UserOnComp {
  background: url(invite-sprite.png) 0px -105px no-repeat;
  display: block;
  width: 64px;
  height: 103px;
}

.blueV {
  background: url(invite-sprite.png) -68px -210px no-repeat;
  display: block;
  width: 38px;
  height: 50px;
}

.email {
  background: url(invite-sprite.png) -108px -210px no-repeat;
  display: block;
  width: 39px;
  height: 37px;
}

.faceArch {
  background: url(invite-sprite.png) -134px -122px no-repeat;
  display: block;
  width: 59px;
  height: 59px;
}

.faceArchV {
  background: url(invite-sprite.png) -195px -122px no-repeat;
  display: block;
  width: 59px;
  height: 59px;
}

.faceDoc {
  background: url(invite-sprite.png) -256px -122px no-repeat;
  display: block;
  width: 59px;
  height: 59px;
}

.faceDocV {
  background: url(invite-sprite.png) -317px -122px no-repeat;
  display: block;
  width: 59px;
  height: 59px;
}

.facePhoto {
  background: url(invite-sprite.png) -378px -122px no-repeat;
  display: block;
  width: 59px;
  height: 59px;
}

.facePhotoV {
  background: url(invite-sprite.png) -439px -122px no-repeat;
  display: block;
  width: 59px;
  height: 59px;
}

.invite {
  background: url(invite-sprite.png) -149px -210px no-repeat;
  display: block;
  width: 32px;
  height: 34px;
}

.invite-button {
  background: url(invite-sprite.png) 0px 0px no-repeat;
  display: block;
  width: 224px;
  height: 33px;
}

.invite-buttonClicked {
  background: url(invite-sprite.png) -226px 0px no-repeat;
  display: block;
  width: 224px;
  height: 33px;
}

.invite-buttonHover {
  background: url(invite-sprite.png) 0px -35px no-repeat;
  display: block;
  width: 224px;
  height: 33px;
}

.invite-icon {
  background: url(invite-sprite.png) -417px -35px no-repeat;
  display: block;
  width: 52px;
  height: 55px;
}

.invite02 {
  background: url(invite-sprite.png) 0px -289px no-repeat;
  display: block;
  width: 202px;
  height: 33px;
}

.invite02-Clicked {
  background: url(invite-sprite.png) 0px -324px no-repeat;
  display: block;
  width: 202px;
  height: 33px;
}

.invite02-Hover {
  background: url(invite-sprite.png) 0px -359px no-repeat;
  display: block;
  width: 202px;
  height: 33px;
}

.inviteV {
  background: url(invite-sprite.png) -183px -210px no-repeat;
  display: block;
  width: 32px;
  height: 34px;
}

.moneyBag {
  background: url(invite-sprite.png) -66px -105px no-repeat;
  display: block;
  width: 66px;
  height: 82px;
}