﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Controls/MasterPageNP.master" AutoEventWireup="true" CodeFile="Location.aspx.cs" Inherits="PPC_Location" %>

<%@ Register Src="~/Controls/MapControl.ascx" TagName="map" TagPrefix="ma" %>
  <%@ MasterType VirtualPath="~/Controls/MasterPageNP.master" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="../CallService.js"></script>
<!--
<script src="http://maps.google.com/maps?file=api&v=2&key=AIzaSyByICNsdF00OXlUGTnzGsIfNmk0Mo7xqcw&sensor=false&libraries=places" type="text/javascript"></script>

<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?v=2?key=AIzaSyByICNsdF00OXlUGTnzGsIfNmk0Mo7xqcw&sensor=false&libraries=places">
</script>

<script src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js" type="text/javascript"></script>
-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&amp;sensor=false&language=en"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyByICNsdF00OXlUGTnzGsIfNmk0Mo7xqcw&sensor=false&language=en">
</script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
      type="text/javascript"></script>
      
      <script type="text/javascript" src="script/JSGeneral.js"></script>
        <script type="text/javascript" src="../CallService.js"></script>
        <script type="text/javascript" src="../general.js"></script>
        <script type="text/javascript" src="../PlaceHolder.js"></script>
        
     <script type="text/javascript">
         
      
        
            function ChkNameOnPress(elem) {
                var _val = elem.value;// GetText_PlaceHolder(elem, name_place_holder);
                 RemoveCssClass(elem, "textError");
                var result = ChkName(_val);
                if (!result)
                    AddCssClass(elem, "textError");                    
            }
            function ChkName(_value) {
                var div_NameSmile = document.getElementById("div_NameSmile");
                var div_NameError = document.getElementById("div_NameError");
                var div_NameComment = document.getElementById("div_NameComment");

                if (_value.length == 0) {
                    div_NameSmile.style.display = "none";
                    div_NameError.style.display = "none";
                    div_NameComment.style.display = "none";
                    return null;
                }
                else {
                    div_NameSmile.style.display = "block";
                    div_NameError.style.display = "none";
                    div_NameComment.style.display = "none";
                   
                    return true;
                }
            }
            function ChkNameOnBlur(elem) {
                var _val = elem.value;
                var result = ChkName(_val);
                if (_val.length > 0 && result)
                    AddCssClass(elem, "textValid");
                else if (!result)
                    AddCssClass(elem, "textError");
                else
                    RemoveCssClass(elem, "textError");
          //      Text_Blur(elem, name_place_holder);
            }
            
            function ChkNameOnFocus(elem) {
              
                RemoveCssClass(elem, "textError");
            }
            
           
           /****** email *****/
           var email_place_holder;
            function CheckEmail(email) {
                var re = new RegExp("<%# GetEmailExpresion %>");
                return re.test(email);
            }
            function ChkEmailOnPress(elem) {
                var email = elem.value;// GetText_PlaceHolder(elem, email_place_holder);
                switch (checkEmailStatus(email)) {
                    case ("empty"):
                        document.getElementById("div_EmailSmile").style.display = "none";
                        document.getElementById("div_EmailError").style.display = "none";
                        SlideElement("div_EmailComment", false);                        
                        break;
                    case ("match"):
                        document.getElementById("div_EmailSmile").style.display = "block";
                        document.getElementById("div_EmailError").style.display = "none";                        
                        SlideElement("div_EmailComment", false);   
                        break;
                    case ("OnTheWay"):
                        document.getElementById("div_EmailSmile").style.display = "none";
                        document.getElementById("div_EmailError").style.display = "none";
                        SlideElement("div_EmailComment", true);   
                        break;
                    case ("faild"):
                        document.getElementById("div_EmailSmile").style.display = "none";
                        document.getElementById("div_EmailError").style.display = "block";
                        SlideElement("div_EmailComment", true);   
                        break;
                }
            }
            function ChkEmailOnBlur(elem) {
    //            Text_Blur(elem, email_place_holder);
                
                ExecEmailOnBlur(elem);
            }
            function ExecEmailOnBlur(elem) {
                var email = elem.value;// GetText_PlaceHolder(elem, email_place_holder);
                RemoveCssClass(elem, "textError");
                switch (checkEmailStatus(email)) {
                    case ("empty"):
                        document.getElementById("div_EmailSmile").style.display = "none";
                        document.getElementById("div_EmailError").style.display = "none";
                        SlideElement("div_EmailComment", false);
                        break;
                    case ("match"):
                        document.getElementById("div_EmailSmile").style.display = "block";
                        document.getElementById("div_EmailError").style.display = "none";
                        SlideElement("div_EmailComment", false);
                        AddCssClass(elem, "textValid");
                        break;
                    case ("OnTheWay"):
                    case ("faild"):
                        document.getElementById("div_EmailSmile").style.display = "none";
                        document.getElementById("div_EmailError").style.display = "block";
                        SlideElement("div_EmailComment", true);
                        AddCssClass(elem, "textError");
                        break;
                }
            }

            function ChkEmailOnFocus(elem) {
                $(elem).removeClass("textError");
            }
            
            function InsertDetails() {
                //var address = full_name; //document.getElementById('searchTextField').value;
               
                var IsValid = true;
             //   ClearTextServerComment();
                var txt_name = document.getElementById("<%# txt_name.ClientID %>");
                var name = txt_name.value;// GetText_PlaceHolder(txt_name, name_place_holder);
                var NumComment = 0;
               /* ChkNameOnPress(txt_name);*/
                if (name.length == 0) {
                    _SetServerComment("<%# FieldMissing %>");
                    NumComment++;
                    IsValid = false;
                    document.getElementById("div_NameSmile").style.display = "none";
                    document.getElementById("div_NameError").style.display = "block";
                    SlideElement("div_NameComment", true);                    
                    AddCssClass(txt_name, "textError");
                }
                /*
                var LPlace = GetSelectLargeAreaId();
                var FullAddress = GetFullAddress();
                if (FullAddress.length == 0 || LPlace == "false") {
                    var _comment = (LPlace == "false") ? "<# _map.ChooseLargerArea %>" : "%# _map.SelectFromList %>";
                    _SetServerComment(_comment);
                    SetInvalidLocation();
                    IsValid = false;
                }
                */
                var LocationDetails = GetAllDetails();
                if (LocationDetails.length == 0) {
                    if(NumComment++==0)
                        _SetServerComment("<%# _map.SelectFromList %>");
                    SetInvalidLocation();
                    IsValid = false;
                }
                var txt_email = document.getElementById("<%# txt_email.ClientID %>");
                var email = txt_email.value;// GetText_PlaceHolder(txt_email, email_place_holder);
           //     ExecEmailOnBlur(txt_email);
                if (!CheckEmail(email)) {
                    var _email_message = (email.length == 0) ? "<%# EmailMissing %>" : "<%# InvalidEmail %>"; 
                    if(NumComment++==0)
                        _SetServerComment(_email_message);
                    IsValid = false;
                    document.getElementById("div_EmailSmile").style.display = "none";
                    document.getElementById("div_EmailError").style.display = "block";
                    SlideElement("div_EmailComment", true);                      
                    AddCssClass(txt_email, "textError");
                }
                if (!document.getElementById("cb_TermCondition").checked) {
                    IsValid = false;
                    if(NumComment++==0)
                        _SetServerComment("<%# TermsService %>");
                }

                if (!IsValid){
                    if(NumComment > 1)
                        _GeneralMultipleComment();
                    return;
                }
                RemoveServerComment();
                toggleDisabledDiv(true);
                var params = "lat=" + lat_lng.lat() + "&lng=" + lat_lng.lng() + "&radius=" + (_radius * 1.6) + "&address=" + LocationDetails.FullAddress + "&name=" + name + "&email=" + email + "&LargePlace=" + LocationDetails.AreaId;
                var url = "<%# SetDetails %>";
                CallWebService(params, url,
                function (arg) {
                    var result = eval('(' + arg + ')');
                    if (result.status == "success") {
                        if(<%# has_referral %>)
                            window.location = '<%# FinalStep %>';
                        else
                            window.location = (result.IsApproved) ? "<%# FinalStepIsApproved %>" : "<%# WaitingForApproved %>";
                    }
                    else {
                        toggleDisabledDiv(false);
                        if (arg == "EmailDuplicate")
                            _SetServerComment("<%# EmailDuplicate %>");
                        else
                            _SetServerComment("<%# GetServerError %>");
                    }

                },
                function () {
                    _SetServerComment("<%# GetServerError %>");
                    toggleDisabledDiv(false);
                }
                );
            }
            function toggleDisabledDiv(ToDisable) {
                var div_main = document.getElementById("div_main");

                var btn_next = document.getElementById("btn_next");
                toggleDisabled(div_main, ToDisable);
                if (ToDisable) {

                    btn_next.className = "btn_next_active";
             ///       btn_next.innerHTML = "Sending...";

                }
                else {
                    
                    btn_next.className = "btn_next";
                    //          btn_next.innerHTML = "Next &#62;";

                }
            }
            function ShowHideTermsService() {
            /*
                var div_TermsService = document.getElementById("div_TermsService");
                if (div_TermsService.style.display == "none") {
                    div_TermsService.style.display = "block";
                }
                else {
                    div_TermsService.style.display = "none";
                }
                */
                if ($("#div_TermsService:visible").length == 1)
                //        $("#div_TermsService:visible").removeAttr("style").fadeOut();
                    $("#div_TermsService:visible").hide(500);
                else
                    $("#div_TermsService").show('blind', null, 500);
            }
            
         
    </script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<img src="<%= ResolveUrl("~") %>PPC/images/buttons-bg-hover.png" alt="hiddenPic" class="hiddenPic" />
<img src="<%= ResolveUrl("~") %>PPC/images/distance-city-h.png" alt="hiddenPic" class="hiddenPic" />


<div class="titleFirst">Tell us about your business</div>
<span>Please enter your business name, location and your email address below.</span>

   <div class="spaceAbove">
<div class="titleSecond"><asp:Label ID="lbl_Name" runat="server" Text="My business is called..."></asp:Label></div>
  </div>
<div class="clear"></div>
<div id="div_main" class="div_TopSpace">
<div class="inputParent">           
    <div class="inputSun">
        <input id="txt_name" type="text" size="50" runat="server" onkeyup="ChkNameOnPress(this);" onblur="ChkNameOnBlur(this);" class="textActive" onfocus="ChkNameOnFocus(this);"
          HolderClass="place-holder" />
        
    </div>

    <div class="inputValid" style="display:none;"  id="div_NameSmile">
                
    </div>
    <div class="inputError" style="display:none;"  id="div_NameError">
               
    </div>
    <div class="inputComment" style="display:none;" id="div_NameComment">
             <%= NamePlaceHolder %>
        <div class="chat-bubble-arrow-border"></div>
        <div class="chat-bubble-arrow"></div>
    </div>
    
</div>
<ma:map ID="_map" runat="server" />
<div class="titleSecond"><asp:Label ID="Label1" runat="server" Text="My email address is..."></asp:Label></div>
<div class="clear"></div>

<div class="inputParent">           
    <div class="inputSun">
        <input id="txt_email" type="text" class="textActive" onblur="ChkEmailOnBlur(this);" onkeyup="ChkEmailOnPress(this);" runat="server" onfocus="ChkEmailOnFocus(this);"
        HolderClass="place-holder" />
     </div>

     <div class="inputValid" style="display:none;"  id="div_EmailSmile">
                
    </div>
    <div class="inputError" style="display:none;"  id="div_EmailError">
               
    </div>
    <div class="inputComment" style="display:none;" id="div_EmailComment">
             <%= EmailPlaceHplder %>
        <div class="chat-bubble-arrow-border"></div>
        <div class="chat-bubble-arrow"></div>
    </div>
    
</div>  
   <div class="div_TermCondition">
       <input id="cb_TermCondition" type="checkbox" />
       <label for="cb_TermCondition">I agree to the</label>
       <a href="javascript:void(0);" onclick="ShowHideTermsService();" class="general">Terms of Service</a>
       <div class="frame_terms" id="div_TermsService" style="display:none;">
           <div  class="div_TermsService">
                <p class="header">Registration order</p>
                <p>These Terms of Registration order ("<b>RO</b>" or "<b>Terms</b>"), constitute a legally binding and enforceable agreement (the "<b>Agreement</b>") by and between the person agreeing to these Terms and any accompanying and duly authorized RO via having an authorized representative execute such RO ("<b>Advertiser</b>") and OneCall Contact Centers Ltd. (the “<b>Company</b>” or "<b>No Problem</b>" or “<b>We</b>”) designated on the RO.  All capitalized terms used herein shall have the meanings ascribed to them herein or in the RO. Advertiser and Company acknowledge and agree as follows:</p>
                <div class="import">
                    <h3>1. CALL ADVERTISING SERVICES.</h3>
                    <p><b>Description.</b> Company will perform Pay-Per-Call campaigns where the advertiser will pay for actual calls directed to his phone, while the advertiser may, in some cases decide to change the price per call before accepting the call (the "<b>Advertising Services</b>"). In addition, Company will allocate the Advertiser specific virtual phone number on Company-designated online or offline media (Company-owned or operated media (such as business information and local search web sites, among others) or websites or other media including voice or mobile-based products owned or operated by Company's distribution partners and affiliates (each a "<b>Distribution Partner</b>") (collectively, "<b>Company Network</b>"). The Advertising Services also include the reporting and delivery of associated performance and user data in various media (collectively, the "<b>Data</b>") all such Data will appear in Advertiser portal which is designated for the use of the Advertiser.</p>

                    <h3>2. RESTRICTIONS AND RESPONSIBILITES</h3>
                    <p>a. <b>General.</b> Advertiser shall be solely responsible for its use of the Advertiser Data. Advertiser will not (and shall prohibit any third party from doing anything to), directly or indirectly: reverse engineer, decompile or disassemble the Advertising Services or any software, documentation or data provided by Company in connection with the Advertising Services (collectively, "<b>Company Materials</b>"); modify or create derivative works based on the Advertising Services or any Company Materials; or copy (except for archival purposes), lease, distribute or otherwise transfer rights to the Advertising Services or any Company Materials; or remove any proprietary notices or labels.  Advertiser may access Company websites solely to manage Advertiser's account.  Advertiser may not disseminate any information on the Company websites, nor, with the exception of any automated means expressly made available by Company, use any automated means to access the Company websites, including agents, scripts, robots, or spiders.  Advertiser agrees not to interfere with the proper working of any Company website.  The parties acknowledge and agree that Advertiser will be deemed responsible for each of its agents, representatives, subcontractors, licensees, and any other affiliates that have access to or otherwise use the Advertising Services or any Company Materials (collectively, "<b>Advertiser Affiliates</b>"), and their respective compliance with the terms of this Agreement.</p>
                    <p>b. <b>Company Numbers.</b> Advertiser shall not have the right to re-assign the call-through virtual telephone numbers provided by Company for the purposes of the Advertising Services (the "<b>Company Numbers</b>") or to use them other than as explicitly set out herein without the prior written consent of Company.  All Company Numbers remain the property of Company, pursuant to agreements with its various telephone carriers and vendors, and are made available to Customer solely for use in accordance with the terms of of service of this Agreement.  The parties acknowledge and agree that Advertiser's use of any Company Numbers may be further limited by, among other factors, changes to telephone carrier terms, changes in carrier relationships, guidelines recommended by Federal, state or local regulators, or changes to applicable law and regulation from time to time.</p>
                    <p>c. <b>Recorded Call Services.</b>  Recording of calls incident to the Advertising Services (“<b>Recorded Call Services</b>”) is an integral part of product feature.  Advertiser agrees to use such product feature in connection with the Advertising Services.  Advertiser understands that, when a person (the "<b>Caller</b>") calls a Company Number, such call will be recorded and, therefore, Advertiser or its contractors or agents, shall advise and receive consent from all Callers of such recording (the "<b>Recorded Call Notice</b>", Advertiser agrees and acknowledges that Company accepts no responsibility the legality of the language used in the Recorded Call Notice. Advertiser agrees and acknowledges that applicable laws and regulations may require that Advertiser provide notice to and/or receive express consent and permission from those who receive telephone calls incident to the Recorded Call Service and agrees, acknowledges, represents and warrants that it will provide and/or obtain all related notices, consents, and permissions as required by applicable laws and regulations.</p>
                    <p>d. <b>Calculations.</b> Notwithstanding anything to the contrary herein or contained in any separate writing, Advertiser acknowledges and agrees Company is solely responsible for tracking and calculating the performance, delivery, and other metrics in connection with the Advertising Services, including all qualifying telephone calls (the "<b>Calls</b>"). Advertiser further understands and agrees such measurements and data will be the only and definitive measure thereof.  Additionally, in an effort to detect, identify, and eliminate low quality traffic (including that generated by automated tools, robots or deceptive software) from the Company Network, Company may make use of filtering and monitoring techniques.  Some information or data provided to Company by Advertiser may not be processed on a real-time basis and may be subject to the latency of the Internet, the Company Network, and Distribution Partner media.  Furthermore, the effectiveness and timeliness of all information, pricing terms and data provided to Company by Advertiser may be subject to the prior acceptance of Company. Company may provide Advertiser with online access to usage statistics. Usage statistics shall not constitute a definitive expression of the amounts owed for Advertising Services rendered.</p>

                    <h3>3. PAYMENT</h3>
                    <p>a. <b>Deposits.</b> Advertiser will make a deposit for the level of advertising he wishes to have. Such deposit will be reduced each time the Company will connect the advertiser with a Caller either by means of call or SMS or email or by adding the data to the advertiser portal. Advertiser understands and agrees that Company will connect actual customer to the advertiser based on the availability the Advertiser has defined. A failure of the Advertiser to receive such call will not deny Company's entitlement to get paid. The deposit will be reduced by the predefined price Advertiser has decided or in case the Advertiser participated in auction secession and decided to change the predefined price for a specific call, by the actual price Advertiser decided on. Upon reaching the lowest level of deposit (as was defined upon registration to Company's system), Advertiser will be able to reconnect to customers only following making additional deposit. In case Advertiser chooses a recurring mechanism, his balanced deposit will be automatically increased by charging his credit card by the predefined amount Advertiser previously specified.</p>
                    <p>b. <b>Payment.</b> Actual collection will be made by agencies that are authorized to make and process collection. Company will not keep credit cards data in its possession. Advertiser will receive invoice at the time of actual debiting to his email box. In the Advertiser Portal, Advertiser will be able to truck all of such transactions made in the past.</p>
                    <p>c. <b>Payment Disputes.</b> To the fullest extent permitted by law, Advertiser waives all claims relating to any payment dispute of which it does not notify Company within five (5) days following the month in which the charge was incurred.</p>

                    <h3>4. REFUND</h3>
                    <p>a. <b>Time availability (i) Refunds may be granted up to 30 days from Service date</b> No Problem is required to provide full, unconditional refunds to Customers up to 30 days from the day of purchase. Nevertheless, advertisers will be asked to provide reason for claiming a refund. (ii) <b>Between 31 – 60 days after date of purchase</b>. After the first 30 days have elapsed, a refund request will normally not be accepted unless there are convincing reasons justifying a refund. During this period, No Problem will usually require a Customer to provide a satisfactory explanation as to why a refund is merited and why the request was not made earlier. No Problem may still consider the validity of refund claims up to a period of 60 days from the date of purchase and may issue a refund at its absolute discretion. (iii) <b>After 60 days purchase is deemed to be final</b>. After a period of more than 60 days since the date of purchase, the transaction will be regarded as final. No Problem will normally decline to grant a refund, except in special circumstances. In special occasions, No Problem may still decide to grant a refund or partial refund.</p>
                    <p>b. <b>Recurring charges.</b> Recurring charges may be cancelled at any time. The cancellation will take place as from the next period of billing. A cancellation will only cancel future billings. The above time periods relating to refunds will also apply in respect to each recurring charge payment.</p>
                    <p>c. <b>Overriding terms.</b> A refund can only be credited to the original account from which payment was made. If such account is closed, then no refund can be granted.</p>
                    <h4>No Problem may take steps to restrict customers that make repeated purchases and requests for refunds from Continue cooperating with No Problem.</h4>
                    <p>d. <b>Other reasons for cancellation.</b> No Problem reserves the right to cancel a transaction in order to comply with credit card industry regulations, payment processor and banking rules, or the need to comply with legal requirements, intellectual property rights, court orders and law enforcement agencies. Refunds may also take place as a result of a processing error, technical problem, and chargeback, threat of chargeback or any fraudulent transaction or situation which No Problem reasonably considers to be potentially fraudulent.</p>
                    <p>e. <b>Other.</b> No Problem may grant credits, vouchers and coupons ("Credits") to the Advertiser from time to time, credits and refund will reduce amount of Credits previously provided before actual refund be made.  It is further agreed, that in case of termination of this agreement, refunds will be made only for actual money previously deposited in Advertiser balance.</p>

                    <h3>5. PROMOTIONS AND MARKETING.</h3>
                    <p>From time to time, NO Problem may decide to promote its Advertising services by different ways. Such promotion may include among other: Trail period, credits, vouchers or coupons ("<b>Credits</b>").</p>
                    <p>a. <b>Trail.</b> During Trail period, Advertiser will be granted amount of predefined free calls, where the Company will connect him with actual customers free of charges. It is agreed between the parties, that Advertiser may be registered to such trial only once.</p>
                    <p>b. <b>Credits and bonuses.</b> From time to time, No Problem may grant the Advertiser Credits, vouchers, coupons or any other form of marketing tools. It is agreed and understood that refunds will be reduced first from the amount of credits previously granted before actual refund be made. It is further agreed, that in case of termination of this agreement, refunds will be made only for actual money previously deposited in Advertiser balance.</p>

                    <h3>6. RESERVATION OF RIGHTS; MODIFICATIONS; GOVERNMENT MATTERS.</h3>
                    <p>a. <b>Reservation of Rights.</b> This Agreement is not intended to, and shall not affect, ownership by either party of, or rights of either party in, any of its intellectual property rights, content, products and services, and nothing set forth in this Agreement shall be construed as the assignment or transfer of any ownership rights in any of the foregoing from one party to the other. Other than the express licenses set forth herein, nothing in this Agreement, and nothing in any statement made in connection with this Agreement, will be deemed a license (by implication, estoppel or otherwise) under either party's patent rights or other intellectual property rights. Neither party's performance according to the terms and conditions of this Agreement will in any way broaden the intellectual property rights of the other party.  Each party reserve all rights not expressly granted.</p>
                    <p>b. <b>Modifications.</b>  From time to time, Company may make modifications to the Advertising Services (including the look and feel, and the functionality of any API). Advertiser's sole remedy with respect to such modification is to terminate this Agreement. Advertiser's continued use of the Advertising Services following a modification shall constitute its consent thereto.</p>
                    <p>c. <b>Government Matters.</b>  Advertiser may not remove or export from Advertiser's jurisdiction or allow the export or re-export of the Advertising Services or anything related thereto in violation of any applicable export control or similar restrictions, laws or regulations. Company declares that it is not a telephone company. Company purchases telecommunications services and uses such services to provide enhanced service products to Advertiser. If at any time Company's right to allocate Company Numbers or otherwise provide the Advertising Services to Advertiser is impaired or regulated by any governmental or quasi-governmental entity, including, the U.S. Federal Trade Commission, the U.S. Federal Communications Commission or any state public utility commission, Company shall have the right to terminate, suspend or amend this Agreement automatically upon written notice Company shall have no liability or obligation to Advertiser of any kind arising out of such a termination, suspension or change.</p>

                    <h3>7. REPRESENTATIONS.</h3>
                    <p>a. <b>Authority and Obligations.</b> Advertiser represents and warrants during the Term that: (i) any and all information Advertiser provides under this Agreement is true, accurate and complete; (ii) any business telephone numbers provided by Advertiser are true and correct numbers for Advertiser or its Customer, as applicable and will not connect to an entity other than the Advertiser or its customer, as applicable; (iii) it is not engaged in any fraudulent, misleading or deceptive practices; (iv) it has full power and authority to enter into this Agreement; (v) it has and will have, during the Term, all consents, approvals, licenses and permissions, necessary for Advertiser to perform all of its obligations hereunder and for Company to exercise all of its rights hereunder; (vi) this Agreement constitutes its legal, valid and binding obligation, enforceable against it in accordance with its terms; (vii) it shall use the Advertising Services (and any Data acquired in connection therewith) in full compliance with all applicable laws and regulations and rules of any governmental or regulatory body, and including those relating to advertising, privacy, marketing and telephone solicitation (for the avoidance of doubt, this shall include federal "Do-Not-Call" rules); (viii) it shall (and, if applicable, shall cause its customers to represent and warrant that they shall) obtain and maintain throughout the term of this Agreement, the full right and authority (including by way of any consents required under applicable law) for any collection, use, transfer, disclosure or other processing by Company of any Personal Information for the purposes contemplated under this Agreement; (ix) it has established proper procedures to protect the privacy of its customers' Personal Information, and otherwise comply with all applicable laws with respect to the Data acquired by Advertiser and, if applicable, its customers hereunder; (x) it has the right to use and grant the licenses and permissions to Company under this Agreement with respect to the use of the designated Ad Content and Marks; and (xi) none of the Ad Content or Marks will (a) infringe or violate any right of any third party, including intellectual property rights, rights of privacy, publicity or freedom from defamation (b) violate any governmental law, rule or regulation, including laws relating to obscenity and/or pornography, (c) contain any virus, worm, Trojan horse or other contaminating or destructive feature, (d) contain, promote or offer any form of spyware, adware or other advertising or information collection software or other software ("<b>Prohibited Software</b>") or cause Prohibited Software to be installed onto a user's computer without the user's express consent; or (e) contain any offensive material. Notwithstanding Section 8 of this Agreement, Company shall have no indemnity obligations to Advertiser (or, if applicable, its customers) for any claim caused as a result of a breach by Advertiser or, if applicable, its customers of the foregoing representations and warranties, for more information about our <a href="javascript:openWin('http://www2.noproblemppc.com/LegalPrivacy.htm');">privacy policy</a>, please see.</p>
                    <p>b. <b>Use of Information.</b> To the extent required by applicable law and regulation for certain regulated financial and other entities in their use of consumer data, Advertiser represents and warrants that all consumer information received from Company will be used for marketing purposes only. By way of example and not limitation, consumer information will not be used, in whole or in part, for purposes of establishing a consumer’s eligibility for credit or insurance or for employment purposes.</p>

                    <h3>8. DISCLAIMERS.</h3>
                    <p>a. <b>Recorded Call Services.</b> Company makes no representation with respect to Advertiser's use of the Recorded Call Notice functionality or any call recording.</p>
                    <p>b. <b>Advertising Services in General.</b> Company has not made any promise, affirmation of fact, or provided any description or sample pertaining to the quality, specifications, or performance of the Advertising Services. Therefore, to the fullest extent permitted by law, COMPANY AND ITS THIRD PARTY VENDORS AND PARTNERS DISCLAIM ALL WARRANTIES, EXPRESS AND IMPLIED, INCLUDING: AGAINST INFRINGEMENT; SATISFACTORY QUALITY; MERCHANTABILITY; AND FITNESS FOR A PARTICULAR PURPOSE. COMPANY MAY IN ITS SOLE DISCRETION REMOVE ANY DATA FROM ITS SERVERS AT ANY TIME FOR ANY REASON. Company also disclaims any warranty arising by usage of trade, course of dealing, or course of performance. Furthermore, Company disclaims all guarantees regarding positioning, levels, quality, or timing of: (i) costs per advertising activity; (ii) advertising activity rates or volume of Calls; (iii) availability and delivery of Ads; (iv) conversions or other results for any Ads; (v) the availability, accuracy, security, usefulness, interoperability or content of any data provided or acquired hereunder, including third party data, Distribution Partner data and consumer data; and (vi) the placement of Ads within the Company Network. Advertiser's exclusive recourse for any suspected invalid calls or in the event of any failure, technical or otherwise, of any Ad to appear as provided in this Agreement is for Advertiser to make a claim pursuant to Section 3(d).</p>

                    <h3>8. LIMITATION OF LIABILITY.</h3>
                    <p>EXCEPT WITH RESPECT TO A PARTY'S INDEMNIFICATION OR CONFIDENTIALITY OBLIGATIONS HEREUNDER, NEITHER COMPANY, ITS THIRD PARTY SUPPLIERS OR PARTNERS ON THE ONE HAND, NOR ADVERTISER, ON THE OTHER HAND, SHALL BE LIABLE WITH RESPECT TO ANY SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY AND NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY: (A) FOR COST OF PROCUREMENT OF SUBSTITUTE GOODS, SERVICES OR TECHNOLOGY OR LOSS OF BUSINESS; (B) FOR ANY INDIRECT, EXEMPLARY, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES, EVEN IF THE OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGE; (C) FOR ANY MATTER BEYOND SUCH PARTY'S REASONABLE CONTROL; OR (D) FOR ANY AMOUNTS THAT, TOGETHER WITH AMOUNTS ASSOCIATED WITH ALL OTHER CLAIMS, EXCEED THE FEES PAID BY ADVERTISER TO COMPANY FOR THE ADVERTISING SERVICES UNDER THIS AGREEMENT IN THE 6 MONTHS PRIOR TO THE ACT THAT GAVE RISE TO THE LIABILITY. NOTWITHSTANDING THE FOREGOING, ANY FAILURE OF ADVERTISER OR, IF APPLICABLE, ITS CUSTOMERS TO COMPLY WITH APPLICABLE LAW OR REGULATION SHALL NOT BE COVERED BY THE FOREGOING LIMITATION OF LIABILITY.</p>

                    <h3>9. INDEMNIFICATION.</h3>
                    <p>a. Each party (the "Indemnifying Party"), at its own expense, will indemnify, defend and hold harmless the other party (the "Indemnified Party") and the Indemnified Party's affiliates, employees, representatives and agents from and against any claim, demand, action, investigation or other proceeding, including all damages, losses, liabilities, judgments, costs and expenses arising therefrom, brought by any third party against the Indemnified Party (collectively, an "Claim") to the extent that the Claim is based on, or arises out of an allegation that the Indemnifying Party's performance hereunder violates any applicable law, rule or regulation (except that Advertiser shall be solely responsible for its use of any Advertising Services, including Recorded Call Services, and for its use or disclosure of any information obtained through any Advertising Services) or infringes the rights of any third party, including intellectual property rights.</p>
                    <p>b. Advertiser at its own expense, will indemnify, defend and hold harmless Company, its third party technology partners as well as their respective affiliates, employees, representatives and agents from and against any Claim for, including without limitation, libel, violation of right of privacy or publicity, copyright infringement, trademark infringement or other infringement of any third party right, fraud, false advertising, misrepresentation, product liability or violation of any law, statute, ordinance, rule or regulation throughout the world in connection with: (i) Advertiser's breach of any term, condition, agreement, representation or warranty hereunder; (ii) Advertiser's failure to comply with any state or federal telemarketing law or regulation); or (iii) Advertiser's use of the Advertising Services including its use or disclosure of any information obtained through the Advertising Services. Although Company has no obligation to monitor the content provided by Advertiser Affiliate's use of the Advertising Services, Company may do so and may remove any such content or prohibit any use of the Advertising Services it believes may be (or is alleged to be) in violation of this Agreement.</p>

                    <h3>10. TERM AND TERMINATION.</h3>
                    <p>This agreement will be in force until either Advertiser or Company wishes to end it. If Company elects to terminate the agreement it will refund Advertiser the balance of his deposit. In case Advertiser wishes to end this agreement, he will notify the Company in writing to <a href="mailto:service@noproblemppc.com">service@noproblemppc.com</a>. Company will make a refund of deposit balance by 30 days from the date of approval the request using same credit card advertiser used to make his last deposit. It is agreed and understood that refunds will be reduced first from the amount of credits previously granted before actual refund be made. It is further agreed, that in case of termination of this agreement, refunds will be made only for actual money previously deposited in Advertiser balance. For more information about our <a href="http://www2.noproblemppc.com/LegalRefund.htm">refund policy</a> please refer to link.</p>

                    <h3>11. MISCELLANEOUS.</h3>
                    <p>If any provision of this Agreement is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that this Agreement will otherwise remain in full force and effect and enforceable. This Agreement is governed by the laws of Israel without regard to its conflict of laws rules. Advertiser and agent (if applicable) irrevocably submit to venue and personal jurisdiction in the courts of Tel Aviv-Jaffa for any dispute arising out of or related to this Agreement, and waive all objections to jurisdiction or venue of such courts and agree not to commence nor prosecute any such dispute other than in such courts. The prevailing party is entitled to recover its costs, including reasonable attorneys' fees, in any action or suit to enforce any right or remedy under this Agreement, or to interpret any provision of this Agreement. Advertiser shall not assign or otherwise dispose of this Agreement without Company's prior written consent. This Agreement binds and inures to the benefit of the parties' successors and lawful assigns. Any notice required or permitted by this Agreement must be made in writing and will be deemed given as of the day the notice is received either by messenger, delivery service or certified mail, postage prepaid or sent (if via email) and such notice must be addressed (i) if to Company, to Company c/o One Call Contact Centers Ltd., Attn: CFO; (ii) if to Advertiser, to Advertiser at the email address stipulated on the corresponding RO. No waiver of a breach of any provision hereof shall be deemed a waiver of any succeeding breach of such provision. In the event an RO provision conflicts with any provision of these Terms, the RO provision shall prevail only to the extent of the conflict. Notwithstanding the foregoing, an RO's mention of a campaign start and end date shall not affect the applicability of these Terms, but are for reference purposes only. Advertiser may not make any public announcement relating to the relationship established by this Agreement without the prior written consent of Company. Company may make public announcements regarding the relationship established by this Agreement, which may include limited use of Advertiser marks or logos. Except for payment obligations, neither party is liable for failure or delay resulting from a condition beyond the reasonable control of the party, including acts of God, government, terrorism, natural disasters, labor conditions, power failures, failure of internet carrier lines. Advertiser acknowledges and agrees that Distribution Partners as well as Company suppliers and other third party technology partners including Skype are a third party beneficiaries to this Agreement. This Agreement constitutes the entire and exclusive agreement between the parties with respect to the Advertising Services specified in the corresponding RO, superseding and replacing any other agreements, or terms and conditions applicable to such Advertising Services. However, Advertiser may enter into other agreements with Company relating to other advertising campaigns, which campaigns shall be governed by such other agreements. Advertiser has not relied upon any statements or promises in entering into this Agreement except as expressly set forth herein, and any conflicting or additional terms contained in any other documents (e.g. an RO's reference to other terms and conditions) are void. Sections 2(d), 3, and 6-11 shall survive termination, along with any provision that might reasonably be deemed to survive such termination.</p>
                    <p><br /></p>
                    <p>Effective January 2, 2012</p>
                </div>
           </div>
       </div>
   </div>
   <div class="location-buttons">
        <a id="btn_next"  onclick="InsertDetails();" class="btn_next" href="javascript:void(0);">Next &#62;</a>
        <a href="Service.aspx" class="general _back">Back</a>
    </div>
</div>
</asp:Content>

