﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="payment.aspx.cs" MasterPageFile="~/Controls/MasterPageNP2.master" Inherits="PPC_payment" %>



<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="titleFirst">
        <span>Payment method</span>
    </div>  


    <div class="payment">
            <div class="containerIframePayment">
                <iframe id="iframePayment" src="" runat="server" width="860" height="1456" frameborder="0"></iframe>
            </div>           
    </div>   
</asp:Content>
