﻿.cp-buffer-1, .cp-buffer-2, .cp-progress-1, .cp-progress-2 {        
    border-radius: 43px 43px 43px 43px;       
    clip: rect(0px, 43px, 85px, 0px);        
    height: 85px;       
    width: 85px;       
}

.cp-buffer-holder, .cp-progress-holder, .cp-circle-control {       
    height: 85px;       
    width: 85px;
    margin-top:0px;       
    margin-left:0px;       
}
  