﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tryCookie.aspx.cs" Inherits="PPC_tryCookie" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="../scripts/jquery.cookie.js" type="text/javascript"></script>
    <script>
        function init() {
            $.cookie2('email2', "baaa");
            $.cookie2('password2', "pass");

            alert($.cookie2('password2'));
        }

        window.onload = init;
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
