﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="tryLocation.ascx.cs" Inherits="PPC_tryLocation" %>

<asp:ScriptManager ID="ScriptManager1" runat="server" >
    </asp:ScriptManager>

    <asp:UpdatePanel ID="updatePanel1" runat="server"  UpdateMode="Conditional">
        <ContentTemplate>
        
        </ContentTemplate>

        <%--
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="lbAddButton" /> 
        </Triggers>
        --%>
    </asp:UpdatePanel>

<div class="newCategory">
      <asp:LinkButton ID="lbAddButton" runat="server" onclick="lbAddButton_Click" >+ New category</asp:LinkButton>
</div> 