﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ribbon2.ascx.cs" Inherits="deskApp_controls_ribbon2" %>
<div class="menu_dynamicImageRibbon2">
    <div class="menu_dynamicImageRibbonText">
        <div class="menu_dynamicImageRibbonText1">$30</div>
        <div class="menu_dynamicImageRibbonText2">FREE</div>      
    </div>
</div>