﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ribbon.ascx.cs" Inherits="deskApp_controls_ribbon" %>
<div class="menu_dynamicImageRibbon">
    <div class="menu_dynamicImageRibbonText">
        <div class="menu_dynamicImageRibbonText1">PRO CALLS</div>
        <div class="menu_dynamicImageRibbonText2">RECORDED</div>
        <div class="menu_dynamicImageRibbonText2">FOR FREE!</div>
      
    </div>
</div>