﻿<div>
    <h3 style="text-align: center">Connecting you to the customer.<br />Keep your phone near by</h3>

    <h3 style="text-align: center">Expect a call from:<br /> 1-888-944-7606</h3>


    <br />
    <br />
    <br />
    <br />
    <h4 style="text-align: center">
        First ClipCall lead was on us.<br />
        Regiester now to keep those ClipCalls coming.
    </h4>

    <div class="row">
        <a href="#/connecting" class="btn btn-info col-xs-8 col-xs-offset-2 want-lead-button">GET THE APP</a>
    </div>
</div>