﻿<div>
    <h2 class="header-text" style="text-align: center; margin-top: 30px;">New job for:</h2>

    <h3 class="sub-header-text" style="text-align: center">{{vm.Incident.Category}} in {{vm.Incident.RegionFullName}}</h3>

    <div align="center" class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" controls="controls">
            <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm">
            <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg">
            <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
            <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp">
        </video>
    </div>


    <div class="row">
        <a href="#/connecting" class="btn btn-info col-xs-8 col-xs-offset-2 want-lead-button">I WANT THIS CUSTOMER</a>
    </div>
</div>