﻿body {
    font-size: 12px;
    font-family: sans-serif;
}
*{
     box-sizing: border-box;
}
ol, ul
{
    padding-left: 20px;
}
[class*="col-"] {
   
    padding: 15px;
}
[class*="coly-"] {
   
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:5px;
    padding-top: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.header{
   /* border: 1px solid;*/
    padding: 5px;
    text-align: center;
}

h1
{
    font-size: 14px;
}
.center
{
    text-align: center;
}
.col-1
{
    font-weight: bold;
    text-transform: uppercase;
}
.col-2
{
    text-transform: uppercase;
}
.col-3
{
    font-size: 10px;
    padding-top: 5px;
}
.col-4
{
    font-weight: bold;
    
}
.col-6
{
    font-weight: bold;
    text-decoration: underline;
}
.coly-1
{
    font-weight: bold;
    text-decoration: underline;
}
.coly-3
{
    font-weight: bold;
    text-transform: uppercase;
}
ul.circle
{
    list-style-type:circle;
}
.red
{
    color: red;
}
.hide
{
   display:none;
   
}
.mid
{
     visibility: hidden;
    opacity:0;
   -webkit-transition: visibility 0s, opacity 1s ease-in;
     transition: visibility 0s, opacity 1s ease-in;
}
.show
{
     visibility: visible;
    opacity:1;
    height:auto !important;
   
    /*transition: all 2s linear;*/
}

