 .dates
{
    margin: 20px o;
    font-size: 12px;
    padding: 0 0;
}
/* .dates .form-text	{ width: 60px; height: 13px; padding: 6px 3px 1px; background: url(../Publisher/images/bg-input-dates.png) no-repeat transparent; border: 0; color: #999; font-size: 11px;  }*/
 .dates LABEL	{ padding: 0 10px 0 20px; color: #999; font-size: 12px; }
 .dates A IMG	{ margin: 2px 2px -5px 0; }
 .dates SPAN	{ padding: 0 10px 0 0; color: #red; font-size: 12px;display:block; }
 .dates A.calendar		{ margin-right: 10px; }
 .dates .form-submit	{ margin-bottom: -22px; font-size: 12px; font-weight: bold; background-image: url(../Publisher/images/btn-bg1.png); width: 104px; padding-top: 5px; }
 .dates .date_error
{
    font-size: 10px;
    font-weight: bold;
    color: #ed232a;
    padding-left: 25px;
    padding-top: 10px;
}
.dates .form-field{float:left;margin-top:0px;}

.clear_dates	{ display: inline-block; padding: 5px 35px 5px 10px; color: #000; font-weight: bold; text-decoration: none; background: url(../Publisher/images/icon-clear.png) no-repeat right center; }

.clear				{ clear: both; }
.clearfix:after		{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix			{ display: inline-block; }
/* Hide from IE Mac \*/
.clearfix			{ display:block; }
/* End hide from IE Mac */

.TableBefor TD
{
    padding-bottom: 60px;
    padding-top: 60px;
}