﻿.toolbox							{ width: 674px; height: 29px; padding: 5px 20px; background: #BBB;
        							  margin:0 auto; text-align:center; float: left; position: relative; top: -40px;
border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;

}
.form-toolbox-search				{ position: relative; float: left; width: 156px; margin-right: 20px; }
.form-toolbox-search .form-text		{ width: 118px; height: 14px; line-height: 14px; padding: 6px 28px 8px 10px; border: 0 none; background: url(images/bg-toolbox-input-search.png) no-repeat; font-size: 11px; color: #333; }
.form-toolbox-search .watermark		{ color: #ed232a; }
.form-toolbox-search .form-submit-search	{ position: absolute; top: 5px; right: 10px; width: 15px; height: 15px; border: 0 none; margin: 0; background: url(images/icon-toolbox-search.png) no-repeat center center; cursor: pointer; }
.toolbox .tools						{ float: left; margin: 0; padding: 0; position: absolute; z-index:10;}
.toolbox .tools	LI					{ float: left; list-style: none; padding: 0; margin: 0 15px 0 0; }
.toolbox .tools	LI A				{ display: inline-block; height: 30px;   }
.toolbox .tools	LI A.add			{ width: 27px; background: url(images/icon-toolbox-add.png) no-repeat center center; }
.toolbox .tools	LI A.delete			{ width: 21px; background: url(images/icon-toolbox-delete.png) no-repeat center center; }
.toolbox .tools	LI A.excel			{ width: 27px; background: url(images/icon-toolbox-excel.png) no-repeat center center; }
.toolbox .tools	LI A.print			{ width: 27px; background: url(images/icon-toolbox-print.png) no-repeat center center; }
.toolbox .tools	LI A.edit			{ width: 23px; background: url(images/icon-toolbox-edit.png) no-repeat center center; }
.toolbox .tools	LI A.attach			{ width: 39px; background: url(images/icon-toolbox-attach.png) no-repeat center center; }
.toolbox .div_mid
{
	font-size: x-large;
	position: absolute;       /* take element out of the normal page flow! */
	width: 50%;   
	left: 0;                  /* set left and right to the same value! */
	right: 0;
	margin-left: auto;        /* adding auto-margins left and right will
						   center the element horizontally!*/
	margin-right: auto;
    z-index:1;
	}
	
.error_msg					        { color: #F00; font-size: 11px; }

.div_validation                     { background: none repeat scroll 0 0 #EDF0F4; }