/*
.form-toolbox-search				{ position: relative; float: left; width: 156px; margin-right: 20px; }
.form-toolbox-search .form-text		{ width: 118px; height: 14px; line-height: 14px; padding: 6px 28px 8px 10px; border: 0 none; background: url(images/bg-toolbox-input-search.png) no-repeat; font-size: 11px; color: #333; }
.form-toolbox-search .watermark		{ color: #ed232a; }
.form-toolbox-search .form-submit-search	{ position: absolute; top: 5px; right: 10px; width: 15px; height: 15px; border: 0 none; margin: 0; background: url(images/icon-toolbox-search.png) no-repeat center center; cursor: pointer; }
.toolbox .tools						{ float: left; margin: 0; padding: 0; }
.toolbox .tools	LI					{ float: left; list-style: none; padding: 0; margin: 0 15px 0 0; }
.toolbox .tools	LI A				{ display: inline-block; height: 30px; }
.toolbox .tools	LI A.add			{ width: 27px; background: url(images/icon-toolbox-add.png) no-repeat center center; }
.toolbox .tools	LI A.delete			{ width: 21px; background: url(images/icon-toolbox-delete.png) no-repeat center center; }
.toolbox .tools	LI A.excel			{ width: 27px; background: url(images/icon-toolbox-excel.png) no-repeat center center; }
.toolbox .tools	LI A.print			{ width: 27px; background: url(images/icon-toolbox-print.png) no-repeat center center; }
.toolbox .tools	LI A.edit			{ width: 23px; background: url(images/icon-toolbox-edit.png) no-repeat center center; }
.toolbox .tools	LI A.attach			{ width: 39px; background: url(images/icon-toolbox-attach.png) no-repeat center center; cursor:pointer; }
.toolbox .tools	LI A.save			{ width: 39px; background: url(images/icon-toolbox-save.png) no-repeat center center; cursor:pointer; }

.error_msg					        { color: #F00; font-size: 11px; }

.div_validation                     { background: none repeat scroll 0 0 #EDF0F4; }
*/

