﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Affiliate/MasterPagePreAffiliate.master" AutoEventWireup="true" CodeFile="Affiliate_Login.aspx.cs" Inherits="Affiliate_Affiliate_Login" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">


</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

</asp:Content>

