/* Empty. Add your own CSS if you like */
* {
    font-family: 'proxima-nova';
    color: #000000;
    font-size: 20px;
}
H2, h3, h4, a
{
    color: #000000;
}
button
{
    color: #ffffff !important;
}
.video-container {
    position: relative;
    padding-bottom: 35%;
    xpadding-top: 30px; 
    height: 0; overflow: hidden;
   /* margin-top: 10px;*/
}
 
.video-container video,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*
video { 
   
   -webkit-background-size:cover; 
   -moz-background-size:cover; 
   -o-background-size:cover; 
   background-size:cover; 
}
    */
/*.button-positive,.bar-positive {
    background-color:#2592d6!important;
}*/


.centerme {
    margin: 0 auto;
    width: 100%;
    height:100%;
}
 
.fullscreen-player {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    position: fixed;
    right: 0;
    top: 0;
}

.play-icon1 {
    font-size: 5em;
    color: white;
    width: 70px;
    xborder: 1px solid red;
    height: 70px;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.play-icon-img {
    
     position: absolute;
    height: 70px;
    width: 70px;
     right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1000;
}
.play-icon {
    background-image: url("../img/playicon.png");
    background-repeat: no-repeat;
     position: absolute;
    height: 70px;
    width: 70px;
     right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    bottom: 0;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1000;
}

.button-image {
    background-image: url("../img/button.png");
    background-size: 100%;
}

.free-image {
    background-image: url("../img/freeIcon.png");
    background-repeat: no-repeat;
}


.header-text {
    font-family: 'proxima-nova';
    font-size: 26px;
    font-weight: 600;
}

.sub-header-text {
    font-family: 'proxima-nova';
    font-size: 26px;
   /* font-weight: lighter;*/
    font-weight: bold;
}


.bar.bar-positive {
  xborder-color: #24a2dc;
  background-color: #24a2dc;
  xbackground-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
  xcolor: #fff;
}
/*
.button.button-positive {
  border-color: #24a2dc;
  background-color: #24a2dc;
  color: #fff;
}

*/

.full-screen {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}

.video-wrapper {
    margin-top: -12px;
}
.customer-button {
    position: relative;
    line-height: 100px;
    font-family: 'proxima-nova';
    font-size: 16px;
    border: none;
}

.customer-button-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.proxima-text {
   font-family: 'proxima-nova'; 
}



.connecting-header-text {
    text-align: center; 
    font-size:24px; 
    font-family:'proxima-nova';
    font-weight:600;
}

.connecting-body-text {
    text-align: center; 
    font-size:20px; 
    font-family:'proxima-nova'
}

@media screen and (max-width: 320px) {
   .connecting-header-text {
        font-size:18px; 
    }

    .connecting-body-text {
        font-size:16px; 
    }

}

.logo-image {
    background-image: url("../img/clipcall-logo.png");
    background-size: 100%;
}


.video-image-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 100;
    right: 4px;
    height: 456px;
    left: 4px;
    top: 5px;
    margin: 5px;
}


.div-container{
    /*background-color: #2377B9;*/
}
.button
{
    display:block;
    width: 100%;
  
    height: 70px;
     border: 2px solid #fff;
     border-radius: 35px;	
     -moz-border-radius: 35px; 
     -webkit-border-radius: 35px; 
     font-size: 30px;  
     font-weight: 600;   
     
}
.button.btn-watch
{
    background: -moz-linear-gradient(top,  #fad961,  #f76b1c);
     background: -webkit-gradient(linear, left top, left bottom, from(#fad961), to(#f76b1c));
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fad961', endColorstr='#f76b1c');
     line-height: 100%;
}
.button.btn-green
{
    background: -moz-linear-gradient(top,  #CAF27F,  #83BA6B);
     background: -webkit-gradient(linear, left top, left bottom, from(#CAF27F), to(#83BA6B));
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CAF27F', endColorstr='#83BA6B');     
}
.button.btn-connect
{
     line-height: 100%;
}
.button.btn-gettheapp
{
    line-height: 60px;
}
.div-getapp
{
    margin-top:20px !important;
}
.h4-registernow
{
    margin-top: 20px;
}

.div-reportlead
{
    border-style: solid;
    border-top-width: 1px;
    border-top-color: white;
    padding-top: 10px;
}
    
.div-explanation div.col
{
    text-align:center;
}
.span-yellow
{
    color: #ffc91e !important;
    display:block;
    text-align:center;
}
.forward {
    background-image: url('../img/Icons_Next.png');
    background-repeat:no-repeat;    
    background-size: contain;
    height:30px;
}
.col-05
{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}
.col-offset-05 {
    margin-left: 5%;
}
.col-center
{
    text-align:center;
}
.row-linehigth
{
    line-height: 1.2;
}
div.row-marg-top
{
   
    margin-top: 5px !important;
}

div.display-phone
{
    margin-top: 10px;
}
