﻿body
{
font-family:Arial;
color: #000;	
	
	
}
.wrap
{
	width: 480px;
	height: 200px;
	background-color: #ccc;
	margin:0 auto;
	text-align:center;
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background: -moz-linear-gradient(top,  #f6f5f5,  #a59e9b);background: -webkit-gradient(linear, left top, left bottom, from(#f6f5f5), to(#a59e9b));filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f5f5', endColorstr='#a59e9b');                                                    
}
.xline 
{
background-image: url(../images/pelecardseparator.png);
	background-repeat:repeat-x;
	background-position:center;
	height:2px;
	margin-bottom: 10px;
}
.positivebig
{
	font-family:Arial;
	font-size: 20px;
	text-align:center;
	color:#000;
	position: relative;
    top: 20px;
	height:80px;
}
.negativebig
{
	font-family:Arial;
	font-size: 20px;
	text-align:center;
	color:#000;
	position: relative;
    top: 20px;
	height:80px;
}
.text
{
	font-family:Arial;
	font-size: 16px;
	text-align:center;
		color:#000;
}
.buton
{
	background-image: url("../images/btn-bg1.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    float: left;
    font-size: 10pt;
    height: 70px;
    left: 120px;
    margin: 0 auto;
    padding-top: 25px;
    position: relative;
    text-align: center;
    width: 120px;
	
}	
.buton a
{
		color:#fff;
		text-decoration:none;
		
}

.buton2
{
	background-image: url("../images/btn-bg1.png");
    background-position: center center;
    background-repeat: no-repeat;
    color: #FFFFFF;
   
    font-size: 10pt;
    height: 70px;
  
    margin: 0 auto;
    padding-top: 25px;
  
    text-align: center;
    width: 480px;
}

.buton2 a
{
		color:#fff;
		text-decoration:none;
		
}
.submit
{
	margin: 0a auto;
	width:480px;
	height:70px;
}