<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CopyTranslate.aspx.cs" Inherits="Publisher_CopyTranslate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table>
        <tr>
        <td>
            <asp:DropDownList ID="ddlCopy" runat="server">
            </asp:DropDownList>
        </td>
        <td>
            LIKE
        </td>
        <td>
            <asp:DropDownList ID="ddlSource" runat="server">
            </asp:DropDownList>
        </td>
        <td>
            <asp:Button ID="btnGo" runat="server" Text="GO" OnClick="btnGo_Click" />
        </td>
        </tr>
        </table>
    </div>
        <asp:Label ID="lblResult" runat="server" Text=""></asp:Label>
    </form>
</body>
</html>
