﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LoadGoogleAnalytics.aspx.cs" Inherits="admin_LoadGoogleAnalytics" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <div><center>
    <table>
    <tr>
    <td>
        <asp:Label ID="Label1" runat="server" Text="Site ID:"></asp:Label>
        
    </td>
    <td>
         <asp:TextBox ID="txt_site" runat="server"></asp:TextBox>
    </td>
    </tr>
    <tr>
    <td>
        <asp:Label ID="Label2" runat="server" Text="Google analytics:"></asp:Label>
    </td>
    <td>
         <asp:TextBox ID="txt_google" runat="server" Rows="10" TextMode="MultiLine" 
        Width="500px"></asp:TextBox>
    </td>
    </tr>
    </table>
   
    <asp:Button ID="btn" runat="server" Text="Set" Width="80px" onclick="btn_Click" />
    </center></div>
    </form>
    
</body>
</html>
