<%@ Page Language="C#" AutoEventWireup="true" 
CodeFile="LoadOriginalTextOfPage.aspx.cs" Inherits="LoadOriginalTextOfPage" Title="Untitled Page" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title></title>
    </head>
<body>
    <form id="form1" runat="server">
    <table>
    <tr>
    <td>
        <asp:RadioButtonList ID="RadioButtonList1" runat="server" AutoPostBack="True" OnTextChanged="RadioButtonList1_TextChanged">
        </asp:RadioButtonList>
    </td>
    <td>
        
        <asp:Label ID="lbl_type" runat="server" Font-Size="X-Large"></asp:Label>
    </td>
    </tr>
    </table>
        
        <br />
<div>      
 <asp:DropDownList ID="_Pages"
        runat="server" AutoPostBack="True" OnSelectedIndexChanged="_Pages_SelectedIndexChanged">
    </asp:DropDownList>   <asp:Label ID="lbl_page" runat="server" ></asp:Label>
</div>
<div runat="server" id="div_inputs">
    <table>
    <tr>
    <td>
    Control: <asp:TextBox ID="txt_control" runat="server"></asp:TextBox>

    </td>
    <td>
    Sentence:
        <asp:TextBox ID="txt_sentence" runat="server"></asp:TextBox>
    </td>
    </tr>
    <tr>
    <td>
    index:
    
        <asp:TextBox ID="txt_index" runat="server"></asp:TextBox>
    </td>
    <td>
    Value:
    
        <asp:TextBox ID="txt_value" runat="server"></asp:TextBox>
    </td>
    </tr>
    </table>
  
    <asp:Button ID="_set" runat="server" Text="SET" OnClick="_set_Click" />
</div>  
    <asp:GridView ID="_GridViewSentence" runat="server" DataKeyNames="Id" 
    AutoGenerateDeleteButton="true" OnRowDeleting="_GridViewSentence_RowDeleting">
    
    </asp:GridView>


</form>
    
</body>
</html>

