﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SentenceToExcel.aspx.cs" Inherits="admin_SentenceToExcel" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="btn_toExcel" runat="server" Text="To Excel" 
            onclick="btn_toExcel_Click" />
    </div>
    </form>
</body>
</html>
