﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AllowSecurity.aspx.cs" Inherits="Tests_dbug_AllowSecurity" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    window.onload = function()
    {
        window.location = "<%# GetURL %>";
    }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
