﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="atorage.aspx.cs" Inherits="Tests_dbug_atorage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.onload = function () {
            var fso = new ActiveXObject("Scripting.FileSystemObject");
            var s = fso.CreateTextFile("C:\\Test.txt", true);
            s.WriteLine('Hello');
            s.Close();
        }
        //  window.onload = function () {
        
    //        var webStorageSupported = ('localStorage' in window) && window['localStorage'] !== null;
        //    alert(webStorageSupported);
       //     localStorage.setItem('name', 'arman');
        var value = sessionStorage.getItem('name');
            if (value == null) {
                alert('setval');
                sessionStorage.setItem('name', 'arman');
            }
            alert(value);
 //       };
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
