﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="aud.aspx.cs" Inherits="Tests_dbug_aud" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
   <script type="text/javascript">
   function doit()
   {
        window.open("aud2.aspx", "recordWin");  
   }
   
   
   
   </script>
</head>
<body>

    <form id="form1" runat="server">
    <div>
        <a onclick="javascript:doit();">go</a>
    </div>
    </form>
</body>
</html>
