﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="aud2.aspx.cs" Inherits="Tests_dbug_aud2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <audio controls="controls">
         
          <source src="../../test.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
        </audio>
    </div>
    </form>
</body>
</html>
