﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BroeswrCache.aspx.cs" Inherits="Tests_dbug_BroeswrCache" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="cache.ashx?origin=1"></script>
    <script type="text/javascript" src="cache.ashx?origin=2"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
