﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="buttonloader.aspx.cs" Inherits="Tests_dbug_buttonloader" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="../../scripts/jquery.ButtonLoader.js"></script>
    <link href="../../Wibiya/Style.css" type="text/css" rel="Stylesheet" />
    <script type="text/javascript">
        function exec(elem) {
            elem.ServerModeShow();
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <br />
    drfgdesrgesrgewarg
    <br />
        
    <br />
        <a class="a-sign-in" href="javascript:void(0);" onclick="exec(this);" button-loader="true">Button</a>
    </div>
    </form>
</body>
</html>
