﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CheckCountryOrigin.aspx.cs" Inherits="Tests_dbug_CheckCountryOrigin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        IP:
        <asp:TextBox ID="txt_ip" runat="server"></asp:TextBox>
        <br />
        <br />
       OriginId:<asp:TextBox ID="txt_origin" runat="server"></asp:TextBox>

        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
        <br />
        RESULTS:
        <br />
        Country:<asp:Label ID="lbl_country" runat="server"></asp:Label>
        <br />
        Is in the list:<asp:Label ID="lbl_IsInTheList" runat="server"></asp:Label>
        


    
    </div>
    </form>
</body>
</html>
