﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="child_popup.aspx.cs" Inherits="Tests_dbug_child_popup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    function CloseWin()
    {
   //     window.opener.ReciveUploadFile(name);
        window.close();
    }
    window.onbeforeunload=function()
    {
    
        return "Any string value here forces a dialog box to \n" + 
         "appear before closing the window.";//confirm('sos');
         
    }
    window.onunload=function()
    {
        alert('po');
    }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    dcfbggfb
    <br />
    dcfbggfb
    <br />
    dcfbggfb
    <br />
    <input id="Button1" type="button" value="button" onclick="CloseWin();" />
    </div>
    </form>
</body>
</html>
