﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="comboIframe.aspx.cs" Inherits="Tests_dbug_comboIframe" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    rgterg
    <br />
    wesrt
    <br />
        <iframe id="_iframe" src="combobox_tool.aspx" style="left:100px;"></iframe>
    </div>
    </form>
</body>
</html>
