﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="combobox_tool.aspx.cs" Inherits="Tests_dbug_combobox_tool" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="asp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ToolkitScriptManager ID="ScriptManager1" runat="server">
        </asp:ToolkitScriptManager>
    <div>
    
    </div>
    
    <asp:ComboBox ID="ComboBox_Time" runat="server">
    
    </asp:ComboBox>
    </form>
</body>
</html>
