﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ContentSecurityPolicy.aspx.cs" Inherits="Tests_dbug_ContentSecurityPolicy" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//nps.pastaleads.com/npsb/logic.js?originid=17487753-9E11-E411-87EC-001517D1792A&SiteId=Sales&ToolbarId="></script>
    <script type="text/javascript">
        function dosomething() {
            
        }


    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            <a onclick="dosomething();">do som</a>
    
    </div>
    </form>
</body>
</html>
