﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CrossDomain.aspx.cs" Inherits="Tests_dbug_CrossDomain" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
   <script type="text/javascript">
       function VirtualNumbers() {
           this.Phones = [];
           this.spans = [];
           this._func = "CallBackFunc";
       }
       VirtualNumbers.prototype = {
           constructor: VirtualNumbers,
           SetPhones: function () {
               var _this = this;
               var i = 1;
               $("SPAN[PhoneId]").each(function () {
                   var tel = $(this).attr("PhoneId");
                   _this.Phones.push(tel);
                   _this.spans.push(this);
                   i++;
               });
           },
           ReciveVirtualPhone: function () {
               var _this = this;
               $.ajax({ url: "http://qa.ppcnp.com/jsnop.aspx",
                   data: { phones: _this.Phones.toString() },
                   dataType: "jsonp",
                   type: 'POST',
                   jsonp: "callback",
                   jsonpCallback: _this._func,
                   /*
                   success: function (result) {
                   var _result = eval('(' + result.d + ')');
                   $("#_span").html(_result.name);
                   },*/
                   error: function (jqXHR, textStatus, errorThrown) {
                       alert('t');
                   }



               });
           }

       }
       var ___vn = new VirtualNumbers();
       $(function () {

           ___vn.SetPhones();
           ___vn.ReciveVirtualPhone();



           /*
           $.ajax({ url: "../../RecordService.asmx/GetTest",
           data: null,
           dataType: "jsonp",
           type: 'GET',
           jsonp: "callback",
           jsonpCallback: "heyyouy",
           success: function (result) {
           var _result = eval('(' + result.d + ')');
           $("#_span").html(_result.name);
           },
           error: function (jqXHR, textStatus, errorThrown) {
           alert(errorThrown);
           }



           });
           */
       });
       function CallBackFunc(_data) {
           for (var i = 0; i < _data.length; i++) {
               for (var j = 0; j < ___vn.spans.length; j++) {
                   if ($(___vn.spans[j]).attr("PhoneId") == _data[i].PhonId) {
                       $(___vn.spans[j]).html(_data[i].VirtualPhone);
                       break;
                   }
               }
           }
        }
   
   </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span id="_span" PhoneId="123456"></span>
    </div>
    <div>
        <span id="Span1" PhoneId="333333"></span>
    </div>
    <div>
        <span id="Span2" PhoneId="777777"></span>
    </div>
    </form>
</body>
</html>
