﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="css3slide.aspx.cs" Inherits="Tests_dbug_css3slide" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .yoav
        {
            background-color: Green;
            position:fixed;
            display: block;
            width: 200px;
            height: 200px;
            left:900px;
            top:-200px;
            -webkit-transition-duration: 1s;
          -moz-transition-duration: 1s;
          -o-transition-duration: 1s;
          transition-duration: 1s;
        }
        .hide
        {
            background-color: black;
            position:fixed;
            display: block;
            width: 100px;
            height: 100px;
            left:100px;
            top:350px;
            
        }
        
        
    </style>
    <script type="text/javascript">
        var IsDown = false;
        function goleft() {
            if (!IsDown) {
                var _top = document.getElementById('yoav').offsetTop;
                document.getElementById('yoav').style.top = 0 + 'px';
                IsDown = true;
            }
            else {
                document.getElementById('yoav').style.top = '-200px';
                IsDown = false;
            }
            __np.ss();
      //      setTimeout(function () {
      //          document.getElementById('hide').style.display = "block";
     //       }, 1000);
        }
        __np =
        {
            t: 5,
            ss: function () {
                alert(__np.t);
            }
        }
    
    </script>
    <script type="text/javascript">
        __np.
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <a href="javascript:goleft();">go</a>
    <div id="yoav" class="yoav">
        
    </div>
    <div id="hide" class="hide" style="display:none;"></div>
    </form>
</body>
</html>
