﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="dapazpayment.aspx.cs" Inherits="Tests_dbug_dapazpayment" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
            <a href="http://www.dpbolvw.net/click-6104828-5528956" target="_top">
<img src="http://www.awltovhc.com/image-6104828-5528956" width="88" height="31" alt="The Global Wine Club" border="0"/></a>
    </div>
    </form>
</body>
</html>
