﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="dateJavaScript.aspx.cs" Inherits="dbug_dateJavaScript" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    function PrintDate()
    {
        var _date = document.getElementById("Text1").value;
        alert(_date);
        var thedate=Date.parse(_date);
        var _span = document.getElementById("_span");
        _span.innerHTML += ";;"+thedate;
    }
    
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input id="Text1" type="text" />
        <input id="Button1" type="button" value="button" onclick="javascript:PrintDate();" />
        
        <span id="_span"></span>
    </div>
    </form>
</body>
</html>
