﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="datepicker.aspx.cs" Inherits="Tests_dbug_datepicker" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <cc1:ToolkitScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true">
        </cc1:ToolkitScriptManager>
    <div>
        
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <cc1:CalendarExtender ID="CalendarExtender1" PopupPosition="BottomRight" runat="server" 
    TargetControlID="TextBox1" PopupButtonID="a_fromDate" Format="MM/dd/yyyy" 
      
     BehaviorID="CalendarPopupFrom"></cc1:CalendarExtender>
    </div>
    </form>
</body>
</html>
