﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default73.aspx.cs" Inherits="Tests_dbug_Default73" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.onload = function () {
            var id = '3-4-5-6';
            id = id.replace('-', '');
            alert(id);
        };
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
