﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default30.aspx.cs" Inherits="Tests_dbug_Default30" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
      <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../scripts/Select.js"></script>
    <link rel="Stylesheet" href="../../PPC/samplepPpc.css" type="text/css" />
    <title></title>
</head>
<body style="background-color:#ffffff;">
    <form id="form1" runat="server">
    <div>
        <select width="250">
            <option value="1">1</option>
             <option value="2">2</option>
        </select>
    
    </div>
     
    </form>
</body>
</html>
