﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default3.aspx.cs" Inherits="Tests_dbug_Default3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../PlaceHolder.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
    <textarea id="TextArea1" cols="20" rows="2" place_holder="yoavi"></textarea>
    </div>
    </form>
</body>
</html>
