﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default82.aspx.cs" Inherits="Tests_dbug_Default82" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="http://rumrabbit.as102.travel-servers.com/Widgets/InnstantSearchForm/innstant.css" rel="stylesheet" />
    <title></title>
<script src="http://rumrabbit.as102.travel-servers.com/Widgets/InnstantSearchForm/innstant.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var INN_Options = {
            searchUrl: "http://rumrabbit.as102.travel-servers.com/search/"
        }
        $("#container").innwidget(INN_Options);
    });
</script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div id="container"></div>
    </div>
    </form>
</body>
</html>
