﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default81.aspx.cs" Inherits="Tests_dbug_Default81" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    <iframe height="1000" width="755" src="http://binarypromos.com/test/test_iframe.php" ></iframe>
    </div>
    </form>
</body>
</html>
