﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default96.aspx.cs" Inherits="Tests_dbug_Default96" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lbl" runat="server" Text="Label"></asp:Label>
        <br />
        <asp:Label ID="lbl2" runat="server" Text="Label"></asp:Label>
    </div>
    </form>
</body>
</html>
