﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default13.aspx.cs" Inherits="Tests_dbug_Default13" %>


<%@ Register src="../../Controls/AddCredit.ascx" tagname="AddCredit" tagprefix="uc1" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../../PPC/samplepPpc.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <uc1:AddCredit ID="AddCredit1" runat="server" />
    </form>
</body>
</html>
