﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default74.aspx.cs" Inherits="Tests_dbug_Default74" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    


</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe src="http://trusted.jumpsecure.com/?_s=d7c67a0a&_d=38" width="700" height="544"
            allowtransparency="true" frameborder="0" scrolling="no"></iframe>
    </div>
    </form>
</body>
</html>
