﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default85.aspx.cs" Inherits="Tests_dbug_Default85" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
    </div>
    </form>
    
</body>
</html>
