﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default4.aspx.cs" Inherits="Tests_dbug_Default4" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var str = "yoav el";
            str = encodeURI(str);
            $('#s1').html(str);
            str = decodeURI(str);
            $('#s2').html(str);

        });
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span id= "s1"></span>
        <br />
        <br />
        <span id="s2"></span>
    </div>
    </form>
</body>
</html>
