﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Tests_dbug_Default2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.onload = function () {

            var _path = "http://";
            if (window.location.hostname == "localhost") {
                var _pathname = window.location.pathname.split('/');
                var _Dic;
                for (var i = 0; i < _pathname.length; i++) {
                    if (_pathname[i].length > 0) {
                        _Dic = _pathname[i];
                        break;
                    }
                }
                _path += window.location.hostname + ":" + window.location.port + '/' + _Dic + '/ppc/RequestInvitation.aspx';
            }
            else {
                _path += window.location.hostname + '/ppc/RequestInvitation.aspx';
            }
            window.location = _path; //"http://" + window.location.hostname + ":" + window.location.port + '/ppc/RequestInvitation.aspx';
        }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
