﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default10.aspx.cs" Inherits="Tests_dbug_Default10" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    rrr
        <asp:Literal ID="Literal1" runat="server">t</asp:Literal>
        <asp:RadioButton ID="RadioButton1" runat="server" GroupName="r" Checked="true" />
        <br />
              <asp:RadioButton ID="RadioButton2" runat="server" GroupName="r" />

                                   <asp:Button ID="Button1" runat="server" Text="Button"></asp:Button>

    </div>
    </form>
</body>
</html>
