﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default21.aspx.cs" Inherits="Tests_dbug_Default21" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
     <script type="text/javascript">
         $(function () {
             var _imgs = document.getElementsByTagName('img');
             for (var j = 0; j < _imgs.length; j++) {
                 alert(_imgs[j].src);
             }
         });
     
     </script>
</head>
<body>
<img alt="" src="../../npsb/images/000000.gif" />
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
