﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default61.aspx.cs" Inherits="Tests_dbug_Default61" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(function () {
            var _elem = document.getElementById('t') || $('.-rr').get(0);
            var ttt = 0;
        });
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a class="-r" id="t">sdef</a>
    </div>
    </form>
</body>
</html>
