﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default76.aspx.cs" Inherits="Tests_dbug_Default76" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Button1').click(function () {
                alert('yesh');
            });
            $('#Button2').click(function () {
                $('#Button1').unbind('click');
            });
        });

    
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        <input id="Button1" type="button" value="button" />
        <br />
        <br />
        <input id="Button2" type="button" value="unbind" />

    </div>
    
    </form>
</body>
</html>
