﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default24.aspx.cs" Inherits="Tests_dbug_Default24" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Text1').focus(function () {
                var eee = document.activeElement;
                var ttt = 0;
                alert(eee == this);
            });
        });
        $(function () {
            $('#Text2').focus(function () {
                var eee = document.activeElement;
                var ttt = 0;
                alert(eee == $('#Text1').get(0));
            });
        });
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input id="Text1" type="text" />
        <input id="Text2" type="text" />
        <asp:ListBox ID="ListBox1" runat="server"></asp:ListBox>
    </div>
    </form>
</body>
</html>
