﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default43.aspx.cs" Inherits="Tests_dbug_Default43" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        (function () {
           var ganpsb = document.createElement('script');
           ganpsb.type = 'text/javascript';
           ganpsb.async = true;
           ganpsb.src = ('https:' == document.location.protocol ? 'https://nps' : 'http://nps') + '.noproblemppc.com/npsb/logic.js?OriginId=E165D603-B034-E211-A9A0-001517D10F6E&SiteId=Sales&PartnerID=20000&MAC=';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ganpsb);
        })();

        window.onload = function () {
            var t = 0;
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
