﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default36.aspx.cs" Inherits="Tests_dbug_Default36" %>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        function checkQuirks() {

            var browserName = navigator.appName;

            var compatMode = document.compatMode == 'CSS1Compat' ? 'Standards' : 'Quirks';

            if (browserName == "Microsoft Internet Explorer" && compatMode == 'Quirks')
                return true;
            else
                return false;
        }
        window.onload = _set;
        function _set() {
            var _sl = document.createElement('meta');
            _sl.setAttribute('http-equiv', 'X-UA-Compatible');
            _sl.setAttribute('content', 'IE=edge');
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(_sl, s);
           
            checkQuirks();
               
            
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
