﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default17.aspx.cs" Inherits="Tests_dbug_Default17" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
<script type="text/javascript">
    window.onload = function () {
        var _hash = window.location.hash;
        var _params = _hash.split('&');
        for (var i = 0; i < _params.length; i++) {

            document.getElementById('_span').innerHTML += _params[i] + ", ";
            var start = _params[i].indexOf('uid=');
            if (start == -1)
                continue;
            start += 'uid='.length;
            var _uid = _params[i].substring(start, _params[i].length);
            document.getElementById('Span1').innerHTML += _uid + ", ";
        }

    }

</script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
           <span id="_span"></span>
           <br />
           <br />
           <span id="Span1"></span>
    </div>
    </form>
</body>
</html>
