﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default53.aspx.cs" Inherits="Tests_dbug_Default53" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="../../scripts/json2.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var obj = {};
            obj.IsActive = "yo'a";
            obj.BizId = 'yo"yo';
            var _data = JSON.stringify(obj);
            var _data2 = '{"IsActive":"' + GetStringForJson(obj.IsActive) + '", "BizId": "' + GetStringForJson(obj.BizId) + '"}';
            var t = 0;
        };
        function GetStringForJson(str) {
            var new_str = '';
            for (var i = 0; i < str.length; i++) {
                if (str.charAt(i) == "'")
                    new_str += "\'";
                else if (str.charAt(i) == '"')
                    new_str += '\\"';
                else
                    new_str += str.charAt(i);
            }
            return new_str;
        }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
