﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default48.aspx.cs" Inherits="Tests_dbug_Default48" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <title></title>
    <script type="text/javascript">
        $(function () {
            $('#_iframe').focus(function () {
                alert('click');
            });
            $('#_iframe').blur();
        });
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe id="_iframe" src="../../Main.aspx" height="400" width="400" style="position: absolute; left:100px; top:100px;"></iframe>
    
    </div>
    </form>
</body>
</html>
