﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default29.aspx.cs" Inherits="Tests_dbug_Default29" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var test = document.getElementById("_span");
          //  test.style.fontSize = fontSize;
            var height = (test.offsetHeight	37	Number
 + 1) + "px";
            var width = (test.offsetWidth) + "px";
            alert("h=" + height + " ;;; w=" + width);
        });
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div style="display:block; width: 200px; overflow: hidden;">
        <span id="_span">rewf werf wef wefwef e f e fv e rg eg</span>
        
    
    </div>
    </form>
</body>
</html>
