﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default8.aspx.cs" Inherits="Tests_dbug_Default8" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="../../CallService.js"></script>
    <script type="text/javascript" src="ddd.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            CallWebService("", "rrr.asmx", function (arg) { alert(arg); }, function () { alert('0'); });
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
<asp:image ID="Image1" runat="server" ImageUrl="rrr.jpg"></asp:image>
    </div>
    </form>
</body>
</html>
