﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default16.aspx.cs" Inherits="Tests_dbug_Default16" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("_iframe").innerHTML = "stam";
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe id="_iframe" name="_iframe"></iframe>
    </div>
    </form>
</body>
</html>
