﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default14.aspx.cs" Inherits="Tests_dbug_Default14" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.onload = function () {
            //frames["yoav"].innerHTML = "<html><head><script type='text/javascript'>alert('yy');<\/script></head><body><\/body><\/html>";
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe id="yoav" name="yoav" width="500" height="500" src="Default15.aspx"></iframe>
    </div>
    </form>
</body>
</html>
