﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default102.aspx.cs" Inherits="Tests_dbug_Default102" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:LinkButton ID="LinkButton1" runat="server" CommandArgument="yyy444">LinkButton</asp:LinkButton>
        </div>
    </form>
</body>
</html>
