﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default26.aspx.cs" Inherits="Tests_dbug_Default26"  %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
         <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">
    function _submit() {
        var $form = $('<form target="_blank" method="post" id="_form" name="_form" action="Default25.aspx">').append('<input type="hidden" name="me" value="yoav">');
        $('body').append($form);
        document.getElementById('_form').submit();
    }

</script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:label ID="Label1" runat="server" text="222222"></asp:label>
    <a href="javascript:_submit();">get</a>
    </div>
    </form>
</body>
</html>
