﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default37.aspx.cs" Inherits="Tests_dbug_Default37" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        function test() {
            window.open('<%# GetDes %>', 'ss');
        }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="javascript:test();">test</a>
    </div>
    </form>
</body>
</html>
