﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DetectMobile.aspx.cs" Inherits="Tests_dbug_DetectMobile" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <div runat="server" id="_div"> </div>
    </div>
    </form>
</body>
</html>
