﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="downfile.aspx.cs" Inherits="Tests_dbug_downfile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        $(function () {
            $('a').click(function (e) {

                $('body').append($('<iframe src="<%# path %>" style="display:none;">'));
            });
        });
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="javascript:void(0);">download</a>
    </div>
    </form>
</body>
</html>
