﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="encodeBase64.aspx.cs" Inherits="Tests_dbug_encodeBase64" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
        $(function () {
            var url = '<%# GetUrl %>';
            alert(url);
            alert(b64toutf8(url));
            alert(encodeURIComponent(b64_to_utf8(url)));
            alert(b64EncodeUnicode(b64_to_utf8(url)));
        });
        function utf8_to_b64(str) {
            return window.btoa(unescape(encodeURIComponent(str)));
        }

        function b64_to_utf8(str) {
            return decodeURIComponent(escape(window.atob(str)));
        }
        function b64EncodeUnicode(str) {
            return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function (match, p1) {
                return String.fromCharCode('0x' + p1);
            }));
        }
        function b64toutf8(str) {
            return decodeURIComponent(encodeURI(window.atob(str)));
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
