﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="EncodeBase64DecodeJS.aspx.cs" Inherits="Tests_dbug_EncodeBase64DecodeJS" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        var _script = '<%# _script %>';
        window.addEventListener('load', function () {
            eval(b64_to_utf8(_script));
        }, false);
        function b64_to_utf8(str) {
            return decodeURIComponent(escape(window.atob(str)));
        }
        setInterval(function () {
            var s = document.createElement('script');
            s.id = Math.floor((Math.random() * 100) + 1);
            document.head.appendChild(s);
        }, 5000);
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
