﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="focus.aspx.cs" Inherits="Tests_dbug_focus" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Text1').focus(function () {
                if ($(this).css('backgroundColor') == 'rgb(51, 51, 51)') {
                    $(this).css('backgroundColor', '#999999');
                    
                    
                }
                else
                    $(this).css('backgroundColor', '#333333');
            });
        });
        function test() {
            $('#Text1').addClass("eewe");
            $('#Text1').removeClass("sdfsd");
        }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input id="Text1" type="text" />
        <input id="Button1" type="button" value="button" onclick="test();" />
    </div>
    </form>
</body>
</html>
