﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="hiddenPostBack.aspx.cs" Inherits="Tests_dbug_hiddenPostBack" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
    <div>
        
        <asp:HiddenField ID="HiddenField1" runat="server" />
        <asp:Button ID="Button1" runat="server" Text="To true" onclick="Button1_Click" />
    </div>
    
    <asp:Button ID="Button2" runat="server" Text="EmptyPostBack" 
        onclick="Button2_Click" />
    
    </form>
</body>
</html>
