﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ifarme_unload.aspx.cs" Inherits="Tests_dbug_ifarme_unload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
    <style type="text/css">
        ._iframe1
        {
            width: 200px;
            height: 400px;
        }
        ._iframe2
        {
            width: 400px;
            height: 700px;
        }
    </style>
    <script type="text/javascript">
        function setit() {
            $("iframe").removeClass('_iframe1');
            $("iframe").addClass('_iframe2');
        }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe src="Default17.aspx" class="_iframe1"></iframe>
        <div>
            <input id="Button1" type="button" value="button" onclick="setit();" />
        </div>
        
    </div>
    </form>
</body>
</html>
