﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="IframeFixedCover.aspx.cs" Inherits="Tests_dbug_IframeFixedCover" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        window['_np_continue'] = true;
        $(function () {
            setTimeout(function () {
                var _iframe = document.createElement('iframe');
                _iframe.height = 1000;
                _iframe.width = 700;
                _iframe.src = 'http://www.ask.com';
                _iframe.style.position = 'fixed';
                _iframe.style.top = '20px';
                _iframe.style.right = '50px';
                _iframe.style.zIndex = '2147479798';
                document.body.appendChild(_iframe);
            }, 5000);
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
