﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="iframe_secure.aspx.cs" Inherits="Tests_dbug_iframe_secure" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe src="http://www.google.com"></iframe>
        <iframe src="<%# GetPath %>"></iframe>
    </div>
    </form>
</body>
</html>
