﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="javascript_date.aspx.cs" Inherits="dbug_javascript_date" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    Date.prototype.addHours = function (n) {this.setHours (this.getHours () + n)}
    function testdate()
    {
    /*
        var _date=new Date();
        _date.addHours(4);
        alert("date="+_date.getDate()+_date.getFullYear()+_date.getHours()+
        "dateUTC="+_date.getUTCDate()+_date.getUTCFullYear()+_date.getUTCHours());
        */
        var s1=new Date();
        var s2=new Date();
        s2.setHours(30);
        alert(s1>s2);
 //        var _date = new Date(0, 0, 0, 15, 22, 0, 0);
         alert("s1="+s1.toString()+";s2="+s2.toString()+";day="+s2.getDate());
        
    }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input id="Button1" type="button" value="button" onclick="javascript:testdate()" />
    </div>
    </form>
</body>
</html>
