﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="javascript_array_params.aspx.cs" Inherits="Tests_dbug_javascript_array_params" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        var __npsb = [];
        __npsb.push(['OriginId', 'aa']);
        __npsb.push(['SiteId', 'ss']);
        __npsb.push(['Keyword']);
        __npsb.push(['PlaceInWebSite', 'ff']);
        __npsb.push(['ControlName', 'gg']);
        __npsb.push(['PageName', 'hh']);
        __npsb.push(['PosYbottom', '30']);
        __npsb.push(['General', '0']);
        window.onload = function () {
            var _paramsUrl = '';
            for (var i = 0; i < __npsb.length; i++) {
                _paramsUrl += __npsb[i][0] + "=" + ((__npsb[i].length > 1) ? __npsb[i][1] : '') + "&";

            }
            alert(_paramsUrl);
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
