﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LeadsMarket.aspx.cs" Inherits="Tests_dbug_LeadsMarket" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
   
</head>
<body>
    <form id="form1" runat="server">
    <div >
    
    </div>
    </form>
    
    <div id="jrDiv" class="jrDiv">
           

        <script language="javascript" type="text/javascript">
            window.lmpost = {};
            window.lmpost.options = { campaignid: '213470', subid: '', testresult: '', domain: 'https://www.paydaylendersearch.com/forms/paydayv3/', form: '../2page_form', leadtypeid: '9' };
            document.write('<script id="leadsb2cformsrc" async="async" type="text/javascript" src="' + lmpost.options.domain + 'Scripts/forms.core.js"><\/script>');
</script>

        </div>
</body>
</html>
