﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="lm.aspx.cs" Inherits="Tests_dbug_lm" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <iframe height="550" width="755" src="LeadsMarket.aspx" scrolling="no" ></iframe>
    
    </div>
    </form>
</body>
</html>
