﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="navigate.aspx.cs" Inherits="Tests_dbug_navigate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    if(window.Event)
    {
        alert(typeof window.Event);
    }
    </script>
     
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="Default.aspx">sdesdef</a>
    </div>
    </form>
</body>
</html>
