﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NoBack.aspx.cs" Inherits="Tests_dbug_NoBack" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
    //    window.onload = NoBack;
        function NoBack() {
            //  window.history.forward();
            return false;
        }
    
    
    </script>
</head>
<body onunload=" NoBack();" >
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
