﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NoPoblemExtension1.aspx.cs" Inherits="Tests_dbug_NoPoblemExtension1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/jedelnkmcjjnjopblekimeadmpideded"/>
    <script type="text/javascript">
        function doit() {
            chrome.webstore.install();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a onclick="doit();" href="javascript:void(0);">install</a>
    </div>
    </form>
</body>
</html>
