﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="NumberFormat.aspx.cs" Inherits="Tests_dbug_NumberFormat" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lbl1" runat="server" ></asp:Label>
        <br />
        <asp:Label ID="lbl2" runat="server" ></asp:Label>
    </div>
    </form>
</body>
</html>
