﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="openvisiblewin.aspx.cs" Inherits="Tests_dbug_openvisiblewin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        function _open () {
            window.open('email_validation.aspx', 'SetCookie', 'width=100,height=100, alwaysLowered=1, alwaysRaised=0, left=20000');
         //   window.focus();
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="javascript:_open()">open</a>
    </div>
    </form>
</body>
</html>
