﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="parent_popup.aspx.cs" Inherits="Tests_dbug_parent_popup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    function openUploadFile()
    {
        window.open('child_popup.aspx', 'my_uploadFile', 'fullscreen=no,width=400,height=100,resizable=no');
    }
    
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <input id="Button1" type="button" value="button" onclick="openUploadFile();" />
    </div>
    
    </form>
</body>
</html>
