﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="popup_upload.aspx.cs" Inherits="dbug_popup_upload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    function dosome(arg)
    {
        alert(arg);
    }
    function popupopen()
    {
        window.open('uploadWin.aspx', 'my_win', 'fullscreen=no,width=400,height=200,resizable=no');
    }
    
    
    
    </script>

</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input id="Button1" type="button" value="button" onclick="javascript:popupopen();" />
    </div>
    
    
    </form>
</body>
</html>
