﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="radius.aspx.cs" Inherits="Tests_dbug_radius" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://github.com/malsup/corner/raw/master/jquery.corner.js?v2.09" type="text/javascript"></script>
    <title>Untitled Page</title>
    <script type="text/javascript">
    window.onload = function(){
        $(".myClass").corner();
    }
    
    </script>
    <style type="text/css">
    .myClass
    {
    	border-style: solid;
    }
    
    
    
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div id="mycoolblock"  class="myClass" >
        <asp:Button ID="Button1" runat="server" Text="Button" />
    </div>
    </form>
</body>
</html>
