﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="reg_express_array.aspx.cs" Inherits="Tests_dbug_reg_express_array" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <br />
        <br />
        <asp:Button ID="Button1" runat="server" Text="Button" OnClick="Button1_Click" />
        <br />
        <asp:Label ID="lbl_result" runat="server" Text="Label"></asp:Label>
    
    </div>
    </form>
</body>
</html>
