﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="regular.aspx.cs" Inherits="dbug_regular" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<script type="text/javascript" language="javascript">

    function check()
    {
    //    return;
    //    var mobile_expression =new RegExp("^05[1-8]{1}\\d{7}$");
  //      var mobile_expression =new RegExp('^\\d{4,12}$');
        var mobile_expression =new RegExp('^[0-9a-zA-Z]+$');
        var mob= document.getElementById("<%= TextBox1.ClientID %>").value;
        if(mobile_expression.test(mob))
            alert('si');
        else
            alert(mob);
    }

</script>
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server"
         ErrorMessage="RegularExpressionValidator" ValidationGroup="1" ControlToValidate="TextBox1"
          ValidationExpression="^\d{4,12}$"></asp:RegularExpressionValidator>
        <input id="Button1" type="button" value="button Check" onclick="javascript:check();" />
        <asp:Button ID="Button2" runat="server" Text="Button" ValidationGroup="1" />
    </div>
    
    </form>
    
</body>
</html>
