﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="secur.aspx.cs" Inherits="Tests_dbug_secur" Trace="true" viewStateEncryptionMode="Auto"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="Button" onclick="Button1_Click" />
        
    </div>
    </form>
</body>
</html>
