﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="select.aspx.cs" Inherits="Tests_dbug_select" %>


<%@ Register src="../../Controls/DropDown/DropDown.ascx" tagname="DropDown" tagprefix="uc1" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title></title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <uc1:DropDown ID="DropDown1" runat="server" Width="108" />
    </form>
</body>
</html>
