﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="splitjs.aspx.cs" Inherits="dbug_splitjs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    function _split()
    {
        var ttt = "xxxxx";
        var yyy = "xxxx|||rrr";
        var tts = ttt.split("|||");
        alert(tts.length);
        var yys = yyy.split("|||");
        alert(yys.length);
    }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input id="Button1" type="button" value="button" onclick="javascript:_split();" />
    </div>
    
    </form>
</body>
</html>
