﻿body 
{
    
}
A
{
    display: block;
    height: 17px;
    width: 17px;
    background-color: #c77942;
    color: White;
    
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.minus
{
    line-height: 3px;
}
.x
{
    line-height: 17px;
}
