﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tables.aspx.cs" Inherits="Tests_dbug_tables" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
    </div>
    <table style="width: 100%;">
        <tr>
            <td runat="server" id="td_1" visible="false">
                jhvg
                &nbsp;
            </td>
            <td>
                jhvg&nbsp;
            </td>
            <td>
                jhvg&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                jhvg&nbsp;
            </td>
            <td>
                jhvg&nbsp;
            </td>
            <td>
                jhvg&nbsp;
            </td>
        </tr>
        <tr>
            <td>
                jhvg&nbsp;
            </td>
            <td>
                jhvg&nbsp;
            </td>
            <td>
                jhvg&nbsp;
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
