﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test_plugs.aspx.cs" Inherits="Tests_dbug_test_plugs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link type="text/css" rel="Stylesheet" href="../../Wibiya/Style.css" />
     <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
     
     <script type="text/javascript" src="../../scripts/jquery-ui-1.8.18.effectslide.custom.min.js"></script>
     <script type="text/javascript" src="../../scripts/jquery.EmailFieldValidation.js"></script>
     
     <script type="text/javascript" src="../../PlaceHolder.js"></script>
     
</head>
<body>
    <form id="form1" runat="server">
    <div style="margin-top:50px;">
    <div>
       <asp:TextBox ID="txt_Service" runat="server" CssClass="txt_Service" place_holder="e.g. you@superman.com" holder-position="none" text-mode="email" 
        comment-text="e.g. you@superman.com" HolderClass="place-holder"></asp:TextBox>

    </div>
    </div>
    </form>
</body>
</html>
