﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TestStorageProd.aspx.cs" Inherits="Tests_dbug_TestStorageProd" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Box storage</title>
    <script type="text/javascript">
    (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src =  ((window.location.protocol == 'https:') ? 'https:' : 'http:') + '//nps.noproblemppc.com/npsb/logic.js?originid=35779B9E-759D-DF11-92C8-A4BADB37A26F&SiteId=Sales&ToolbarId=';			var _script = document.getElementsByTagName('script')[0];
			if(_script)
				_script.parentNode.insertBefore(ga, _script);
			else
				document.head.appendChild(ga);
        })();
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
