﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="testcookie.aspx.cs" Inherits="Tests_dbug_testcookie" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
    /*
    (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = 'http://localhost:49844/trunk/Tests/dbug/TestCookie.ashx?key=cf879946-455c-df11-80cd-0003ff727321&SiteId=1';
			var _head = document.getElementsByTagName("head");
			if(_head.length == 0)
				return;
            _head[0].appendChild(ga);
        })();
    */
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="http://localhost:49844/trunk/Tests/dbug/testcookie.aspx">link</a>
    </div>
    </form>
</body>
</html>
