﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TryPrint.aspx.cs" Inherits="dbug_TryPrint" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    function getTTT()
    {
        alert(ttt);
    }
    
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <%/* 
        <asp:PlaceHolder ID="_PlaceHolder" runat="server"></asp:PlaceHolder>
        
        <asp:GridView ID="_GridView" runat="server">
        </asp:GridView>
        
    */ %>
    </div>
    </form>
</body>
</html>
