﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="unload.aspx.cs" Inherits="Tests_dbug_unload" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    window.onunload=function()
    {
  //      alert('po');
  //      return "po";
    }
    window.onbeforeunload=function()
    {
    /*
        for(att in event)
{
	alert("attribute name= "+att);
	alert("attribute data= "+event[att]);
}
*/
 //       alert(even);
        return "po";
    }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <a href="http://www.google.com">click</a>
        <asp:Button ID="Button1" runat="server" Text="Button" />
    </div>
    </form>
</body>
</html>
