﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="uploadWin.aspx.cs" Inherits="dbug_uploadWin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
<script type="text/javascript">
function callParent()
{
    window.opener.dosome('yoav');
    window.close();
}


</script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input id="Button1" type="button" value="close pop up" onclick="javascript:callParent();" />
    </div>
    
    </form>
</body>
</html>
