﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UsphoneValidate.aspx.cs" Inherits="Tests_dbug_UsphoneValidate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        function chkphone() {
            var _reg = new RegExp('<%# GetRegExpression %>');
            alert(_reg.test($('#Text1').val()) + " ;;; " + $('#Text1').val());
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        

        <input id="Text1" type="text" />
        <br />
        <input id="Button1" type="button" value="button" onclick="chkphone();" />
    </div>
    </form>
</body>
</html>
