﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="validator.aspx.cs" Inherits="dbug_validator" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <script type="text/javascript">
    function doit()
    {
        var validators = Page_Validators;  
        for (var i = 0;i < validators.length; i++)
        {
 //           alert(validators[i].id);
            ValidatorEnable(Page_Validators[i], false);
        }
    }
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="TextBox1"
        ErrorMessage="RequiredFieldValidator" ValidationGroup="test"></asp:RequiredFieldValidator>
        <asp:Button ID="Button1" runat="server" Text="Button" ValidationGroup="test" 
            onclick="Button1_Click" />
        <input id="Button2" type="button" value="button" onclick="javascript:doit();" />
    </div>
    </form>
</body>
</html>
