﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WebUserControlDup.ascx.cs" Inherits="Tests_dbug_WebUserControlDup" %>

<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="ccp" %>
<script type="text/javascript" language="javascript">
    
</script>
<div runat="server" id="div1">
        <asp:Button ID="Button1" runat="server" Text="Button" />
        
        <ccp:AnimationExtender ID="Button1_AnimationExtender" runat="server" 
            Enabled="True" TargetControlID="Button1" BehaviorID="<%# hf_id.ClientID %>">
        </ccp:AnimationExtender>
   
    <input id="hf_id" type="hidden" runat="server" class="yoav" />
    </div>
