

/* Start Sprite Master CSS */
.arrow-1,.arrow-2,.arrow-3{display: inline-block;background-repeat: no-repeat;background-image: url('arrows_sprite.png');}
.arrow-1{background-position:0px 0px;width:11px;height:22px;}
.arrow-2{background-position:-14px 0px;width:11px;height:22px;}
.arrow-3{background-position:-28px 0px;width:11px;height:22px;}
/* End Sprite Master CSS */

