
/* Start Sprite Master CSS */
.Add_B,.Add_G,.answer,.arrow_call,.arrow_find,.arrow_pro,.avatars,.B_arrowL,.B_arrowR,.Button_arrows,.Button_Hover,.Button,.BuyG_Hover,.BuyG,.BuyP_Hover,.BuyP,.BuyY_Hover,.BuyY,.call_G,.call_W,.cancel_B,.cancel_W,.down_arrow,.emale,.envelope,.female1,.female2,.find_G,.find_W,.flower,.grey_arrow,.happy_B,.happy_G,.image,.location,.lock_Gray,.lockW,.male,.male1,.male2,.NP_logo,.orange_screen,.people,.phone_B,.phone_W,.pro_G,.pro_W,.question,.record1,.record2_G,.record2,.sad_G,.sad_O,.search,.shadow,.time_G,.time_W,.timer,.tnx,.Warning,.white_arrowL,.white_arrowR{display: inline-block;background-repeat: no-repeat;background-image: url('DeskApp_icons.png');}
.Add_B{background-position:0px 0px;width:13px;height:13px;}
.Add_G{background-position:-13px 0px;width:13px;height:13px;}
.answer{background-position:-26px 0px;width:23px;height:23px;}
.arrow_call{background-position:-49px 0px;width:81px;height:149px;}
.arrow_find{background-position:-130px 0px;width:77px;height:71px;}
.arrow_pro{background-position:-207px 0px;width:77px;height:71px;}
.avatars{background-position:0px -149px;width:329px;height:136px;}
.B_arrowL{background-position:-329px -149px;width:26px;height:26px;}
.B_arrowR{background-position:-355px -149px;width:26px;height:26px;}
.Button_arrows{background-position:-381px -149px;width:44px;height:46px;}
.Button_Hover{background-position:0px -285px;width:133px;height:135px;}
.Button{background-position:-133px -285px;width:133px;height:135px;}
.BuyG_Hover{background-position:-266px -285px;width:115px;height:200px;}
.BuyG{background-position:-381px -285px;width:115px;height:200px;}
.BuyP_Hover{background-position:0px -485px;width:115px;height:200px;}
.BuyP{background-position:-115px -485px;width:115px;height:200px;}
.BuyY_Hover{background-position:-230px -485px;width:115px;height:200px;}
.BuyY{background-position:-345px -485px;width:115px;height:200px;}
.call_G{background-position:-460px -485px;width:45px;height:46px;}
.call_W{background-position:0px -685px;width:29px;height:29px;}
.cancel_B{background-position:-29px -685px;width:31px;height:31px;}
.cancel_W{background-position:-60px -685px;width:31px;height:31px;}
.down_arrow{background-position:-91px -685px;width:31px;height:31px;}
.emale{background-position:-122px -685px;width:42px;height:42px;}
.envelope{background-position:-164px -685px;width:26px;height:20px;}
.female1{background-position:-190px -685px;width:124px;height:260px;}
.female2{background-position:-314px -685px;width:124px;height:260px;}
.find_G{background-position:-438px -685px;width:44px;height:46px;}
.find_W{background-position:0px -945px;width:28px;height:29px;}
.flower{background-position:-28px -945px;width:276px;height:278px;}
.grey_arrow{background-position:-304px -945px;width:44px;height:46px;}
.happy_B{background-position:-348px -945px;width:38px;height:38px;}
.happy_G{background-position:-386px -945px;width:38px;height:38px;}
.image{background-position:0px -1223px;width:142px;height:136px;}
.location{background-position:-142px -1223px;width:70px;height:70px;}
.lock_Gray{background-position:-212px -1223px;width:14px;height:18px;}
.lockW{background-position:-226px -1223px;width:15px;height:18px;}
.male{background-position:-241px -1223px;width:42px;height:42px;}
.male1{background-position:-283px -1223px;width:124px;height:260px;}
.male2{background-position:0px -1483px;width:124px;height:260px;}
.NP_logo{background-position:-124px -1483px;width:137px;height:40px;}
.orange_screen{background-position:0px -1743px;width:384px;height:166px;}
.people{background-position:0px -1909px;width:448px;height:95px;}
.phone_B{background-position:-448px -1909px;width:47px;height:74px;}
.phone_W{background-position:0px -2004px;width:47px;height:74px;}
.pro_G{background-position:-47px -2004px;width:44px;height:46px;}
.pro_W{background-position:-91px -2004px;width:29px;height:29px;}
.question{background-position:-120px -2004px;width:23px;height:23px;}
.record1{background-position:-143px -2004px;width:38px;height:38px;}
.record2_G{background-position:-181px -2004px;width:37px;height:38px;}
.record2{background-position:-218px -2004px;width:38px;height:38px;}
.sad_G{background-position:-256px -2004px;width:37px;height:38px;}
.sad_O{background-position:-293px -2004px;width:38px;height:38px;}
.search{background-position:-331px -2004px;width:26px;height:27px;}
.shadow{background-position:0px -2078px;width:339px;height:8px;}
.time_G{background-position:-339px -2078px;width:45px;height:46px;}
.time_W{background-position:-384px -2078px;width:29px;height:29px;}
.timer{background-position:-413px -2078px;width:76px;height:84px;}
.tnx{background-position:0px -2162px;width:196px;height:93px;}
.Warning{background-position:-196px -2162px;width:40px;height:31px;}
.white_arrowL{background-position:-236px -2162px;width:45px;height:46px;}
.white_arrowR{background-position:-281px -2162px;width:45px;height:46px;}
/* End Sprite Master CSS */
