﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="call plimus.aspx.cs" Inherits="plimus_call_plimus" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <a href="https://sandbox.plimus.com/jsp/buynow.jsp?contractId=2130482&custom1=5678&overridePrice=5">call</a>
    </div>
    </form>
</body>
</html>

<!--
plimus: productId=289628&productName=PPC&contractId=2130482&contractName=Full+Version&contractPrice=10.00&referenceNumber=1002906554&transactionDate=12%2f08%2f2011+07%3a46+AM&untilDate=01%2f08%2f2012+07%3a46+AM&transactionType=CHARGE&quantity=1&currency=USD&addCD=N&referrer=&promoteContractsNum=0&invoiceAmount=10.00&paymentMethod=CC&paymentType=CC&creditCardType=MASTERCARD&shippingMethod=&remoteAddress=194.90.222.218&invoiceInfoURL=https%3a%2f%2fsandbox.plimus.com%2fjsp%2forder_locator_info.jsp%3frefId%3d325EF9D7310ACD629D3EC2D9ABC1B7A8%26acd%3d05B09F60294E1566&testMode=N&contractOwner=389814&invoiceAmountUSD=10.00&invoiceChargeCurrency=USD&invoiceChargeAmount=10.00&subscriptionId=5806612&creditCardLastFourDigits=5589&creditCardExpDate=12%2f2011&targetBalance=PLIMUS_ACCOUNT&invoiceTitle=&invoiceFirstName=%u05e9%u05d9&invoiceLastName=%u05de%u05e8%u05e7%u05d1%u05d9%u05e5&invoiceCompany=&invoiceAddress1=%u05e0%u05d7%u05dc+%u05d3%u05dc%u05d9%u05d4+43&invoiceAddress2=&invoiceCity=%u05de%u05d5%u05d3%u05d9%u05e2%u05d9%u05df&invoiceState=&invoiceCountry=IL&invoiceZipCode=71701&invoiceEmail=shaim%40noproblem.co.il&invoiceWorkPhone=0545350800&invoiceExtension=&invoiceFaxNumber=&invoiceMobilePhone=&accountId=19328928&title=&firstName=%u05e9%u05d9&lastName=%u05de%u05e8%u05e7%u05d1%u05d9%u05e5&username=1323359058712&company=&address1=%u05e0%u05d7%u05dc+%u05d3%u05dc%u05d9%u05d4+43&address2=&city=%u05de%u05d5%u05d3%u05d9%u05e2%u05d9%u05df&state=&country=IL&zipCode=71701&email=shaim%40noproblem.co.il&workPhone=0545350800&extension=&faxNumber=&mobilePhone=&homePhone=&shippingFirstName=%u05e9%u05d9&shippingLastName=%u05de%u05e8%u05e7%u05d1%u05d9%u05e5&shippingAddress1=%u05e0%u05d7%u05dc+%u05d3%u05dc%u05d9%u05d4+43&shippingAddress2=&shippingCity=%u05de%u05d5%u05d3%u05d9%u05e2%u05d9%u05df&shippingState=&shippingCountry=IL&shippingZipCode=71701&authKey=&supplierId=5678&havacookie=shawarma&couponCode=&licenseKey=
-->

