﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Controls/MasterPageNPPre.master" AutoEventWireup="true" CodeFile="LegalTerms.aspx.cs" Inherits="PPC_Privacy_LegalTerms" %>

<%@ MasterType VirtualPath="~/Controls/MasterPageNPPre.master" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div class="Legal-Privacy">
    <div class="navigation">
        <ul>
            <li>
                <a href="javascript:void(0);" class="active">TERMS OF SERVICE</a>
            </li>
            <li>
                <a href="<%= ResolveUrl("~/PPC/Privacy/LegalPrivacy.aspx")  %>">PRIVACY POLICY</a>
            </li>
            
        </ul>
    </div>
    <div class="clear"></div>
    <div class="menu-terms">
        <h5>Advertiser</h5>
        <a href="<%= ResolveUrl("~/PPC/Privacy/LegalAdvTerms.aspx")  %>">Advertiser terms of service</a>
        <a href="<%= ResolveUrl("~/PPC/Privacy/LegalRefund.aspx")  %>">Refund policy</a>
        <h5>Publisher</h5>
        <a href="javascript:void(0);">Publisher terms of service</a>
    </div>
    <div class="term-text">
        <h3>Publisher Terms of Service</h3>
        <h5>1. INTRODUCTION</h5>
        <p>The parties to this Agreement hereinafter are One Call Contact Centers Ltd. (“No Problem”) and the Publisher/Affiliate (as defined hereinafter) Publisher may accept this Agreement by (i) taking any step to order or to request Service, or to otherwise use the Service or (ii) clicking “I agree to the terms of Service” box at the end of this Agreement This Agreement reflects the entire agreement between Publisher or the Affiliate and No Problem.</p>

        <h5>2. DEFINITIONS</h5>
        <p>(a) Performance Marketing Program – is where a Publisher or any other person, entity, or their agents, operate a Website(s) and/or other promotional methods in order to direct traffic from such Website(s) to No Problem Website. The Publisher may earn financial compensation (“Payouts”) for Transactions (as defined hereinafter) referred by the Publisher via an action made by a Visitor (as defined hereinafter) through a widget (“Widget”) to a Website or Website content operated by No Problem.</p>
        <p>(b) Publisher – an individual or entity which allows its Website or Website content and/or other traffic sources to include Widget, and/or other acceptable forms or links, to permit Traffic and or results between the Publisher and the programs offered by No Problem pursuant to this Agreement.</p>
        <p>(c) Advertiser - an individual or entity which offer services and is listed on the Publisher website</p>
        <p>(d) Results – legitimate views, impressions and/or clicks including traffic that is generated by a third party on a Publisher’s Website(s) and/or network, so that such third party may be connected with advertisers through the No Problem program in accordance with the terms and conditions of the applicable Program, as may be updated from time to time.</p>
        <p>(e) Legitimate Traffic – traffic generated by the accessing of a Publisher’s Website and/or network by a person who is not associated with, or related to the applicable Advertiser or the Publisher . Legitimate Traffic excludes all clicks and traffic that are artificially generated.</p>
        <p>(f) Visitor – any person or entity that is not the Publisher or the Publisher’s agent.</p>
        <p>(g) Transactions – actions by Visitors under the applicable Program.</p>
        <p>(h) Website(s) – internet domain, or a portion of a domain.</p>

        <h5>3. USE POLICY</h5>
        <p>(a) During the term of this Agreement, traffic from Publisher website will be directed to No Problem's network and allow the Publisher the opportunity to earn Payouts by promoting Advertisers or by addressing valuable traffic to No Problem.</p>
        <p>(b) Updating Links – If Links, and/or other promotional and/or marketing methods directing traffic to the Advertiser are not updated dynamically No Problem network, the Publisher, on receipt of notification, is obligated to update the links in order to earn Payouts and not later than 48 hours since the notification was sent.</p>
        <p>(c) Virtual numbers – No Problem may allocate virtual numbers to Advertisers listed in Publisher website. Such virtual numbers will be allocated randomly and will not be permanently attached to any of the Advertisers.</p>
        <p>(d) Fraud – Publishers generating non Legitimate Traffic will be terminated without notice and any agreement entered into with them shall be terminated forthwith. No Problem may withhold payment to any Publisher until clarification of Results.</p>
        <p>No Problem may deny payment if the results of the aforesaid clarification support any of the aforesaid prohibited activities. No Problem further reserves the right to modify or reverse any Publisher accrued statistics and sums attributed thereto at any-time, including in those instances in which the Advertiser determines the results are not Legitimate Traffic or are otherwise fraudulent.</p>

        <h5>4. NO PROBLEM’S SERVICES</h5>
        <p>(a) Tracking Transactions and Payouts – No Problem shall determine, where possible, actual Payouts that should be credited to the Publisher’s Account. No Problem may, at No Problem’s sole discretion, apply an estimated amount of Payouts, if: (i) the Publisher is referring visitors to Advertiser as verified by calls through links to Advertiser with No Problem Tracking Code, (ii) in the case of an error in Advertiser’s transmission of Tracking Code data to No Problem, and (iii) in an instance in which No Problem is able to utilize a historical analysis of the Publisher promotion of Advertiser in order to determine an equitable amount of estimated Payouts.</p>
        <p>(b) Access to Tracking and Reporting Tools – No Problem shall provide the Publisher with accessto tracking and reporting tools. Tracking detail regarding Visitor Transactions may not be available on a real-time basis for all Advertisers and there may be reporting delays regarding Transactions for some Advertisers.</p>
        <p>(c) Support is available on-line through the “Contact Us”.</p>

        <h5>5. PUBLISHER PAYMENTS</h5>
        <p>(a) Subject to the other provisions of this Agreement, No Problem shall credit the Publisher’s account with a Payout for each qualifying Transaction on the basis of the applicable Program terms. No Problem shall pay any amounts due to Publisher using Pay Pal (for payment in USD only), wire or check, in accordance with any of the following methods as shall be determined by No Problem. payments shall be made: on a monthly basis with respect to all outstanding unpaid due Payouts up to the end of the previous month, subject to actual collection of the corresponding payments by No Problem (“Upon Collection”);</p>
        <p>(b) Notwithstanding the aforesaid, No Problem reserves the right to change the Payout to Publishers an advance notice of 30 days (the ”Payment Change”). In this case and notwithstanding the aforesaid, the Payment Change will be applied and deemed valid 90 days backwards as of the decision of the relevant Payment Change for all qualifying transactions due to the Publisher. The Publisher acknowledges and agrees that such retroactive application is reasonable and required to protect No Problem’s financial interests and waives any claim or demand with respect to any retroactive payment changes applied pursuant to this section.</p>
        <p>(c) No Problem will deduct from the amounts due to the Publisher communication costs and other related expenses with regard to the virtual numbers attached to Advertises. Only the net amount will be paid to the Publisher.</p>
        <p>(d) Notwithstanding the aforesaid, No Problem reserves the right to reclassify any outstanding transactions and reduce any payments due to Publisher because of any claims, demands, offsets or the like made by Advertisers for invalid events, technical errors, tracking discrepancies or similar events that produce invalid results, even if the applicable Transaction was originally approved. No Problem shall compile, calculate and electronically deliver to Publisher the relevant data required to determine Publisher’s billing and compensation. The Publisher acknowledges that payments are based upon the Results registered and counted through the No Problem Tracking Code and hereby waives any claim and/or demand towards No Problem as a result of discrepancy between the Results registered through the Tracking Code and any other similar tracking system. Minimum payment using PayPal is $50.00. Minimum payment using wire transfer is $150.00. Minimum payment using check is $500.00.  Processing fees will be deducted from Publisher commission balance. If Publisher does not earn the minimum amount, the balance will be carried forward until such time as the minimum amount is earned or until this Agreement is terminated by either party. The Publisher acknowledges that the minimum amount may vary based upon the applicable currency being used and that the binding minimum amount shall be the amount listed in No Problem’s system as may be updated from time to time. Publishers are responsible for ensuring that their bank details, address and Pay Pal e-mail address are correct in their No Problem account details in order to receive payment.</p>
        <p>(e) The Publisher may select to receive payment in any of the currencies that No Problem supports (as may be amended by No Problem). The currency exchange rates shall be determined in accordance with the rates of the buying trade prices (Bid) and the selling trade prices (Ask) of Tel Aviv Stock Exchange’s Continues Trade. No Problem shall determine the conversion rates based upon its operating standards according to the prevailing rates at the date that payment is formed to the Publisher, or upon the basis of historical conversion rates if rates are unavailable. The number or amount of Transactions, credits for Payouts, debits for Charge-backs, and conversion costs, as calculated by No Problem, shall be final and binding on the Publisher. In the event it is required to pay transactions fees, such fees shall be covered by the Publisher and deducted by No Problem from each applicable.</p>
        <p>(f) Charge-backs – an Advertiser or No Problem may apply a debit to the Publisher’s Account in circumstances of (i) duplicate entry or other clear error; (ii) non-bona fide transactions; (iii) non receipt of payment from, or refund of payment to the Advertiser; or (iv) Publisher failure to comply with Advertiser’s Program terms or other agreement with Advertiser (“Chargeback”). Charge-backs may be applied to the Publisher’s account at any time, including previous payment cycles within 3 (three) months from such a Charge Back event.</p>

        <h5>6. LIMITATIONS ON USE</h5>
        <p>(a) Only individuals aged 18 years or over, partnerships comprised of such individuals, or other lawfully formed entities, may participate in this service. Publisher must provide No Problem with up-to-date, complete and accurate contact information, including name, street address, telephone number and e-mail address. Publisher is exclusively responsible for approving and updating his /her/its contact details in No Problem’s system. All correspondence and notices sent according to the contact details in No Problem’s system shall be deemed to be duly sent.</p>
        <p>(b) As all notifications to Publisher will be sent electronically, it is the Publisher’s responsibility to monitor and respond to such messages.</p>
        <p>(c) The Publisher hereby declares that the Publisher is not an Israeli resident for tax purposes or subject to Israeli taxation by the conduct of its general business activities, and has no permanent establishment or branch in Israel.</p>
        <p>(d) Publisher must use its own website and identity in the sign-up process and may not assume a false or another person’s or entity’s identity or place Advertiser paid links on a site without authorization. Publisher must use an e-mail/password combination to access its account, and it is Publisher’s responsibility to keep this information confidential. Publisher may change this information inside the member account area if necessary. Publisher is solely responsible for any and all use of its No Problem account, including authorization granted to any other person or entity that may use its account.</p>
        <p>(e) For information about No Problem data protection practices, please read our privacy policy at www.NoProblemppc.com website. Publisher undertakes to comply with No Problem’s privacy policy, as may be amended from time to time with respect to any data provided by the Publisher. Applicable Codes and Code Maintenance – in order to enable No Problem to track and record Visitors’ transactions resulting from clicks on Links to Advertisers promoted by the Publisher, the Publisher must include and maintain the Tracking Code within the Advertiser’s links. All Advertiser links and advertisements must be in a format as indicated by No Problem.</p>
        <p>(f) The Publisher shall be responsible for all usage and activity on its account and for loss, theft or unauthorized disclosure of its password (other than through No Problem’s negligent or willful conduct or omission). The Publisher shall provide No Problem with prompt written notification of any known or suspected unauthorized use of its account or breach of the security of its account.</p>
        <p>(g) Publisher shall be fully responsible for the acts of its agents, subcontractors and/or any other third party service providers which are engaged by it in connection with the Service. Without derogating from the aforesaid, Publisher undertakes that all such agents, subcontractors and/or any other third party service providers which are engaged by it in connection with the Service will be subject to obligations in content at least as protective as the provisions hereof.</p>

        <h5>7. PROPRIETARY RIGHTS</h5>
        <p>(a) For each Advertiser’s Program for which the Publisher has been accepted, the Advertiser grants the Publisher the right to display and link to the Advertiser’s website or website content in accordance with the Advertiser’s Program terms for the limited purposes of promoting the Advertiser’s Program, subject to the terms and conditions of this Agreement. It is agreed between No Problem and Publisher that No Problem owns all rights in and to all information regarding the visitors the Publisher refers to Advertisers through No Problem.</p>
        <p>(b) The Publisher authorizes No Problem to utilize the Publisher’s trademarks, service marks, tradenames, and/or copyrighted material that the Publisher provides to No Problem through the Publisher Account in order to promote the Publisher’s participation in the Marketing Services.</p>
        <p>(c) The Publisher agrees that its use of any No Problem websites (such as www.NoProblemppc.com), trademarks, service marks, tradenames, and/or URLs is subject to the license and terms of use that are available from such website (“Terms of Use”). The Publisher undertakes not to adopt or use in any manner any trademarks, service marks, tradenames, and/or URLs that are the same, confusingly similar to, or are combined with those of No Problem.</p>
        <p>(d) All proprietary rights of Advertisers, the Publisher, and No Problem, and all goodwill arising as a result of such rights, inure to the benefit of their owner. The Publisher acknowledges that it obtains no proprietary rights in No Problem’s trademarks, service marks, tradenames, URLs, copyrighted material, patents, and patent applications as those shall remain the sole and exclusive property of No Problem and its respective licensors.</p>
        
        <h5>8. CONFIDENTIALITY</h5>
        <p>(a) The Publisher or No Problem may provide the other with information that is confidential and to which that party or a third party has proprietary rights, as designated by the disclosing party or that may be reasonably understood to be subject to propriety rights and/or confidential (“Confidential Information”). The receiving party agrees to make commercially reasonable efforts, and an effort no less than it uses to protect its own confidential information, to maintain the confidentiality and to protect any proprietary interests of the disclosing party. Confidential Information shall not include (even if designated by a party) information: (i) that is or becomes part of the public domain through no act or omission of the receiving party; (ii) that is lawfully received by the receiving party from a third party without restriction on use or disclosure, and without breach of this Agreement or any other agreement, and without knowledge by the receiving party of any breach of fiduciary duty, or (iii) that the receiving party had in its possession prior to the date of this Agreement. Upon termination of this Agreement, the Publisher must destroy or return to No Problem any Confidential Information provided by No Problem to the Publisher under this Agreement.</p>
        <p>(b) The Publisher agrees that No Problem may, provide its Advertisers and/or its partners and/or any other applicable third party Your email address(es) and basic Publisher Account details (including but not limited to the Publisher address, phone and fax number, website name, the date the website or subscription email first entered into operation, and visitor demographics) to Advertisers. No Problem may provide its Advertisers and/or its partners and/or any other applicable third party any and all Visitor, Transaction and/or Tracking Code data to the Advertiser to which the Publisher referred such Visitor, and to any third party in No Problem’s sole discretion, including but not limited to all regulatory, legislative and judicial bodies, and pursuant to allegations and claims of proprietary rights infringement. No Problem reserves the right to be able to utilize Tracking Code data provided to it, which may include information about the Publisher performance statistics, to analyze Marketing Service trends, monitor Marketing Service efficiencies, maintain the integrity of the tracking code, promote Marketing Service capabilities and efficiencies, and promote the Publisher and its Web performance to Advertisers.</p>

        <h5>9. TERM AND TERMINATION OF AGREEMENT</h5>
        <p>(a) Term – This Agreement shall commence upon the Publisher’s indication that it has accepted this Agreement in providing the required information and shall remain in force until terminated in accordance with the terms of this Agreement. This Agreement may be terminated by either party upon two (2) days advance notice. No Problem reserves the right to terminate this Agreement and the Publisher’s right to use or receive any services or benefits including residuals relating to Service and/or Programs forthwith if the Publisher breaches any term of the Agreement, as determined by No Problem. The Publisher Account may be deactivated during investigation of breach of this Agreement. If this Agreement is terminated due to a breach on the part of the Publisher, the Publisher shall not be eligible to enter into Agreement with No Problem, and any attempt to do so shall be null and void.</p>
        <p>(b) Termination by Advertiser – An Advertiser may suspend and/or terminate its engagement with the Publisher and/or any one of the Publisher websites and/or the Publisher’s ability to use a promotional method with respect to any Advertiser’s Program for any or no reason, upon two (2) days written notice with effect from the 3rd day.</p>
        <p>(c) Termination or deactivation by No Problem – No Problem may terminate its engagement with the Publisher, one of the Publisher websites, and/or Publisher’s use of a promotional method, with respect to any Advertiser’s Program, at any time in No Problem’s sole discretion. No Problem may temporarily deactivate or terminate the Publisher Account if: (i) the Publisher or the Publisher’s agent are responsible for the improper functioning of the widget, or if the Publisher otherwise interferes with and/or fails to maintain the Tracking Code; (ii) the Publisher Account has not been logged into and/or there have not been any transactions credited to the Publisher Account for any 30 day period; (iii) a third party (including an No Problem Advertiser) disputes the Publisher’s right to use any Link, domain name, trademark, service mark, trade dress, or right to offer any service or goods offered on the Publisher website, or any of the Publisher’s promotional means. Upon termination of this Agreement, or in case of deactivation of the Publisher’s account, the Publisher shall no longer accrue Payouts, including but not limited to subsequent sales and/or leads for click-throughs that occurred prior to termination.</p>
        <p>(d) Post-termination – Upon termination of this Agreement, except for termination due to a breach by the Publisher, any outstanding payments, based upon actual collection, shall be paid by No Problem to the Publisher within the standard timeframe as mentioned in section 5(a)). Any outstanding debit balance shall be paid by the Publisher to No Problem within thirty (30) days of termination of this agreement. Provisions of this Agreement that by their nature and context are intended to survive the termination of this agreement shall survive its termination to the extent, and as long as it is necessary to preserve a party’s rights under this Agreement that accrued prior to termination. All representations and warranties made by Publisher and all remedies available to No Problem will survive the termination of this Agreement.</p>

        <h5>10. Publisher Representations and Warranties.</h5>
        <p>(a) Term – This Agreement shall commence upon the Publisher’s indication that it has accepted this Agreement in providing the required information and shall remain in force until terminated in accordance with the terms of this Agreement. This Agreement may be terminated by either party upon two (2) days advance notice. No Problem reserves the right to terminate this Agreement and the Publisher’s right to use or receive any services or benefits including residuals relating to Service and/or Programs forthwith if the Publisher breaches any term of the Agreement, as determined by No Problem. The Publisher Account may be deactivated during investigation of breach of this Agreement. If this Agreement is terminated due to a breach on the part of the Publisher, the Publisher shall not be eligible to enter into Agreement with No Problem, and any attempt to do so shall be null and void.</p>
        <p>(b) Termination by Advertiser – An Advertiser may suspend and/or terminate its engagement with the Publisher and/or any one of the Publisher websites and/or the Publisher’s ability to use a promotional method with respect to any Advertiser’s Program for any or no reason, upon two (2) days written notice with effect from the 3rd day.</p>
        <p>(c) Termination or deactivation by No Problem – No Problem may terminate its engagement with the Publisher, one of the Publisher websites, and/or Publisher’s use of a promotional method, with respect to any Advertiser’s Program, at any time in No Problem’s sole discretion. No Problem may temporarily deactivate or terminate the Publisher Account if: (i) the Publisher or the Publisher’s agent are responsible for the improper functioning of the widget, or if the Publisher otherwise interferes with and/or fails to maintain the Tracking Code; (ii) the Publisher Account has not been logged into and/or there have not been any transactions credited to the Publisher Account for any 30 day period; (iii) a third party (including an No Problem Advertiser) disputes the Publisher’s right to use any Link, domain name, trademark, service mark, trade dress, or right to offer any service or goods offered on the Publisher website, or any of the Publisher’s promotional means. Upon termination of this Agreement, or in case of deactivation of the Publisher’s account, the Publisher shall no longer accrue Payouts, including but not limited to subsequent sales and/or leads for click-throughs that occurred prior to termination.</p>
        <p>(d) Post-termination – Upon termination of this Agreement, except for termination due to a breach by the Publisher, any outstanding payments, based upon actual collection, shall be paid by No Problem to the Publisher within the standard timeframe as mentioned in section 5(a)). Any outstanding debit balance shall be paid by the Publisher to No Problem within thirty (30) days of termination of this agreement. Provisions of this Agreement that by their nature and context are intended to survive the termination of this agreement shall survive its termination to the extent, and as long as it is necessary to preserve a party’s rights under this Agreement that accrued prior to termination. All representations and warranties made by Publisher and all remedies available to No Problem will survive the termination of this Agreement.</p>

        <h5>10. Publisher Representations and Warranties.</h5>
        <p>(a) Accurate, up-to-date Information- Publisher agrees to provide No Problem and Advertiser with accurate information about its promotional methods, and to maintain an up-to-date information.</p>
        <p>(b) Use of Links. Publisher represents and warrants that all promotional means used by it will not contain objectionable content (including but not limited to content that is misleading, libelous, defamatory, obscene, violent, bigoted, hate-oriented, illegal, and/or promoting illegal goods, services or activities), and that the Publisher will not mislead others. Publisher agrees to: (i) use ethical and legal business practices, (ii) comply with the applicable Program terms, as may update from time to time and this Agreement, (iii) maintain a privacy policy on its website and for any non-website based promotional method made available to Visitors. Such privacy policy must comply with all laws and regulations regarding the privacy of Visitor information, be commercially reasonable, and fully and accurately disclose the Publisher’s collection and use of Visitors. No Problem reserves the right to review Publisher’s conduct, and any suspected fraudulent, abusive or otherwise illegal content or activity by the Publisher through promotional methods, or that is perpetrated through use of the Service. Any of the aforesaid actions constitute grounds for immediate termination of this Agreement or deactivation of the Publisher’s account.</p>
        <p>(c) Promotional Methods. Publisher represents and warrants that it will not engage in and/or facilitate spamming, indiscriminate advertising or unsolicited commercial emails, or otherwise fail to comply with any applicable laws and/ or regulations that govern email marketing and/or communications including without limitation the most updated CAN-SPAM Act of 2003.</p>
        <p>(d) Personally Identifiable Information of Visitors. Publisher represents and warrants that it will not enable the Tracking Code to collect personally identifiable information of Visitors in violation of any applicable privacy protection laws and regulations. In the event that Publisher engages in any information collection from users it must represent and warrant that such information collection is conducted in accordance with all applicable laws and regulations, including, provision of all required user notifications, obtaining any necessary consents and approvals prior to such information collection. Any provision and/or disclosure of such information to No Problem, to the extent applicable, shall be made only in accordance with the foregoing.</p>
        <p>(e) To the extent required pursuant to any applicable law and without derogating from Section 10(e) the Publisher undertakes to notify any user whose data is transferred about: (i) the identity of its data controller and of its representative, if any; (ii) the purposes of the processing for which the data is intended; (iii) the recipients or categories of recipients of the data; (iv) whether completing a form is obligatory or voluntary, as well as the possible consequences of failure to complete; (v) the existence of the right of access to and the right to rectify the data concerning such user; (vi) to whom the data will be transferred; (vii) the purposes of the transfer and that the data may be processed at various countries; (vii) that adequate level of data protection is safeguarded by contractual measures and a brief description of such measures; and (ix) the affirmative consent of the user to the transfer of such user’s data.</p>
        <p>(f) Publisher represents and warrants that: (i) it has all appropriate authority to operate, and the authority to any and all content on the Publisher’s website(s); (ii) it has all appropriate authority in any promotional method the Publisher may choose to use; (iii) Publisher’s website(s) and Publisher’s promotional methods do not and will not infringe a third party’s proprietary rights; and (iv) it shall remain solely responsible for any and all websites owned and/or operated by the Publisher and all of the Publisher’s promotional methods.</p>

        <h5>11. NO WARRANTIES</h5>
        <p>EXCEPT AS EXPRESSLY SET FORTH IN THIS AGREEMENT THE SERVICE IS PROVIDED “AS IS” WITHOUT WARRANTIES, AND NO PROBLEM HEREBY DISCLAIMS ALL WARRANTIES, EXPRESSED, IMPLIED OR STATUTORY, WITH REGARD TO THE SERVICE, INCLUDING BUT NOT LIMITED TO ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT, LEGITIMACY OF TRAFFIC.</p>

        <h5>12. LIMITATION OF LIABILITY</h5>
        <p>IN NO EVENT WILL NO PROBLEM BE LIABLE TO LICENSEE OR ANY THIRD PARTY FOR ANY DAMAGES ARISING OUT OF THE SUBJECT MATTER OF THIS AGREEMENT, THE PRODUCT OR ANY SERVICES UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY, FOR ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST PROFITS), OR FOR LOSS OR CORRUPTION OF DATA, OR FOR COST OF PROCUREMENT OF SUBSTITUTE GOODS OR TECHNOLOGY, IRRESPECTIVE OF WHETHER NO PROBLEM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. EXCEPT AS EXPRESSLY PROVIDED IN THE PARAGRAPH DESCRIBING SERVICES PROVIDED TO ADVERTISERS, NO PROBLEM’S LIABILITY TO PUBLISHERS OR ANY THIRD PARTIES IN ANY AND ALL CIRCUMSTANCE IS LIMITED TO THE OUTSTANDING BALANCE DEPOSITED OR ACCRUED AS AN ACTIVE NO PROBLEM MEMBER MINUS TRANSACTION PAYOUTS (I.E. AMOUNTS PAID TO PUBLISHERS FOR TRAFFIC SENT TO AN ADVERTISER) AND NO PROBLEM SERVICE CHARGE(S). THIS LIMITATION OF LIABILITY IS APPLICABLE TO THE FULLEST EXTENT PERMITTED UNDER APPLICABLE LAW No Problem does not endorse or approve or make any inquiry about any products or services offered by an Advertiser or Publisher. Further, No Problem does not investigate or conduct any inquiry as to the legitimacy, financial ability, actual existence or any other matter concerning any Advertiser or Publisher.</p>

        <h5>13. INDEMNIFICATION AND REMEDIES</h5>
        <p>(a) Publisher agrees to indemnify, defend, and hold harmless No Problem and its Advertisers, directors, officers, employees and agents from, for and against any and all liability, claims, costs, expenses, injuries, and losses, including reasonable attorneys’ fees and costs arising directly or indirectly out of any disputes between the Publisher and any other party relating to this Agreement or services provided by No Problem.</p>
        <p>(b) Remedies for Violations. No Problem reserves the right to seek all remedies available at law and in equity for violations of this Agreement, including but not limited to the right to block and/or discontinue the Service.</p>

        <h5>14. MISCELLANEOUS</h5>
        <p>(a) Applicability – This Agreement, including all attachments which are incorporated herein by reference, constitutes the entire agreement between the parties with respect to the subject matter hereof, and supersedes and replaces all prior and contemporaneous understandings or agreements, written or oral, regarding such subject matter. Applicable sections shall survive expiration or early termination of this Agreement. Neither party shall be liable to the other for delays or failures in performance resulting from causes beyond the reasonable control of that party, including, but not limited to, acts of God, labor disputes or disturbances, material shortages or rationing, riots, acts of war, governmental regulations, communication or utility failures, or casualties. Failure by either party to enforce any provision of this Agreement shall not be deemed a waiver of future enforcement of that or any other provision. No Problem reserves the right to make changes to this Agreement and/or amend the No Problem service as needed, at any time, and any such change or amendment shall take effect on the date specified in the amendment and any accompanying notification. The Publisher is responsible for checking back frequently for any revisions. If for any reason a court of competent jurisdiction finds any provision of this Agreement to be unenforceable, that provision of the Agreement shall be enforced to the maximum extent permissible so as to affect the intent of the parties, and the remainder of this Agreement shall continue in full force and effect. Headings used in this Agreement are for ease of reference only and shall not be used to interpret any aspect of this Agreement. In addition to terms that are negotiated and documented separately from this Agreement, terms that are automatically generated through the interactive use of the No Problem website Advertiser interface are explicitly bound by this Agreement.</p>
        <p>(b) Notices – Except as provided elsewhere herein, both parties must send all notices relating to this Agreement in writing via overnight mail or facsimile: (i) to No Problem at 10 Zarchin St, Ra'anana P.O. Box 2421, Israel and/or via facsimile to +972-9-740-3500 and, (ii) to Publisher, at the address or facsimile number listed on the Publisher Account. Notices shall be effective upon a facsimile confirmation, the notified party’s actual receipt (or refusal to accept to receipt, if applicable), or five (5) days after the date of mailing.</p>
        <p>(c) Relationship of the Parties – Publisher and No Problem are independent contractors, and nothing in this Agreement will create any joint venture, agency, franchise, sales representative, or employment relationship between the parties. Publisher has no authority to make or accept any offers or representations on behalf of No Problem. Publisher will not make any statement, on its website or otherwise, that reasonably would contradict anything in this section.</p>

        <h5>15. Governing Law</h5>
        <p>If any dispute arising in connection with the performance of this Agreement shall not be amicably resolved, such dispute shall be solely and finally settled as follows:</p>
        <p>(a) US Residents: Disputes with US residents shall be governed by and be construed according to the laws of the State of New York, without regard to the conflict of laws provisions thereto. Any dispute arising under or in relation to this Agreement shall be exclusively resolved in the competent court in New York City. EACH PARTY HEREBY IRREVOCABLY WAIVES, TO THE FULLEST LAWFUL EXTENT, ALL RIGHT TO TRIAL BY JURY IN ANY PROCEEDING RELATING TO THIS AGREEMENT, THE NOTES OR THE TRANSACTIONS THEY CONTEMPLATE.</p>
        <p>(b) EU Residents: This Agreement shall be exclusively governed by the laws of England, without reference to conflict of laws principles. Without derogating from the No Problem’s right to seek injunctive relief in any jurisdiction it may deem proper, both parties agree that all disputes between the parties in connection with or arising out of the existence, validity, construction, performance and termination of this Agreement (or any terms thereof), which the parties are unable to amicably resolve between themselves within 30 days, shall be referred to arbitration in London in accordance with the Rules of Conciliation and Arbitration of the International Chamber of Commerce by one arbitrator appointed in accordance with the said rules. Said arbitration shall be conducted in English and the arbitrator shall be obligated to reason his/her decisions.</p>
        <p>(c) All other Jurisdictions: Disputes with Customers which are not residents of the US or EU, shall be governed by and be construed according to the laws of the State of Israel, without regard to the conflict of laws provisions thereto. Any dispute arising under or in relation to this Agreement shall be exclusively resolved in the competent court of Tel-Aviv.</p>

        <h5>16. Service Modifications/Changes</h5>
        <p>No Problem reserves the right to make changes to this Agreement and/or amend the No Problem service as needed, at any time, and any such change or amendment shall take effect on the date specified in the amendment and any accompanying notification. You are responsible for keeping updated with any amendments to this Agreement. In the event a Publisher disagrees with the proposed modification, such Publisher may terminate its activity in accordance with the terms set forth herein.</p>

    </div>
</div>
</asp:Content>

