﻿body 
{
    
    font-family: Verdana, Arial, Sans-Serif;
    margin:0 auto;
    color:#000;
}

hr 
{
    
   
    height: 0px !important;
    border-bottom-style: none;
  
}

.clear
{
    clear:both;
}

/***********************  iframe *******************/
body.iframe
{
    background-color:white;    
    font-size:12px;
}

.iframe .left {
    background-image: url("images/line.gif");
    background-position: right 11%;
    background-repeat: no-repeat;
    height: 321px;
    /*margin-left: 20px;*/
    padding-left:16px;
    width: 352px;
    float:left;
    background-size: 7px auto;
}

.iframe .left .title
{
    padding-top:14px;
}

.iframe .left .title .text
{
    font-weight:600;
    float:left;
    font-size:12px;    
    font-weight:600;
    
}


.iframe .left .msgTextArea
{
    padding-top: 8px;
}

.iframe .left .error
{
    color:Red;
    display:none;
    font-weight:bold;
}

.iframe .left .categoryLocation
{
    padding-top: 21px;
}

.iframe .left .categoryLocation .text
{
    float:left;
    color:#000000;
    padding-right: 11px;
}

.iframe .left .categoryLocation .text .location
{
    padding-left:20px;
}

.iframe .left .categoryLocation .zipcode
{    
    color:#4F66CC;    
    margin-top: -11px;
}

.iframe .left .numSuppliers
{
    padding-top: 13px;
}

.iframe .left .numSuppliers .text
{
    float:left;
}

/*
.iframe .left .numSuppliers .call {
    float: right;
    margin-top: -7px;
    padding-right: 18px;
}
*/

.iframe .left .phone {
    background-image: url("images/mobile-phone.jpg");
    background-position: left 2px;
    background-repeat: no-repeat;
    height: 30px;
    margin-top: 12px;
    width: 350px;
}

.iframe .left .phone .phoneObj
{    
    float:left;
    margin-left: 24px;
    margin-right: 8px;
}

.iframe .left .phone .phoneText {
    color: #666666;
    font-size: 11px;
    margin-left: 35px;
    padding-top: 1px;
}

.iframe .left .phone .phoneText .wontShare
{
   color:#910000;
   font-weight:600; 
}

.iframe .left .phone .phoneText .wontShare a
{
   color:#4f66cc;
   font-weight:600;
   text-decoration:none; 
}
.iframe .left .phone .phoneText .wontShare a:hover
{
   color:#cccccc;
 
}
.iframe .left .call
{
    margin-top: 12px;    
}

.iframe .left .call .submit
{
    background-image:url('images/button.gif');
    background-color: #ffffff;
    background-repeat: no-repeat;
   
    width:343px;
    height:33px;
    border:0px;
    color: #ffffff;
    font-weight: bold;
    font-family: Arial Black, Arial, Verdana, Sans-Serif;
    font-size: 19px;  
   
}


.iframe .left .call .submit:hover
{
    background-image:url('images/button-hover.gif');
}



.iframe .left .ring
{
    /*background-color:#FFFF99;*/
    background-color:#fff;
    width:100%;
    height:100%;
    border-right: 1px solid #CCCCCC;
    padding-top:10px;
}

.iframe .left .ring .wait .callFrom
{
    font-size: 13px;
    margin: 4px auto;
    text-align: center;
}



.iframe .left .ring .wait .image {
    height: 80px;
    margin: 0px auto 8px;    
    width: 105px;
}

.iframe .left .ring .wait .text {
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    width: 330px;
}

.iframe .left .ring .wait .text .text1
{
    
}

.iframe .left .ring .wait .text .text2
{
    padding-top:0px;
}

.iframe .left .ring .wait .text .text3
{
    font-size: 12px;
    font-weight: 600;
    padding-top: 22px;
}

.iframe .left .ring .wait .text .text4
{
    font-size: 9px;
    font-weight: 500;
    padding-top: 0px;
}

.iframe .left .ring .connect .image {
    height: 81px;
    margin: 0 auto;
    padding-top: 56px;
    width: 86px;
}

.iframe .left .ring .connect .text {
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    padding-top: 10px;
    width: 158px;
}

.iframe .left .leftComplete
{
    
}

.iframe .left .leftComplete .content {
    font-size: 12px;
    font-weight:600;
    padding-top: 13px;
}

.iframe .left .leftComplete .content .text
{
    width:250px;
    float:left;
}

.iframe .left .leftComplete .content .facebook
{
    float:right;
    margin-right:12px;
}

.iframe .left .leftComplete .links {
    background-color: #FCFBAC;
    margin: 58px 0 0;
    padding-left: 9px;
    padding-top: 7px;
    width: 323px;
    height:88px;
}

.iframe .left .leftComplete .links .linksTitle
{
    font-weight:600;
}

.iframe .left .leftComplete .links .linksContent
{
    margin-top:6px;
}

.iframe .left .leftComplete .links .linksContent .expertise
{
    float:left;
    width:102px;
    margin-bottom:10px;
}


.iframe .left .leftComplete .links .linksContent .expertise A{
   color:#4f66cc;
   font-weight:500;
   text-decoration:none;    
}


.iframe .right
{
    /*width:262px;*/
    height: 321px;
    display: inline-block;
    padding-left:27px;
    width: 210px;
    
}

.iframe .right .rightExplanation
{
    margin-left: -10px;
}

.iframe .right .title
{
    padding-top:14px;
    margin-bottom: 0px;
    font-size:12px;
    font-weight:600;    
}

.iframe .right .title .text
{
    font-weight:600;    
}

.iframe .right .details {
    color: #999999;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 206px;
    /*padding-bottom:10px;*/
}

.iframe .right .details .ulList {
    color: #000;
    font-size: 12px;
    padding-left: 14px;
}

.iframe .right .details .footer
{
    position:relative;
}

.iframe .right .details .footer .linkFooter
{
    position:absolute;
    left:0px;
    top:-2px;
}


.iframe .right .details .footer .linkFooter A
{
    color: #4F66CC;
    font-weight: 600;
    text-decoration: none;
    font-size: 10px;
}

.iframe .right .details .liList
{
    padding-bottom:10px;
}

.iframe .right .details .footer .logoFooter
{
    position:absolute;
    right:0px;
    top:0px;
}

.iframe .right .details .liList .liMarker {
    background-color: #000;
    color: white;
    font-weight: 600;   
    padding-left: 4px;
    width: 118px;
}

.iframe .right .hr
{
   color: #FFFFFF;
}


.iframe .right .details .phone
{
    display:inline;
    width:98px;
    float:right;
}



.iframe .right .details .name
{
    float:left;
    width:200px;
}

.iframe .right .details .preName
{    
    width:200px;
}

.iframe .right .details .mode
{    
    width:200px;
}

.iframe .right .details .initiated
{
    color:#000 !important;
    font-weight:600;
}

.iframe .right .details .succeed
{
    color:#000 !important;    
}

.iframe .right .details .address {
    float: left;
    padding-top: 3px;
    width:200px;
}


.iframe .right .details .arrow {
    float: left;
    margin-left: -20px;
}


.iframe .messages
{
    margin: 0 auto;    
}

.iframe .messages .finding {
   margin: 50px auto;
   text-align: center;
   width: 600px;
}

.iframe .messages .finding .clock 
{
  color: #000000;   
}

.iframe .messages .finding .clock .clockIndex
{
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    font-family:Arial Black, Verdana, Sans-Serif;
}

.iframe .messages .finding .clock .clockText
{
    font-size:19px;
}


.iframe .messages .finding .title {
    font-size: 18px;    
    margin: 0 auto;
    width: 100%;
}

.iframe .messages .finding .content {
    font-size: 18px;
    margin: 15px auto 0;
    width: 454px;
}


.iframe .messages .finding .anim {
    margin: 23px auto 0;
    width: 220px;
}

.iframe .messages .error {
   margin: 50px auto;
   text-align: center;
   width: 600px;
}

.iframe .messages .error .title {
    font-size: 18px;    
    margin: 0 auto;
    width: 600px;
}

.iframe .waterMarkMessage
{
    font-family: verdana,Arial;
    font-size: 12px;    
    width: 334px; 
    overflow-y:auto;  
    resize:none;
    height:38px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-width:1px;
    border-style:solid;
    border-color: #CCCCCC;
    color:#999999;
    line-height: 19px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-top: 3px;
    resize: none;
    width: 325px;
    
    
    
    
    
}

.iframe .waterMarkPhone
{
    font-family: verdana,Arial;
    font-size: 12px;    
    width: 112px;    
    height:23px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-width:1px;
    border-style:solid;
    border-color: #CCCCCC;
    color:#999999;
    text-align: center;
    margin-top: 3px;
    text-align: left;
    padding-LEFT: 5px;
    
}

.iframe .waterMarkZipCode
{
    font-family: verdana,Arial;
    font-size: 12px;    
    width: 56px;    
    height:23px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border-width:1px;
    border-style:solid;
    border-color: #CCCCCC;
    color:#999999;
    text-align: center;
    margin-top: 3px;     
    
}