/*
Theme Name: No Problem
Theme URI: http://wordpress.org/
Description:
Author: Alexander Yudaev
Version: 1.0
*/

/* ================== Font Faces ============== */

body {  
    margin: 0 auto;  
    width:100%;
    font-family: proxima-nova, Arial, Sans-serif ;
    font-style: normal;
    font-weight: 400;  
    font-size: 15px;
	  color: #333333;
	  line-height:20px; 
}  
  
h2 {  
    font-size: 28px;  
    line-height: 44px;  
    padding: 22px 0;  
}  
  
h3, h3 a, h3 a:visited{  
	color: #89e1fe;
  font-size: 24px;
  font-family: ff-meta-web-pro, sans-serif, Arial, Sans-serif;
  font-style: normal;
  font-weight: 700;
	padding-bottom: 3px;
  text-decoration:none;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;  
}   
.moregetwidget a:hover, .more a:hover , h3 a:hover{  
	color: #ccc;
} 

  
.clear{
	clear:both;  
}

.clearfix:after		{ content: ".";	display: block;	clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix			{ display: inline-block; } 
.clearfix2			{ display: inline-block; float: left; } 
html[xmlns] .clearfix {	display: block; } 
* html .clearfix
{
	
	height: 1%;
}

.right {
  float: right;
} 
#wrapper{
	width:100%;	
}	
 
.iframe {
   position: absolute;
    right: -10px;
    top: 39px;
    width: 78px;
    z-index:1;
}

a:hover {
color: #cccccc;
}

.radioButton label
{
    padding-left:10px;
    font-weight:400;
    
}

/* Header Area */

#homeheader {
  width: 100%;
  background: #BFDD63;/*#7fdbf0  url(images/homeheader.png) no-repeat 50% 100% */
}
#homeheader.pre
{
	width: 100%;
  background: #7fdbf0  url(images/homeheader.png) no-repeat 50% 100%;
}
#homeheader.pubheader 
{
  width: 100%;
  background: #ffa337 url(images/pubsheader.png) no-repeat 50% 100%;
}  
#homeheader.advheader {
  width: 100%;
  background: #BFDD63 url(images/advheader.png) no-repeat 50% 100%;
} 
#homeheader.login {
  width: 100%;
  background-color: #BFDD63;
} 
#homeheader.privacy {
  width: 100%;
  background-color: #bdb601;
} 

#homeheader.partnerheader {
  width: 100%;
  background: #FCC6D6 url(images/partnersheader.png) no-repeat 50% 100%;
}
/*
 #homeheader.subnav {   
     margin: 0 auto 40px;  
        width: 100%;  
	}

*/
#homeheader.headerau {
	background: #52baf9;
}

#homeheader.advreg {
  width: 100%;
  background: #BFDD63;
}  
#headeradv {
	/*background: #bfdd63;*/
}

#headerho {
/*	background: #7fdbf0;*/
}

#headerpub {
	background: #dec7cf;
}
.hiddenPic 
{
    display:none;
    }

.logo{
	background: url(images/logo.png) no-repeat 0 0;	
	float:left;
	margin: 40px 0 88px;
	height: 56px;
	width: 250px;
	clear:both; 
}
a.logo:hover {
	background-position: 0px -56px;
	
}

.frontpage h1, .adv h1, .partners h1, .publisher h1, .aboutus h1 {
	float:left;
	color: #fff;
	font-size: 52px;
	margin-top:7px;
	width: 800px;
  font-family: ff-meta-web-pro,sans-serif, Arial, Sans-serif;
  font-style: normal;
  font-weight: 700;
	line-height: 50px;
	
}
	
	.frontpage, .adv, .partners, .aboutus, .publisher {
		height: 318px;
		margin:0 auto 0 auto;
		width: 960px;
		position:relative;
		padding-top:5px;
	}
	.frontpageAdv {
		height: 318px;
		margin:5px auto 0 auto;
		width: 960px;
		position:relative;
	}
	
	.publisher {
		background: #dec7cf /*url(images/publisher.jpg) no-repeat 100% 100%*/;	
	}		
	.aboutus {
		background: #52baf9 url(images/aboutus.html) no-repeat 100% 100%;	
	}	
	/*.frontpage {
		background: #7fdbf0 url(images/homeheader.png) no-repeat 100% 100%;	
	}                                                                    */



	 #subnav {   
 /*    margin: 0 auto 40px;  */
	    margin-top:-1px;
        width: 100%;  
	}
	#subnavpartners{   
	 margin: -16px auto 120px;  
        width: 100%;  
	
	}
	
	#subnavpartners ul, #subnav ul {  
    margin: 8px auto;  
    width: 960px;  
    list-style: none;  
	}  
	
	#subnavpartners ul li, #subnav ul li {
		float:left;
	}
	
	#subnavpartners ul li a, #subnav ul li a {
  font-size: 17px;
  text-decoration: none;
  text-transform:uppercase;
  padding: 8px 12px;
  margin: 1px;
	}
#subnavpartners ul li a.active, #subnav ul li a.active {
	-moz-border-radius-bottomright: 10px;
  	-moz-border-radius-bottomleft: 10px;
  	border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
  	font-size: 17px;
  	text-decoration: none;
  	text-transform:uppercase;
  	color: #fff;
  	margin: 1px;
	}

  #subnavpartners ul li a:hover, #subnav ul li a:hover {
   color:#aaa;
}
#subnav ul li a {
  color: #52baf9;	
}

#subnav ul li a.active {
  background: #52baf9;	
}

#subnavpartners ul li a {
  color: #fcc6d6;
}
#subnavpartners ul li a.active {
	background: #fcc6d6;
}


/* Main Content */
#homemain {
  width: 100%;
	background: url(images/homepagebottom.png) no-repeat 50% 0;   
}


#wrapau, #wrapadv, #wrapho, #wrappub, #wrappar {
	margin: 0 auto;
	width: 960px;
	padding-top: 15px;
	min-height: 500px;
}	

#wrapadv {
	min-height: 900px;
}


/* Footer Area */


#footer {
	width:100%;
	background:url(images/footerpx.png) repeat-x 0 0; 
}
.footerbg {
	width:100%;
	background: #cbcbcb url(images/footer.png) no-repeat 50% 100%; 
}

#footer a:hover {
    color: #666666;
}
 
 #footer2 {
    margin: 200px auto 0 auto;    
  	width: 960px;
 }

#innerfooter {
  margin: 0 auto;    
	width: 980px;
	padding: 20px 0;
	height: 200px;
	line-height: 17px;
	
}




 .-plus {
    width: 160px !important;
}



/*#footerboottom {
	margin: 0 auto; 
	width: 960px;
	height: 189px;
} */

.widgetabout, .widgetpublishers, .widgetadvertisers {
	float: left;
	width: 140px;
	margin: 0 5px;	
}

.widgetpartners {
	float: left;
	width: 140px;
	margin: 0 10px 0 43px;	
}

.widgetblog {
	float: left;
	width: 140px;
	
}


.facebook, .twitter {
	height:30px;
	width:25px;
	float:left;
	padding-right: 10px;
	margin-top: 5px;
}

.twitter a {
	height:21px;
	width:31px;	display: block;
	background: url("images/twitter.png") no-repeat scroll 0 -21px transparent;/*background: url(images/twitter.png) no-repeat 0% 0%; */
}

.twitter a:hover 
{
    background: url(images/twitter.png) no-repeat 0% 0%;
/*	background-position: 0px -21px;*/
}

.facebook a {
	height:21px;
	width:29px;
	display: block;
	background: url(images/facebook.png) no-repeat 0px -21px; 
	
}
.facebook a:hover {
	background-position: -2px 0;
}


.youtube {
	height:30px;
	width:51px;
	float:left;
	padding-left: 8px;
	margin-top: 5px;
}

.youtube a {
	height:21px;
	width:52px;
	display: block;
	background: url("images/youTube.png") no-repeat scroll 0 -21px transparent;
	
}
.youtube a:hover {
	background: url(images/youTube.png) no-repeat 0 0%; 
}


h3.widgettitle a
{
    font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:uppercase;
    color:#ffffff;
    font-size: 15px;
    text-decoration: none;
     -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    
 }
 
.widgetabout li a, .widgetpublishers li a, .widgetadvertisers li a, .widgetpartners li a, .widgetblog li a{
	   color: #ffffff;
	  text-decoration: none;
	  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: 17px;
     -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

     
.fgt {
	width: 210px;
	float: right;
	display: none;
}
.fgt a {
	height: 23px;
	width: 205px;
	display: block;
	background: url(images/fgt.png) no-repeat 0 0%;
	display: none;    
}

 .subtext, .reg_subtext, .subtext_about, .subtext_partners{
 	font-family: ff-meta-web-pro, Arial, Sans-serif;  
 	font-size: 24px;
 	line-height: 30px;
 	padding-right: 60px;
 	color:#aaaaaa;
	width:600px;
	height: 200px; 
	
	
 }
 
 .subtext_partners {
	width : 800px;
	margin-top: 30px;
	height: 150px;
}
 
  .subtext_about {
 width: 800px;
 	height: 80px; 
 	
 	margin-top:25px;
 }
 
 .subtextDark
 {
     color:#333333;
 }
 
 .subclass {
  color:#333;
 }
 
 .reg_subtext {
 background: url(images/30.png) no-repeat 100% 57%;
 }
 
 .copyright {
  text-align: center;
  padding-top: 30px;
  color: #cccccc;
 	font-family: ff-meta-web-pro, Arial, Sans-serif; 
  font-size: 12px;    
 }

 /* ================== Homepage Page ShortCodes ================== */

.boxhomeadvertiser {
  margin-top: 100px;
	width: 520px;
	float: left;
}

.boxhomepublisher {
  margin-top: 100px;
	width: 380px;
	float: left;
}
.boxpartnerstext{
	width: 600px;
	float: left;
}

 .bhtext {
	width: 350px;
	float: left;
}


 .freetrial a {
  display: block;
	background: url(images/free-trial-30.png) no-repeat 0 0%;
	width:  410px;
	margin-left: -2px;
	height:136px;
}
 .freetrial a:hover {
	background-position: 0px -134px;
}


 .getwidget a {
  display: block;
	background: url(images/get-widget.png) no-repeat 0% 20px;
	width:  326px;
	height:137px;
}
 .getwidget a:hover {
	background-position: 0px -117px;
	
}

.getwidget h5,  .freetrial h5, .advfree h5 {
	font-size: 40px;
	font-family: MetaBold-Roman , verdana, helvetica, sans-serif, Arial, Sans-serif; 
	color: #fff;	
	padding:60px 50px;
}


.boxhomepublisher h3, .boxhomeadvertiser h3 {
	color: #89e1fe;
}
.boxhomepublisher h3 a:hover {
	color:#ccc;
}

.homepagevideo {
   margin: 18px 0 0 -19px ; 
   display: block;
   width: 246px;
   height: 91px;
   background: url(images/homemovie.png) no-repeat 0 0;
}

 .more {
  margin-top: -14px;
	width: 175px;
	text-align: center;
}

.moregetwidget {
  margin-top: -14px;
	width: 185px;
	text-align: center;
}
.moregetwidget a, .more a {
	font-weight: bold;
	color: #89e1fe;
	text-decoration: none;
}
/* ======================  SLIDER ========================== */
/* Old icons */
.icons {
	background: url(images/icons.png) no-repeat -100px 0%;
	height: 243px;
	margin: 60px 0;
	
}
/*******/
#Icons_container
{
	position: relative;
}
#Icons_container .icons1 
{
	
	
	background: url(images/slider/logos01.gif);
	background-repeat: no-repeat;
	background-position:center top;
	
	height: 49px;
	margin: 60px 0;
	
}
#Icons_container .icons1:hover {
	background: url(images/slider/logos01.gif) no-repeat;/* 0% -50px;*/
	background-position:center bottom;
	height: 49px;
	margin: 60px 0;
	
}
#Icons_container .icons2 {
	background: url(images/slider/logos02.gif) no-repeat;
	background-position:center top;
	
	height: 67px;
	margin: 60px 0;
	
}
#Icons_container .icons2:hover {
	background: url(images/slider/logos02.gif) no-repeat;/* 0% -67px;*/
	background-position:center bottom;
	height: 67px;
	margin: 60px 0;
	
}
#Icons_container A.bx-prev
{
	background: url(images/slider/arrow-l.png) no-repeat;
	position: absolute;
	top: 78px;
	left: 0;
	width: 30px;
	height: 86px;
	text-indent: -999999px;
}
#Icons_container A.bx-prev:hover
{
	background: url(images/slider/arrow-l-hover.png) no-repeat;
}
#Icons_container A.bx-next
{
	background: url(images/slider/arrow-r.png) no-repeat;
	position: absolute;
	top: 78px;
	left: 900px;
	width: 30px;
	height: 86px;
	text-indent: -999999px;
}
#Icons_container A.bx-next:hover
{
	background: url(images/slider/arrow-r-hover.png) no-repeat;
}

#Icons_container ._slider
{
	background:  url(images/slider/top-border.gif), url(images/slider/bottom-border.gif);
	background-repeat: no-repeat;
	background-position:center top, center bottom;
	margin-top: 60px;
}
#Icons_container .icons1 SPAN, .icons2 SPAN
{
	top:135px;
	position:absolute;
}
#Icons_container ._partners
{
	top:10px;
	left:375px;
	position:absolute;
}


 /* ================== Partners Page ShortCodes ================== */



.partnersReadMore {
	color: #BC6781;
	text-decoration: none;
}

#partnerheader {
  width: 100%;
  background: #FCC6D6 url(images/partnersheader.png) no-repeat 50% 100%;
}

#partnermain {
  width: 100%;
  background: url(images/partnersmain.png) no-repeat 50% 0%;
}

.boxpartner h3 {
	color: #bc6781;
	font-size: 24px;
	font-family: MetaBold-Roman , , Arial, Sans-serif; 
	padding-bottom: 5px; 
	margin-top: 50px;
}
.boxpartner h3 a {
	color: #bc6781;	
}
.boxpartner h3 a:hover {
	color: #ccc;
}

.boxpartner{
	width: 300px;
	float: left;
  margin-right: 50px;  
}
 
 
.pmore a {
	color: #bc6781;
	text-decoration: none;
	margin-top: 0;
	width: 175px;
	text-align: center;
}

.factspartners {
	height : 100px;
	width : 960px;
	margin : 60px 0 0;
}

  .partnersfactsblock01 {
  margin-top: 10px;
  height: 100px;
  width:400px;
  float: left;
  }
  .partnersfactsblock02 {
  margin-top: 10px;
  height: 100px;
  width:550px;
  float: left;
   	
  }
  
  .partnersfactsblock03 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80px;
  width:350px;
  float:right;
  }

.partnersfactsblock04 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80px;
  width:540px;
  float:right;
  }  
 
   .marletingfactsblock01 {
  margin-top: 10px;
  height: 100px;
  width:360px;
  float: left;
  }
  .marletingfactsblock02 {
  margin-top: 10px;
  height: 100px;
  width:600px;
  float: left;
   	
  }
  
  .marletingfactsblock03 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80px;
  width:350px;
  float:right;
  }

.marletingfactsblock04 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80px;
  width:570px;
  float:right;
  } 
.letstalk {
	color : #bc6781;	
}

.letstalk a{
	color : #bc6781;	
	text-decoration:none;
}
.letstalk a:hover{
color: #333333;
}



a.contact_us {
	display:block;
	width:130px;
	height: 30px;
	background: url(images/contact_us.png) no-repeat 0 0;
	margin-top: 40px;
}
a.contact_us:hover {
background-position: 0px -30px;
}


 /* ================== Advertising Page ShortCodes ================== */

 #advheader {
  width: 100%;
  background: #BFDD63 url(images/advheader.png) no-repeat 50% 100%;
} 

 
 #advreg {
  width: 100%;
  background: #BFDD63;
}  

	/*.adv {
		background: #bfdd63 url(images/advhome.png) no-repeat 101% 100%;		
	}	*/
#advmain {
	width: 100%;
	background-image: url(images/advwrap.gif);
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.advwp {
	background: url(images/advwrap.png) no-repeat 0 0;
	min-height: 1000px;
}

.singup {
	margin-top: 210px;
	width: 800px;	
}

.singup p {
	width: 407px;
  float: left;

}
.singup p a, .regnav a {
	color: #8ebb03;
	text-decoration: none;
	padding-top: 30px;
}

 .advfree {
	/*background: url(images/freetrial.png) no-repeat 0 0%;*/
	height:136px;
	width: 417px;
	margin-left: 470px;
}

 .advfree a {
  display: block;
	background: url(images/free-trial-30.png) no-repeat 0 0%;
	width:  410px;
	margin-left: -80px;
  margin-top: -70px;
	height:137px;
}
 .advfree a:hover {
	background-position: 0px -134px;
}

.facts {
	width: 600px;
	padding: 60px 0;
}

.facts h4 {
     margin-top: 10px;
}

.factspublisher h4, .factspartners h4 {
     margin-top: 5px;
}

.advbg4 {
	background-color: #bfdd63;
  font-family:  proxima-nova,sans-serif;;
  font-style: normal;
  font-weight: 400;
	color: #fff;
	text-transform:uppercase;
	font-size:30px;	
}

.sloganadv, .slogan, .sloganabout,  .slogansmallpublisher,  .sloganpublisher, .smalltextpartnersright, .sloganpartners{
    color: #FFFFFF;
    font-family:  proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px; 
    padding: 0 5px;
    text-transform: uppercase;
}
.sloganpublisherleft,  .smalltextpublisherright, .slogansmallpublisher,  .sloganpublisher {
 background: #ffa337;
}

.smalltextpartnersright, .sloganpartners, .slogansmallpartners, .sloganpartnersleft{
	background: #fcc6d6;
}
.smalltextpartnersright, .slogansmallpartners {
	margin-left: 30px;
}

.smalltextaboutright, .smalltextpublisherright  {
    color: #FFFFFF;
    font-family:  proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px; 
    padding: 0 5px;
    text-transform: uppercase;
    margin-left: 45px;
}
.sloganadvsmall, .slogansmall, .slogansmallpublisher, .slogansmallabout, .slogansmallpublisher {
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 45px;
    padding: 2px 5px;
}

.sloganaboutleft, .smalltextpublisherleft, .sloganpublisherleft, .sloganpartnersleft, .slogansmallpartners{
    color: #FFFFFF;
    font-size: 18px;
    padding: 2px 5px;
}

.sloganadv, .sloganadvsmall {
    background-color:#BFDD63;
}

.slogan, .sloganabout, sloganaboutleft {
    background-color: #BFDD63;
    }
.smalltextaboutright, .sloganaboutleft, .sloganabout, .slogansmallabout {
	background-color: #52BAF9;
}


.advbgp {
	background-color: #bfdd63;
	color: #fff;
	font-size:18px;	
	margin-left: 45px; 
	
}

.boxadv {
	width: 30%;
	float: left;
	padding-right: 3%;
	margin-top: 40px;
}

.boxadv h3 {
	color: #8ebb03;
}
.boxcontent {
	height: 90px;
	width: 260px;
}
.fullvideo {
}

.boxfreetrial {
	font-size:18px;
	color:#fff;
	width: 140px;
	height: 0;
	padding: 5px 30px 30px;
} 
.boxfreetrial a{
	background: url(images/free-trial.png) no-repeat 0 0;
  display:block;
  width:140px;
  height: 29px;
  margin: 0 0 0 -30px;
}
.boxfreetrial a:hover{
	background-position: 0px -29px;
}

#phone img {
margin-top: 16px;
}

.boxleft {
	width : 550px;
	float : left;
	padding-right : 1%;
	margin-top : 65px;
}

.boxleftpublisher, .boxleft h5 {
	font-weight: bold;
	margin: 14px 0 3px;
}

.boxright {
	width: 33%;
	float: right;
	padding-right: 1%;	
  	margin-top: 65px;	
}

.boxleftpublisher {
	width : 550px;
	float : left;
	padding-right : 1%;
	margin-top : 50px;
}

.boxrightpublisher {
	width: 33%;
	float: right;
	padding-right: 1%;	
  	margin-top: 50px;	
}

.advvideo {
	background: url(images/video.png) no-repeat 0 0%;
	width: 300px;
	height: 170px;
}
.adv01orange, .adv02orange, .adv03orange, .adv01, .adv02, .adv03, .adv01pink, .adv02pink, .adv03pink {
	width: 205px;
	height: 80px;
	padding-left: 65px;
	padding-top: 10px;
	
	
}
.adv01orange, .adv02orange, .adv03orange{
	padding: 20px 65px 20px 65px;
	height: 40px;
}


.adv01orange{
	background: url(images/1orange.png) no-repeat 0px 10px;	
}

.adv02orange{
	background: url(images/2orange.png) no-repeat 0px 10px;	
}
.adv03orange{
	padding: 30px 65px 20px 65px;
  background: url(images/3orange.png) no-repeat 0px 10px;
  font-weight:bold;	
}

.adv01 {
	background: url(images/adv01.png) no-repeat -3px 10px;	
}

.adv02 {
	background: url(images/adv02.png) no-repeat -3px 10px;	
}

.adv03 {
	background: url(images/adv03.png) no-repeat -3px 10px;
}

.adv01pink{
background: url(images/1pink.png) no-repeat 0px 10px;	
}

.adv02pink {
background: url(images/2pink.png) no-repeat 0px 10px;	
}
.adv03pink {
background: url(images/3pink.png) no-repeat 0px 10px;	
}


.qa {
	margin: 20px 0 80px;
}
.aq {
	color: #333333;
	margin-top:10px;
}

.answer {	
	margin-left: 17px;	
}

.question {
	font-weight: bold;
	color: #8ebb03;
}
.questionorange 
{
    margin-top:14px;
	font-weight: bold;
	color: #FFA337;
}
  /* ===================== Publisher Pages ============================= */
  
.factspublisher {
	height: 200px;
  width: 850px;
	margin: 60px 0 0;
}

  .factsblock01, .factsblock02{
  margin-top: 10px;
  height: 100px;
  width:400px;
  float: left;
  line-height:27px;
  }
  
  .factsblock03{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width:300px;
  float:right;
  }

.factsblock04 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  width:350px;
  float:right;
  }  
  .publisherslist {
  margin-top: 60px;
  }
  .publisherslist h3 {
  color:   #ffa337;
  }

  .publisherleft {
  height: 180px;
  width: 180px;
  float: left;
  background: url(images/publeft.png) no-repeat 0 0;
  padding: 20px 10px 10px 45px;
  }

  .publisherright {
  height: 180px;
  width: 180px;
  float: left;
  background: url(images/pubright.png) no-repeat 100% 0 ;
  padding: 20px 40px 10px 10px;
  }
  
 .listlocal, .listcontent {
    color: #CCCCCC;
    float: left;
    margin: 76px 10px;
    width: 40px;
}
  
#pubheader {
  width: 100%;
  background: #ffa337 url(images/pubsheader.png) no-repeat 50% 100%;
}  
#pubmain {
  width: 100%;
	background: url(images/pubswrapper.gif) no-repeat 50% 0;   
} 

a.getwidgetpartner{
background: url(images/get-widget-now.png) no-repeat 0 0;
width:273px;
height:58px;
display:block;
margin-top: 20px;
}

a.getwidgetpartner:hover{
background-position: 0px -58px;
}

  /* ===================== Registration Pages ============================= */
  .regtext {
  margin: -20px 0 200px;
  }
  .regnav {
    padding: 10px 0 10px 0;
  }

  .regoform {
  margin-top: 20px;
  /*width: 650px;*/
  }
  /* Forms */
label {
  height: 24px;
  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 15px; 
   }
   
   .rememberCheckbox label
   {
       padding-left: 10px;
       font-weight: 400;
   }
   
.inputform {
  height: 46px;
  margin: 3px 0 15px;
  
} 
 
.inputWizard
{
    width:338px !important;
}
input[type=text], input[type=password] { 
  width: 436px;
  height: 46px;
  border: #91ceec  1px solid;
  background: #f7fcfe;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
  font-weight: 700; 
  font-size: 24px;
  color: #408EB4;    
  padding-left: 10px;
  
  line-height:46px;
  } 
 
   
input[type=text].place-holder, input[type=password].place-holder{ 
  width: 436px;
  height: 46px;
  border: #91ceec  1px solid;
  background: #f7fcfe;
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
  font-style: italic;
  font-weight: 500; 
  font-size: 24px;
  color: #ccc;
  padding-left: 10px;
  }
  
  input[type=text]:hover, input[type=password]:hover {

  -moz-box-shadow: 0 0 5px #91ceec;
  -webkit-box-shadow: 0 0 5px #91ceec;
  box-shadow: 0 0 5px #91ceec;
  
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background: #fff;
	border: #4eb0e0  2px solid;
	-moz-box-shadow: 0 0 10px #91ceec;
  -webkit-box-shadow: 0 0 10px #91ceec;
  box-shadow: 0 0 10px #91ceec;
  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 24px;
  color: #8ebb03;  
}

input[type=text]:onblur, input[type=password]:onblur {
  font-family: proxima-nova,sans-serif, Arial, Sans-serif;
  font-style: normal;
  font-weight: 700; 
  font-size: 24px;
  color: #408eb4; 
}
	
input[type=submit] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
	border: none;
	margin:15px -4px 200px;	
}
.get-sms-onsend, .get-sms-onsend:focus
{
	width: 159px; height: 49px; 
	background: url(images/GET-SMS-clicked.png) no-repeat 0 100%;
	border:none;
}
.get-sms, .get-sms:focus{
	width: 159px; height: 49px; 
	background: url(images/getSMS.png) no-repeat 0 100%;
	border:none;
}


.get-sms:hover {
	background: url(images/getSMS-hover.png) no-repeat 0 100%;
	box-shadow:none;
}
.smscode, .smscode:focus{
	width: 157px; height: 49px; 
	border:none;
	background: url(images/next.png) no-repeat 0 100%;
}
.smscode-onsend, .smscode-onsend:focus
{
	width: 157px; height: 49px; 
	border:none;
	background: url(images/next-clicked.png) no-repeat 0 100%;
}

.smscode:hover {
	background: url(images/next-hover.png) no-repeat 0 100%;
	box-shadow:none;
}
.div_smscode
{
	margin-left:163px;
}


#topmenu {
	height:8px;
  width: 100%;
  position:fixed;
	top: 0;
  background: url(images/menuTopLine.png) repeat-x 0 0;
  z-index: 2;
}
#topmenu .BaseTopmenulinks
{
    margin-left: 1110px;
   
   
    position: relative;
    width: 320px;
}
 #topmenulinks 
 {
      background-color: White;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 2px 2px 1px #666666;
    height: 31px;
    left: 1070px;
/*    margin-left: 629px;*/
    margin-top: 5px;
    position: static;
    top: 5px;
    width: 300px;
    /*
  height:40px;
	width: 566px;
	position:fixed;
	top: 0;
	left:46%;
background:  url(images/menu0bg.png) no-repeat -4px -1px;
	*/
	/*-moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
  
  
  
}

a.topwidget{
  display:block;
  background: url(images/get-pub-widget.png) no-repeat  0 0;
  width:205px;
  height:24px;
  float:right;
  margin:5px 16px 0 0;
  
}
a.topwidget:hover{
  background-position: 0px -26px;
}

#toplinks {
  margin:7px 7px 7px 7px;
  width: 300px;
  float:left;
}

a.toplink 
{
	font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:uppercase;
    color:#666;
    font-size: 14px;
/*    margin-left:3px;*/
    text-decoration: none;
    padding: 3px 8px;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

a.toplinkactive {
    background-color: #333333;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: proxima-nova,sans-serif,Arial,Sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3px;
    padding: 3px 8px;
    text-decoration: none;
    text-transform: uppercase;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


#toplinks a:hover {
    background-color: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
}

    
#toplinks a:active {
  background-color: #eeeeee;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  padding: 3px 8px;
    font-family: proxima-nova,sans-serif, Arial, Sans-serif;
    font-style: normal;
    font-weight: 500;
    text-transform:uppercase;
    color:#666;
    font-size: 14px;
    margin-left:3px;
    text-decoration: none;
    color:#333;
}



.register-table
{
	font-size:15px;
	/*vertical-align:middle;*/
	margin-top:5px;
	
}
.error-msg
{
	color:Red;
	font-size:15px;	
}
.span_email_error
{
	
	color:Red;
	font-size:15px;	
}
.span_email_process
{
	color:Orange;
	font-size:15px;
}
TD.MessageValid
{
	padding-left:5px;
}
 /* ================== About Page ShortCodes ================== */



  #subnav ul li a{

}

a.array {
	background: url(images/arany.png) no-repeat 0 0;
	display:block;
	width:118px;
	height: 100px;
		padding: 55px auto 0;
}
a:hover.array {
	background: url(images/arranycolor.png) no-repeat 0 0;
	display:block;
	width:118px;
	height: 100px;
	padding: 55px auto;
}

.aboustext {
width: 910px;

}   

.aboutmanagmentleft{
  width: 350px;
  float:left;
  margin-left:0px;
}

.aboutmanagmentright{
  width: 350px;
  float:right;
  margin-right: 100px;
}

.aboutmanagmentleft h5, .aboutmanagmentright h5{
    font-weight: 700; 
}

/* ============== widget code ============*/

#wrapperWizard{
	width:100%;
	background-color:#333333;
	position:relative;
	 height: 303px;
}	

.wizard {
    
   
    margin: 0 auto;
    width: 960px;
    position: relative;
    top: 5px;
}

.wizard h1 {
	float:left;
	color: #9fc900;
	font-size: 52px;
	margin-top:7px;
	width: 800px;
  font-family: ff-meta-web-pro,sans-serif;
  font-style: normal;
  font-weight: 700;
	line-height: 43px;
}

.wizard .title
{
   
   background-color:#333333; 
   position: absolute;
   top: 38px;
}

.wizard .text
{
   position: absolute;
   top: 169px;
   color:white;
   width:250px;
}

.wizard .wizardInput {
    left: 430px;
    position: absolute;
    top: 196px;
}

.wizard .sendTitle {
    color: White;
    left: 430px;
    position: absolute;
    top: 170px;
    font-weight: bold;
}

.wizard .send {
    left: 807px;
    position: absolute;
    top: 196px;
}
.wizard .send a
{
    background: url("../Formal/images/wizard/submit.png") no-repeat scroll 0 0 transparent; /*url("images/wizard/submit.png") no-repeat scroll 0 0 transparent;*/
    width:157px;
    height:50px;
    display: block;
}

.wizard .send a:hover
{
    background-position:0px -53px;   
}

.wizard .validation
{
    left: 431px;
    position: absolute;
    top: 255px;
    width: 300px;
}

/*
.wizard .validationText {
    color: #FFA200;
    font-size: 20px;
    padding-left: 43px;
    padding-top: 7px;
}
*/


.validationTextErrorSubmit {
    color: red;
    font-size: 20px;
    padding-left: 43px;
    padding-top: 7px;
}

.validationTextErrorKeyUp {
    color: orange;
    font-size: 20px;
    padding-left: 43px;
    padding-top: 7px;
}

.validationTextErrorServer {
    color: red;
    font-size: 20px;
    padding-left: 43px;
    padding-top: 7px;
}

.validationIcon
{    
    float:left;        
}
/* =================== Contact Us Page  =======================*/
.ContactLinks {
	color: #52baf9;
	text-decoration: none;
}

a.facebooksmall {
  float:left;
  width:32px;
  height: 32px;
  display: block;
  background: url(images/fb.png) no-repeat 0 0;
  margin-right: 20px;
}

a.twittersmall {
float:left;
  width:32px;
  height: 32px;
  display: block;
  background: url(images/twitters.png) no-repeat 0 0;
  margin-right: 20px;
}

a.wpsmall {
  float:left;
  width:32px;
  height: 32px;
  display: block;
  background: url(images/wp.png) no-repeat 0 0;
  margin-right: 20px;
}

a.youtubesmall {
  float:left;
  width:32px;
  height: 32px;
  display: block;
  background: url(images/yt.png) no-repeat 0 0;
  margin-right: 20px;
}

.formContactUs
{
    margin-top:40px;
}

.formText
{
    font-weight:bold;
}

.formContactUs .radio
{        
    height: 20px;   
    width: 16px;
    border:0;
    padding:0;
}

.formContactUs .radioText
{
    padding-left:3px;display:inline;vertical-align:top;
}

.formContactUs .email
{
    /*margin-top:30px;*/
}

.formContactUs .subject
{
    /*margin-top:30px;*/
}

.formContactUs .message
{    
    height:165px;
}

textarea
{
    resize:none;
    width:200px;
    height:136px;
    background: none repeat scroll 0 0 #F7FCFE;
    border: 1px solid #91CEEC;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    width: 436px;
    font-family: proxima-nova,sans-serif,Arial,Sans-serif;
    font-size: 24px;    
    color: #408EB4; 
	padding-top: 3px;
	font-weight: 700;
}



.textareaContactUs
{
    resize:none;
    width:200px;
    height:136px;
    background: none repeat scroll 0 0 #F7FCFE;
    border: 1px solid #91CEEC;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    width: 436px;
    font-family: proxima-nova,sans-serif,Arial,Sans-serif;
	font-style:italic;
    font-size: 24px;    
    color: #CCCCCC; 
    font-weight: 500;
}

textarea:focus
{
    color: #8ebb03;
	background-color:#FFFFFF;
	font-weight: 700;
	background: #fff;
	border: #4eb0e0  2px solid; 

  
}

textarea:hover {
-moz-box-shadow: 0 0 5px #91ceec;
-webkit-box-shadow: 0 0 5px #91ceec;
box-shadow: 0 0 5px #91ceec;


  
}

.formContactUs .send {
    margin-left: 295px;
    padding-top: 8px;
}

.formContactUs .validation
{    
    padding-left: 5px;
    margin-top: 9px;
    width: 300px;
}

/* =================== Partners Bullets  =======================*/

.partnerslist ul {
	width: 960px;
}
.partnerslist ul li {
	float:left;
	margin:0 15px;
	text-align: center;
}

a.yp {
	background: url(images/yp.png) no-repeat 50% 0;
	display:block;
	height:80px;
	width: 60px;
	color: #333;
	padding-top: 60px;
}

a.yp:hover {
	background: url(images/ypcolor.png) no-repeat 50% 0;
}

a.arany {
	background: url(images/arany.png) no-repeat 50% 0;
	display:block;
	height:84px;
	width: 118px;
	color: #333;
	padding-top: 60px;
}

a.arany:hover {
	background: url(images/aranycolor.png) no-repeat 50% 0;
}

a.fonecta {
	background: url(images/fonecta.png) no-repeat 50% 0;
	display:block;
	height:80px;
	width: 84px;
	color: #333;
	padding-top: 60px;
}

a.fonecta:hover {
	background: url(images/fonectacolor.png) no-repeat 50% 0;
}
a.game {
	background: url(images/game.png) no-repeat 50% 0;
	display:block;
	height:80px;
	width: 114px;
	color: #333;
	padding-top: 60px;
}

a.game:hover {
	background: url(images/gamecolor.png) no-repeat 50% 0;
}
a.onet {
	background: url(images/onet.png) no-repeat 50% 0;
	display:block;
	height:80px;
	width: 75px;
	color: #333;
	padding-top: 60px;
}

a.onet:hover {
	background: url(images/onetcolor.png) no-repeat 50% 0;
}
a.tele {
	background: url(images/tele.png) no-repeat 50% 0;
	display:block;
	height:80px;
	width: 148px;
	color: #333;
	padding-top: 60px;
}

a.tele:hover {
	background: url(images/telecolor.png) no-repeat 50% 0;
}

a.inter {
	background: url(images/inter.png) no-repeat 50% 0;
	display:block;
	height:80px;
	width: 150px;
	color: #333;
	padding-top: 60px;
}

a.inter:hover {
	background: url(images/intercolor.png) no-repeat 50% 0;
}
/*

 

a.toplinkactive {
    background-color: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    font-family: proxima-nova,sans-serif,Arial,Sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 3px;
    padding: 3px 8px;
    text-decoration: none;
    text-transform: uppercase;
}



*/


.NoneFieldError
{
	background: url(images/error-message.png) no-repeat 0 0;
	color: red;
    margin-top: 45px;
    min-height: 33px;
    padding-left: 33px !important;
}

.NoneFieldError LI
{
	padding-top:1px;
}


/****test****/
.btn_focus
{
	background-color:Red;
}
.btn_unfocus
{
	background-color:White;
}

/**************/
A._btn
{
   /*background-image: url("../PPC/images/buttons-bg.png");*/
    background-image: url("../PPC/images/next-bg.png");
    background-position: center center;
    border-color: #4C8900;
    border-radius: 7px 7px 7px 7px;
    border-style: ridge;
    border-width: 1px;
    box-shadow: 1px 1px 1px #C1E575 inset;
    color:  #2C4200 !important;
    margin-top:7px;
    font-size: 20px;
    font-weight: 600;
    height: 37px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px #CCCCCC;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
    display: inline-block;
    line-height:37px;
    min-width: 70px;
    cursor: pointer;
     
}
A._btn:hover
{
        background-image: url("../PPC/images/buy-hover.png");
    background-position: center center;
}
A.selected, A._btn:active
{
    background-color: #C1E575;
    background-image: none;
    box-shadow: 1px 1px 3px #365C00 inset;
    color: #598A00 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}
/****comment bubble*****/

.inputParent .inputComment {
    background-color: #F69100;
    border: 0 solid #666666;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 2px #888888;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin: 10px auto;
    padding: 2px 6px;
    display:block;
    left:200px;
    top:-39px;
    position:absolute;
    text-align: center;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -moz-box-shadow:1px 1px 2px #888888;
  -webkit-box-shadow:1px 1px 2px #888888;
}



.inputParent .chat-bubble-arrow {
    border-color: #F69100 transparent transparent;
    border-style: solid;
    border-width: 9px;
    bottom: -18px;
    height: 0;
    left: 16px;
    position: absolute;
    width: 0;
}



/********/
.inputParent
{    
    position:relative;
    height:50px;
    display:block;
    padding-bottom: 20px;
}

.inputParent .inputSun
{
    position:absolute;
    top:0px;
    left:0px;
    display:block;
    padding-top: 0px;
}

.inputParent .inputValid {
    right: 476px;
    position: absolute;
    top: 11px;
    display:block;
     background-image:url('../PPC/images/blue-smiley.png');
     background-repeat:no-repeat;
     width:29px;
     height:29px;
}
.inputParent .inputError {
    right: 476px;
    position: absolute;
    top: 11px;
    display:block;
     background-image:url('../PPC/images/eorange-error-smiley.png');
     background-repeat:no-repeat;
     width:29px;
     height:29px;
}

.inputParent .inputCommentChoopchik:after
{
    border-color: transparent #FFFFFF;
    border-style: solid;
    border-width: 0 0 15px 13px;
    bottom: -15px;
    content: "";
    position: absolute;
    right: 157px;
   
 
}
.inputParent .inputCommentChoopchik:before
{
    border-color: transparent #F69100;
    border-style: solid;
    border-width: 0 0 15px 41px;
    bottom: -15px;
    content: "";
    position: absolute;
   
}

.main_login A
{
    color: #8EBB03;
    text-decoration: none;
     margin-right: 10px;
     margin-bottom: 12px;
         -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.2s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
}
.main_login A:hover
{
    color: #333333;

         -moz-text-blink: none;
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    -moz-transition-delay: 0s;
    -moz-transition-duration: 0.2s;
    -moz-transition-property: all;
    -moz-transition-timing-function: ease;
}
.Register A
{
    margin-right:0 !important;
    margin-left:5px;
    
}
DIV.Register
{
    display: block;
    /*
    position: absolute;
    right: 470px;
    top: 345px;
    */
    text-align:right;
    font-weight: 600;
    margin-top: 18px;
}

.comment
{    
    -webkit-border-radius:3px;
    -moz-border-radius:3px;

    background-color: #F69100;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    height: auto;
    margin-top:2px;
    margin-bottom: 2px;
    padding-bottom: 3px;
    padding-top: 3px;
    text-align: center;
    width: 100%;
    
}

.comment a
{
    color:Black;
    text-decoration:none;
}

.comment a:hover
{
    color:White;
}

.subtext_login{
 	font-family: ff-meta-web-pro, Arial, Sans-serif;  
 	font-size: 24px;
 	line-height: 30px;
 	padding-right: 60px;
 	color:#bbbbbb;
	width:300px;
	height: 30px; 
	float:left;
	font-weight: 700;
	padding-top:10px;
	
 }
 
  .div_name
{
    width:625px;
    text-align:right;
    position:absolute;
    padding-top:3px;
    color: #333333;
    font-weight: 400;
    font-size: 13PX;
    margin-top: 1px;
    margin-left: -3px;
    left:0;
    
}
 .div_name A
{
   padding-left:5px;   
    text-decoration:none;
     color: #333333;
}
 .div_name A:hover
{
    color:#ffffff;
}
 .div_name A.left
{
    font-weight:700;
    margin-right:10px;
}
 .div_name SPAN
{    
    padding-right:5px;
}




/**********  Legal Privacy/TOF/ Refund ******************/
.Legal-Privacy
{
    margin: 0 auto;
	width: 960px;	
	min-height: 500px;
}
.Legal-Privacy UL, .Legal-Privacy  IL
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.Legal-Privacy .navigation
{
    margin-top: 8px;
}
.Legal-Privacy .navigation UL
{
}
.Legal-Privacy .navigation LI
{
    float:left;
}
.Legal-Privacy .navigation A
{
    font-size: 17px;
    text-decoration: none;
    text-transform:uppercase;
    padding: 8px 12px;
    margin: 1px;
    color:  #bdb601;
}
.Legal-Privacy .navigation A.active
{
    -moz-border-radius-bottomright: 10px;
  	-moz-border-radius-bottomleft: 10px;
  	border-bottom-left-radius: 10px;
  	border-bottom-right-radius: 10px;
  	font-size: 17px;
  	text-decoration: none;
  	text-transform:uppercase;
  	color: #fff;
  	margin: 1px;
  	background: none repeat scroll 0 0  #bdb601;
}
.Legal-Privacy .navigation A.active:hover
{
    color: #AAAAAA;
    
}
.Legal-Privacy .navigation A:hover
{
    color: #AAAAAA;
}
.Legal-Privacy .term-text
{
    padding-left:40px;
    padding-right:40px;
    padding-top:80px;
    float:left;    
    width:72%;
}
.Legal-Privacy .totali
{
    width:100%;
}
.Legal-Privacy .term-text P
{
    
}
.Legal-Privacy .term-text H5
{
     padding-top:15px;
     font-weight: 700;
    
}
.Legal-Privacy .term-text H3
{
    color:  #bdb601;
    font-size:40px;
     padding-bottom:15px;
}
.Legal-Privacy .term-text UL
{
    list-style-position: outside;
    list-style-type: disc;
    list-style-image: none;
   
}
.Legal-Privacy .term-text LI
{
    margin-left:18px;
    
    
}
.Legal-Privacy .term-text A, .Legal-Privacy .menu-terms A

{
    text-decoration: none;
    color:  #bdb601;
}
.Legal-Privacy .menu-terms
{
    width:19%;
    height:auto;
    float:left;
    margin-top:80px;
}
/****** forgot passwword  ****/
.regoform TABLE.radioButton
{
    margin-top: 11px;
}
.regoform TABLE.radioButton TD
{
    padding-bottom:10px;
}