﻿body {
    font-family:Arial;
}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.title
{
    text-align:center;
}
.title h2
{
    font-size:30px;
    font-weight:400;
}
h3{
    font-weight:400;
    margin:10px 0;
    font-size:24px;

}
.sample, .code
{
    margin:20px 0;
}
.sample
{
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    margin:20px 0;
    background-color:#f1f1f1;
    padding:0.01em 16px;
    
}
.code{
    font-size:16px;
    line-height:1.4;
    width:auto;
    background-color:#fff;
    padding:8px 12px;
    border:4px solid #009688;
    word-wrap:break-word;
    font-family: Consolas;
}
.code code
{
    display:block;
}
code.spaces
{
    display:inline-block;
}