﻿body {
    font-size: 17px;
    font-family: Arial;
}
@media screen and (min-color-index:0) 
and(-webkit-min-device-pixel-ratio:0) { @media {
    body {
        font-size: 17px;
        font-family: Arial;
    }
}}


.row
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%; 
}
.col {
    
    display: block;
    padding: 5px;
    width: 100%;

     -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
      margin-left: 10%;
/*
      -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  
  align-self: center; 
  text-align: center;
    */
}
div.content{
    display: block;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;	
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 
     background-color: #F2F4F0;
     width: 350px;
     height: 31px;
     line-height: 31px;
     margin: 0 auto;
}
a
{
     border-radius: 5px;	
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 
      height: 17px;    
    line-height: 17px;
    text-decoration: none;
    background-color: #4A90E2;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
        float: right;
}
a.create
{
   
    background-image: url("img/widget-vid-btn.png");
    background-repeat: no-repeat;
    background-position: 5px 50%;
    
    padding-left: 35px;
    

}
input
{
    width: 250px;
    height: 18px;
     border-radius: 5px;	
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 
}
input.notvalid
{
    border-color: red;
}
.span_create{
    font-weight: bold;
    margin-right: 10px;
}
.icon-v
{
    float:left;
    padding-top: 3px;
}
.div-final{
    padding-left: 12px;
    float: left;
}
span.final
{
    display:block;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    font-weight:bold;
}

.divLoader			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=50); opacity: 0.5; background-color: #000; z-index: 999999; }
.divLoader TABLE	{ width: 100%; height: 100%; }
.divLoader TD		{ height: 100%; vertical-align: middle; text-align: center; }
