﻿
body {
    /* font-family: 'proxima-nova';*/
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.col-50 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

table.tmain {
    
    width: 95%;
    max-width: 600px;
       
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 63px;
}
td.td_center
{
    text-align:center;
}

td.td_right {
    text-align: right;
}
td.td_left {
    text-align: left;
}
.amount
{
    font-size: 54px;
    padding-top: 46px;
}
.trbackground {
    background-color: #F1F2F2;
}
.brand
{
    padding-bottom: 46px;
}
tr.trtable td {
    padding-top: 17px;
    padding-bottom: 17px;
}
tr.trtable-min td {
    padding-top: 5px;
    padding-bottom: 5px;
}
tr.bld
{
    font-weight: bold;
}
tr.bottom {
    height: 20px;
    padding-top: 55px;
}
tr.border-bottom {
    border-bottom: solid;
    border-width: 1px;
}
tr.border-top {
    border-top: solid;
    border-width: 1px;
}
.needhelp
{
    padding-top: 36px;
}
.delimiter td
{
    padding: 18px;
}
.empty-delimiter td {
    padding: 25px;
}
.span-includes {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
.V-icon {
    background-image: url("/ccimages/icon-blue-v.png");
}
.X-icon {
    background-image: url("/ccimages/icon-blue-v.png");
    /*background-image: url("/ccimages/icon-x.png");    */
}
#div_quote {
    background-color: white;
    border: solid;
    left: 10px;
    border-width: 1px;
    padding: 5px;
}
.div_quoteDetails{
    font-size: 12px;
}
.question-mark {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 5px;
}