﻿body {
}
span.HasRecords
{
    background-image: url("images/icon-v.png");
    background-position: 100% 0px;
    background-repeat: no-repeat;
    color: #008000;
    padding-right: 15px;
}

table tr span, span.result-line
{
    display:block;
}
span.result-line span
{
    padding-left: 20px;
}
