﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Publisher/MasterPagePublisher.master"
EnableEventValidation="false"
 AutoEventWireup="true" CodeFile="InactiveReasons.aspx.cs" Inherits="Publisher_InactiveReasons" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<%@ Register src="~/Controls/SetStatusNameId.ascx" tagname="SetStatusNameId" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolderHead" Runat="Server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolderBody" Runat="Server">
<cc1:ToolkitScriptManager ID="ScriptManager1" runat="server">
</cc1:ToolkitScriptManager>


    <uc1:SetStatusNameId ID="SetStatusNameId1" runat="server" />
    <asp:Label ID="lbl_TitleName" runat="server" Text="Inactive reasons" Visible="false"></asp:Label>
</asp:Content>