﻿.error-msg					{ color: #F00; font-size: 11px; }
A.BtnInjection
{
     border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
    border-color: #A6AAA9;
    border-width: 1pt; 
    height: 25px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
     background: -moz-linear-gradient(center top , #DCDEE0 1%, #A6AAA9 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, from(#DCDEE0), to(#A6AAA9)); 
    background: -ms-linear-gradient(top,  #DCDEE0 0%, #A6AAA9 100%);
    background: -o-linear-gradient(top,  #DCDEE0 0%, #A6AAA9 100%);
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#DCDEE0', EndColorStr='#A6AAA9', GradientType=0);
}
A.BtnInjection:hover
{
    text-decoration: none;
}
.form-field .label, .fromdate .label{
    color: #000000;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}
.div_InstallationCampaign
{
   position: relative;
   top: -40px;
   background-color: #EDF0F4;
    padding-bottom: 10px;    
    margin-left: 25px;
    margin-right: 31px;
}
.a_installation, .a_campaign
{
     color: #000000 !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
   
    text-align: center;
    width: 49%;
    padding-bottom: 5px; 
    
    
}
.a_installation:hover, .a_campaign:hover
{
    text-decoration: none;
}
.form-field
{
    float: left;
    
}
.form-MultiSelect .label {
    color: #000000;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}
.form-select-multi
{
    width: 300px !important;
}
.div_ItemList
{
    height: 200px;
    background-color: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    margin-right: 15px;   
    padding-bottom: 5px;
}
.div_ItemList_left
{
    margin-right: 15px;
}
.div_ItemList_right
{
    margin-left: 15px;
}
.form-field-select
{
    width: 50%;
}
.form-select-titles DIV
{
    float: left;
   
}
.form-select-titles DIV SPAN
{
     padding-top: 4px !important;
     margin-bottom:0 !important;
}
.form-select-titles
{
    margin-top: 20px;
}
.form-select-title-right
{
    left: 100px;
    position: relative;
}
.BelongInjection
{
    background-image: url("images/icon-v.png");
    background-position: 100% 0;
    background-repeat: no-repeat;
    color: green;
    padding-right: 15px;
}
.form-field-publish, .form-field-Relation-Save
{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.new-stage
{
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #cccccc;
}
.form-field-country select
{
    width: 300px;
    height: 25px;
}
.div-btnInjection
{
    margin-top: 10px;
    text-align: center;
}
.table2
{
    margin-top: 15px !important;
}
.btn-publish
{
    width: 90px;
}
.a__loader
{
    display:inline-block;
    height: 25px;
    
    background-image: url(images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.a_publish_loader
{
    width: 90px;
}
.a_Save_loader
{
    width: 50px;
}
/***** Injection windoes   *****/
Body.Injection_form
{
    background-color: #edf0f4;
    font-size: 12px; 
    color: #000;     
    direction: ltr; 
    font-family: "Arial"; 
}
.Popwin-title
{
    margin: 20px 0;   
    text-align: center;
}
.Popwin-title SPAN
{
     font-size: 30px;
     font-weight: bold;
}
.Injection_form .txt_multiline
{
    height: 150px;
    width: 400px;
}
.Injection_form A.btn
{
     border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: Red;
    height: 25px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    font-weight: bold;
}
.txt-relation
{
    width: 250px;
}
TABLE.Popwin-table
{
    border-collapse: collapse;
}
TABLE.Popwin-table TD
{
    padding: 7px 0;
}
TABLE.Popwin-table tr td:first-child
{
    text-align: right;
    font-weight: 600;
}
TABLE.Popwin-table INPUT[type="text"]
{
    width: 200px;
}
TABLE.Popwin-table TR.Section_mid td:first-child
{
    border-left: 1pt solid #999999;
}
TABLE.Popwin-table TR.Section_mid td:last-child
{
    border-right: 1pt solid #999999;
}
TABLE.Popwin-table TR.Section_top td
{
    border-top: 1pt solid #999999;
}
TABLE.Popwin-table TR.Section_bottom td
{
    border-bottom: 1pt solid #999999;
}

.relationName SPAN
{
    font-weight: 600;
}
.relationPartners
{
    background-color: #ffffff;
 /*   max-height: 650px;*/
    overflow: auto;
    margin-top: 20px;
}
TABLE.RelationTable tr td:first-child, TABLE.RelationTable tr th:first-child
{
    width: 350px !important;
}
TABLE.RelationTable tr td, TABLE.RelationTable tr th
{
     width: 60px;
}
TABLE.RelationTable INPUT[type="text"]
{
    width: 50px;
}
.a_sameValues
{
    margin-left: 10px;
}


    