<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageFrame.master.cs" Inherits="Publisher_MasterPageFrame" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>


<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>Untitled Page</title>

<link href="style.css" rel="stylesheet" type="text/css"/>
<link id="MyStyleSheet" rel="stylesheet" type="text/css" runat="server" />
<script type="text/javascript" language="javascript" src="../general.js"></script>
<script type="text/javascript" language="javascript" src="../CallService.js"></script>
<script type="text/javascript" language="javascript">

    function SetUserName(name)
    {
        document.getElementById("<%# lblUserName.ClientID %>").innerHTML = name;
    }

    function SetSettingTab(direct)
    {
        document.getElementById("<%# linkSetting.ClientID %>").href = direct;
    }
    function closePopup()
    {
        document.getElementById("<%# popUpStatusReason.ClientID %>").className = "popModal_del popModal_del_hide";        
        var ddl_InactiveReasons = document.getElementById("<%# ddl_InactiveReasons.ClientID %>");
	    ddl_InactiveReasons.selectedIndex = 0;
        $find('_modal_Master').hide();
    }
    function InactiveAccount()
    {
        document.getElementById("<%# popUpStatusReason.ClientID %>").className = "popModal_del";       
        var ddl_InactiveReasons = document.getElementById("<%# ddl_InactiveReasons.ClientID %>");
	    ddl_InactiveReasons.selectedIndex = 0;
	    
        $find('_modal_Master').show();
    }
    function ConfirmActiveAccount()
	{
	    var _confirmed = confirm(document.getElementById("<%# hf_ActivateAccount.ClientID %>").value);
	    return _confirmed;
	}
	function SetAccountStatus()
	{
        //alert('po');
	    //     Get_Set_Status() %>;
	    var url = "AccountStatus.asmx/GetAccountStatus";
	    CallWebService("", url,
            function (arg) {
                if (arg.length == 0)
                    return;
                /*
                var args = arg.split(";;;");
                if (args.length != 2)
                return;
                */
                var _arg = eval('('+arg+')');
                document.getElementById("<%# lbl_TheStatus.ClientID %>").innerHTML = _arg.status;
                document.getElementById("<%# Image_status.ClientID %>").src = _arg.img_url;

            },
            function () { });
	}
</script>
<asp:contentplaceholder id="ContentPlaceHolderHead" runat="server"></asp:contentplaceholder>
</head>
<body class="master management">
<form id="form1" runat="server">
<cc1:ToolkitScriptManager ID="ScriptManager1" runat="server" ScriptMode="Release">    
</cc1:ToolkitScriptManager>

<div id="main">
    
	<div id="content">
	    <div id="primarycontent">
		    <div class="divUserNameSetting"> 
		    <asp:UpdatePanel ID="_UpdatePanel_AccountStatus" runat="server" UpdateMode="Conditional">
		    <ContentTemplate>
		        <asp:ImageButton ID="Image_status" CssClass="btnstatus" runat="server" OnClick="btn_suspend_click"/>
                <asp:Label ID="lbl_TheStatus" runat="server"></asp:Label>
                <asp:Label ID="lbl_Account" runat="server" Text="Account"></asp:Label>:
                <asp:Label ID="lbl_AccountCode" runat="server"></asp:Label>-
                <asp:Label ID="lblUserName" runat="server" ></asp:Label>
                
            </ContentTemplate>
		    </asp:UpdatePanel> 
			</div>
			<div class="navigation" runat="server" id="div_navigation">
			<ul id="ul_navigation" runat="server">
		    
		    <li id="btn_myAccount" class="_btn_myaccount first" runat="server">
	            <a id="a_frameAspx" runat="server" class="btn-myaccount" href="javascript:void(0)">
	                <asp:Label ID="lbl_nav_myAccount" runat="server" Text="My Account" CssClass="span_navigation"></asp:Label>
	            </a>	           
			</li>		   
			
			<li id="btn_myminisite" class="_btn_myminisite" runat="server">
	            <a id="linkProfessionalUpdate" runat="server" class="btn-myminisite" href="javascript:void(0)">
	                <asp:Label ID="lbl_nav_myminisite" runat="server" Text="My Mini Site" CssClass="span_navigation"></asp:Label>
	            </a>
	           
			</li>
			
			 <li id="btn_calls" class="_btn_calls" runat="server">
	            <a id="linkCalls" runat="server" class="btn-calls" href="javascript:void(0)">
	                <asp:Label ID="lbl_nav_myRepors" runat="server" Text="My Reports" CssClass="span_navigation"></asp:Label>
	            </a>
	            
	            <ul>
	                <li id="linkCalls2" runat="server" ><a href="javascript:void(0)" id="a_linkCalls" runat="server">My Calls</a></li>
	                <li id="li_balance" runat="server" ><a href="javascript:void(0)" id="a_balance" runat="server">My balance</a></li>
	                <li id="li_MyReview" runat="server" class="last"><a href="javascript:void(0)" id="a_MyReview" runat="server">My review</a></li>
			    </ul>
			    
			</li>			
            
            <li id="btn_faq" class="_btn_setting" runat="server">
	            <a id="linkSetting" runat="server" class="btn-faq" href="javascript:void(0)">
	                <asp:Label ID="lbl_nav_Setting" runat="server" Text="Settings" CssClass="span_navigation"></asp:Label>
	            </a>
	           
			</li>         
            
            
			<li class="last" id="btn_support" > <span runat="server" id="span_forlink"  ><a href="javascript:void(0)" runat="server" id="a_support" target="_blank" class="btn-support">
               
                <asp:Label ID="lbl_nav_support" runat="server" Text="Support"  CssClass="span_navigation"></asp:Label></a>
                </span>
                
            </li> 
            
			
		</ul>
			
			</div>	
            <asp:contentplaceholder id="ContentPlaceHolderBody" runat="server"></asp:contentplaceholder>
        </div>
    </div>
</div>
<div id="divLoader" class="divLoader">
    <table>
        <tr>
            <td><img src="../UpdateProgress/ajax-loader.gif" alt=""/></td>
        </tr>
    </table>
</div>   


<div id="popUpStatusReason" runat="server" style="display:none;" class="popModal_del popModal_del_hide"  >
    <div class="top"></div>
    <a id="a_close" runat="server" class="span_A" href="javascript:closePopup();"></a>
        <div class="content">
            <div class="modaltit">
            <h2><asp:Label ID="lbl_InactiveReason" runat="server" Text="Inactive reason"></asp:Label></h2>
            </div>
            <div class="form-field">
                <asp:Label ID="lbl_selectReason" runat="server" CssClass="label4" Text="Select reason"></asp:Label>
                <asp:DropDownList ID="ddl_InactiveReasons" CssClass="form-select" runat="server">
                </asp:DropDownList>
            </div>
            <div class="clear"><!-- --></div>
           <div class="statusbtn">
                <asp:Button ID="btn_InactiveReason" runat="server" Text="Set" CssClass="CreateReportSubmit2" OnClick="btn_InactiveReason_click"/>
                
            </div>
            <div class="clear"></div>
        </div>
    <div class="bottom2"></div>
</div>
    
<cc1:ModalPopupExtender ID="_mpe_Master" runat="server"
    TargetControlID="btn_virtual"
    PopupControlID="popUpStatusReason"
    BackgroundCssClass="modalBackground" 
    BehaviorID="_modal_Master"               
    DropShadow="false"
    >
</cc1:ModalPopupExtender>
<div style="display:none;">
   <asp:Button ID="btn_virtual" runat="server" style="display:none;"  />
   <asp:Button ID="bt_virtual_status" runat="server" style="display:none;"  />       
</div>




<asp:HiddenField ID="hf_ActivateAccount" runat="server" Value="This action will activate this account - continue?" />
<asp:Label ID="lbl_logOutMes" runat="server" Visible="false" Text="Your session has expired. Please login again."></asp:Label>
<asp:Label ID="lbl_NEW" runat="server" Text="NEW" Visible="false"></asp:Label>
</form>
</body>
</html>
