﻿*					{ margin: 0; padding: 0; }
BODY				{  font-size: 14px; color: #333;  text-align: left; background: #FFF; font-family: "Arial"; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A, OBJECT			{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }
.clearfix:after		{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix			{ display: inline-block; }
/* Hide from IE Mac \*/
.clearfix			{ display:block; }
/* End hide from IE Mac */

.divCredit			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=100); opacity: 1; background-color: #787A7B; z-index: 999998; }
.divCredit TABLE	{ width: 100%; height: 100%; }
.divCredit TD		{ height: 100%; vertical-align: middle; text-align: center; }

.fc-red				{ color: #ed232a; }
.fc-10				{ font-size: 10px; }

.center				{ text-align: center; }

.iframe-inner		{ background-color: #f0f4f7; }

#main				{ margin: 0 auto; width: 1000px; }

#header				{ position: relative; width: 770px; height: 180px; background: url(images/bg-header.gif) no-repeat bottom right; }
#service-navigation	{ position: absolute; top: 20px; right: 10px; }
#service-navigation LI	{ float: left; display: inline; background: url(images/menu-btn-bg.gif) no-repeat left center; padding: 0 50px 0 10px; }
#service-navigation LI.last	{ padding: 0 30px 0 10px; }
#service-navigation A	{ text-decoration: none; color: #000; font-weight: bold; font-size: 13px; }
#service-navigation A:hover	{ text-decoration: underline; color: #666; }

#header H1			{ position: absolute; bottom: 50px; left: 0px; width: 770px; font-size: 30px; color: #555; font-weight: normal; text-align: center; }
#logo				{ position: absolute; top: 20px; left: 30px; display: block; width: 228px; height: 47px; background: url(images/ClipCallLogo-03.png); }

._logo				{ position: absolute; top: 20px; left: 30px; display: block; width: 228px; height: 47px;  }

#primary-content	{ width: 770px; float: left; }
#primary-content H2	{ margin-bottom: 10px; font-size: 20px; color: #555;  font-weight: normal; padding: 0 30px; }

#sidebar			{ width: 230px; float: right; margin-top: -35px; }
#sidebar .add		{ width: 154px; padding: 0 38px; border-bottom: 1px dotted #CCC; }
#sidebar .add P		{ font-size: 12px; line-height: 14px; color: #444; margin: 10px 0; }

#sidebar .testimonials { width: 170px; height: 230px; margin: 10px 0; padding: 20px 30px; background: url(images/bg-testimonials.png) no-repeat center; text-align: center; }
#sidebar .testimonials H3 { color: #104780; font-size: 13px; margin-bottom: 10px; }
#sidebar .testimonials UL { text-align: left; width: 150px; margin: 0 auto; }
#sidebar .testimonials A  { display: block; height: 45px; text-decoration: none; color: #444; font-size: 12px; background: url(images/icon-testimonial.png) no-repeat top right; }
#sidebar .testimonials A:hover  { text-decoration: underline; }

.iframe-inner #main	{ width: 500px; padding: 25px; background: #f0f4f7; font-size: 12px; color: #383a37; }
.iframe-inner P		{ font-size: 12px; color: #383a37; line-height: 14px; }

.container			{ width: 755px; min-height: 500px; margin: 0 auto; }
.container .content	{ position: relative; }

.navigation			{ width: 706px; height: 72px; padding: 6px 15px 18px; margin: 0 auto; background: url(images/bg-nav.jpg); }
.navigation	LI		{ float: left; border-right: 1px solid #FFF; background-position: 20px 22px; background-repeat: no-repeat; }
.navigation	LI.active { background-color: #EEE; }
.navigation	LI.last	{ border-right: 0; }
.navigation	A		{ display: inline-block; height: 72px; padding: 0 25px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigation	A:hover, .navigation A.active { color: #ed232a; text-decoration: underline; }

#btn-myaccount		{ background-image: url(images/icon-myaccount.png); }
#btn-myminisite		{ background-image: url(images/icon-my-minisite.png); }
#btn-calls			{ background-image: url(images/icon-mycalls.png); }
#btn-faq			{ background-image: url(images/icon-faq.png); }
#btn-support		{ background-image: url(images/icon-support.png); }

/*---------------------- MEMU DEFINITIONS ----------------------*/
    
.publisher .navigation			    { position: relative; width: 711px; height: 113px; padding: 8px 8px 5px 5px; margin: 0 auto 20px; background: url(images/bg-nav.png); z-index: 100; }
.publisher .navigation UL           { width: 711px; }
.publisher .navigation LI		    { float: left; width: 141px; height: 65px; border-right: 1px solid #FFF; }
.publisher .navigation A		    { display: inline-block; width: 94px; height: 65px; padding: 0 0 0 50px; background: no-repeat 15px 20px; color: #FFF; font-size: 12px; font-weight: bold; text-decoration: none; }
.publisher .navigation A:hover	    { color: #DDD; }
.publisher .navigation .active A    { background-color: #eef2f5; color: #ed232a; }
.publisher .navigation LI.last      { border-right: none; }

.publisher A.btn-ads				{ background-image: url(images/icon-my-ads.png); }
.publisher A.btn-reports            { background-image: url(images/icon-reports.png); }
.publisher A.btn-upsale             { background-image: url(images/icon-upsale.png); }
.publisher A.btn-account			{ background-image: url(images/icon-my-account.png); }
.publisher A.btn-consumers          { background-image: url(images/icon-consumer.png); }

.publisher .active A.btn-ads		{ background-image: url(images/icon-my-ads-active.png); }
.publisher .active A.btn-reports    { background-image: url(images/icon-reports-active.png); }
.publisher .active A.btn-upsale     { background-image: url(images/icon-upsale-active.png); }
.publisher .active A.btn-account	{ background-image: url(images/icon-my-account-active.png); }
.publisher .active A.btn-consumers  { background-image: url(images/icon-consumer-active.png); }

/*---------------------- SUBMEMU DEFINITIONS ----------------------*/
.publisher .navigation LI UL 	    { position: absolute; top: -9999px; left: 10px; }

.publisher .navigation LI.active UL 	{ top: 90px; width: 700px; height: 15px; }
.publisher .navigation LI.active LI 	{ width: auto; height: 15px; position: relative; border: none; }
.publisher .navigation LI.active UL A, .publisher .navigation LI.active UL SPAN	{ position: relative; display: block; width: auto !important; height: 15px !important; padding: 0 15px 18px !important; margin: 0; color: #000; background: none !important; font-weight: bold; font-size: 12px; background-position: right 3px !important; background-repeat: no-repeat !important; }
.publisher .navigation LI.active UL A	{ color: #000; background-image: url(images/seperator.gif) !important; }
.publisher .navigation LI.active UL A.active 	{ color: #ed232a; }
.publisher .navigation LI.active UL A:hover		{ color: #777; }
.publisher .navigation LI.active UL LI.last A	{ background-image: none !important; }
.publisher .navigation LI.active UL SPAN		{ color: #cccfd3; background-image: url(images/seperator-1.gif) !important; }
.publisher .navigation LI.active UL SPAN.last	{ background-image: none !important; }

/*---------------------- MEMU DROPDOWN DEFINITIONS ----------------------*/
.publisher .navigation LI LI .dropdown			{ position: absolute; top: -9999px; left: -10px; height: auto; padding: 13px 0 0 0; z-index: 9999; }
.publisher .navigation LI LI:hover .dropdown	{ top: 18px; }
.publisher .navigation LI LI .dropdown UL		{ top: auto; width: 200px; height: auto; padding-bottom: 15px; background: url(images/bg-dropdown.png) no-repeat bottom center; }
.publisher .navigation LI LI .dropdown LI		{ float: none; width: 190px; height: 25px; padding: 0 5px; }
.publisher .navigation LI LI .dropdown LI A		{ left: auto; text-indent: 0; padding: 5px 10px !important; background-image: none !important; }
.publisher .navigation LI LI .dropdown LI A:hover{ background-color: #d8dcdf !important; }





