﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="player.aspx.cs" Inherits="Publisher_player" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <audio controls autoplay>
          
          <source src="<%= audioUrl %>" type="audio/mpeg"/>
        Your browser does not support the audio element.
        </audio>
    </div>
    </form>
</body>
</html>
