.form-text			{ border: 1px solid #CCC; padding: 1px; height: 20px; }
/*.label				{ height: 20px; padding: 1px 0; line-height: 20px; }*/
/* ----------------------- minisite DEFINITIONS ------------------------ */

/*.minisite-content	{ background: #edf0f4; padding: 0 20px; }
.minisite-content .form-file{ vertical-align: top; }
.minisite-content H2{ color: #ed232a !important; font-size: 15px !important;  text-align: center; padding-bottom: 5px; border-bottom: 3px solid #cacdd1; margin-bottom: 20px; }
.minisite-content H3{ color: #ed232a; font-size: 12px; margin-top: -15px; }
.minisite-content P	{ color: #595959; font-size: 12px; line-height: 15px; }
.minisite-content .btn { display: inline-block; width: 83px; height: 39px; padding: 5px 0 0 0; margin: 0 0 0 10px; text-align: center; color: #FFF; text-decoration: none; background: url(images/btn-bg.png) no-repeat; }
*/


/* ----------------------- REPORTS DEFINITIONS ------------------------ */
#form-analytics .form-fields		{ margin-bottom: 15px; }
#form-analytics .form-field			{ float: left; width: 250px; }
/*#form-analytics .form-select,
#form-analytics .form-text			{ border: 1px solid #CCC; padding: 1px; }
#form-analytics .label				{ display: block; margin-bottom: 5px; font-weight: bold; color: #ED232A; }*/

#form-analytics .main-inputs 	{ margin: 20px 0; }
#form-analytics .main-inputs DIV{  margin-right: 20px; float: left; }
#form-analytics .main-inputs .form-text	{ width: 120px; }
#form-analytics .main-inputs LABEL, #form-analytics .main-inputs SPAN	{ color: #ED232A; font-size: 12px; font-weight: bold; }
#form-analytics .main-inputs .date_error SPAN  {  font-size:10px; font-weight:bold; color:#ed232a; }

#form-analytics .dates				{  font-size: 12px; padding: 0; }
#form-analytics .dates .form-text	{ width: 60px; height: 13px; padding: 6px 3px 1px; background: url(images/bg-input-dates.png) no-repeat transparent; border: 0; color: #999; font-size: 11px;  }
#form-analytics .dates LABEL		{ padding: 0 10px 0 20px; font-size: 12px; }
#form-analytics .dates A IMG		{ margin: 2px 2px -5px 0; }
#form-analytics .dates SPAN			{ padding: 0 10px 0 0; font-size: 12px; }
#form-analytics .dates .form-submit	{ margin-bottom: -22px; font-size: 12px; font-weight: bold; background-image: url(images/btn-bg1.png); width: 104px; padding-top: 5px; }
#form-analytics .dates .date_error	{ font-size: 10px; font-weight: bold; color: #ed232a; padding-left: 25px; padding-top: 10px; }
.div_choose							{ margin-top: 10px; color: #ed232a; }

.tt		{ float: left; margin: 0 20px 0 0; border: none; }
.tt TD  { border: none 0px !important; }
.tl		{ float: left; margin-top: 5px; }

#form-analytics .error_msg			{ margin-left: 270px; padding-bottom: 10px; } 
#form-analytics .clear_dates		{ display: inline-block; padding: 5px 35px 5px 10px; color: #000; font-weight: bold; text-decoration: none; background: url(images/icon-clear.png) no-repeat right center; }
#form-analytics .div_choose			{ width: 270px; margin-right: 20px; float: left; font-weight: bold; font-size: 12px; }

/* ----------------------- MY ADS DEFINITIONS ------------------------ */
#form-search					{ margin: 0px 0; }
#form-search .form-text			{ width: 350px; height: 20px; margin-bottom: 19px; border: 1px solid #AAA; }
#form-search .form-submit		{ background-image: url(images/btn-bg-search.png); font-size: 12px; padding-left: 10px; }
#form-search :hover.form-submit	{ background-image: url(images/btn-bg-search-over.png); }

.data-table						{ width: 100%; margin: 15px; font-size: 14px; border: 0; border-spacing: 0px; padding: 0; }
.data-table	CAPTION				{ height: 30px; text-align: center; font-size: 15px; font-weight: bold; color: #000; }
.data-table	CAPTION	.tools		{ float: left; }
.data-table TH, .data-table TD	{ height: 18px; padding: 2px; border-bottom: 2px solid #edf0f4; border-right: 2px solid #edf0f4; text-align: center; border-left: 2px solid #edf0f4;}
.data-table TR.footer			{ height: 18px; padding: 2px; text-align: center; border-top-style: none; border-left-style: none; border-bottom-style: none; border-right-style: none; }
.data-table TH					{ background: #9a9a9a; color: #FFF; }
.data-table TD					{ color: #3d3d3d; }
.data-table TD.first			{ width: 20px; text-align: center; }
.data-table TD.close .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(images/arrows.png) no-repeat left top; text-align: center; }
.data-table TD.open .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(images/arrows.png) no-repeat left -18px; text-align: center; }
.data-table .even TD			{ background: #dbdde1; }
.data-table .odd TD				{ background: #bdbcbc; }
.data-table .even_TD			{ background: #dbdde1; text-align:left; }
.data-table .odd_TD				{ background: #bdbcbc; text-align:left; }
.data-table .__even	TD			{ background: #dbdde1; text-align:center; }
.data-table .__odd	TD			{ background: #bdbcbc; text-align:center; }
.data-table .TH_TD				{ background: #9a9a9a; color: #FFF; height: 25px; padding: 5px; border-bottom: 2px solid #edf0f4; border-right: 2px solid #edf0f4; text-align: left; font-weight: bold; }
.data-table ._even TD			{ background: #dbdde1; text-align:left; }
.data-table ._odd TD			{ background: #bdbcbc; text-align:left; }
.data-table .page_numbers table	{text-align:center;margin:0 auto; }
.data-table-details LI			{ width: 200px; padding: 10px; float: left; text-align: left; font-size: 12px; }
.data-table-details .label		{ display: inline-block; margin-right: 10px; font-weight: bold; }
.data-table .even_max TD			{ background: #dbdde1;  }
.data-table .odd_max TD				{ background: #bdbcbc; }
.data-table .th_max TH					{ background: #9a9a9a; color: #FFF;  }


/* -----------------------CONSUMERS DEFINITIONS ------------------------ */
.consumers .content				{ position: relative; width: 770px; margin: 0 auto; }
.consumers .consumer-content	{ 
                            	   -moz-border-radius: 10px;  border-radius: 10px;  -webkit-border-radius: 10px;  
    background: none repeat scroll 0 0 #F0F4F7;
    border: none;
    float: right;
    margin: 0 auto;
    position: relative;
    right: 30px;
    width: 500px;
    z-index:2; 
                            	  
                            	  
                            	   }
.consumers .consumer-content H2 { padding-bottom: 5px; border-bottom: 3px solid #CACDD1; margin:25px; color: #ED232A; font-size: 15px; font-weight: normal; text-align: center; }
.consumers .form-label			{ display: inline-block; width: 180px; margin-right: 10px; color: #ED232A; }
.consumers #_UpdatePanel		{ width: 100%; min-height: 400px; }
.consumers .table-incindent		{ width: 400px; margin: 15px auto; }
.consumers .tofes1_main			{ padding: 25px; }
.consumers #form1 .form-submit	{ display: block; width: 152px; margin: 15px auto; }
.consumers TABLE.main			{ width: 500px; margin: 10px 25px; }
.consumers TABLE.main TD		{ padding: 5px; }
.consumers #div_paging			{ text-align: center; }
.consumers #div_paging TABLE	{ margin: 0 auto; }

.description_request
{
	width: 265px;
	height: 93px;
	padding: 15px;
	background: url(images/bg-description.png) no-repeat;
	margin-left: 80px;
	text-align:left;
}
.description_request .label
{
	display: inline-block;
	width: 170px;
	font-size: 13px;
	color: #f51824;
	margin-bottom: 10px;	
}
.details_request { width: 265px; height: 13px; padding: 13px 15px 17px; background: url(images/bg-feild.png) no-repeat; }


/* ----------------------- TOFES1 DEFINITIONS ------------------------ */
#form4 #main		{ width: 500px !important; padding: 25px 0 !important; }
#form-info			{ margin-left: 50px; }
#form-info P		{ clear: both; }
#form-info LABEL	{ display: inline-block; height: 18px; width: 125px; padding: 0 0 0 15px; vertical-align: top; }
#form-info .must	{ background: url(images/must.gif) no-repeat left 5px; }

/*#form-analytics		{ width: 666px; }*/

.form-text, .form-select { width: 150px; }
.form-textarea		{ width: 300px; height: 70px; }
.form-submit		{ display: block; width: 83px; height: 44px; padding: 3px 0 28px 0; margin: 0 auto; background: url(images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.form-checkbox		{ vertical-align: middle; }
#form-info .form-submit, #form-info .steps	{ margin-left: 140px; }
#form-info .steps , #form-segment .steps, #form-credits .steps	{ color: #ed232a; font-size: 11px; }
.form-submit2		{ width: 104px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg1.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }
.btnDisable			{ width: 104px; height: 44px; padding: 3px 0 28px 0; background: url(images/btn-bg1.png) no-repeat; border: 0; text-align: center; color: inactivecaptiontext; cursor: default; }
.table_btn TD		{ padding: 0 15px; }

/* ----------------------- Edit ------------------------ */

/*.lists-select		{ width: 500px; margin: 15px auto; }*/
.list-select		{ float: left; width: 240px; text-align: center; }
/*.list-select LABEL	{ display: block; text-align: center; color: #d01f25; font-size: 14px; margin-bottom: 10px; }*/
.list-select select 	{ width: 200px; height: 160px; margin: 0 auto; border: 1px solid #333; }
/*.list-select .btn	{ display: block; width: 72px; height: 18px; padding: 3px 0 0 0; color: #FFF; margin: 10px auto; text-align: center; text-decoration: none; background: url(images/bg-btn.png) no-repeat; }*/
/*.all				{ background: url(images/icon-add.gif) no-repeat bottom right; }*/
/*.choice				{ background: url(images/icon-remove.gif) no-repeat bottom left; }*/

 .form-language		{ margin-top: 15px; margin-left:50px; margin-bottom:25px; text-align: left; }
 
.SieTable 
{
    text-align:left;
    margin-bottom: 30px;
    width:100%;
}
.SieTable td
{
    padding-left: 5px;
    padding-right: 5px;
    
}
.btnTextEdit
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.srf
{
    color: red;
}
.ValidateMessage
{
    color:Red;
    font-size:x-small;
}

/* ----------------------- search ------------------------ */

.div_x
{
    background-color: #ffffff;
    text-align:right;
    width:100%;
}
.modalBackground
 {
    background:#000000;	
	opacity:0.3;
	filter: alpha(opacity=30);
}
.panel_iframe
{
    float:none;
    width:810px;
    height:600px;
    background-color:White;
}
/*
.td_Pages
{
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.td_num_pages
{
    padding-left: 5px;
    padding-right: 5px;
}
*/
.date_error
{
    font-size: 10px;
    font-weight: bold;
    color: #ed232a;
    padding-left: 25px;
}
.aboutResults
{
    padding-left: 6px;
    padding-right: 6px;
}
.countText
{
    color: red;
    font-size: 12px;
    line-height: 15px;
    
   
}

.Label_Icons
{
    color: black;
}


.popModal_del
{
    background-color: none;
    width: 415px;
    padding-left: 10px;
    padding-right: 10px;
}
.td_Pages A, 
.td_Pages SPAN    					{ display: inline-block; height: 14px; padding: 2px 4px; border: 1px solid #bbb; margin: 5px; background-color: #FFF; color: #000; text-align: center; text-decoration: none; }
.pagination A.disabled,
.pagination A:hover.disabled	{ border: 1px solid #CCC; color: #CCC; background-color: #FFF; }
.pagination A:hover,
.td_Pages A:hover				    { border: 1px solid #D00; color: #000; background-color: #DDD; }
.pagination A.active,
.pagination A:hover.active,
.td_Pages A.active,
.td_Pages A:hover.active,
.td_Pages SPAN           	        { background-color: #ccc; color: #FFF; }

.PagerIncompleteReg TD,
.PagerIncompleteReg TABLE,
.td_Pages TD,
.td_Pages TABLE            		{ text-align: center; }
.PagerIncompleteReg TABLE,
.td_Pages TABLE	            	{ margin: 0 auto; }

.td_num_pages A, 
.td_num_pages SPAN    					{ display: inline-block; height: 14px; padding: 2px 4px; border: 1px solid #bbb; margin: 5px; background-color: #FFF; color: #000; text-align: center; text-decoration: none; }
.pagination A.disabled,
.pagination A:hover.disabled	{ border: 1px solid #CCC; color: #CCC; background-color: #FFF; }
.pagination A:hover,
.td_num_pages A:hover				    { border: 1px solid #D00; color: #000; background-color: #DDD; }
.pagination A.active,
.pagination A:hover.active,
.td_num_pages A.active,
.td_num_pages A:hover.active,
.td_num_pages SPAN           	        { background-color: #ccc; color: #FFF; }

.PagerIncompleteReg TD,
.PagerIncompleteReg TABLE,
.td_num_pages TD,
.td_num_pages TABLE            		{ text-align: center; }
.PagerIncompleteReg TABLE,
.td_num_pages TABLE	            	{ margin: 0 auto; }

/*
.popModal_del .top
{
    width: 430px;
	height: 20px;
	background: url(../Management/images/bg-popup-wide.png) no-repeat left top;
	
}*/
/*
.popModal_del .content
{
    
    width: 400px;
	max-height: 700px;
	overflow: hidden;
	padding: 0 15px;
	margin: 0 !important;
	background: url(../Management/images/bg-popup-tile.png) repeat-y left top;
	z-index: 0;
}

.popModal_del .bottom
{
    width: 430px;
	height: 35px;
	background: url(../Management/images/bg-popup-wide.png) no-repeat  left bottom;
}*/

.popModal_del TD
{
   padding: 5px 0;
}

.popModal_del .f2
{
	margin-bottom: 15px;
}


.popModal_del .btn-wide
{
background:url("../Management/images/btn-wide.png") no-repeat scroll 0 0 transparent;
border:0 none;
color:#000000;
cursor:pointer;
font-size:12px;
height:44px;
padding:3px 0 28px;
text-align:center;
width:194px;
margin-left: 10px;
}
.popModal_del_hide
{
    left:-5000px;
    position:relative;
}
.WaterMarkTxt
{
    font-style: italic;
    color: silver;
    font-size: 10pt;
}
.DivUp
{
    vertical-align: top;
}
/* ----------------------- Segment ------------------------ */

.segment .form-field .label			{ float: left; display: inline-block; width: 150px; margin: 0 20px 0 0; font-weight: bold; }
.segment .form-field .form-file		{ width: 200px; }
.segment .form-field .form-text		{ width: 202px; }
.segment .form-field .field-wrap	{ float: left; width: 210px; margin: 0 20px 0 0; }
.segment .form-field .error-msg		{ float: left; }
.segment .form-field .form-submit	{ float: left; margin: 0 20px 0 0; }
.dt_edit
{
    width:100px;
}

/* ----------------------- generalInfoSetting ------------------------ */

.data-table TD.dt_generalSetting{ text-align:left;}
/* ----------------------- IncompleteRegistration------------------------ */

/* ----------------------- UpSale ------------------------ */
.RemoveAddUpsale
{
	display: inline-block;
	float: left;
	margin-right: 5px;
}

.pager TD 		{ text-align: center; }
.pager TABLE 	{ text-align: center; margin: 0 auto; }

._BackgroundBtn{
/*	display:none;*/
/*	position:fixed;
/*	_position:absolute; /* hack for internet explorer 6*/
/*	height:100%;
	width:100%;*/
	top:0;
	left:0;
	
	
	background:#000000;
	border:1px solid #cecece;
	z-index:10;
	
	opacity:0.50;
	filter: alpha(opacity=50);
	
	
}
.span_x
{
    
    
    position:absolute;
    top:0px;
    right:15px;   
    background-image: url(images/red-x-icon.png);
    background-repeat:no-repeat;
  /*  background-color: transparent;*/
    height:30px;
    width:30px;
    cursor:pointer;
}
.span_A
{
    background-image: url(../Management/images/btn-x.png);
    background-repeat:no-repeat;
    cursor:pointer;
    height:30px;
    width:30px;
    position:absolute;
    top:5px;
    right:15px;
    z-index: 999999; 
}

.popModal_del .label	{ width: 150px; }

.popModal_del H2	{ text-align: center; }

.Table_Button
{
    width: auto;
    margin: auto;
}
.Table_Button TD
{
    width:auto;
    padding: 5px;
    text-align:center;
}

/* ----------------------- Account setting------------------------ */

.Table_radio TD
{
     border:0;
}

.account-settings .form-upload	{ margin: 0 20px; float: left; }
.account-settings .form-file	{ float: left; }
/* ----------------------- Refund report------------------------ */
.div_refund_txt
{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align:center;
}
/*-----------------  Consumers ----------------------------------*/

.data_table
{
    width: 100%;
    margin: 20px 0;
    font-size: 14px;
    border: 0;
    border-spacing: 0px;
    padding: 0;
   
}
.data_table	CAPTION				{ height: 30px; text-align: center; font-size: 15px; font-weight: bold; color: #000; }
.data_table	CAPTION	.tools		{ float: left; }
.data_table TH { height: 18px; padding: 2px; border-bottom: 2px solid #edf0f4; border-right: 2px solid #edf0f4; text-align: center; }
.data_table TR.footer
{
    height: 18px;
    padding: 2px;
    text-align: center;
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: none;
}
/*
.data-table TR.footer TD
{
    border-top-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: none;
}
 */
.data_table TH					{ background: #9a9a9a; color: #FFF; }

.data_table TD.first			{ width: 20px; text-align: center; }
.data_table TD.close .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(images/arrows.png) no-repeat left top; text-align: center; }
.data_table TD.open .arrow		{ display: inline-block; height: 16px; width: 16px; background: url(images/arrows.png) no-repeat left -18px; text-align: center; }
.data_table TR.even	TD	{ background: #dbdde1; text-align:center;  height: 18px; padding: 2px; border-bottom: 2px solid #edf0f4; border-right: 2px solid #edf0f4;}
.data_table TR.odd	TD	{ background: #bdbcbc; text-align:center;  height: 18px; padding: 2px; border-bottom: 2px solid #edf0f4; border-right: 2px solid #edf0f4;}


.txt_focus
{
    /*   background-color: #ff0000;*/
/*    width: 165px;*/
    border-bottom: red double;
    border-left: red double;
    border-top: red double;
    border-right: red double;
}

 .content .add_new_package
{
	
}
 .content .add_new_package H3 { padding-bottom: 5px; border-bottom: 3px solid #CACDD1; margin: 0 25px; color: #ED232A; font-size: 15px; font-weight: normal; text-align: center; }
 
 
 .error-msg					{ color: #F00; font-size: 14px; }
 
/*-----------------  languages ----------------------------------*/ 

.languages #form-analytics .form-field			{ float: none; width: auto; text-align: center; margin: 30px auto; }

















