﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SegevPro.aspx.cs" Inherits="Publisher_SegevPro" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:GridView ID="_GridView" runat="server"></asp:GridView>
    
    </div>
    </form>
</body>
</html>
