﻿/* ----------------------- GENERAL DEFINITIONS ------------------------ */
*					{ margin: 0; padding: 0; }/* border: 1px dotted red; */
BODY				{ font-family: Arial; font-size: 14px; color: #333; direction: ltr; text-align: left; background: #FFF; }
P					{ margin: 0 0 10px 0; line-height: 20px; }

A:active			{ outline: none; }
:-moz-any-link:focus { outline: none; }
OBJECT				{ outline: none; }

IMG					{ border: 0; }

TABLE				{ margin: 0; padding: 0; border: 0; }
TD					{ vertical-align: top; }

UL					{ margin: 0; padding: 0; list-style: none; }
LI					{ margin: 0; padding: 0; list-style: none; }

.clear				{ clear: both; }

.fc-red				{ color: #ed232a; }

.center				{ text-align: center; }

.iframe-inner		{ background-color: #f0f4f7; }

#main				{ margin: 0 auto; width: 1000px; }

#header				{ position: relative; width: 770px; height: 225px; background: url(images/professions.jpg) no-repeat bottom right; }
#service-navigation	{ position: absolute; width: 770px; top: 20px; left: 50px; }
#service-navigation LI	{ float: left; background: url(images/menu-btn-bg.gif) no-repeat left center; padding: 0 50px 0 10px; }
#service-navigation A	{ text-decoration: none; color: #000; font-weight: bold; font-size: 13px; }
#service-navigation A:hover	{ text-decoration: underline; color: #666; }

#header H1			{ position: absolute; bottom: 50px; right: 240px; font-size: 30px; color: #555; font-family: "Myriad Pro"; font-weight: normal; }
#logo				{ position: absolute; top: 60px; left: 50px; display: block; width: 228px; height: 47px; background: url(images/ClipCallLogo-03.png); }

#primary-content	{ width: 770px; float: left; }
#primary-content H2	{ margin-bottom: 10px; font-size: 20px; color: #555; font-family: "Myriad Pro"; font-weight: normal; }

#sidebar			{ width: 230px; float: right; margin-top: -35px; }
#sidebar .add		{ width: 154px; padding: 0 38px; border-bottom: 1px dotted #CCC; }
#sidebar .add P		{ font-size: 12px; line-height: 14px; color: #444; margin: 10px 0; }

#sidebar .testimonials { width: 170px; height: 230px; margin: 10px 0; padding: 20px 30px; background: url(images/bg-testimonials.png) no-repeat center; text-align: center; }
#sidebar .testimonials H3 { color: #104780; font-size: 13px; margin-bottom: 10px; }
#sidebar .testimonials UL { text-align: left; width: 150px; margin: 0 auto; }
#sidebar .testimonials A  { display: block; height: 45px; text-decoration: none; color: #444; font-size: 12px; background: url(images/icon-testimonial.png) no-repeat top right; }
#sidebar .testimonials A:hover  { text-decoration: underline; }

.iframe-inner #main	{ width: 500px; padding: 25px; background: #f0f4f7; font-size: 12px; color: #383a37; }
.iframe-inner P		{ font-size: 12px; color: #383a37; line-height: 14px; }

.container			{ width: 755px; min-height: 500px; margin: 0 auto; }
.container .content	{ position: relative; }
.navigation			{ width: 706px; height: 72px; padding: 6px 15px 18px; margin: 0 auto; background: url(images/bg-nav.jpg); }
.navigation	LI		{ float: left; border-right: 1px solid #FFF; background-position: 20px 22px; background-repeat: no-repeat; }
.navigation	LI.active { background-color: #EEE; }
.navigation	LI.last	{ border-right: 0; }
.navigation	A		{ display: inline-block; height: 44px; padding: 28px 30px 0 55px; color: #383a37; font-size: 12px; font-weight: bold; text-decoration: none; }
.navigation	A:hover, .navigation A.active { color: #ed232a; text-decoration: underline; }

#btn-myaccount		{ background-image: url(images/icon-myaccount.png); }
#btn-myminisite		{ background-image: url(images/icon-my-minisite.png); }
#btn-calls			{ background-image: url(images/icon-mycalls.png); }
#btn-faq			{ background-image: url(images/icon-faq.png); }
#btn-support		{ background-image: url(images/icon-support.png); }

.iframe-content		{ float: right; }
.iframe-content IFRAME	{ }
.tab-navigation		{ position: absolute; top: 30px; float: left; }
.tab-navigation A	{ display: block; width: 137px; height: 58px; padding: 30px 0 0 30px; background: url(images/tab-ltr.jpg) no-repeat; font-weight: bold; color: #383a37; text-decoration: none; font-size: 12px; }	
.tab-navigation A:hover, .tab-navigation A.active { background: url(images/tab-ltr-active.jpg) no-repeat; color: #ed232a; }
.tab-navigation A SPAN { display: inline-block; width: 18px; height: 16px; margin: -2px 5px 0 0; padding: 2px 0 0 0; text-align: center; }
.tab-navigation A:hover SPAN, .tab-navigation A.active SPAN { background: url(images/o-bullet-bg.gif) no-repeat; color: #FFF; }

/* ----------------------- TOFES6 DEFINITIONS ------------------------ */
#form1 .steps, #form1 .form-submit	{ margin: 15px 0 0 210px; } 
#form1 .form-select{ width: 55px; font-size: 10px; border: 1px solid #d1d1d1; }
#form1 TABLE.main		{ width: 420px; margin: 0 auto; }
#form1 TD.regular			{ text-align: left; vertical-align: middle; border-right: 1px solid #8d8f8c; padding: 5px 20px; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }
#form1 TD.details	{ text-align: left; }
#form1 TD A		{ color: #444; }
#form1 TD.last			{ text-align: center; vertical-align: middle; border-right: none; padding: 5px 20px; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }
.form-submit		{ width: 83px; height: 44px; padding: 3px 0 28px 0; background: url(../Management/images/btn-bg.png) no-repeat; border: 0; text-align: center; color: #000; font-size: 14px; cursor: pointer; }


 .rowStyle			{ text-align: center; vertical-align: middle; border-right: 1px solid #8d8f8c; padding: 5px 20px; font-size: 14px; background: #e2e3e5; border-bottom: 1px dotted #8d8f8c; }
 .jyguo
{
    background-color: #f8ffff;
}