﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="VideoPlayer.aspx.cs" Inherits="Publisher_VideoPlayer" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <video controls autoplay>
          
          <source src="<%= videoUrl %>" type="video/mp4"/>
        Your browser does not support the audio element.
        </video>
        </div>
    </form>
</body>
</html>
