﻿.selectBox-dropdown 
{
    /*
    background: -moz-linear-gradient(center top , #F8F8F8 1%, #E1E1E1 100%) repeat scroll 0 0 transparent;
    */
    background: #ffffff;
    border: 1px solid #BBBBBB;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    color: #666666 !important;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    outline: medium none;
    padding: 0 40px 0 4px;
    position: relative;
    text-decoration: none;
}        
  
.selectBox-dropdown .selectBox-label {
    display: inline-block;
    overflow: hidden;
    padding: 7px 5px;
    white-space: nowrap;
    width: 100%;    
    color: Black;
}
        
.leadsTime .selectBox-arrow {
    border: medium none;
}
        
.selectBox-dropdown .selectBox-arrow {
    background: url("../ppc/images/overview/selectBox-arrow.png") no-repeat scroll 50% center transparent;
   /* border-left: 1px solid #BBBBBB;*/
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 23px;
}
.selectBox-dropdown-menu 
{
    position: absolute;
    background: none repeat scroll 0 0 #FFFFFF;           
    border-color:#bbb;
    border-style:solid;
    border-width:0px 1px 1px 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow: auto;
    /*position: absolute;*/
    z-index: 99999;
}

.selectBox-options, .selectBox-options li, .selectBox-options li a {
    cursor: default;
    display: block;
    z-index: 110000000;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}      
        
.selectBox-options li a {
    background: none no-repeat scroll 8px center transparent;
    color: #666666;
    font-size: 12px;
    line-height: 2em;
    overflow: hidden;
    padding: 0 0.3em 0 23px;
    white-space: nowrap;
}   
.selectBox-dropdown-clicked
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
        
.selectBox-options li.selectBox-selected a {
    background-image: url("../ppc/images/overview/selectBox-tick.png");
}
        
.selectBox-options li:hover {
    background-color: #E9F1FC;
    color: #333333;
}     