﻿<ion-view>
    <ion-header-bar>
        <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto" />
    </ion-header-bar>
    <ion-content class="div-container">

        <div class="row">
            <div class="col col-80 col-offset-10">
                <h3 class="connecting-header-text">Install ClipCall and get</h3>                
                <h3 class="connecting-header-text">connected immediately</h3>
            </div>
        </div>


        <div class="row div-getapp">
            <div class=" col col-80 col-offset-10 customer-button-wrapper">
                <a class="button btn-green btn-gettheapp" ng-click="getTheApp();">GET THE APP</a>

            </div>
        </div>
        <div class=" row row-center">
            <div class="col col-25 col-offset-10 text-center col-center">
                <img src="/tm/www/img/Icons_Info.png" width="55" height="46" />
            </div>

            <div class="col col-25 col-offset-05 text-center col-center">
                <img src="/tm/www/img/Icons_PhoneW.png" width="55" height="60" />
            </div>

            <div class="col col-25 col-offset-05 text-center col-center">
                <img src="/tm/www/img/Icons_V2.png" width="55" height="46" />
            </div>
        </div>
        <div class="row row-center row-linehigth">
            <div class="col col-25 col-offset-10 col-top text-center">
                <span class="span-yellow">Watch</span>Videos from customers
            </div>
            <div class="col col-05 forward">
            </div>
            <div class="col col-25 col-top text-center">
                <span class="span-yellow">Connect</span>In Real Time
            </div>
            <div class="col col-05 forward">
            </div>
            <div class="col col-25 col-top text-center">
                <span class="span-yellow">Manage</span>All your projects
            </div>
        </div>

    </ion-content>
</ion-view>
