﻿<ion-view>
    <ion-header-bar>
        <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto" />
    </ion-header-bar>
    <ion-content class="div-container">

        <div class="row">
            <div class="col col-80 col-offset-10">
                <h3 class="connecting-header-text">The customer's number is:</h3>
                <br />
                <h3 class="connecting-header-text"><a href="tel:{{vm.phoneDetails.phone}}" ng-click="callClick();">{{vm.phoneDetails.phoneDisplay}}</a></h3>
            </div>
        </div>


        <div class="row div-getapp">
            <div class=" col col-80 col-offset-10 customer-button-wrapper">
                <a class="button btn-green btn-gettheapp" href="tel:{{vm.phoneDetails.phone}}" ng-click="callClick();">CALL NOW</a>         

            </div>           
        </div>
        <div class="row div-getapp">           
            <div class="col col-80 col-offset-10 customer-button-wrapper" ng-show="isCalled()">
                <button class="button btn-green btn-connect" ng-click="getTheApp();">
                    GET THE APP
                </button>
            </div>
        </div>
       
    </ion-content>
</ion-view>
