﻿<ion-view>

    <!--
       poster="{{vm.getThumbnail()}}"
    -->
    <video name="media"
           controls webkit-playsinline="webkit-playsinline" class="videoPlayer" poster="/tm/www/img/transparent.png">
        <source ng-src="{{vm.Incident.VideoUrl}}" type="{{vm.Incident.VideoType}}" />
    </video>
    <!--
    <div class="play-icon-wrapper" ng-show="showPlayIcon()">
        <img class="play-icon-img" width="70" height="70" src="/tm/www/img/Icons_PlayAAR.png" ng-click="playVideo()" />

    </div>
            -->
    <img ng-src="{{vm.Incident.ThumbnailUrl}}" width="{{thumbnailWidth()}}" height="{{thumbnailHeight()}}" id="img_thumbnail" />

</ion-view>