﻿<ion-view>
    <ion-header-bar>
            <img src="www/img/clipcall-logo.png" style="margin-left: auto; margin-right: auto" />
</ion-header-bar>   
   
    <ion-content class="div-container" overflow-scroll="true">
        <div class="row">
            <div class="col col-80 col-offset-10">
                <h2 class="header-text" style="text-align:center;">
                    New job for:
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col col-80 col-offset-10">
                <h3 class="sub-header-text" style="text-align:center;">{{vm.Incident.Category}} in {{vm.Incident.RegionFullName}}</h3>
            </div>
        </div>
        <div class="row video-wrapper">

            <div class="col col-80 col-offset-10 video-container">

                <div class="row" ui-view="video">
                    
                </div>

            </div>
        </div>
        <!--
        <div class="row" ng-show="vm.Incident.IsConnected">
            <div class="col col-80 col-offset-10 display-phone">
                <h3 class="connecting-header-text">The customer's number is:</h3>
                <h3 class="connecting-header-text"><a href="tel:{{vm.Incident.CustomerPhone}}" ng-click="callClick();">{{vm.Incident.CustomerPhoneDisplay}}</a></h3>

            </div>            
        </div>
            -->
        <div class="row row-marg-top">
            <div class="col col-80 col-offset-10 customer-button-wrapper" ng-show="!isViewedVideo()">
                <button class="button btn-watch" ng-click="playVideo();">
                    Watch job description
                </button>
            </div>
            
            <div class="col col-80 col-offset-10 customer-button-wrapper" ng-show="isViewedVideo()">
                <button class="button btn-green btn-connect" ng-click="clickGetTheApp();">
                    I want this customer
                </button>
            </div>
                
            <!--
            <div class="col col-80 col-offset-10 customer-button-wrapper" ng-show="isViewedVideo()">
                <button class="button btn-green btn-gettheapp" ng-click="getTheApp();">
                    GET THE APP
                </button>
            </div>
                -->
        </div>
        
        <div class=" row row-center">
            <div class="col col-25 col-offset-10 text-center col-center">
                <img src="/tm/www/img/Icons_Info.png" width="55" height="46" />
            </div>

            <div class="col col-25 col-offset-05 text-center col-center">
                <img src="/tm/www/img/Icons_PhoneW.png" width="55" height="60" />
            </div>

            <div class="col col-25 col-offset-05 text-center col-center">
                <img src="/tm/www/img/Icons_V2.png" width="55" height="46" />
            </div>
        </div>
        <div class="row row-center row-linehigth">
            <div class="col col-25 col-offset-10 col-top text-center">
                <span class="span-yellow">Watch</span>Videos from customers
            </div>
            <div class="col col-05 forward">
            </div>
            <div class="col col-25 col-top text-center">
                <span class="span-yellow">Connect</span>In Real Time
            </div>
            <div class="col col-05 forward">
            </div>
            <div class="col col-25 col-top text-center">
                <span class="span-yellow">Manage</span>All your projects
            </div>
        </div>

        <!--
                <div class="row" ng-show="!vm.Incident.IsConnected">
                    <div class="col col-80 col-offset-10 customer-button-wrapper">
                        <button style="position: relative; line-height: 70px;" ng-click="connectToCustomer(vm.AarCallId,vm.Incident.Id)" class="button button-block button-positive customer-button">
                            Connect me
                            <i class="free-image" style="position: absolute; right: -2px; top:-2px; width: 70px; height: 100%;"></i>
                        </button>
                    </div>
                </div>
                <div class="row" ng-show="vm.Incident.IsConnected">
                    <div class="col col-80 col-offset-10 customer-button-wrapper">
                        <button style="position: relative; line-height: 70px;" ng-click="getTheApp()" class="button button-block button-positive customer-button">
                            GET THE APP
                        </button>
                    </div>
                </div>
        -->
        <div class="row  row-marg-top ">
            <div class="col col-80 col-offset-10 text-center col-center div-reportlead">
                <a ng-click="reportLead(vm.AarCallId,vm.Incident.Id)">Report this video</a>
            </div>
        </div>

    </ion-content>
     <!--
    <ion-footer-bar style="height: 42px;" class="div-container" ng-show="!vm.Incident.IsConnected">
        <button ng-click="connectToCustomer(vm.AarCallId,vm.Incident.Id);" class=" button button-clear button-positive button-block" style="margin:0;">
            I want this customer
        </button>
    </ion-footer-bar>

         <button ng-click="reportLead(vm.AarCallId,vm.Incident.Id)" class="button button-clear button-positive button-block" style="font-size: 16px;">
                        Report this video
                    </button>
         -->

</ion-view>