﻿.wrap
{
	width: 700px;
	height: 350px;
	background-color: #ccc;
	margin:0 auto;
	text-align:center;
	padding:20px;
}
.positivebig
{
	font-family:Arial;
	font-size: 20px;
	text-align:center;
	color:#000;
	margin-top:80px;
	height:40px;
}
.negativebig
{
	font-family:Arial;
	font-size: 20px;
	text-align:center;
	color:red;
	margin-top:80px;
	height:40px;
}
.text
{
	font-family:Arial;
	font-size: 16px;
	text-align:center;
		color:#000;
}
.buton
{
	background-image: url(images/btn-bg1.png);
	background-repeat:no-repeat;
	background-position:center;
	text-align:center;
	color:#fff;
	height:70px;
	padding-top:20px;
	font-size:10pt;
	
	
}	
.buton a
{
		color:#fff;
		text-decoration:none;
		top:5px;
		position:relative;
}