﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Controls/MasterPagePPCMobile.master" AutoEventWireup="true" CodeFile="MobiReg.aspx.cs" Inherits="PPC_Mobi_MobiReg" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

