﻿.logo A
{
     -moz-transition: opacity 0.25s ease-in-out 0s;
    background-image: url('../images/blacklogo.png');
    background-repeat: no-repeat;
    height: 47px;
    
    width: 179px;
}
.logo 
{
    height: 47px;
    
    width: 179px;
}