﻿div.cc_content{
    display: block;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;	
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 
     background-color: #F2F4F0;
     width: 330px;
   /*  height: 40px;*/
     line-height: 15px;
     margin: 0 auto;

   /* font-size: 17px;*/ 
    font-family: Arial;
}
div.cc_DivSpanContent
{
    display: inline-block;
}
div.cc_content span
{
    display:block;
}
span.cc_span_content_top
{
    font-size: 14px;
    color: #C32933;
    text-align:center;
}
span.cc_span_create
{
    font-weight: bold;
    margin-right: 10px;
        margin-left: 10px;
        font-size: 14px;
}
.cc_row
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%; 
}
.cc_col {
    
    display: block;
    padding: 5px;
    width: 100%;

     -webkit-box-flex: 0;
  -webkit-flex: 0 0 80%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 80%;
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
 /*     margin-left: 10%;*/
}
.cc_a_create
{
    font-size: 16px;
    border-radius: 5px;	
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 
     border-radius:5px;
   /*   height: 30px;*/
    line-height: 17px;
    text-decoration: none;
    background-color: #C32933;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
        float: right;

        background-image: url("../img/widget-vid-btn.png");
    background-repeat: no-repeat;
    background-position: 5px 50%;
    
    padding-left: 35px;
}
.cc_div_iframe
{
    position:fixed;
    top: 50%;
    left: 50%;
  /*  width:30em;
    height:18em;
    margin-top: -9em; /set to a negative number 1/2 of your height* /
    margin-left: -15em; /set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: white;
    z-index: 1000000;

     border-radius: 50px;	
     -moz-border-radius: 50px; 
     -webkit-border-radius: 50px; 
     
}
.cc_close {
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: url('../img/widget-x.png');
    background-repeat: no-repeat;
    background-position:center;
    width: 27px;
    height: 27px;
    display:block;
    z-index: 1000002;

}
/****cc_blu****/
.cc_blu .cc_content
{
    background: #325188;
    width: 380px !important;
    height: 64px !important;
     border-radius: 15px;	
     -moz-border-radius: 15px; 
     -webkit-border-radius: 15px;

     border-style: solid;
    border-width:3px;
    border-color:#ffffff;

     box-shadow: 0 5px 2px grey;     
}
.cc_blu .cc_DivSpanContent
{
    line-height: 22px;
}
.cc_blu span.cc_span_content_top
{
    font-size: 18px;
    color:#f5a623;
}
.cc_blu span.cc_span_create
{
    font-size: 18px;
    color:#ffffff;
}
.cc_blu a.cc_a_create
{
    line-height: 32px;
    font-size: 18px;
    border-style: solid;
    border-width:1px;
    border-color:#ffffff;
     border-radius: 10px;	
     -moz-border-radius: 10px; 
     -webkit-border-radius: 10px;

     background:
         url(../img/widget-vid-btn.png) no-repeat 5px 50%,
		linear-gradient(top, #f5515f 0%,#9f041b 100%);
      background:  url(../img/widget-vid-btn.png) no-repeat 5px 50%, -webkit-gradient(linear, center top, center bottom, from(#f5515f), to(#9f041b)); 
      background: url(../img/widget-vid-btn.png) no-repeat 5px 50%, -moz-linear-gradient(center top , #f5515f, #9f041b);   
    
}
/**** div loader **/
.cc_divLoader{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=50); opacity: 0.5; background-color: #000; z-index: 999999; }
.cc_divLoader TABLE	{ width: 100%; height: 100%; }
.cc_divLoader TD { height: 100%; vertical-align: middle; text-align: center; }