﻿body {
    font-size: 17px;
    font-family: Arial;
}
a
{
     border-radius: 5px;	
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 
      height: 17px;    
    line-height: 17px;
    text-decoration: none;
    background-color: #C32933;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
     /*   float: right;*/
}
.row
{
    /*
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;*/
  /*  width: 100%; */
  text-align:center;
    -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.col
{
    display:inline-block;
}
.row h2, .row h3, .row .col
{
    margin: 0 auto;
}
.row-top
{
    margin-top: 40px;
}
input
{
    width: 250px;
    height: 26px;
     border-radius: 5px;	
     -moz-border-radius: 5px; 
     -webkit-border-radius: 5px; 
     margin-right: 15px;
     font-size:18px;
}
input.notvalid
{
    border-color: red;
}

.div_v {
    float:left;
    
}
.row-titles span, #step2 span
{
    display:inline-block;
    text-align:center;
}
.row .mar25
{
    margin-left:25px;
}
.row-mar25
{
    margin-top: 25px;
}
.div_bottom
{
    margin-top: 25px;
    padding-top: 25px;   
    border-width: 3px;
    border-color: #979797;
    border-top-style: solid;
    margin-left: 50px;
    margin-right: 50px;
}
.div_mid
{
    margin-top: 25px;
    padding-top: 30px;   
    border-width: 3px;
    border-color: #979797;
    border-top-style: solid;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 25px;
}
.div_v_left {margin-right:20px;}
.wont-share
{
    font-size: 12px;
    color: #9B9B9B;
}
.span-last-mid {
    font-weight: bold;
    font-size: 20px;
}
.widget123
{
    background-color: white;
    background-image: url('../img/widget-1-2-3.png');
    background-position:center ;
    background-repeat:no-repeat;
    width:505px;
    height:105px;
    margin:0 auto;
}
.divLoader			{ position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; filter: alpha(opacity=50); opacity: 0.5; background-color: #000; z-index: 999999; }
.divLoader TABLE	{ width: 100%; height: 100%; }
.divLoader TD		{ height: 100%; vertical-align: middle; text-align: center; }
