﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AnsweringRate.ascx.cs" Inherits="Controls_AnsweringRate" %>
<div class="AnsweringRate">
<h4>Answering Rate</h4>

<div id="div_ballon" class="div_ballon" runat="server">
    <asp:Label ID="lbl_Percent" runat="server" Text="Label"></asp:Label>
</div>
<div class="zzz"></div>
<div class="superHero"></div>
<div class="scalaGrey"></div>
    

</div>