﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FormalFooter.ascx.cs" Inherits="Controls_FormalFooter" %>

<div class="clear"></div>

	<div class="footerbg">
      <div id="footer">   <!-- Footer -->  

        <div id="footer2">
		<div id="innerfooter">
			<div class="widgetabout">
                <h3 class="widgettitle">
                    <a runat="server" href="http://www2.noproblemppc.com">HOME</a>
                </h3>
                <h3 class="widgettitle">
                    <a runat="server" href="http://www.noproblem.me" target="_blank">FIND A PRO...</a>
                </h3>
<%/*   
				<h3 class="widgettitle"><a runat="server" href="http://www2.noproblemppc.com/about.html">About</a></h3>
					<ul>
					<li><a runat="server" href="http://www2.noproblemppc.com/about.html">Company</a></li>
                    <-- 
					<li><a runat="server" href="http://www2.noproblemppc.com/about-managment.html">Managment</a></li>
					<li><a runat="server" href="http://www2.noproblemppc.com/about-board.html">Board</a></li>
                    -->
					<li><a runat="server" href="http://www2.noproblemppc.com/contact.html">Contact Us</a></li>
                    <li><a id="A1" runat="server" href="http://www2.noproblemppc.com/faq.htm">FAQ</a></li>
					</ul>
                    */ %>
			</div>	

			<div class="widgetpublishers -plus">
				<h3 class="widgettitle"><a runat="server" href="http://www2.noproblemppc.com/adv.html">Advertisers</a></h3>
					<ul>
                    <li><a id="A1" runat="server" href="http://www2.noproblemppc.com/adv.html">Local Service Provider</a></li>
					<li><a id="A2" runat="server" href="http://www2.noproblemppc.com/adv.html">Local Business</a></li>
					<li><a id="A3" runat="server" href="http://www2.noproblemppc.com/adv.html">Nationwide Advertisers</a></li>

					</ul>
			</div>	
			
			<div class="widgetadvertisers">
				<h3 class="widgettitle"><a runat="server" href="http://www2.noproblemppc.com/publisher.html">Affiliates</a></h3>
                <%/*   
					<ul>
					
					<li><a id="A4" runat="server" href="http://www2.noproblemppc.com/publisher.html#publishers">Bloggers</a></li>
					<li><a id="A5" runat="server" href="http://www2.noproblemppc.com/publisher.html#publishers">Editorial Sites</a></li>
					<li><a id="A6" runat="server" href="http://www2.noproblemppc.com/publisher.html#publishers">Index Sites</a></li>
					<li><a id="A7" runat="server" href="http://www2.noproblemppc.com/publisher.html#publishers">Directories</a></li>
					</ul>
                    */ %>
			</div>	
			
			<div class="widgetpartners">
				<h3 class="widgettitle"><a runat="server" href="http://www2.noproblemppc.com/partners.html">Partners</a></h3>
					<ul>
					<li><a runat="server" href="http://www2.noproblemppc.com/partners-marketing.html">Marketing Agencies</a></li>
					<li><a runat="server" href="http://www2.noproblemppc.com/partners-franchisees.html">Franchisees</a></li>
					</ul>
			</div>	

            <div class="widgetabout">
                <h3 class="widgettitle"><a runat="server" href="http://www2.noproblemppc.com/about.html">About</a></h3>
                <ul>
                    <li><a id="A4" runat="server" href="http://www2.noproblemppc.com/about.html">Company</a></li>
                    <li><a id="A5" runat="server" href="http://www2.noproblemppc.com/contact.html">Contact Us</a></li>
                    <li><a runat="server" href="http://www2.noproblemppc.com/faq.htm">FAQ</a></li>
                    <li><a runat="server" href="http://www2.noproblemppc.com/GeneralTermsService.htm">Legal</a></li>                   
                </ul>
            </div>	

			<div class="widgetblog">
				<h3 class="widgettitle"><a href="http://blog.noproblem.me" target="_blank">Blog</a></h3>
				<div class="facebook"><a href="https://www.facebook.com/pages/No-Problem-Local-Search-Monetized/149061931780318" target="_blank"></a></div>
				<div class="twitter"><a href="http://twitter.com/#!/noproblemppc" target="_blank"></a></div>
				<div class="youtube"><a href="http://www.youtube.com/user/NOPROBLEMPPCall" target="_blank"></a></div>
			</div>		
            
           
				
	<div class="fgt">
		<a href="javascript:void(0);" onclick="javasceipt:showHideWizard();"></a>
	</div>


	<div class="clear"></div>
    </div> 
	<div class="copyright">Copyright &copy; 2013 Onecall Ltd. All rights reserved.</div>
	
  		</div>
		 </div>
	  </div>
