﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPagePPCMobile.master.cs" Inherits="Controls_MasterPagePPCMobile" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="//code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    <link type="text/css" rel="Stylesheet" href="../PPC/Mobi/Style.css" />
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div data-role="page">
        <div data-role="header" class="logo">
		    <a href="javascript:void(0);"></a>
	    </div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
