﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="menuVerticalFaq.ascx.cs" Inherits="Controls_menuVerticalFaq" %>
<div class="navigationContainer">
<div id="tab_navigation" class="tab-navigation titleNavigationLast">
	<ul id="ulSteps">
        <li id="liStep2"><a runat="server" class="mouseover" style="cursor:hand;" href="../ppc/tutorials.aspx" id="linkStep2"><span class="titleNavigation titleNavigationFirst">Video tutorials</span></a></li>
		<li id="liStep1"><a runat="server" class="mouseover" style="cursor:hand;" href="../ppc/faq.aspx" id="linkStep1"><span class="titleNavigation titleNavigationLast">FAQ</span></a></li>
       
		
       
	</ul>
</div>
</div>



