﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="On_Off.ascx.cs" Inherits="Publisher_On_Off" %>


<div class="details" id="div_on_off" runat="server">
    <a class="btn-on-off on" href="javascript:BtnOnOff();" id="a_onOff" runat="server" >
        <asp:Label ID="a_lbl_onOff" runat="server"></asp:Label>
    </a>    
<asp:HiddenField ID="Hidden_ON" runat="server" Value="ON"/>
<asp:HiddenField ID="Hidden_Off" runat="server" Value="OFF" />
<asp:HiddenField ID="hf_OnOffValue" runat="server" />  
</div>   

