﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="plan.ascx.cs" Inherits="Controls_plan" %>
<div class="plan">
    Current plan: <span runat="server" id="lblPlan" class="indicator"></span>
</div>