﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SubNavigator.ascx.cs" Inherits="Controls_SubNavigator" %>

<div id="subnav">

<ul>

	<li><a href="../about.aspx" id="a_about" runat="server">Company</a></li>

	<li><a href="../about-managment.aspx" id="a_about_managment" runat="server">Managment</a></li>

	<li><a href="../about-board.aspx" id="a_about_board" runat="server">Board</a></li>
		
	<li><a href="../contact.aspx" id="a_contact" runat="server">Contact Us</a></li>

	</ul>

	

</div> 
