﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CustomerError500.aspx.cs" Inherits="ErrorPage_CustomerError500" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        window.onload = function () {
            alert("<%# GetErrorMessage %>");
            top.window.location = "<%# GetLocation %>";
        }
    
    
    
    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
